Repository daya110/vendure: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:admin-ui, yarn format, yarn lint:packages, yarn lint:core

feat(core): Add optional metadata to JobInfo
  admin-ui/src/app/common/generated-types.ts
  packages/common/src/generated-shop-types.ts
  packages/common/src/generated-types.ts
  packages/core/e2e/graphql/generated-e2e-admin-types.ts
  packages/core/e2e/graphql/generated-e2e-shop-types.ts
  packages/core/src/api/schema/admin-api/job.api.graphql
  packages/core/src/plugin/default-search-plugin/indexer/search-index.service.ts
  packages/core/src/service/helpers/job-manager/job-manager.ts
  packages/core/src/service/helpers/job-manager/job.ts
  packages/core/src/service/services/job.service.ts
  schema-admin.json
  schema-shop.json
Due: yarn lint:admin-ui, yarn format, yarn lint:packages

perf(core): Move application of CollectionFilters to worker
  packages/core/e2e/collection.e2e-spec.ts
  packages/core/e2e/default-search-plugin.e2e-spec.ts
  packages/core/e2e/graphql/generated-e2e-admin-types.ts
  packages/core/e2e/graphql/shared-definitions.ts
  packages/core/e2e/utils/await-running-jobs.ts
  packages/core/src/service/controllers/collection.controller.ts
  packages/core/src/service/service.module.ts
  packages/core/src/service/services/collection.service.ts
  packages/core/src/service/types/collection-messages.ts
Due: yarn format, yarn lint:packages

chore: Include perf commits in changelog
  scripts/changelogs/generate-changelog.ts
Due: none

fix(core): Fix fetching entities with a single localeString custom field
  packages/core/e2e/custom-fields.e2e-spec.ts
  packages/core/src/service/helpers/utils/translate-entity.ts
Due: yarn format, yarn lint:packages

fix(admin-ui): Fix error creating product with localeString custom prop
  admin-ui/src/app/catalog/components/product-detail/product-detail.component.ts
Due: yarn lint:admin-ui, yarn format

feat(core): EventBus exposes Observable event stream with .ofType()
  packages/core/src/event-bus/event-bus.spec.ts
  packages/core/src/event-bus/event-bus.ts
Due: yarn format, yarn lint:packages

refactor: Update plugins to use new EventBus.ofType() API
  packages/core/e2e/collection.e2e-spec.ts
  packages/core/e2e/shop-auth.e2e-spec.ts
  packages/core/e2e/test-server.ts
  packages/core/e2e/utils/await-running-jobs.ts
  packages/core/src/plugin/default-search-plugin/default-search-plugin.ts
  packages/core/src/plugin/default-search-plugin/indexer/search-index.service.ts
  packages/core/src/service/services/collection.service.ts
  packages/elasticsearch-plugin/src/plugin.ts
  packages/email-plugin/src/plugin.ts
Due: yarn format, yarn lint:packages

feat(admin-ui): Check for running jobs after each mutation
  admin-ui/src/app/core/providers/job-queue/job-queue.service.ts
  admin-ui/src/app/core/providers/notification/notification.service.ts
  admin-ui/src/app/data/check-jobs-link.ts
  admin-ui/src/app/data/data.module.ts
Due: yarn lint:admin-ui, yarn format

chore(dev-server): Clean up config
  packages/dev-server/.gitignore
  packages/dev-server/dev-config.ts
Due: yarn format, yarn lint:packages

fix(test): Fix non-deterministic e2e test queries
  packages/core/e2e/shop-catalog.e2e-spec.ts
  packages/core/src/plugin/default-search-plugin/search-strategy/sqlite-search-strategy.ts
Due: yarn format, yarn lint:packages

test(email-plugin): Enable isolatedModules to try to improve perf
  packages/email-plugin/jest.config.js
Due: none

feat(core): Enable custom fields on Order entity
  packages/core/src/config/custom-field/custom-field-types.ts
  packages/core/src/config/default-config.ts
  packages/core/src/entity/custom-entity-fields.ts
  packages/core/src/entity/order/order.entity.ts
  packages/core/src/entity/register-custom-entity-fields.ts
Due: yarn format, yarn lint:packages

chore: Publish v0.2.1
  CHANGELOG.md
  lerna.json
  packages/admin-ui-plugin/package.json
  packages/asset-server-plugin/package.json
  packages/common/package.json
  packages/core/package.json
  packages/create/package.json
  packages/dev-server/package.json
  packages/elasticsearch-plugin/package.json
  packages/email-plugin/package.json
Due: none

fix(i18n): Leading slash fot i18n bundles is redundant
  admin-ui/src/app/app.module.ts
Due: yarn lint:admin-ui, yarn format

fix(api-port): Api port removed from Api request if === 80
  admin-ui/src/app/data/data.module.ts
Due: yarn lint:admin-ui, yarn format

fix(race-condition): Fix DB race condition even in core module
  packages/core/src/bootstrap.ts
Due: yarn format, yarn lint:packages

fix(race-condition): Fix race condition on DB among worker and server
  packages/dev-server/index-worker.ts
Due: yarn format, yarn lint:packages

feat(admin-ui): Experimental system for extending the UI
  packages/admin-ui-plugin/package.json
  packages/admin-ui-plugin/src/plugin.ts
  packages/admin-ui/.gitignore
  packages/admin-ui/package.json
  packages/admin-ui/src/app/app.routes.ts
  packages/admin-ui/src/app/extensions/extensions.module.ts
  packages/admin-ui/src/compile-ui-extensions.ts
  packages/admin-ui/src/index.ts
  packages/common/src/shared-types.ts
  packages/core/src/plugin/plugin.module.ts
  packages/dev-server/dev-config.ts
  packages/dev-server/ui-plugin/module/ui-plugin.module.ts
  packages/dev-server/ui-plugin/ui-plugin.ts
Due: yarn format, yarn lint:packages

feat(admin-ui): Expose public API at @vendure/admin-ui/devkit
  packages/admin-ui-plugin/src/plugin.ts
  packages/admin-ui/devkit/compile.ts
  packages/admin-ui/devkit/index.ts
  packages/admin-ui/src/app/shared/shared-declarations.ts
  packages/admin-ui/src/app/shared/shared.module.ts
  packages/admin-ui/src/index.ts
  packages/admin-ui/tsconfig.json
  packages/dev-server/ui-plugin/module/ui-plugin.module.ts
Due: yarn format, yarn lint:packages

feat(admin-ui-plugin): Detect whether extensions need to be re-compiled
  packages/admin-ui-plugin/build.js
  packages/admin-ui-plugin/build.ts
  packages/admin-ui-plugin/package.json
  packages/admin-ui-plugin/src/plugin.ts
  packages/admin-ui-plugin/src/ui-app-compiler.service.ts
  packages/admin-ui/devkit/compile.ts
Due: yarn format, yarn lint:packages

chore(admin-ui): Fix some deployment config issues
  package.json
  packages/admin-ui-plugin/src/ui-app-compiler.service.ts
  packages/admin-ui/.gitignore
  packages/admin-ui/.npmignore
  packages/admin-ui/angular.json
  packages/admin-ui/devkit/compile.ts
  packages/admin-ui/package.json
  packages/admin-ui/src/app/core/providers/notification/notification.service.mock.ts
  packages/admin-ui/src/polyfills.ts
  packages/admin-ui/src/tsconfig.app.json
  packages/admin-ui/tsconfig.devkit.json
  scripts/publish-to-verdaccio.sh
Due: yarn format, yarn lint:packages

feat(admin-ui-plugin): Add watch mode for UI extension development
  packages/admin-ui-plugin/src/constants.ts
  packages/admin-ui-plugin/src/plugin.ts
  packages/admin-ui-plugin/src/ui-app-compiler.service.ts
  packages/admin-ui/.gitignore
  packages/admin-ui/angular.json
  packages/admin-ui/devkit/common.ts
  packages/admin-ui/devkit/compile.ts
  packages/admin-ui/devkit/extensions.module.ts.template
  packages/admin-ui/devkit/watch.ts
  packages/admin-ui/src/vendure-ui-config.json
  packages/admin-ui/tsconfig.devkit.json
  packages/core/src/plugin/plugin-utils.ts
  yarn.lock
Due: yarn format, yarn lint:packages

chore: Harmonize TypeScript version across all packages
  packages/admin-ui-plugin/package.json
  packages/asset-server-plugin/package.json
  packages/common/package.json
  packages/core/package.json
  packages/create/package.json
  packages/elasticsearch-plugin/package.json
  packages/email-plugin/package.json
  yarn.lock
Due: none

refactor: Rework the admin-ui package structure
  package.json
  packages/admin-ui-plugin/src/ui-app-compiler.service.ts
  packages/admin-ui/.gitignore
  packages/admin-ui/devkit/extensions.module.ts.template
  packages/admin-ui/devkit/index.ts
  packages/admin-ui/src/devkit/common.ts
  packages/admin-ui/src/devkit/compile.ts
  packages/admin-ui/src/devkit/index.ts
  packages/admin-ui/src/devkit/watch.ts
  packages/admin-ui/src/index.ts
  packages/admin-ui/tsconfig.devkit.json
  packages/admin-ui/tsconfig.json
  packages/core/package.json
  packages/core/src/api/config/generate-list-options.ts
  packages/core/src/api/config/graphql-custom-fields.ts
  packages/core/src/entity/product/product.entity.ts
  packages/core/src/i18n/i18n.service.ts
  packages/dev-server/dev-config.ts
  packages/dev-server/ui-plugin/module/ui-plugin.module.ts
  packages/email-plugin/src/dev-mailbox.ts
  yarn.lock
Due: yarn format, yarn lint:packages

chore: Fix test failure
  package.json
  packages/core/src/api/config/__snapshots__/graphql-custom-fields.spec.ts.snap
  yarn.lock
Due: none

chore: Fix codegen
  yarn.lock
Due: none

chore(admin-ui): Reset generated extensions files on build
  packages/admin-ui/package.json
  packages/admin-ui/src/devkit/common.ts
  yarn.lock
Due: yarn format, yarn lint:packages

chore: Remove redundant flag from git hook
  package.json
Due: none

fix(core): Resolve collection assets field
  packages/core/e2e/collection.e2e-spec.ts
  packages/core/e2e/graphql/generated-e2e-admin-types.ts
  packages/core/e2e/graphql/generated-e2e-shop-types.ts
  packages/core/src/api/resolvers/entity/collection-entity.resolver.ts
  packages/core/src/service/services/asset.service.ts
Due: yarn format, yarn lint:packages

chore(admin-ui): Include Order customFields in globalSettings
  packages/admin-ui/src/app/common/generated-types.ts
  packages/admin-ui/src/app/data/definitions/settings-definitions.ts
  packages/common/src/generated-shop-types.ts
  packages/common/src/generated-types.ts
Due: yarn format, yarn lint:packages

chore: Fix graphqlconfig path to admin-ui
  .graphqlconfig
Due: none

fix(core): Fix facet value CollectionFilter
  packages/core/e2e/collection.e2e-spec.ts
  packages/core/e2e/fixtures/e2e-products-collections.csv
  packages/core/src/config/collection/default-collection-filters.ts
  packages/core/src/service/controllers/collection.controller.ts
Due: yarn format, yarn lint:packages

chore: Update travis config for new admin-ui location
  .travis.yml
Due: none

chore: Set up GitHub Actions for CI
  .github/workflows/nodejs.yml
  .travis.yml
Due: none

chore: Rename workflow, add node 11.x to test matrix
  .github/workflows/nodejs.yml
Due: none

chore: Replace Travis build badge with GitHub Actions
  README.md
Due: none

chore: Add "engines" to root package.json
  .github/workflows/build_and_test.yml
  package.json
Due: none

chore: Add workflow for testing publishing npm packages
  .github/workflows/publish_and_install.yml
  .github/workflows/verdaccio/config.yaml
  scripts/publish-to-verdaccio.sh
Due: none

Path conditions:
  yarn lint:admin-ui: any of: admin-ui/**/*.ts
  yarn format: (((any of: admin-ui/**/*.ts) or (any of: admin-ui/**/*.html)) or (any of: packages/**/*.ts)) or (((any of: admin-ui/**/*.ts) or (any of: admin-ui/**/*.html)) or (any of: packages/core/*.ts))
  yarn lint:packages: any of: packages/**/*.ts
  yarn lint:core: any of: packages/core/*.ts
