Repository daya110/vendure: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:admin-ui, yarn format, yarn lint:server

feat(admin-ui): Implement basic ShippingMethod list/detail components
  admin-ui/angular.json
  admin-ui/src/app/core/components/main-nav/main-nav.component.html
  admin-ui/src/app/data/definitions/shipping-definitions.ts
  admin-ui/src/app/data/providers/data.service.mock.ts
  admin-ui/src/app/data/providers/data.service.ts
  admin-ui/src/app/data/providers/shipping-method-data.service.ts
  admin-ui/src/app/settings/components/role-detail/role-detail.component.html
  admin-ui/src/app/settings/components/shipping-method-detail/shipping-method-detail.component.html
  admin-ui/src/app/settings/components/shipping-method-detail/shipping-method-detail.component.scss
  admin-ui/src/app/settings/components/shipping-method-detail/shipping-method-detail.component.ts
  admin-ui/src/app/settings/components/shipping-method-list/shipping-method-list.component.html
  admin-ui/src/app/settings/components/shipping-method-list/shipping-method-list.component.scss
  admin-ui/src/app/settings/components/shipping-method-list/shipping-method-list.component.ts
  admin-ui/src/app/settings/providers/routing/shipping-method-resolver.ts
  admin-ui/src/app/settings/settings.module.ts
  admin-ui/src/app/settings/settings.routes.ts
  admin-ui/src/app/shared/components/adjustment-operation-input/adjustment-operation-input.component.html
  admin-ui/src/app/shared/components/adjustment-operation-input/adjustment-operation-input.component.ts
  admin-ui/src/i18n-messages/en.json
  admin-ui/src/polyfills.ts
  schema.json
  shared/generated-types.ts
Due: yarn lint:admin-ui, yarn format

feat: Make Country entity translatable
  admin-ui/src/app/catalog/components/facet-detail/facet-detail.component.ts
  admin-ui/src/app/catalog/components/product-detail/product-detail.component.ts
  admin-ui/src/app/common/base-detail.component.ts
  admin-ui/src/app/common/utilities/create-updated-translatable.spec.ts
  admin-ui/src/app/common/utilities/create-updated-translatable.ts
  admin-ui/src/app/data/definitions/settings-definitions.ts
  admin-ui/src/app/data/providers/settings-data.service.ts
  admin-ui/src/app/settings/components/country-detail/country-detail.component.html
  admin-ui/src/app/settings/components/country-detail/country-detail.component.ts
  admin-ui/src/app/settings/providers/routing/country-resolver.ts
  schema.json
  server/mock-data/mock-data.service.ts
  server/mock-data/populate.ts
  server/src/api/resolvers/country.resolver.ts
  server/src/api/resolvers/zone.resolver.ts
  server/src/api/types/country.api.graphql
  server/src/entity/country/country-translation.entity.ts
  server/src/entity/country/country.entity.ts
  server/src/entity/country/country.graphql
  server/src/entity/entities.ts
  server/src/entity/facet/facet-translation.entity.ts
  server/src/service/helpers/translatable-saver/translatable-saver.ts
  server/src/service/services/country.service.ts
  server/src/service/services/zone.service.ts
  shared/generated-types.ts
Due: yarn lint:admin-ui, yarn format, yarn lint:server

fix(server): Invalidate token if no session found
  server/src/api/middleware/auth-guard.ts
Due: yarn format, yarn lint:server

feat(server): Implement initial shipping step of checkout flow
  schema.json
  server/e2e/order.e2e-spec.ts
  server/src/api/resolvers/order.resolver.ts
  server/src/api/types/order.api.graphql
  server/src/common/types/common-types.graphql
  server/src/entity/order/order.entity.ts
  server/src/entity/order/order.graphql
  server/src/entity/promotion/promotion.entity.ts
  server/src/entity/shipping-item/shipping-item.entity.ts
  server/src/entity/shipping-method/shipping-method.entity.ts
  server/src/service/helpers/order-calculator/order-calculator.spec.ts
  server/src/service/helpers/order-calculator/order-calculator.ts
  server/src/service/helpers/order-state-machine/order-state.ts
  server/src/service/helpers/shipping-calculator/shipping-calculator.ts
  server/src/service/service.module.ts
  server/src/service/services/order.service.ts
  server/src/service/services/shipping-method.service.ts
  shared/generated-types.ts
Due: yarn format, yarn lint:server

feat(server): Implement setting of shipping method on an Order
  schema.json
  server/src/api/resolvers/order.resolver.ts
  server/src/api/types/order.api.graphql
  server/src/common/types/adjustment-source.ts
  server/src/config/shipping-method/shipping-calculator.ts
  server/src/config/shipping-method/shipping-eligibility-checker.ts
  server/src/entity/shipping-method/shipping-method.entity.ts
  server/src/service/helpers/order-calculator/order-calculator.spec.ts
  server/src/service/helpers/order-calculator/order-calculator.ts
  server/src/service/helpers/order-state-machine/order-state-machine.ts
  server/src/service/helpers/shipping-calculator/shipping-calculator.ts
  server/src/service/services/order.service.ts
  shared/generated-types.ts
Due: yarn format, yarn lint:server

feat(admin-ui): Display customer & shipping data in Order list/detail
  admin-ui/src/app/data/definitions/order-definitions.ts
  admin-ui/src/app/order/components/order-detail/order-detail.component.html
  admin-ui/src/app/order/components/order-detail/order-detail.component.ts
  admin-ui/src/app/order/components/order-list/order-list.component.html
  admin-ui/src/app/shared/components/customer-label/customer-label.component.html
  admin-ui/src/app/shared/components/customer-label/customer-label.component.scss
  admin-ui/src/app/shared/components/customer-label/customer-label.component.ts
  admin-ui/src/app/shared/shared.module.ts
  admin-ui/src/i18n-messages/en.json
  server/src/api/resolvers/order.resolver.ts
  server/src/service/services/order.service.ts
  shared/generated-types.ts
Due: yarn lint:admin-ui, yarn format, yarn lint:server

fix(server): Allow authenticated Customer to view own addresses
  server/src/api/resolvers/customer.resolver.ts
Due: yarn format, yarn lint:server

refactor(server): Rename AdjustmentArg -> ConfigArg etc
  schema.json
  server/src/common/types/common-types.graphql
  server/src/config/common/adjustments.ts
  server/src/config/common/config-args.ts
  server/src/config/promotion/promotion-action.ts
  server/src/config/promotion/promotion-condition.ts
  server/src/config/shipping-method/shipping-calculator.ts
  server/src/config/shipping-method/shipping-eligibility-checker.ts
  shared/generated-types.ts
Due: yarn format, yarn lint:server

test(admin-ui): Remove unused tests and DataService mock
  admin-ui/src/app/catalog/components/product-variants-wizard/product-variants-wizard.component.spec.ts
  admin-ui/src/app/catalog/components/select-option-group/select-option-group.component.spec.ts
  admin-ui/src/app/data/providers/data.service.mock.ts
  admin-ui/src/testing/testing-common.module.ts
Due: yarn lint:admin-ui, yarn format

feat(server): Initial implementation of PaymentMethods
  schema.json
  server/dev-config.ts
  server/e2e/config/test-config.ts
  server/src/api/api.module.ts
  server/src/api/resolvers/payment-method.resolver.ts
  server/src/api/types/payment-method.api.graphql
  server/src/config/config.service.mock.ts
  server/src/config/config.service.ts
  server/src/config/default-config.ts
  server/src/config/payment-method/fakepal-payment-method-config.ts
  server/src/config/payment-method/gripe-payment-method-config.ts
  server/src/config/payment-method/payment-method-handler.ts
  server/src/config/vendure-config.ts
  server/src/entity/entities.ts
  server/src/entity/payment-method/payment-method.entity.ts
  server/src/entity/payment-method/payment-method.graphql
  server/src/entity/payment/payment.entity.ts
  server/src/entity/payment/payment.graphql
  server/src/service/helpers/payment-state-machine/payment-state.ts
  server/src/service/service.module.ts
  server/src/service/services/payment-method.service.ts
  shared/generated-types.ts
Due: yarn format, yarn lint:server

feat(admin-ui): PaymentMethod list/detail components
  admin-ui/src/app/core/components/main-nav/main-nav.component.html
  admin-ui/src/app/data/definitions/settings-definitions.ts
  admin-ui/src/app/data/providers/settings-data.service.ts
  admin-ui/src/app/settings/components/payment-method-detail/payment-method-detail.component.html
  admin-ui/src/app/settings/components/payment-method-detail/payment-method-detail.component.scss
  admin-ui/src/app/settings/components/payment-method-detail/payment-method-detail.component.ts
  admin-ui/src/app/settings/components/payment-method-list/payment-method-list.component.html
  admin-ui/src/app/settings/components/payment-method-list/payment-method-list.component.scss
  admin-ui/src/app/settings/components/payment-method-list/payment-method-list.component.ts
  admin-ui/src/app/settings/providers/routing/payment-method-resolver.ts
  admin-ui/src/app/settings/settings.module.ts
  admin-ui/src/app/settings/settings.routes.ts
  admin-ui/src/i18n-messages/en.json
  shared/generated-types.ts
Due: yarn lint:admin-ui, yarn format

feat(server): Implement addPaymentToOrder mutation
  schema.json
  server/src/api/resolvers/order.resolver.ts
  server/src/api/resolvers/shipping-method.resolver.ts
  server/src/api/types/order.api.graphql
  server/src/config/payment-method/fakepal-payment-method-config.ts
  server/src/config/payment-method/gripe-payment-method-config.ts
  server/src/config/payment-method/payment-method-handler.ts
  server/src/entity/order/order.entity.ts
  server/src/entity/order/order.graphql
  server/src/entity/payment-method/payment-method.entity.ts
  server/src/entity/payment/payment.entity.ts
  server/src/entity/session/session.entity.ts
  server/src/service/helpers/order-state-machine/order-state-machine.ts
  server/src/service/helpers/order-state-machine/order-state.ts
  server/src/service/helpers/payment-state-machine/payment-state.ts
  server/src/service/services/auth.service.ts
  server/src/service/services/order.service.ts
  server/src/service/services/payment-method.service.ts
  shared/generated-types.ts
Due: yarn format, yarn lint:server

feat(server): Add property resolver for Order payments
  server/src/api/resolvers/order.resolver.ts
  server/src/config/payment-method/gripe-payment-method-config.ts
  server/src/service/services/order.service.ts
Due: yarn format, yarn lint:server

feat(admin-ui): Display payments in OrderDetailComponent
  admin-ui/src/app/data/definitions/order-definitions.ts
  admin-ui/src/app/order/components/order-detail/order-detail.component.html
  admin-ui/src/app/order/components/order-detail/order-detail.component.ts
  admin-ui/src/i18n-messages/en.json
  shared/generated-types.ts
Due: yarn lint:admin-ui, yarn format

feat(server): Implement orderByCode query
  schema.json
  server/src/api/resolvers/order.resolver.ts
  server/src/api/types/order.api.graphql
  server/src/service/services/order.service.ts
  shared/generated-types.ts
Due: yarn format, yarn lint:server

refactor(server): Move ID codec into a service for easier reuse
  server/src/api/api.module.ts
  server/src/api/common/id-codec.service.ts
  server/src/api/middleware/id-interceptor.ts
  server/src/config/vendure-config.ts
  server/src/entity/base/base.entity.ts
Due: yarn format, yarn lint:server

refactor(server): Store reference to ShippingMethod in Order
  admin-ui/src/app/data/definitions/order-definitions.ts
  schema.json
  server/src/api/resolvers/customer.resolver.ts
  server/src/api/resolvers/order.resolver.ts
  server/src/api/resolvers/product-option.resolver.ts
  server/src/api/types/order.api.graphql
  server/src/entity/order/order.entity.ts
  server/src/entity/order/order.graphql
  server/src/service/helpers/order-calculator/order-calculator.ts
  server/src/service/services/order.service.ts
  shared/generated-types.ts
Due: yarn lint:admin-ui, yarn format, yarn lint:server

test(server): Write a bunch of e2e tests for Order resolver
  server/e2e/order.e2e-spec.ts
  server/src/entity/payment-method/payment-method.entity.ts
  server/src/i18n/messages/en.json
Due: yarn format, yarn lint:server

feat(admin-ui): Create rich text editor
  admin-ui/angular.json
  admin-ui/package.json
  admin-ui/src/app/shared/components/rich-text-editor/rich-text-editor.component.html
  admin-ui/src/app/shared/components/rich-text-editor/rich-text-editor.component.scss
  admin-ui/src/app/shared/components/rich-text-editor/rich-text-editor.component.ts
  admin-ui/src/app/shared/shared.module.ts
  admin-ui/src/styles/_variables.scss
  admin-ui/yarn.lock
Due: yarn lint:admin-ui, yarn format

feat(admin-ui): Sticky action bar & other minor styling tweaks
  admin-ui/src/app/catalog/components/product-detail/product-detail.component.html
  admin-ui/src/app/catalog/components/product-detail/product-detail.component.scss
  admin-ui/src/app/shared/components/action-bar/action-bar.component.scss
  admin-ui/src/app/shared/components/data-table/data-table.component.scss
  admin-ui/src/app/shared/components/language-selector/language-selector.component.html
  admin-ui/src/app/shared/components/rich-text-editor/rich-text-editor.component.scss
  admin-ui/src/i18n-messages/en.json
  admin-ui/src/styles/styles.scss
Due: none

feat(server): Optimize product queries with variant resolver
  server/src/api/resolvers/product.resolver.ts
  server/src/service/services/product-variant.service.ts
  server/src/service/services/product.service.ts
Due: yarn format, yarn lint:server

refactor(admin-ui): Slim down payload of GetCountryList & GetZones
  admin-ui/src/app/data/definitions/settings-definitions.ts
  admin-ui/src/app/settings/components/country-list/country-list.component.ts
  admin-ui/src/app/settings/components/tax-rate-detail/tax-rate-detail.component.ts
  admin-ui/src/app/settings/components/zone-selector-dialog/zone-selector-dialog.component.ts
  shared/generated-types.ts
Due: yarn lint:admin-ui, yarn format

fix(server): Fix adding/removing Country from Zone
  server/src/service/helpers/utils/get-entity-or-throw.ts
  server/src/service/services/zone.service.ts
Due: yarn format, yarn lint:server

feat(admin-ui): Split ProductDetail into tabs
  admin-ui/src/app/catalog/components/product-detail/product-detail.component.html
  admin-ui/src/app/catalog/components/product-detail/product-detail.component.ts
  admin-ui/src/i18n-messages/en.json
Due: yarn lint:admin-ui, yarn format

fix(admin-ui): Fix ts compiler error
  admin-ui/src/app/settings/components/channel-detail/channel-detail.component.ts
Due: yarn lint:admin-ui, yarn format

chore(server): Remove CustomFields from dev config
  schema.json
  server/dev-config.ts
  shared/generated-types.ts
Due: yarn format, yarn lint:server

feat(server): Create EventBus service, module & tests
  server/src/event-bus/event-bus.module.ts
  server/src/event-bus/event-bus.spec.ts
  server/src/event-bus/event-bus.ts
  server/src/event-bus/vendure-event.ts
Due: yarn format, yarn lint:server

feat(server): implement setCustomerForOrder mutation
  schema.json
  server/src/api/resolvers/order.resolver.ts
  server/src/api/types/order.api.graphql
  server/src/common/utils.ts
  server/src/entity/order/order.entity.ts
  server/src/i18n/messages/en.json
  server/src/service/helpers/order-state-machine/order-state-machine.ts
  server/src/service/services/customer.service.ts
  server/src/service/services/order.service.ts
  shared/generated-types.ts
Due: yarn format, yarn lint:server

feat(server): Allow guest Customers to view completed order
  server/src/api/resolvers/order.resolver.ts
  server/src/entity/order/order.entity.ts
  server/src/service/helpers/order-state-machine/order-state-machine.ts
Due: yarn format, yarn lint:server

fix(server): Fix a few TS compiler errors
  server/src/event-bus/event-bus.ts
Due: yarn format, yarn lint:server

test(server): Fix broken Order test
  server/e2e/order.e2e-spec.ts
  server/src/api/resolvers/order.resolver.ts
  server/src/i18n/messages/en.json
Due: yarn format, yarn lint:server

feat(server): Initial implementation of transactional emails
  .gitignore
  docs/diagrams/email-component-diagram.puml
  docs/diagrams/theme.puml
  server/dev-config.ts
  server/e2e/config/test-config.ts
  server/package.json
  server/src/app.module.ts
  server/src/config/config.service.mock.ts
  server/src/config/config.service.ts
  server/src/config/default-config.ts
  server/src/config/email/email-options.ts
  server/src/config/email/email-transport-options.ts
  server/src/config/email/noop-email-generator.ts
  server/src/config/vendure-config.ts
  server/src/email/default-email-types.ts
  server/src/email/email-context.ts
  server/src/email/email.module.ts
  server/src/email/transactional-email.service.ts
  server/src/event-bus/event-bus.ts
  server/src/event-bus/events/order-state-transition-event.ts
  server/src/event-bus/vendure-event.ts
  server/src/service/helpers/order-state-machine/order-state-machine.ts
  server/src/service/helpers/order-state-machine/order-state.ts
  server/src/service/service.module.ts
  server/src/service/services/order.service.ts
  server/yarn.lock
Due: yarn format, yarn lint:server

feat(server): Implement email generation based on Handlebars and MJML
  server/dev-config.ts
  server/package.json
  server/src/config/email/email-options.ts
  server/src/config/email/noop-email-generator.ts
  server/src/email/default-email-types.ts
  server/src/email/handlebars-mjml-generator.ts
  server/src/email/templates/order-receipt/order-receipt.hbs
  server/src/email/transactional-email.service.ts
  server/yarn.lock
Due: yarn format, yarn lint:server

refactor(server): Split email loading & sending into separate classes
  server/src/email/email-sender.ts
  server/src/email/email.module.ts
  server/src/email/template-loader.ts
  server/src/email/transactional-email.service.ts
Due: yarn format, yarn lint:server

feat(server): Passable order confirmation email implementation
  .gitignore
  docs/diagrams/email-component-diagram.puml
  server/dev-config.ts
  server/package.json
  server/src/config/default-config.ts
  server/src/config/email/email-options.ts
  server/src/email/default-email-types.ts
  server/src/email/generate-test-email.ts
  server/src/email/handlebars-mjml-generator.ts
  server/src/email/templates/order-confirmation/order-confirmation.hbs
  server/src/email/templates/order-receipt/order-receipt.hbs
  server/src/email/templates/partials/footer.hbs
  server/src/email/templates/partials/header.hbs
  server/yarn.lock
Due: yarn format, yarn lint:server

refactor(server): Create UserService & move User-related methods into it
  server/src/api/resolvers/auth.resolver.ts
  server/src/service/service.module.ts
  server/src/service/services/administrator.service.ts
  server/src/service/services/auth.service.ts
  server/src/service/services/customer.service.ts
  server/src/service/services/user.service.ts
Due: yarn format, yarn lint:server

chore(server): Reorganize folder structure for email preview script
  .gitignore
  server/package.json
  server/src/email/preview/email-contexts.ts
  server/src/email/preview/generate-email-preview.ts
Due: yarn format, yarn lint:server

feat(server): Implement basics of User email verification flow
  schema.json
  server/src/api/resolvers/auth.resolver.ts
  server/src/api/types/auth.api.graphql
  server/src/common/generate-public-id.ts
  server/src/config/default-config.ts
  server/src/config/email/email-options.ts
  server/src/config/email/noop-email-generator.ts
  server/src/config/vendure-config.ts
  server/src/email/default-email-types.ts
  server/src/email/email.module.ts
  server/src/email/handlebars-mjml-generator.ts
  server/src/email/templates/email-verification/email-verification.hbs
  server/src/entity/user/user.entity.ts
  server/src/event-bus/events/account-registration-event.ts
  server/src/service/services/customer.service.ts
  server/src/service/services/user.service.ts
  shared/generated-types.ts
Due: yarn format, yarn lint:server

feat(server): Improve email previews when using "file" transport
  server/dev-config.ts
  server/src/config/email/email-transport-options.ts
  server/src/email/email-sender.ts
Due: yarn format, yarn lint:server

test(server): Create TestingTransport option for testing email sending
  server/src/config/email/email-transport-options.ts
  server/src/email/email-sender.ts
Due: yarn format, yarn lint:server

Path conditions:
  yarn lint:admin-ui: any of: admin-ui/**/*.ts
  yarn format: (any of: admin-ui/**/*.ts) or (any of: server/**/*.ts)
  yarn lint:server: any of: server/**/*.ts
