Repository daya110/vendure: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:admin-ui, yarn format, yarn lint:server

feat(server): Expand input for registerCustomerAccount mutation
  schema.json
  server/src/api/resolvers/auth.resolver.ts
  server/src/api/types/auth.api.graphql
  server/src/i18n/messages/en.json
  server/src/service/services/auth.service.ts
  server/src/service/services/customer.service.ts
  server/src/service/services/user.service.ts
  shared/generated-types.ts
Due: yarn format, yarn lint:server

feat(server): Refine customer signup flow
  docs/diagrams/customer-account-order-activity-diagram.puml
  docs/diagrams/customer-registration-activity-diagram.puml
  docs/diagrams/theme.puml
  schema.json
  server/e2e/auth.e2e-spec.ts
  server/e2e/config/test-config.ts
  server/e2e/test-server.ts
  server/src/api/resolvers/auth.resolver.ts
  server/src/api/types/auth.api.graphql
  server/src/service/services/customer.service.ts
  server/src/service/services/user.service.ts
  shared/generated-types.ts
Due: yarn format, yarn lint:server

feat(server): Expose "verified" property of User entity over API
  schema.json
  server/src/entity/user/user.graphql
  shared/generated-types.ts
Due: none

chore(server): Mark populated Customers as verified
  server/e2e/test-server.ts
  server/mock-data/populate.ts
Due: yarn format, yarn lint:server

feat(admin-ui): Display verified status in CustomerListComponent
  admin-ui/src/app/customer/components/customer-list/customer-list.component.html
  admin-ui/src/app/customer/components/customer-list/customer-list.component.scss
  admin-ui/src/app/data/definitions/customer-definitions.ts
  admin-ui/src/i18n-messages/en.json
  shared/generated-types.ts
Due: yarn lint:admin-ui, yarn format

refactor(server): Move hardcoded url from email template to code
  server/src/email/default-email-types.ts
  server/src/email/templates/email-verification/email-verification.hbs
Due: yarn format, yarn lint:server

fix(server): Update Apollo Server to 2.2.2 and fix error translations
  server/package.json
  server/src/api/config/graphql-config.service.ts
  server/src/api/middleware/translate-errors-extension.ts
  server/src/i18n/i18n.service.ts
  server/src/i18n/messages/en.json
  server/yarn.lock
Due: yarn format, yarn lint:server

refactor(server): Update Nest, fix schema merging to use Nest service
  server/package.json
  server/src/api/config/graphql-config.service.ts
  server/yarn.lock
Due: yarn format, yarn lint:server

chore(server): Update many dependencies
  server/package.json
  server/yarn.lock
Due: none

chore(server): Update jest, ts-jest and node versions
  .travis.yml
  server/e2e/config/jest-e2e.json
  server/package.json
  server/yarn.lock
Due: none

chore(server): Update sharp to v0.21.0
  server/package.json
  server/src/plugin/default-asset-server/default-asset-preview-strategy.ts
  server/src/plugin/default-asset-server/transform-image.ts
  server/yarn.lock
Due: yarn format, yarn lint:server

chore(admin-ui): Update all dependencies except Clarity
  admin-ui/angular.json
  admin-ui/package.json
  admin-ui/src/karma.conf.js
  admin-ui/src/polyfills.ts
  admin-ui/yarn.lock
Due: yarn lint:admin-ui, yarn format

chore(server): Attempt to speed up Jest tests in Travis CI
  server/package.json
Due: none

feat(server): Improved error handling
  README.md
  schema.json
  server/e2e/auth.e2e-spec.ts
  server/e2e/order.e2e-spec.ts
  server/e2e/product.e2e-spec.ts
  server/src/api/common/request-context.service.ts
  server/src/api/middleware/auth-guard.ts
  server/src/api/resolvers/auth.resolver.ts
  server/src/api/resolvers/facet.resolver.ts
  server/src/api/resolvers/order.resolver.ts
  server/src/api/resolvers/product.resolver.ts
  server/src/common/error/errors.ts
  server/src/config/asset-preview-strategy/no-asset-preview-strategy.ts
  server/src/config/asset-storage-strategy/no-asset-storage-strategy.ts
  server/src/entity/payment-method/payment-method.entity.ts
  server/src/entity/product-variant/product-variant.subscriber.ts
  server/src/i18n/i18n-error.ts
  server/src/i18n/i18n.service.ts
  server/src/i18n/messages/en.json
  server/src/service/helpers/list-query-builder/parse-filter-params.ts
  server/src/service/helpers/list-query-builder/parse-sort-params.ts
  server/src/service/helpers/order-state-machine/order-state-machine.ts
  server/src/service/helpers/translatable-saver/translation-differ.ts
  server/src/service/helpers/utils/get-entity-or-throw.ts
  server/src/service/helpers/utils/translate-entity.ts
  server/src/service/services/administrator.service.ts
  server/src/service/services/auth.service.ts
  server/src/service/services/channel.service.ts
  server/src/service/services/customer.service.ts
  server/src/service/services/order.service.ts
  server/src/service/services/payment-method.service.ts
  server/src/service/services/product-variant.service.ts
  server/src/service/services/product.service.ts
  server/src/service/services/promotion.service.ts
  server/src/service/services/role.service.ts
  server/src/service/services/shipping-method.service.ts
  server/src/service/services/tax-category.service.ts
  server/src/service/services/tax-rate.service.ts
  server/yarn.lock
  shared/generated-types.ts
Due: yarn format, yarn lint:server

refactor(admin-ui): Simplify API interceptor to work with new errors
  admin-ui/src/app/data/providers/interceptor.ts
  admin-ui/src/i18n-messages/en.json
Due: yarn lint:admin-ui, yarn format

feat(server): create ProductCategory entity, service, resolver
  schema.json
  server/src/api/api.module.ts
  server/src/api/resolvers/product-category.resolver.ts
  server/src/api/types/product-category.graphql
  server/src/config/default-config.ts
  server/src/entity/custom-entity-fields.ts
  server/src/entity/entities.ts
  server/src/entity/product-category/product-category-translation.entity.ts
  server/src/entity/product-category/product-category.entity.ts
  server/src/entity/product-category/product-category.graphql
  server/src/service/service.module.ts
  server/src/service/services/product-category.service.ts
  shared/generated-types.ts
  shared/shared-types.ts
Due: yarn format, yarn lint:server

feat(admin-ui): Create list/detail components for ProductCategory
  admin-ui/src/app/catalog/catalog.module.ts
  admin-ui/src/app/catalog/catalog.routes.ts
  admin-ui/src/app/catalog/components/product-category-detail/product-category-detail.component.html
  admin-ui/src/app/catalog/components/product-category-detail/product-category-detail.component.scss
  admin-ui/src/app/catalog/components/product-category-detail/product-category-detail.component.ts
  admin-ui/src/app/catalog/components/product-category-list/product-category-list.component.html
  admin-ui/src/app/catalog/components/product-category-list/product-category-list.component.scss
  admin-ui/src/app/catalog/components/product-category-list/product-category-list.component.ts
  admin-ui/src/app/catalog/components/product-detail/product-detail.component.spec.ts
  admin-ui/src/app/catalog/providers/routing/facet-resolver.ts
  admin-ui/src/app/catalog/providers/routing/product-category-resolver.ts
  admin-ui/src/app/core/components/main-nav/main-nav.component.html
  admin-ui/src/app/data/definitions/product-definitions.ts
  admin-ui/src/app/data/providers/product-data.service.ts
  admin-ui/src/i18n-messages/en.json
  shared/generated-types.ts
Due: yarn lint:admin-ui, yarn format

feat(server): Ensure root category exists for each node
  server/src/api/resolvers/product-category.resolver.ts
  server/src/entity/product-category/product-category.entity.ts
  server/src/entity/product-category/product-category.graphql
  server/src/service/helpers/list-query-builder/list-query-builder.ts
  server/src/service/helpers/utils/translate-entity.spec.ts
  server/src/service/helpers/utils/translate-entity.ts
  server/src/service/services/product-category.service.ts
Due: yarn format, yarn lint:server

feat(admin-ui): Create tree view for ProductCategoryList
  admin-ui/package.json
  admin-ui/src/app/catalog/catalog.module.ts
  admin-ui/src/app/catalog/components/product-category-list/product-category-list.component.html
  admin-ui/src/app/catalog/components/product-category-list/product-category-list.component.ts
  admin-ui/src/app/catalog/components/product-category-tree/array-to-tree.spec.ts
  admin-ui/src/app/catalog/components/product-category-tree/array-to-tree.ts
  admin-ui/src/app/catalog/components/product-category-tree/product-category-tree-node.component.html
  admin-ui/src/app/catalog/components/product-category-tree/product-category-tree-node.component.scss
  admin-ui/src/app/catalog/components/product-category-tree/product-category-tree-node.component.ts
  admin-ui/src/app/catalog/components/product-category-tree/product-category-tree.component.html
  admin-ui/src/app/catalog/components/product-category-tree/product-category-tree.component.scss
  admin-ui/src/app/catalog/components/product-category-tree/product-category-tree.component.ts
  admin-ui/src/app/catalog/providers/routing/product-category-resolver.ts
  admin-ui/src/app/data/definitions/product-definitions.ts
  admin-ui/yarn.lock
  schema.json
  shared/generated-types.ts
  shared/omit.ts
Due: yarn lint:admin-ui, yarn format

refactor(server): Alter API of ListQueryBuilder.build() method
  server/src/service/helpers/list-query-builder/list-query-builder.ts
  server/src/service/services/administrator.service.ts
  server/src/service/services/order.service.ts
  server/src/service/services/product.service.ts
  server/src/service/services/role.service.ts
  server/src/service/services/shipping-method.service.ts
  server/src/service/services/tax-rate.service.ts
Due: yarn format, yarn lint:server

feat(server): Implement ProductCategory moving & ordering, e2e tests
  admin-ui/src/app/data/definitions/product-definitions.ts
  schema.json
  server/e2e/__snapshots__/product-category.e2e-spec.ts.snap
  server/e2e/product-category.e2e-spec.ts
  server/e2e/test-server.ts
  server/src/api/resolvers/product-category.resolver.ts
  server/src/api/types/product-category.graphql
  server/src/common/error/errors.ts
  server/src/entity/product-category/product-category.entity.ts
  server/src/entity/product-category/product-category.graphql
  server/src/i18n/messages/en.json
  server/src/service/helpers/list-query-builder/list-query-builder.ts
  server/src/service/services/product-category.service.ts
  shared/generated-types.ts
  shared/shared-constants.ts
Due: yarn lint:admin-ui, yarn format, yarn lint:server

feat(admin-ui): Persist changes to category tree, simplify list comp
  admin-ui/src/app/catalog/components/product-category-list/product-category-list.component.html
  admin-ui/src/app/catalog/components/product-category-list/product-category-list.component.ts
  admin-ui/src/app/catalog/components/product-category-tree/product-category-tree-node.component.html
  admin-ui/src/app/catalog/components/product-category-tree/product-category-tree-node.component.ts
  admin-ui/src/app/data/providers/product-data.service.ts
  admin-ui/src/i18n-messages/en.json
Due: yarn lint:admin-ui, yarn format

feat(server): applyFacetValuesToProductVariants: do not throw
  server/e2e/product.e2e-spec.ts
  server/src/api/resolvers/product.resolver.ts
  server/src/service/services/facet-value.service.ts
Due: yarn format, yarn lint:server

feat(server): Set FacetValues on ProductCategory
  schema.json
  server/e2e/__snapshots__/product-category.e2e-spec.ts.snap
  server/e2e/product-category.e2e-spec.ts
  server/src/api/resolvers/product-category.resolver.ts
  server/src/entity/product-category/product-category.graphql
  server/src/service/services/product-category.service.ts
  shared/generated-types.ts
Due: yarn format, yarn lint:server

feat(server): Expose Facet relation on FacetValue type
  schema.json
  server/e2e/__snapshots__/product.e2e-spec.ts.snap
  server/src/entity/facet-value/facet-value.graphql
  server/src/entity/product-variant/product-variant.graphql
  server/src/service/services/facet-value.service.ts
  server/src/service/services/facet.service.ts
  server/src/service/services/product-variant.service.ts
  shared/generated-types.ts
Due: yarn format, yarn lint:server

refactor(admin-ui): Improve handling & display of FacetValues
  admin-ui/src/app/catalog/components/apply-facet-dialog/apply-facet-dialog.component.html
  admin-ui/src/app/catalog/components/apply-facet-dialog/apply-facet-dialog.component.ts
  admin-ui/src/app/catalog/components/facet-value-selector/facet-value-selector.component.html
  admin-ui/src/app/catalog/components/facet-value-selector/facet-value-selector.component.ts
  admin-ui/src/app/catalog/components/product-detail/product-detail.component.html
  admin-ui/src/app/catalog/components/product-detail/product-detail.component.ts
  admin-ui/src/app/catalog/components/product-variants-list/product-variants-list.component.html
  admin-ui/src/app/catalog/components/product-variants-list/product-variants-list.component.ts
  admin-ui/src/app/common/utilities/flatten-facet-values.spec.ts
  admin-ui/src/app/common/utilities/flatten-facet-values.ts
  admin-ui/src/app/data/definitions/facet-definitions.ts
  admin-ui/src/app/data/definitions/product-definitions.ts
  admin-ui/src/app/data/providers/product-data.service.ts
  admin-ui/src/app/shared/components/chip/chip.component.html
  admin-ui/src/app/shared/components/chip/chip.component.scss
  admin-ui/src/app/shared/components/facet-value-chip/facet-value-chip.component.html
  admin-ui/src/app/shared/components/facet-value-chip/facet-value-chip.component.scss
  admin-ui/src/app/shared/components/facet-value-chip/facet-value-chip.component.ts
  admin-ui/src/app/shared/shared.module.ts
Due: yarn lint:admin-ui, yarn format

fix(server): Join facet with create/update ProductCategory
  server/src/api/types/product-category.api.graphql
  server/src/service/services/product-category.service.ts
Due: yarn format, yarn lint:server

feat(admin-ui): Add & remove FacetValue to ProductCategory
  admin-ui/src/app/catalog/components/facet-detail/facet-detail.component.html
  admin-ui/src/app/catalog/components/product-category-detail/product-category-detail.component.html
  admin-ui/src/app/catalog/components/product-category-detail/product-category-detail.component.ts
  admin-ui/src/app/data/definitions/product-definitions.ts
  admin-ui/src/app/data/providers/product-data.service.ts
  shared/generated-types.ts
Due: yarn lint:admin-ui, yarn format

feat(admin-ui): Improve styling of facet values
  admin-ui/src/app/catalog/components/facet-list/facet-list.component.html
  admin-ui/src/app/catalog/components/product-category-detail/product-category-detail.component.html
  admin-ui/src/app/catalog/components/product-category-tree/product-category-tree-node.component.html
  admin-ui/src/app/catalog/components/product-category-tree/product-category-tree-node.component.scss
  admin-ui/src/app/shared/components/chip/chip.component.scss
  admin-ui/src/app/shared/components/facet-value-chip/facet-value-chip.component.html
  admin-ui/src/app/shared/components/facet-value-chip/facet-value-chip.component.ts
  admin-ui/src/i18n-messages/en.json
Due: yarn lint:admin-ui, yarn format

refactor: Remove API method applyFacetValuesToProductVariants
  admin-ui/src/app/data/definitions/product-definitions.ts
  admin-ui/src/app/data/providers/product-data.service.ts
  schema.json
  server/e2e/__snapshots__/product.e2e-spec.ts.snap
  server/e2e/product.e2e-spec.ts
  server/src/api/resolvers/product.resolver.ts
  server/src/api/types/product.api.graphql
  server/src/service/services/product-variant.service.ts
  shared/generated-types.ts
Due: yarn lint:admin-ui, yarn format, yarn lint:server

fix(server): Fix missing Facet join
  server/src/service/services/facet-value.service.ts
Due: yarn format, yarn lint:server

refactor(server): Remove unused imports
  server/e2e/product.e2e-spec.ts
Due: yarn format, yarn lint:server

feat(server): Add descendantFacetValues property to ProductCategory type
  schema.json
  server/e2e/product-category.e2e-spec.ts
  server/src/api/resolvers/product-category.resolver.ts
  server/src/api/resolvers/product.resolver.ts
  server/src/entity/product-category/product-category.graphql
  server/src/service/services/facet-value.service.ts
  server/src/service/services/product-category.service.ts
  shared/generated-types.ts
Due: yarn format, yarn lint:server

feat(server): Initial implementation of product data import
  schema.json
  server/dev-config.ts
  server/e2e/__snapshots__/import.e2e-spec.ts.snap
  server/e2e/config/test-config.ts
  server/e2e/fixtures/pps1.jpg
  server/e2e/fixtures/pps2.jpg
  server/e2e/fixtures/product-import.csv
  server/e2e/import.e2e-spec.ts
  server/mock-data/create-upload-post-data.spec.ts
  server/mock-data/create-upload-post-data.ts
  server/mock-data/simple-graphql-client.ts
  server/package.json
  server/src/api/api.module.ts
  server/src/api/resolvers/import.resolver.ts
  server/src/api/types/import.api.graphql
  server/src/app.module.ts
  server/src/config/config.service.mock.ts
  server/src/config/config.service.ts
  server/src/config/default-config.ts
  server/src/config/vendure-config.ts
  server/src/data-import/data-import.module.ts
  server/src/data-import/import-cli.ts
  server/src/data-import/providers/import-parser/__snapshots__/import-parser.spec.ts.snap
  server/src/data-import/providers/import-parser/import-parser.spec.ts
  server/src/data-import/providers/import-parser/import-parser.ts
  server/src/data-import/providers/import-parser/test-fixtures/invalid-columns.csv
  server/src/data-import/providers/import-parser/test-fixtures/invalid-option-values.csv
  server/src/data-import/providers/import-parser/test-fixtures/multiple-products-multiple-variants.csv
  server/src/data-import/providers/import-parser/test-fixtures/single-product-multiple-variants.csv
  server/src/data-import/providers/import-parser/test-fixtures/single-product-single-variant.csv
  server/src/data-import/providers/importer/importer.ts
  server/src/service/services/asset.service.ts
  server/yarn.lock
  shared/generated-types.ts
Due: yarn format, yarn lint:server

refactor(server): Move config helpers into own file
  server/mock-data/populate.ts
  server/mock-data/simple-graphql-client.ts
  server/src/api/resolvers/config.resolver.ts
  server/src/bootstrap.ts
  server/src/config/config-helpers.ts
  server/src/config/config.service.ts
  server/src/config/vendure-config.ts
  server/src/data-import/import-cli.ts
  server/src/entity/base/base.entity.ts
  server/src/entity/order/order.entity.ts
  server/src/entity/payment-method/payment-method.entity.ts
  server/src/entity/promotion/promotion.entity.ts
  server/src/entity/shipping-method/shipping-method.entity.ts
  server/src/service/service.module.ts
Due: yarn format, yarn lint:server

feat(server): Create barrel files for public exports
  .gitignore
  server/build/gulpfile.ts
  server/build/tsconfig.build.json
  server/gulpfile.js
  server/package.json
  server/src/config/index.ts
  server/src/email/index.ts
  server/src/index.ts
  server/src/plugin/index.ts
  server/tsconfig.build.json
  server/tsconfig.json
  server/yarn.lock
Due: yarn format, yarn lint:server

feat(server): Create a CLI program to simplify starting a new project
  server/build/gulpfile.ts
  server/build/tsconfig.cli.json
  server/cli/assets/index.hbs
  server/cli/vendure-cli.ts
  server/package.json
  server/src/config/email/email-transport-options.ts
  server/yarn.lock
Due: yarn format, yarn lint:server

chore(server): Default to a subset of countries when populating db
  server/mock-data/mock-data.service.ts
  server/mock-data/populate.ts
Due: yarn format, yarn lint:server

Path conditions:
  yarn lint:admin-ui: any of: admin-ui/**/*.ts
  yarn format: (any of: admin-ui/**/*.ts) or (any of: server/**/*.ts)
  yarn lint:server: any of: server/**/*.ts
