Repository daya110/vendure: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:admin-ui, yarn format, yarn lint:packages, yarn lint:core

.lintstagedrc.json:

{
  "admin-ui/**/*.ts": [
    "yarn lint:admin-ui",
    "yarn format",
    "git add"
  ],
  "admin-ui/**/*.html": [
    "yarn format",
    "git add"
  ],
  "packages/**/*.ts": [
    "yarn lint:packages",
    "yarn format",
    "git add"
  ]
}

.lintstagedrc.yml:

linters:
  admin-ui/**/*.ts:
    - yarn lint:admin-ui
    - yarn format
    - git add
  admin-ui/**/*.html:
    - yarn format
    - git add
  packages/core/*.ts:
    - yarn lint:core
    - yarn format
    - git add

refactor(core): Replace graphql-request lib with own implementation
  packages/core/mock-data/simple-graphql-client.ts
  packages/core/package.json
  yarn.lock
Due: yarn format, yarn lint:packages

feat(core): Use query param to specify language
  packages/common/src/generated-types.ts
  packages/core/e2e/collection.e2e-spec.ts
  packages/core/e2e/config/tsconfig.e2e.json
  packages/core/e2e/entity-id-strategy.e2e-spec.ts
  packages/core/e2e/facet.e2e-spec.ts
  packages/core/e2e/graphql/generated-e2e-admin-types.ts
  packages/core/e2e/graphql/shared-definitions.ts
  packages/core/e2e/localization.e2e-spec.ts
  packages/core/e2e/product.e2e-spec.ts
  packages/core/mock-data/simple-graphql-client.ts
  packages/core/src/api/common/request-context.service.ts
  packages/core/src/api/schema/admin-api/collection.api.graphql
  packages/core/src/api/schema/admin-api/facet.api.graphql
  packages/core/src/api/schema/admin-api/product-option-group.api.graphql
  packages/core/src/api/schema/admin-api/product.api.graphql
  packages/core/src/service/helpers/utils/translate-entity.spec.ts
  packages/core/src/service/helpers/utils/translate-entity.ts
  schema-admin.json
Due: yarn format, yarn lint:packages

fix(admin-ui): Remove references to obsolete languageCode arguments
  admin-ui/src/app/common/generated-types.ts
  admin-ui/src/app/common/introspection-result.ts
  admin-ui/src/app/data/definitions/collection-definitions.ts
  admin-ui/src/app/data/definitions/facet-definitions.ts
  admin-ui/src/app/data/definitions/product-definitions.ts
  admin-ui/src/app/data/providers/collection-data.service.ts
  admin-ui/src/app/data/providers/facet-data.service.ts
  admin-ui/src/app/data/providers/product-data.service.ts
Due: yarn lint:admin-ui, yarn format

refactor(core): Move VendurePlugin interface def into plugin dir
  packages/core/e2e/shop-auth.e2e-spec.ts
  packages/core/src/config/config.service.ts
  packages/core/src/config/index.ts
  packages/core/src/config/vendure-config.ts
  packages/core/src/plugin/vendure-plugin.ts
Due: yarn format, yarn lint:packages

feat(core): Rewrite plugin system to use Nest modules
  packages/core/e2e/default-search-plugin.e2e-spec.ts
  packages/core/e2e/fixtures/test-plugins.ts
  packages/core/e2e/plugin.e2e-spec.ts
  packages/core/e2e/shop-auth.e2e-spec.ts
  packages/core/e2e/test-server.ts
  packages/core/src/api/api-internal-modules.ts
  packages/core/src/api/config/configure-graphql-module.ts
  packages/core/src/app.module.ts
  packages/core/src/bootstrap.ts
  packages/core/src/config/config.service.ts
  packages/core/src/config/vendure-config.ts
  packages/core/src/event-bus/index.ts
  packages/core/src/plugin/default-search-plugin/constants.ts
  packages/core/src/plugin/default-search-plugin/default-search-plugin.ts
  packages/core/src/plugin/default-search-plugin/indexer/indexer.controller.ts
  packages/core/src/plugin/dynamic-plugin-api.module.ts
  packages/core/src/plugin/index.ts
  packages/core/src/plugin/plugin-common.module.ts
  packages/core/src/plugin/plugin-metadata.ts
  packages/core/src/plugin/plugin-utils.ts
  packages/core/src/plugin/plugin.module.ts
  packages/core/src/plugin/vendure-plugin.ts
  packages/core/src/service/service.module.ts
  packages/core/src/worker/worker.module.ts
Due: yarn format, yarn lint:packages

refactor(admin-ui-plugin): Refactor to new Plugin architecture
  packages/admin-ui-plugin/package.json
  packages/admin-ui-plugin/src/plugin.ts
Due: yarn format, yarn lint:packages

refactor(asset-server-plugin): Refactor to new Plugin architecture
  packages/asset-server-plugin/package.json
  packages/asset-server-plugin/src/plugin.ts
Due: yarn format, yarn lint:packages

refactor(email-plugin): Refactor to new Plugin architecture
  packages/email-plugin/src/plugin.spec.ts
  packages/email-plugin/src/plugin.ts
Due: yarn format, yarn lint:packages

refactor(elasticsearch-plugin): Refactor to new Plugin architecture
  packages/elasticsearch-plugin/src/plugin.ts
Due: yarn format, yarn lint:packages

feat(core): Make request pipeline compatible with REST requests
  packages/core/src/api/common/get-api-type.ts
  packages/core/src/api/common/parse-context.ts
  packages/core/src/api/common/request-context.service.ts
  packages/core/src/api/decorators/request-context.decorator.ts
  packages/core/src/api/middleware/asset-interceptor.ts
  packages/core/src/api/middleware/auth-guard.ts
  packages/core/src/api/middleware/id-interceptor.ts
  packages/core/src/api/middleware/validate-custom-fields-interceptor.ts
  packages/core/src/api/resolvers/entity/payment-entity.resolver.ts
  packages/core/src/api/resolvers/entity/refund-entity.resolver.ts
Due: yarn format, yarn lint:packages

refactor(dev-server): Update plugin config
  packages/dev-server/dev-config.ts
Due: yarn format, yarn lint:packages

feat(dev-server): Add example REST plugin
  packages/dev-server/dev-config.ts
  packages/dev-server/rest-plugin.ts
Due: yarn format, yarn lint:packages

test(core): Enable logging in e2e tests
  packages/core/e2e/test-server.ts
Due: yarn format, yarn lint:packages

refactor(core): Improve internal module architecture
  packages/core/e2e/plugin.e2e-spec.ts
  packages/core/src/api/api-internal-modules.ts
  packages/core/src/app.module.ts
  packages/core/src/data-import/data-import.module.ts
  packages/core/src/plugin/plugin.module.ts
  packages/core/src/service/service.module.ts
Due: yarn format, yarn lint:packages

refactor(core): Update SearchService to work with new plugins
  packages/core/src/plugin/default-search-plugin/default-search-plugin.ts
  packages/core/src/plugin/default-search-plugin/fulltext-search.service.ts
  packages/core/src/service/services/search.service.ts
Due: yarn format, yarn lint:packages

refactor(elasticsearch-plugin): Update to new SearchService
  packages/elasticsearch-plugin/src/elasticsearch.service.ts
  packages/elasticsearch-plugin/src/plugin.ts
Due: yarn format, yarn lint:packages

feat(create): Update config template to new plugin format
  packages/create/templates/vendure-config.hbs
Due: none

feat(create): Improve error handling
  packages/create/src/create-vendure-app.ts
  packages/create/src/helpers.ts
Due: yarn format, yarn lint:packages

docs: Update documentation for new plugin architecture
  docs/content/docs/plugins/_index.md
  docs/content/docs/plugins/writing-a-vendure-plugin.md
  packages/admin-ui-plugin/src/plugin.ts
  packages/asset-server-plugin/src/plugin.ts
  packages/core/src/plugin/default-search-plugin/default-search-plugin.ts
  packages/core/src/plugin/plugin-common.module.ts
  packages/core/src/plugin/plugin-utils.ts
  packages/core/src/plugin/vendure-plugin.ts
  packages/elasticsearch-plugin/src/plugin.ts
  packages/email-plugin/src/plugin.ts
Due: yarn format, yarn lint:packages

chore: Publish v0.1.2-beta.9
  CHANGELOG.md
  lerna.json
  packages/admin-ui-plugin/package.json
  packages/asset-server-plugin/package.json
  packages/common/package.json
  packages/core/package.json
  packages/create/package.json
  packages/dev-server/package.json
  packages/elasticsearch-plugin/package.json
  packages/email-plugin/package.json
Due: none

feat(docs): Add Slack link to footer
  docs/layouts/partials/footer.html
Due: none

fix(core): Fix incorrect import paths
  packages/core/src/config/custom-field/custom-field-types.ts
  packages/core/src/entity/validate-custom-fields-config.ts
  packages/create/src/create-vendure-app.ts
Due: yarn format, yarn lint:packages

fix(core): Remove LanguageCode arg from Shop API
  packages/common/src/generated-shop-types.ts
  packages/common/src/generated-types.ts
  packages/core/e2e/graphql/generated-e2e-admin-types.ts
  packages/core/e2e/graphql/generated-e2e-shop-types.ts
  packages/core/src/api/schema/shop-api/shop.api.graphql
  schema-admin.json
  schema-shop.json
Due: yarn format, yarn lint:packages

fix(core): Correct ID types for SearchInput
  packages/common/src/generated-shop-types.ts
  packages/common/src/generated-types.ts
  packages/core/src/api/schema/common/common-types.graphql
  schema-admin.json
  schema-shop.json
Due: yarn format, yarn lint:packages

refactor(core): Use schema introspection for entity ID encoding/decoding
  admin-ui/src/app/common/generated-types.ts
  packages/core/e2e/entity-id-strategy.e2e-spec.ts
  packages/core/e2e/graphql/generated-e2e-admin-types.ts
  packages/core/e2e/graphql/generated-e2e-shop-types.ts
  packages/core/src/api/common/graphql-value-transformer.ts
  packages/core/src/api/common/id-codec.ts
  packages/core/src/api/config/configure-graphql-module.ts
  packages/core/src/api/middleware/id-codec-plugin.ts
  packages/core/src/api/middleware/id-encoder-extension.ts
  packages/core/src/api/middleware/id-interceptor.ts
  packages/core/src/api/schema/type/product-search.type.graphql
Due: yarn lint:admin-ui, yarn format, yarn lint:packages

refactor(core): Remove Decode decorator from all resolvers
  packages/core/e2e/entity-id-strategy.e2e-spec.ts
  packages/core/src/api/decorators/allow.decorator.ts
  packages/core/src/api/decorators/decode.decorator.ts
  packages/core/src/api/resolvers/admin/administrator.resolver.ts
  packages/core/src/api/resolvers/admin/channel.resolver.ts
  packages/core/src/api/resolvers/admin/collection.resolver.ts
  packages/core/src/api/resolvers/admin/customer-group.resolver.ts
  packages/core/src/api/resolvers/admin/customer.resolver.ts
  packages/core/src/api/resolvers/admin/facet.resolver.ts
  packages/core/src/api/resolvers/admin/order.resolver.ts
  packages/core/src/api/resolvers/admin/product-option.resolver.ts
  packages/core/src/api/resolvers/admin/product.resolver.ts
  packages/core/src/api/resolvers/admin/tax-rate.resolver.ts
  packages/core/src/api/resolvers/admin/zone.resolver.ts
  packages/core/src/api/resolvers/shop/shop-order.resolver.ts
  packages/core/src/plugin/default-search-plugin/fulltext-search.resolver.ts
Due: yarn format, yarn lint:packages

refactor(core): Convert error translation from extension to plugin
  packages/core/src/api/config/configure-graphql-module.ts
  packages/core/src/api/middleware/translate-errors-extension.ts
  packages/core/src/api/middleware/translate-errors-plugin.ts
Due: yarn format, yarn lint:packages

fix(core): Remove non-existent import
  packages/core/src/api/index.ts
Due: yarn format, yarn lint:packages

fix(elasticsearch-plugin): Remove references to Decode decorator
  packages/elasticsearch-plugin/src/elasticsearch-resolver.ts
Due: yarn format, yarn lint:packages

chore: Update lerna config
  lerna.json
Due: none

feat(admin-ui): Display nested payment metadata
  admin-ui/src/app/order/components/payment-detail/payment-detail.component.html
  admin-ui/src/app/order/components/payment-detail/payment-detail.component.scss
  admin-ui/src/app/order/components/payment-detail/payment-detail.component.ts
  admin-ui/src/app/shared/components/object-tree/object-tree.component.html
  admin-ui/src/app/shared/components/object-tree/object-tree.component.scss
  admin-ui/src/app/shared/components/object-tree/object-tree.component.ts
  admin-ui/src/app/shared/shared.module.ts
Due: yarn lint:admin-ui, yarn format

feat(core): Export OrderState & PaymentState types
  packages/core/src/service/index.ts
Due: yarn format, yarn lint:packages

feat(core): Add error handling to payments
  admin-ui/src/app/common/generated-types.ts
  packages/common/src/generated-shop-types.ts
  packages/common/src/generated-types.ts
  packages/core/e2e/graphql/generated-e2e-admin-types.ts
  packages/core/e2e/graphql/generated-e2e-shop-types.ts
  packages/core/e2e/graphql/shop-definitions.ts
  packages/core/e2e/shop-order.e2e-spec.ts
  packages/core/src/api/schema/type/order.type.graphql
  packages/core/src/config/payment-method/payment-method-handler.ts
  packages/core/src/entity/payment/payment.entity.ts
  packages/core/src/service/helpers/payment-state-machine/payment-state.ts
  packages/core/src/service/services/order.service.ts
  schema-admin.json
  schema-shop.json
Due: yarn lint:admin-ui, yarn format, yarn lint:packages

feat(core): Allow cancellation of order by id
  packages/common/src/generated-types.ts
  packages/core/e2e/graphql/generated-e2e-admin-types.ts
  packages/core/e2e/order.e2e-spec.ts
  packages/core/e2e/shop-order.e2e-spec.ts
  packages/core/src/api/schema/admin-api/order.api.graphql
  packages/core/src/service/helpers/order-state-machine/order-state-machine.ts
  packages/core/src/service/helpers/order-state-machine/order-state.ts
  packages/core/src/service/services/order.service.ts
  packages/core/src/service/services/stock-movement.service.ts
  schema-admin.json
Due: yarn format, yarn lint:packages

feat(admin-ui): Enable cancellation of active orders
  admin-ui/src/app/common/generated-types.ts
  admin-ui/src/app/order/components/cancel-order-dialog/cancel-order-dialog.component.html
  admin-ui/src/app/order/components/cancel-order-dialog/cancel-order-dialog.component.ts
  admin-ui/src/app/order/components/order-detail/order-detail.component.html
  admin-ui/src/app/order/components/order-detail/order-detail.component.ts
  admin-ui/src/app/shared/components/object-tree/object-tree.component.html
  packages/common/src/generated-types.ts
  packages/core/e2e/graphql/generated-e2e-admin-types.ts
  schema-admin.json
Due: yarn lint:admin-ui, yarn format, yarn lint:packages

chore: Add check for bad imports before publish
  package.json
  scripts/check-imports.ts
  yarn.lock
Due: none

chore: Publish v0.1.2-beta.10
  CHANGELOG.md
  lerna.json
  packages/admin-ui-plugin/package.json
  packages/asset-server-plugin/package.json
  packages/common/package.json
  packages/core/package.json
  packages/create/package.json
  packages/dev-server/package.json
  packages/elasticsearch-plugin/package.json
  packages/email-plugin/package.json
Due: none

feat(admin-ui): Display refund metadata
  admin-ui/src/app/common/generated-types.ts
  admin-ui/src/app/data/definitions/order-definitions.ts
  admin-ui/src/app/order/components/order-payment-card/order-payment-card.component.html
  admin-ui/src/app/order/components/order-payment-card/order-payment-card.component.ts
  admin-ui/src/i18n-messages/en.json
Due: yarn lint:admin-ui, yarn format

fix(admin-ui): Fix styling of order history
  admin-ui/src/app/order/components/order-history/order-history.component.scss
Due: none

fix(core): Correctly update Refund state
  packages/core/src/service/services/payment-method.service.ts
Due: yarn format, yarn lint:packages
