Repository daya110/vendure: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:admin-ui, yarn format, yarn lint:server

fix(server): Fix failing e2e test with ugly hack
  server/e2e/import.e2e-spec.ts
  server/mock-data/simple-graphql-client.ts
  server/src/api/resolvers/import.resolver.ts
Due: yarn format, yarn lint:server

feat(server): Create Populator class for populating initial data
  server/src/bootstrap.ts
  server/src/data-import/data-import.module.ts
  server/src/data-import/index.ts
  server/src/data-import/providers/populator/populator.ts
  server/src/entity/index.ts
  server/src/index.ts
Due: yarn format, yarn lint:server

feat(server): Populate country & tax data via CLI
  server/cli/assets/index.hbs
  server/cli/assets/initial-data.json
  server/cli/assets/vendure-config.hbs
  server/cli/cli-utils.ts
  server/cli/init.ts
  server/cli/populate.ts
  server/cli/vendure-cli.ts
  server/package.json
  server/yarn.lock
Due: yarn format, yarn lint:server

feat(server): Populate sample product data via CLI
  server/build/gulpfile.ts
  server/cli/assets/initial-data.json
  server/cli/assets/sample-products.csv
  server/cli/populate.ts
  server/src/api/resolvers/import.resolver.ts
  server/src/data-import/index.ts
  server/src/data-import/providers/importer/importer.ts
  server/src/data-import/providers/populator/populator.ts
Due: yarn format, yarn lint:server

chore(admin-ui): Update to v1.0 of Clarity
  admin-ui/package.json
  admin-ui/src/app/shared/components/form-field/form-field.component.html
  admin-ui/src/app/shared/components/rich-text-editor/rich-text-editor.component.html
  admin-ui/src/app/shared/shared.module.ts
  admin-ui/yarn.lock
Due: yarn lint:admin-ui, yarn format

feat(server): Generate slug on import if none specified
  server/e2e/__snapshots__/import.e2e-spec.ts.snap
  server/src/data-import/providers/import-parser/__snapshots__/import-parser.spec.ts.snap
  server/src/data-import/providers/import-parser/import-parser.ts
  server/src/data-import/providers/import-parser/test-fixtures/single-product-single-variant.csv
Due: yarn format, yarn lint:server

feat(server): Add assets to ProductVariant
  schema.json
  server/e2e/product.e2e-spec.ts
  server/src/api/resolvers/product.resolver.ts
  server/src/entity/product-variant/product-variant.entity.ts
  server/src/entity/product-variant/product-variant.graphql
  server/src/service/helpers/asset-updater/asset-updater.ts
  server/src/service/service.module.ts
  server/src/service/services/product-category.service.ts
  server/src/service/services/product-variant.service.ts
  server/src/service/services/product.service.ts
  shared/generated-types.ts
Due: yarn format, yarn lint:server

feat(admin-ui): Add asset controls to ProductVariantsList
  admin-ui/src/app/catalog/components/product-assets/product-assets.component.html
  admin-ui/src/app/catalog/components/product-assets/product-assets.component.scss
  admin-ui/src/app/catalog/components/product-assets/product-assets.component.ts
  admin-ui/src/app/catalog/components/product-detail/product-detail.component.html
  admin-ui/src/app/catalog/components/product-detail/product-detail.component.ts
  admin-ui/src/app/catalog/components/product-variants-list/product-variants-list.component.html
  admin-ui/src/app/catalog/components/product-variants-list/product-variants-list.component.scss
  admin-ui/src/app/catalog/components/product-variants-list/product-variants-list.component.ts
  admin-ui/src/app/data/definitions/product-definitions.ts
  admin-ui/src/app/data/providers/product-data.service.ts
  shared/generated-types.ts
Due: yarn lint:admin-ui, yarn format

feat(server): Create assets based on variantAssets column when importing
  server/e2e/__snapshots__/import.e2e-spec.ts.snap
  server/e2e/fixtures/box-of-12.jpg
  server/e2e/fixtures/box-of-8.jpg
  server/e2e/fixtures/product-import.csv
  server/e2e/import.e2e-spec.ts
  server/src/data-import/providers/importer/importer.ts
Due: yarn format, yarn lint:server

refactor(server): Importing products handles errors without throwing
  server/e2e/fixtures/product-import.csv
  server/e2e/import.e2e-spec.ts
  server/src/data-import/providers/import-parser/import-parser.spec.ts
  server/src/data-import/providers/import-parser/import-parser.ts
  server/src/data-import/providers/import-parser/test-fixtures/invalid-row-length.csv
  server/src/data-import/providers/importer/importer.ts
Due: yarn format, yarn lint:server

feat(server): Create import-products cli command
  server/cli/populate.ts
  server/cli/vendure-cli.ts
  server/src/data-import/providers/importer/importer.ts
  server/src/entity/product-option-group/product-option-group.entity.ts
  shared/normalize-string.ts
Due: yarn format, yarn lint:server

feat(server): Add 'silent' option to VendureConfig
  server/src/bootstrap.ts
  server/src/config/default-config.ts
  server/src/config/vendure-config.ts
  server/src/plugin/default-asset-server/default-asset-server-plugin.ts
Due: yarn format, yarn lint:server

refactor(server): Use pipe rather than comma as separator in import csv
  server/e2e/fixtures/product-import.csv
  server/src/data-import/providers/import-parser/import-parser.ts
  server/src/data-import/providers/import-parser/test-fixtures/invalid-columns.csv
  server/src/data-import/providers/import-parser/test-fixtures/invalid-option-values.csv
  server/src/data-import/providers/import-parser/test-fixtures/multiple-products-multiple-variants.csv
  server/src/data-import/providers/import-parser/test-fixtures/single-product-single-variant.csv
Due: yarn format, yarn lint:server

fix(server): Specify ProductOptions by id rather than code
  server/e2e/__snapshots__/import.e2e-spec.ts.snap
  server/src/data-import/providers/importer/importer.ts
  server/src/entity/product-variant/product-variant.graphql
  server/src/service/services/product-variant.service.ts
Due: yarn format, yarn lint:server

feat(server): Add progress reporting to cli import-products command
  schema.json
  server/cli/populate.ts
  server/e2e/import.e2e-spec.ts
  server/mock-data/simple-graphql-client.ts
  server/package.json
  server/src/api/resolvers/import.resolver.ts
  server/src/api/types/import.api.graphql
  server/yarn.lock
  shared/generated-types.ts
Due: yarn format, yarn lint:server

refactor(server): Optimize product import
  server/src/data-import/providers/importer/importer.ts
  server/src/service/helpers/asset-updater/asset-updater.ts
  server/src/service/services/product-variant.service.ts
Due: yarn format, yarn lint:server

feat(admin-ui): Add thumbnails to ProductListComponent
  admin-ui/src/app/catalog/components/product-list/product-list.component.html
  admin-ui/src/app/catalog/components/product-list/product-list.component.scss
  admin-ui/src/app/data/definitions/product-definitions.ts
  admin-ui/src/app/settings/components/payment-method-detail/payment-method-detail.component.html
  shared/generated-types.ts
Due: yarn lint:admin-ui, yarn format

feat(server): Implement importing of facets
  schema.json
  server/e2e/__snapshots__/import.e2e-spec.ts.snap
  server/e2e/fixtures/product-import.csv
  server/e2e/import.e2e-spec.ts
  server/src/data-import/providers/import-parser/__snapshots__/import-parser.spec.ts.snap
  server/src/data-import/providers/import-parser/import-parser.spec.ts
  server/src/data-import/providers/import-parser/import-parser.ts
  server/src/data-import/providers/import-parser/test-fixtures/invalid-columns.csv
  server/src/data-import/providers/import-parser/test-fixtures/invalid-option-values.csv
  server/src/data-import/providers/import-parser/test-fixtures/invalid-row-length.csv
  server/src/data-import/providers/import-parser/test-fixtures/multiple-products-multiple-variants.csv
  server/src/data-import/providers/import-parser/test-fixtures/single-product-multiple-variants.csv
  server/src/data-import/providers/import-parser/test-fixtures/single-product-single-variant.csv
  server/src/data-import/providers/importer/importer.ts
  server/src/entity/product-variant/product-variant.graphql
  server/src/service/services/facet.service.ts
  server/src/service/services/product-variant.service.ts
  shared/generated-types.ts
Due: yarn format, yarn lint:server

feat(server): Implement importing of custom fields
  server/e2e/import.e2e-spec.ts
  server/src/data-import/providers/import-parser/__snapshots__/import-parser.spec.ts.snap
  server/src/data-import/providers/import-parser/import-parser.spec.ts
  server/src/data-import/providers/import-parser/import-parser.ts
  server/src/data-import/providers/import-parser/test-fixtures/custom-fields.csv
  server/src/data-import/providers/importer/importer.ts
Due: yarn format, yarn lint:server

feat(admin-ui): Improvements to ProductVariant list
  admin-ui/src/app/catalog/components/product-assets/product-assets.component.html
  admin-ui/src/app/catalog/components/product-assets/product-assets.component.scss
  admin-ui/src/app/catalog/components/product-detail/product-detail.component.html
  admin-ui/src/app/catalog/components/product-detail/product-detail.component.ts
  admin-ui/src/app/catalog/components/product-variants-list/product-variants-list.component.html
  admin-ui/src/app/catalog/components/product-variants-list/product-variants-list.component.ts
  admin-ui/src/app/common/utilities/string-to-color.ts
  admin-ui/src/i18n-messages/en.json
Due: yarn lint:admin-ui, yarn format

refactor: use unique function rather than duplicate implementation
  admin-ui/src/app/catalog/components/product-category-detail/product-category-detail.component.ts
  server/src/data-import/providers/import-parser/import-parser.ts
  server/src/service/helpers/list-query-builder/parse-sort-params.ts
  server/src/service/services/channel.service.ts
Due: yarn lint:admin-ui, yarn format, yarn lint:server

feat: Add FacetValues to Product entity
  admin-ui/src/app/catalog/components/apply-facet-dialog/apply-facet-dialog.component.html
  admin-ui/src/app/catalog/components/product-detail/product-detail.component.html
  admin-ui/src/app/catalog/components/product-detail/product-detail.component.ts
  admin-ui/src/app/catalog/providers/routing/product-resolver.ts
  admin-ui/src/app/data/definitions/product-definitions.ts
  admin-ui/src/app/data/providers/product-data.service.ts
  admin-ui/src/i18n-messages/en.json
  schema.json
  server/e2e/__snapshots__/product.e2e-spec.ts.snap
  server/e2e/product.e2e-spec.ts
  server/src/api/resolvers/product.resolver.ts
  server/src/entity/product/product.entity.ts
  server/src/entity/product/product.graphql
  server/src/service/services/product.service.ts
  shared/generated-types.ts
Due: yarn lint:admin-ui, yarn format, yarn lint:server

feat(server): Add product Facets to import format
  server/e2e/__snapshots__/import.e2e-spec.ts.snap
  server/e2e/fixtures/product-import.csv
  server/e2e/import.e2e-spec.ts
  server/src/data-import/providers/import-parser/__snapshots__/import-parser.spec.ts.snap
  server/src/data-import/providers/import-parser/import-parser.spec.ts
  server/src/data-import/providers/import-parser/import-parser.ts
  server/src/data-import/providers/import-parser/test-fixtures/custom-fields.csv
  server/src/data-import/providers/import-parser/test-fixtures/invalid-option-values.csv
  server/src/data-import/providers/import-parser/test-fixtures/invalid-row-length.csv
  server/src/data-import/providers/import-parser/test-fixtures/multiple-products-multiple-variants.csv
  server/src/data-import/providers/import-parser/test-fixtures/single-product-multiple-variants.csv
  server/src/data-import/providers/import-parser/test-fixtures/single-product-single-variant.csv
  server/src/data-import/providers/importer/importer.ts
Due: yarn format, yarn lint:server

feat(admin-ui): Improve layout of ProductVariantList
  admin-ui/src/app/catalog/components/product-variants-list/product-variants-list.component.html
  admin-ui/src/app/catalog/components/product-variants-list/product-variants-list.component.scss
  admin-ui/src/i18n-messages/en.json
Due: none

feat(admin-ui): Improve layout of ProductAssetsComponent
  admin-ui/src/app/catalog/components/product-assets/product-assets.component.html
  admin-ui/src/app/catalog/components/product-assets/product-assets.component.scss
Due: none

feat(server): Extend plugin interface
  server/src/api/api.module.ts
  server/src/api/config/graphql-config.service.ts
  server/src/api/config/graphql-custom-fields.spec.ts
  server/src/api/config/graphql-custom-fields.ts
  server/src/bootstrap.ts
  server/src/config/vendure-plugin/vendure-plugin.ts
Due: yarn format, yarn lint:server

feat(server): Add onBootstrap method to plugin interface
  server/src/bootstrap.ts
  server/src/config/vendure-plugin/vendure-plugin.ts
Due: yarn format, yarn lint:server

docs: Update readme with note on alpha release
  README.md
Due: none

docs: Add note on making a request
  README.md
Due: none

refactor(server): Move DefaultAssetServer config into default config
  server/cli/assets/vendure-config.hbs
  server/dev-config.ts
  server/src/config/default-config.ts
  server/src/config/email/email-transport-options.ts
Due: yarn format, yarn lint:server

refactor(server): Plugins specify GraphQL types and resolvers separately
  server/src/api/api.module.ts
  server/src/api/config/graphql-config.service.ts
  server/src/config/vendure-plugin/vendure-plugin.ts
Due: yarn format, yarn lint:server

feat(server): Create initial types and resolver for product search
  server/dev-config.ts
  server/src/api/resolvers/search.resolver.ts
  server/src/api/types/search.api.graphql
  server/src/config/default-config.ts
  server/src/entity/custom-entity-fields.ts
  server/src/entity/product/product-translation.entity.ts
  server/src/event-bus/events/catalog-modification-event.ts
  server/src/plugin/default-search-engine/default-search-plugin.ts
  server/src/plugin/default-search-engine/fulltext-search-resolver.ts
  server/src/plugin/default-search-engine/search-index-item.entity.ts
  server/src/service/services/product.service.ts
Due: yarn format, yarn lint:server

refactor(server): Simplify the way plugin providers are exported
  server/src/api/api.module.ts
  server/src/config/vendure-plugin/vendure-plugin.ts
  server/src/i18n/messages/en.json
  server/src/plugin/plugin.module.ts
Due: yarn format, yarn lint:server

refactor(server): Separate search plugin into api / service layers
  server/src/api/resolvers/search.resolver.ts
  server/src/api/types/search.api.graphql
  server/src/plugin/default-search-engine/default-search-plugin.ts
  server/src/plugin/default-search-engine/fulltext-search-resolver.ts
  server/src/plugin/default-search-engine/fulltext-search.resolver.ts
  server/src/plugin/default-search-engine/fulltext-search.service.ts
Due: yarn format, yarn lint:server

feat(server): Simple weighted fulltext search
  schema.json
  server/src/api/resolvers/search.resolver.ts
  server/src/api/types/search.api.graphql
  server/src/plugin/default-search-engine/fulltext-search.resolver.ts
  server/src/plugin/default-search-engine/fulltext-search.service.ts
  server/src/plugin/default-search-engine/search-index-item.entity.ts
  shared/generated-types.ts
Due: yarn format, yarn lint:server

feat(server): Search response exposes FacetValues
  schema.json
  server/src/api/resolvers/search.resolver.ts
  server/src/api/types/search.api.graphql
  server/src/plugin/default-search-engine/fulltext-search.resolver.ts
  server/src/plugin/default-search-engine/fulltext-search.service.ts
  server/src/service/services/facet-value.service.ts
  shared/generated-types.ts
Due: yarn format, yarn lint:server

feat(server): AssetInterceptor handles search results
  server/src/api/middleware/asset-interceptor.spec.ts
  server/src/api/middleware/asset-interceptor.ts
Due: yarn format, yarn lint:server

feat(server): Add groupByProducts option to SearchInput
  schema.json
  server/src/api/types/search.api.graphql
  server/src/plugin/default-asset-server/default-asset-storage-strategy.ts
  server/src/plugin/default-search-engine/fulltext-search.service.ts
  shared/generated-types.ts
Due: yarn format, yarn lint:server

feat(server): Add DefaultSearchPlugin to init template
  server/cli/assets/vendure-config.hbs
  server/src/plugin/index.ts
Due: yarn format, yarn lint:server

feat(admin-ui): Use search for product list
  admin-ui/src/app/catalog/components/product-list/product-list.component.html
  admin-ui/src/app/catalog/components/product-list/product-list.component.scss
  admin-ui/src/app/catalog/components/product-list/product-list.component.ts
  admin-ui/src/app/common/base-list.component.ts
  admin-ui/src/app/data/definitions/product-definitions.ts
  admin-ui/src/app/data/providers/product-data.service.ts
  admin-ui/src/app/settings/components/shipping-method-detail/shipping-method-detail.component.ts
  admin-ui/src/i18n-messages/en.json
  admin-ui/src/styles/styles.scss
  shared/generated-types.ts
Due: yarn lint:admin-ui, yarn format

Path conditions:
  yarn lint:admin-ui: any of: admin-ui/**/*.ts
  yarn format: (any of: admin-ui/**/*.ts) or (any of: server/**/*.ts)
  yarn lint:server: any of: server/**/*.ts
