Repository daya110/vendure: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:admin-ui, yarn format, yarn lint:packages, yarn lint:core

fix(core): Correct typing of PaymentMetadata
  packages/core/src/entity/payment/payment.entity.ts
Due: yarn format, yarn lint:packages

fix(admin-ui): Correctly display long items in SimpleItemList
  admin-ui/src/app/order/components/simple-item-list/simple-item-list.component.html
  admin-ui/src/app/order/components/simple-item-list/simple-item-list.component.scss
Due: yarn format

refactor(core): Optimize db calls when adjusting order lines
  packages/core/src/service/services/order.service.ts
Due: yarn format, yarn lint:packages

feat(core): Implement testShippingMethod query
  packages/common/src/generated-types.ts
  packages/core/e2e/graphql/generated-e2e-admin-types.ts
  packages/core/src/api/resolvers/admin/shipping-method.resolver.ts
  packages/core/src/api/schema/admin-api/shipping-method.api.graphql
  packages/core/src/service/helpers/shipping-configuration/shipping-configuration.ts
  packages/core/src/service/service.module.ts
  packages/core/src/service/services/order-testing.service.ts
  packages/core/src/service/services/shipping-method.service.ts
  schema-admin.json
Due: yarn format, yarn lint:packages

feat(admin-ui): Add shipping method test UI
  admin-ui/src/app/common/generated-types.ts
  admin-ui/src/app/core/providers/local-storage/local-storage.service.ts
  admin-ui/src/app/data/definitions/settings-definitions.ts
  admin-ui/src/app/data/providers/settings-data.service.ts
  admin-ui/src/app/settings/components/shipping-method-detail/shipping-method-detail.component.html
  admin-ui/src/app/settings/components/shipping-method-detail/shipping-method-detail.component.scss
  admin-ui/src/app/settings/components/shipping-method-detail/shipping-method-detail.component.ts
  admin-ui/src/app/settings/components/shipping-method-test-result/shipping-method-test-result.component.html
  admin-ui/src/app/settings/components/shipping-method-test-result/shipping-method-test-result.component.scss
  admin-ui/src/app/settings/components/shipping-method-test-result/shipping-method-test-result.component.ts
  admin-ui/src/app/settings/components/test-address-form/test-address-form.component.html
  admin-ui/src/app/settings/components/test-address-form/test-address-form.component.scss
  admin-ui/src/app/settings/components/test-address-form/test-address-form.component.ts
  admin-ui/src/app/settings/components/test-order-builder/test-order-builder.component.html
  admin-ui/src/app/settings/components/test-order-builder/test-order-builder.component.scss
  admin-ui/src/app/settings/components/test-order-builder/test-order-builder.component.ts
  admin-ui/src/app/settings/settings.module.ts
  admin-ui/src/i18n-messages/en.json
Due: yarn lint:admin-ui, yarn format

chore(admin-ui): Update dependencies
  admin-ui/package.json
  admin-ui/src/app/marketing/components/promotion-detail/promotion-detail.component.ts
  admin-ui/src/app/settings/components/payment-method-detail/payment-method-detail.component.ts
  admin-ui/yarn.lock
Due: yarn lint:admin-ui, yarn format

fix(admin-ui): Display zero shipping price in test tool
  admin-ui/src/app/settings/components/shipping-method-test-result/shipping-method-test-result.component.html
Due: yarn format

refactor(core): Rework ConfigurableOperation args implementation
  packages/common/src/generated-shop-types.ts
  packages/common/src/generated-types.ts
  packages/common/src/shared-types.ts
  packages/core/e2e/__snapshots__/collection.e2e-spec.ts.snap
  packages/core/e2e/__snapshots__/promotion.e2e-spec.ts.snap
  packages/core/e2e/collection.e2e-spec.ts
  packages/core/e2e/default-search-plugin.e2e-spec.ts
  packages/core/e2e/graphql/generated-e2e-admin-types.ts
  packages/core/e2e/graphql/generated-e2e-shop-types.ts
  packages/core/e2e/promotion.e2e-spec.ts
  packages/core/e2e/shop-catalog.e2e-spec.ts
  packages/core/src/api/common/id-codec.service.ts
  packages/core/src/api/schema/common/common-types.graphql
  packages/core/src/common/configurable-operation.ts
  packages/core/src/config/collection/collection-filter.ts
  packages/core/src/config/collection/default-collection-filters.ts
  packages/core/src/config/payment-method/example-payment-method-config.ts
  packages/core/src/config/payment-method/payment-method-handler.ts
  packages/core/src/config/promotion/default-promotion-actions.ts
  packages/core/src/config/promotion/default-promotion-conditions.ts
  packages/core/src/config/promotion/promotion-action.ts
  packages/core/src/config/promotion/promotion-condition.ts
  packages/core/src/config/shipping-method/default-shipping-calculator.ts
  packages/core/src/config/shipping-method/default-shipping-eligibility-checker.ts
  packages/core/src/config/shipping-method/shipping-calculator.ts
  packages/core/src/config/shipping-method/shipping-eligibility-checker.ts
  packages/core/src/data-import/providers/populator/populator.ts
  packages/core/src/service/helpers/order-calculator/order-calculator.spec.ts
  packages/core/src/service/services/collection.service.ts
  packages/core/src/service/services/payment-method.service.ts
  schema-admin.json
  schema-shop.json
Due: yarn format, yarn lint:packages

feat(core): Extend configurable operation arguments API
  packages/common/src/generated-shop-types.ts
  packages/common/src/generated-types.ts
  packages/core/e2e/__snapshots__/promotion.e2e-spec.ts.snap
  packages/core/e2e/graphql/generated-e2e-admin-types.ts
  packages/core/e2e/graphql/generated-e2e-shop-types.ts
  packages/core/e2e/promotion.e2e-spec.ts
  packages/core/src/api/resolvers/admin/collection.resolver.ts
  packages/core/src/api/resolvers/admin/promotion.resolver.ts
  packages/core/src/api/resolvers/admin/shipping-method.resolver.ts
  packages/core/src/api/schema/admin-api/collection.api.graphql
  packages/core/src/api/schema/admin-api/promotion.api.graphql
  packages/core/src/api/schema/admin-api/shipping-method.api.graphql
  packages/core/src/api/schema/common/common-types.graphql
  packages/core/src/api/schema/type/promotion.type.graphql
  packages/core/src/common/configurable-operation.ts
  packages/core/src/config/collection/default-collection-filters.ts
  packages/core/src/config/promotion/default-promotion-actions.ts
  packages/core/src/config/promotion/default-promotion-conditions.ts
  packages/core/src/config/shipping-method/default-shipping-calculator.ts
  packages/core/src/config/shipping-method/default-shipping-eligibility-checker.ts
  packages/core/src/data-import/providers/populator/populator.ts
  packages/core/src/entity/shipping-method/shipping-method.entity.ts
  packages/core/src/service/services/collection.service.ts
  packages/core/src/service/services/promotion.service.ts
  packages/core/src/service/services/shipping-method.service.ts
  schema-admin.json
  schema-shop.json
Due: yarn format, yarn lint:packages

feat(core): I18n for descriptions and labels of ConfigurableOperations
  packages/common/src/generated-shop-types.ts
  packages/common/src/generated-types.ts
  packages/common/src/shared-types.ts
  packages/core/e2e/__snapshots__/collection.e2e-spec.ts.snap
  packages/core/e2e/__snapshots__/promotion.e2e-spec.ts.snap
  packages/core/e2e/collection.e2e-spec.ts
  packages/core/e2e/graphql/fragments.ts
  packages/core/e2e/graphql/generated-e2e-admin-types.ts
  packages/core/e2e/graphql/generated-e2e-shop-types.ts
  packages/core/e2e/order.e2e-spec.ts
  packages/core/e2e/promotion.e2e-spec.ts
  packages/core/e2e/shop-order.e2e-spec.ts
  packages/core/e2e/stock-control.e2e-spec.ts
  packages/core/src/api/resolvers/admin/collection.resolver.ts
  packages/core/src/api/resolvers/admin/promotion.resolver.ts
  packages/core/src/api/resolvers/admin/shipping-method.resolver.ts
  packages/core/src/api/schema/common/common-types.graphql
  packages/core/src/common/configurable-operation.ts
  packages/core/src/config/collection/collection-filter.ts
  packages/core/src/config/collection/default-collection-filters.ts
  packages/core/src/config/payment-method/example-payment-method-config.ts
  packages/core/src/config/payment-method/payment-method-handler.ts
  packages/core/src/config/promotion/default-promotion-actions.ts
  packages/core/src/config/promotion/default-promotion-conditions.ts
  packages/core/src/config/promotion/promotion-action.ts
  packages/core/src/config/promotion/promotion-condition.ts
  packages/core/src/config/shipping-method/default-shipping-calculator.ts
  packages/core/src/config/shipping-method/default-shipping-eligibility-checker.ts
  packages/core/src/config/shipping-method/shipping-calculator.ts
  packages/core/src/config/shipping-method/shipping-eligibility-checker.ts
  packages/core/src/service/helpers/order-calculator/order-calculator.spec.ts
  packages/core/src/service/helpers/shipping-configuration/shipping-configuration.ts
  packages/core/src/service/services/collection.service.ts
  packages/core/src/service/services/promotion.service.ts
  packages/core/src/service/services/shipping-method.service.ts
  schema-admin.json
  schema-shop.json
Due: yarn format, yarn lint:packages

chore: Disable tslint for generated introspection results
  admin-ui/src/app/common/introspection-result.ts
  scripts/codegen/generate-graphql-types.ts
Due: yarn lint:admin-ui, yarn format

feat(admin-ui): Support extended ConfigurableOperations
  admin-ui/src/app/catalog/components/collection-detail/collection-detail.component.html
  admin-ui/src/app/catalog/components/collection-detail/collection-detail.component.ts
  admin-ui/src/app/common/generated-types.ts
  admin-ui/src/app/common/utilities/interpolate-description.spec.ts
  admin-ui/src/app/common/utilities/interpolate-description.ts
  admin-ui/src/app/data/definitions/collection-definitions.ts
  admin-ui/src/app/data/definitions/promotion-definitions.ts
  admin-ui/src/app/data/definitions/shared-definitions.ts
  admin-ui/src/app/data/definitions/shipping-definitions.ts
  admin-ui/src/app/data/providers/promotion-data.service.ts
  admin-ui/src/app/marketing/components/promotion-detail/promotion-detail.component.html
  admin-ui/src/app/marketing/components/promotion-detail/promotion-detail.component.ts
  admin-ui/src/app/settings/components/payment-method-detail/payment-method-detail.component.html
  admin-ui/src/app/settings/components/payment-method-detail/payment-method-detail.component.ts
  admin-ui/src/app/settings/components/shipping-method-detail/shipping-method-detail.component.html
  admin-ui/src/app/settings/components/shipping-method-detail/shipping-method-detail.component.ts
  admin-ui/src/app/shared/components/configurable-input/configurable-input.component.html
  admin-ui/src/app/shared/components/configurable-input/configurable-input.component.ts
  packages/core/package.json
Due: yarn lint:admin-ui, yarn format

fix(docs): Correctly parse index types
  scripts/docs/typescript-docs-parser.ts
Due: none

feat(docs): Allow generated TS docs to br grouped into pages
  docs/README.md
  scripts/docs/generate-typescript-docs.ts
  scripts/docs/typescript-docgen-types.ts
  scripts/docs/typescript-docs-parser.ts
  scripts/docs/typescript-docs-renderer.ts
Due: none

feat(docs): Strip JSDoc tags from graphql comments
  scripts/docs/generate-graphql-docs.ts
Due: none

feat(docs): Sort GraphQL fields & types alphabetically
  scripts/docs/generate-graphql-docs.ts
Due: none

feat(docs): Styling of generated docs pages
  docs/assets/scripts/docs-formatting.ts
  docs/assets/scripts/intro/sequencer.ts
  docs/assets/scripts/main.ts
  docs/assets/scripts/search-widget.ts
  docs/assets/scripts/toc-highlighter.ts
  docs/assets/styles/_markdown.scss
  docs/assets/styles/_menu.scss
  docs/assets/styles/_shortcodes.scss
  docs/assets/styles/_toc.scss
  docs/assets/styles/main.scss
  docs/layouts/shortcodes/member-description.html
  docs/layouts/shortcodes/member-info.html
  scripts/docs/generate-typescript-docs.ts
  scripts/docs/typescript-docs-renderer.ts
Due: none

feat(docs): Alphabetize TS API docs, remove @docsWeight tag
  docs/README.md
  scripts/docs/docgen-utils.ts
Due: none

feat(docs): Allow variable statements to be documented
  scripts/docs/typescript-docgen-types.ts
  scripts/docs/typescript-docs-parser.ts
  scripts/docs/typescript-docs-renderer.ts
Due: none

fix(docs): List TS docs alphabetically
  docs/layouts/docs/list.html
  docs/layouts/searchindex/searchindex.html
Due: none

feat(docs): Add docs on payment integrations
  admin-ui/src/app/common/generated-types.ts
  docs/content/docs/developer-guide/payment-integrations.md
  packages/common/src/generated-shop-types.ts
  packages/core/e2e/graphql/generated-e2e-shop-types.ts
  packages/core/src/api/schema/shop-api/shop.api.graphql
  packages/core/src/config/payment-method/payment-method-handler.ts
  packages/email-plugin/src/event-listener.ts
  packages/email-plugin/src/types.ts
  schema-shop.json
Due: yarn lint:admin-ui, yarn format, yarn lint:packages

fix(docs): Fix top bar menu on mobile wrapping
  docs/assets/styles/_top-bar.scss
Due: none

fix: Fix yarn lockfile to remove verdaccio url
  yarn.lock
Due: none

feat(admin-ui): Display ProductVariant custom fields
  admin-ui/src/app/catalog/components/product-detail/product-detail.component.html
  admin-ui/src/app/catalog/components/product-detail/product-detail.component.ts
  admin-ui/src/app/catalog/components/product-variants-list/product-variants-list.component.html
  admin-ui/src/app/catalog/components/product-variants-list/product-variants-list.component.scss
  admin-ui/src/app/catalog/components/product-variants-list/product-variants-list.component.ts
  admin-ui/src/app/data/providers/product-data.service.ts
  admin-ui/src/app/shared/components/custom-field-control/custom-field-control.component.html
  admin-ui/src/app/shared/components/custom-field-control/custom-field-control.component.ts
Due: yarn lint:admin-ui, yarn format

fix(admin-ui): Minor styling fixes
  admin-ui/src/app/catalog/components/asset-preview/asset-preview.component.scss
  admin-ui/src/app/catalog/components/product-detail/product-detail.component.scss
Due: none

chore: Fix line encoding of script
  scripts/check-imports.ts
Due: none

chore: Fix changelog script for commits without scope
  scripts/changelogs/generate-changelog.ts
Due: none

chore: Publish v0.1.2-beta.11
  CHANGELOG.md
  lerna.json
  packages/admin-ui-plugin/package.json
  packages/asset-server-plugin/package.json
  packages/common/package.json
  packages/core/package.json
  packages/create/package.json
  packages/dev-server/package.json
  packages/elasticsearch-plugin/package.json
  packages/email-plugin/package.json
Due: none

Update payment-integrations.md
  docs/content/docs/developer-guide/payment-integrations.md
Due: none

fix(core): Add 'float' type to arg types for shipping operations
  packages/core/src/config/shipping-method/shipping-calculator.ts
  packages/core/src/config/shipping-method/shipping-eligibility-checker.ts
Due: yarn format, yarn lint:packages

refactor(admin-ui): Move gql definition to more relevant file
  admin-ui/src/app/data/definitions/settings-definitions.ts
  admin-ui/src/app/data/definitions/shipping-definitions.ts
  admin-ui/src/app/data/providers/settings-data.service.ts
  admin-ui/src/app/data/providers/shipping-method-data.service.ts
  admin-ui/src/app/settings/components/shipping-method-detail/shipping-method-detail.component.ts
Due: yarn lint:admin-ui, yarn format

chore(core): Remove unused entity
  packages/core/src/entity/index.ts
  packages/core/src/entity/shipping-item/shipping-item.entity.ts
Due: yarn format, yarn lint:packages

feat(core): Implement deleteShippingMethod mutation, add tests
  packages/common/src/generated-types.ts
  packages/core/e2e/graphql/generated-e2e-admin-types.ts
  packages/core/e2e/shipping-method.e2e-spec.ts
  packages/core/src/api/resolvers/admin/shipping-method.resolver.ts
  packages/core/src/api/schema/admin-api/shipping-method.api.graphql
  packages/core/src/config/shipping-method/default-shipping-calculator.ts
  packages/core/src/config/shipping-method/default-shipping-eligibility-checker.ts
  packages/core/src/entity/shipping-method/shipping-method.entity.ts
  packages/core/src/service/services/shipping-method.service.ts
  schema-admin.json
Due: yarn format, yarn lint:packages

feat(admin-ui): Enable deletion of shipping methods
  admin-ui/src/app/common/generated-types.ts
  admin-ui/src/app/data/definitions/shipping-definitions.ts
  admin-ui/src/app/data/providers/shipping-method-data.service.ts
  admin-ui/src/app/settings/components/shipping-method-list/shipping-method-list.component.html
  admin-ui/src/app/settings/components/shipping-method-list/shipping-method-list.component.ts
Due: yarn lint:admin-ui, yarn format

fix(admin-ui): Add missing icon
  admin-ui/src/app/settings/components/country-list/country-list.component.html
Due: yarn format

feat(core): Add testEligibleShippingMethods query
  packages/common/src/generated-types.ts
  packages/core/e2e/graphql/generated-e2e-admin-types.ts
  packages/core/e2e/shipping-method.e2e-spec.ts
  packages/core/src/api/resolvers/admin/shipping-method.resolver.ts
  packages/core/src/api/schema/admin-api/shipping-method.api.graphql
  packages/core/src/service/services/order-testing.service.ts
  schema-admin.json
Due: yarn format, yarn lint:packages

fix(core): Correctly filter out ineligible shipping methods
  packages/core/src/service/helpers/shipping-calculator/shipping-calculator.ts
Due: yarn format, yarn lint:packages

feat(admin-ui): Add shipping method eligibility testing tool
  admin-ui/src/app/common/generated-types.ts
  admin-ui/src/app/data/definitions/shipping-definitions.ts
  admin-ui/src/app/data/providers/shipping-method-data.service.ts
  admin-ui/src/app/settings/components/shipping-eligibility-test-result/shipping-eligibility-test-result.component.html
  admin-ui/src/app/settings/components/shipping-eligibility-test-result/shipping-eligibility-test-result.component.scss
  admin-ui/src/app/settings/components/shipping-eligibility-test-result/shipping-eligibility-test-result.component.ts
  admin-ui/src/app/settings/components/shipping-method-detail/shipping-method-detail.component.html
  admin-ui/src/app/settings/components/shipping-method-list/shipping-method-list.component.html
  admin-ui/src/app/settings/components/shipping-method-list/shipping-method-list.component.scss
  admin-ui/src/app/settings/components/shipping-method-list/shipping-method-list.component.ts
  admin-ui/src/app/settings/components/shipping-method-test-result/shipping-method-test-result.component.html
  admin-ui/src/app/settings/components/shipping-method-test-result/shipping-method-test-result.component.scss
  admin-ui/src/app/settings/settings.module.ts
  admin-ui/src/i18n-messages/en.json
Due: yarn lint:admin-ui, yarn format

feat(core): Allow ShippingCalculator to return arbitrary metadata
  packages/common/src/generated-shop-types.ts
  packages/common/src/generated-types.ts
  packages/core/e2e/graphql/generated-e2e-admin-types.ts
  packages/core/e2e/graphql/generated-e2e-shop-types.ts
  packages/core/e2e/shipping-method.e2e-spec.ts
  packages/core/src/api/schema/admin-api/shipping-method.api.graphql
  packages/core/src/api/schema/type/order.type.graphql
  packages/core/src/config/shipping-method/shipping-calculator.ts
  packages/core/src/config/shipping-method/shipping-eligibility-checker.ts
  packages/core/src/entity/shipping-method/shipping-method.entity.ts
  packages/core/src/service/helpers/order-calculator/order-calculator.ts
  packages/core/src/service/helpers/shipping-calculator/shipping-calculator.ts
  packages/core/src/service/services/order-testing.service.ts
  packages/core/src/service/services/order.service.ts
  schema-admin.json
  schema-shop.json
Due: yarn format, yarn lint:packages

Path conditions:
  yarn lint:admin-ui: any of: admin-ui/**/*.ts
  yarn format: (((any of: admin-ui/**/*.ts) or (any of: admin-ui/**/*.html)) or (any of: packages/**/*.ts)) or (((any of: admin-ui/**/*.ts) or (any of: admin-ui/**/*.html)) or (any of: packages/core/*.ts))
  yarn lint:packages: any of: packages/**/*.ts
  yarn lint:core: any of: packages/core/*.ts
