Repository daya110/vendure: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:admin-ui, yarn format, yarn lint:server

refactor: Create simple TaxCategory entity
  admin-ui/src/app/catalog/components/product-detail/product-detail.component.ts
  admin-ui/src/app/catalog/components/product-variants-list/product-variants-list.component.html
  admin-ui/src/app/catalog/components/product-variants-list/product-variants-list.component.ts
  admin-ui/src/app/data/definitions/product-definitions.ts
  admin-ui/src/app/data/definitions/settings-definitions.ts
  admin-ui/src/app/data/providers/adjustment-source-data.service.ts
  admin-ui/src/app/data/providers/data.service.mock.ts
  admin-ui/src/app/data/providers/product-data.service.ts
  admin-ui/src/app/data/providers/settings-data.service.ts
  admin-ui/src/app/settings/components/tax-category-detail/tax-category-detail.component.ts
  admin-ui/src/app/settings/components/tax-category-list/tax-category-list.component.html
  admin-ui/src/app/settings/components/tax-category-list/tax-category-list.component.ts
  schema.json
  server/e2e/product.e2e-spec.ts
  server/mock-data/mock-data.service.ts
  server/src/api/api.module.ts
  server/src/api/resolvers/tax-category.resolver.ts
  server/src/api/types/tax-category.api.graphql
  server/src/common/types/adjustment-source.ts
  server/src/entity/adjustment-source/adjustment-source.entity.ts
  server/src/entity/entities.ts
  server/src/entity/order-item/order-item.entity.ts
  server/src/entity/order/order.entity.ts
  server/src/entity/product-variant/product-variant-price.entity.ts
  server/src/entity/product-variant/product-variant.entity.ts
  server/src/entity/product-variant/product-variant.graphql
  server/src/entity/product-variant/product-variant.subscriber.ts
  server/src/entity/promotion/promotion.entity.ts
  server/src/entity/tax-category/tax-category.entity.ts
  server/src/entity/tax-category/tax-category.graphql
  server/src/entity/tax-rate/tax-rate.entity.ts
  server/src/service/helpers/apply-adjustments.ts
  server/src/service/helpers/update-translatable.ts
  server/src/service/providers/order.service.ts
  server/src/service/providers/product-variant.service.ts
  server/src/service/providers/product.service.ts
  server/src/service/providers/tax-category.service.ts
  server/src/service/service.module.ts
  shared/generated-types.ts
Due: yarn lint:admin-ui, yarn format, yarn lint:server

feat: Implement TaxRate API & admin ui
  admin-ui/src/app/catalog/components/product-detail/product-detail.component.html
  admin-ui/src/app/catalog/components/product-detail/product-detail.component.ts
  admin-ui/src/app/core/components/main-nav/main-nav.component.html
  admin-ui/src/app/data/definitions/settings-definitions.ts
  admin-ui/src/app/data/providers/data.service.mock.ts
  admin-ui/src/app/data/providers/settings-data.service.ts
  admin-ui/src/app/settings/components/tax-category-detail/tax-category-detail.component.ts
  admin-ui/src/app/settings/components/tax-rate-detail/tax-rate-detail.component.html
  admin-ui/src/app/settings/components/tax-rate-detail/tax-rate-detail.component.scss
  admin-ui/src/app/settings/components/tax-rate-detail/tax-rate-detail.component.ts
  admin-ui/src/app/settings/components/tax-rate-list/tax-rate-list.component.html
  admin-ui/src/app/settings/components/tax-rate-list/tax-rate-list.component.scss
  admin-ui/src/app/settings/components/tax-rate-list/tax-rate-list.component.ts
  admin-ui/src/app/settings/providers/routing/tax-rate-resolver.ts
  admin-ui/src/app/settings/settings.module.ts
  admin-ui/src/app/settings/settings.routes.ts
  admin-ui/src/i18n-messages/en.json
  schema.json
  server/src/api/api.module.ts
  server/src/api/resolvers/tax-rate.resolver.ts
  server/src/api/types/tax-rate.api.graphql
  server/src/entity/order-item/order-item.entity.ts
  server/src/entity/role/role.graphql
  server/src/entity/tax-category/tax-category.graphql
  server/src/entity/tax-rate/tax-rate.entity.ts
  server/src/entity/tax-rate/tax-rate.graphql
  server/src/service/providers/order.service.ts
  server/src/service/providers/tax-rate.service.ts
  server/src/service/service.module.ts
  shared/generated-types.ts
Due: yarn lint:admin-ui, yarn format, yarn lint:server

feat: Implement Channel API & admin-ui list/detail
  admin-ui/src/app/core/components/main-nav/main-nav.component.html
  admin-ui/src/app/data/definitions/settings-definitions.ts
  admin-ui/src/app/data/providers/data.service.mock.ts
  admin-ui/src/app/data/providers/settings-data.service.ts
  admin-ui/src/app/settings/components/channel-detail/channel-detail.component.html
  admin-ui/src/app/settings/components/channel-detail/channel-detail.component.scss
  admin-ui/src/app/settings/components/channel-detail/channel-detail.component.ts
  admin-ui/src/app/settings/components/channel-list/channel-list.component.html
  admin-ui/src/app/settings/components/channel-list/channel-list.component.scss
  admin-ui/src/app/settings/components/channel-list/channel-list.component.ts
  admin-ui/src/app/settings/providers/routing/channel-resolver.ts
  admin-ui/src/app/settings/settings.module.ts
  admin-ui/src/app/settings/settings.routes.ts
  admin-ui/src/i18n-messages/en.json
  schema.json
  server/mock-data/data-sources/countries.json
  server/mock-data/mock-data.service.ts
  server/mock-data/populate.ts
  server/src/api/resolvers/channel.resolver.ts
  server/src/api/types/channel.api.graphql
  server/src/entity/channel/channel.entity.ts
  server/src/entity/channel/channel.graphql
  server/src/service/providers/channel.service.ts
  shared/generated-types.ts
Due: yarn lint:admin-ui, yarn format, yarn lint:server

feat(server): Add tax adjustments to orders
  schema.json
  server/src/common/types/adjustment-source.ts
  server/src/common/types/common-types.graphql
  server/src/entity/order-item/order-item.entity.ts
  server/src/entity/order-line/order-line.entity.ts
  server/src/entity/order-line/order-line.graphql
  server/src/entity/order/order.entity.ts
  server/src/entity/order/order.graphql
  server/src/entity/promotion/promotion.entity.ts
  server/src/entity/tax-rate/tax-rate.entity.ts
  server/src/service/providers/order.service.ts
  server/src/service/providers/tax-rate.service.ts
  shared/generated-types.ts
Due: yarn format, yarn lint:server

refactor(server): Pull out repeated logic into getEntityOrThrow() method
  server/src/service/helpers/get-entity-or-throw.ts
  server/src/service/providers/channel.service.ts
  server/src/service/providers/customer-group.service.ts
  server/src/service/providers/tax-rate.service.ts
  server/src/service/providers/zone.service.ts
Due: yarn format, yarn lint:server

feat(server): Add tax data to ProductVariant results
  admin-ui/src/app/catalog/components/product-detail/product-detail.component.ts
  admin-ui/src/app/data/definitions/product-definitions.ts
  schema.json
  server/src/api/common/request-context.service.ts
  server/src/api/common/request-context.ts
  server/src/entity/product-variant/product-variant.entity.ts
  server/src/entity/product-variant/product-variant.graphql
  server/src/entity/tax-rate/tax-rate.entity.ts
  server/src/service/providers/channel.service.ts
  server/src/service/providers/order.service.ts
  server/src/service/providers/product.service.ts
  server/src/service/providers/tax-rate.service.ts
  shared/generated-types.ts
Due: yarn lint:admin-ui, yarn format, yarn lint:server

feat: Implement pricesIncludeTax option on Channel
  admin-ui/src/app/catalog/catalog.module.ts
  admin-ui/src/app/catalog/components/product-detail/product-detail.component.ts
  admin-ui/src/app/catalog/components/product-variants-list/product-variants-list.component.html
  admin-ui/src/app/catalog/components/product-variants-list/product-variants-list.component.ts
  admin-ui/src/app/catalog/components/variant-price-detail/variant-price-detail.component.html
  admin-ui/src/app/catalog/components/variant-price-detail/variant-price-detail.component.scss
  admin-ui/src/app/catalog/components/variant-price-detail/variant-price-detail.component.ts
  admin-ui/src/app/data/client-state/client-resolvers.ts
  admin-ui/src/app/data/definitions/client-definitions.ts
  admin-ui/src/app/data/definitions/product-definitions.ts
  admin-ui/src/app/data/definitions/settings-definitions.ts
  admin-ui/src/app/data/providers/client-data.service.ts
  admin-ui/src/app/data/providers/data.service.mock.ts
  admin-ui/src/app/data/providers/settings-data.service.ts
  admin-ui/src/app/settings/components/channel-detail/channel-detail.component.html
  admin-ui/src/app/settings/components/channel-detail/channel-detail.component.ts
  admin-ui/src/app/settings/providers/routing/channel-resolver.ts
  admin-ui/src/i18n-messages/en.json
  admin-ui/src/styles/styles.scss
  schema.json
  server/mock-data/mock-data.service.ts
  server/src/api/resolvers/channel.resolver.ts
  server/src/api/types/channel.api.graphql
  server/src/entity/channel/channel.entity.ts
  server/src/entity/channel/channel.graphql
  server/src/entity/product-variant/product-variant.entity.ts
  server/src/entity/product-variant/product-variant.graphql
  server/src/entity/tax-rate/tax-rate.entity.ts
  server/src/service/providers/channel.service.ts
  server/src/service/providers/product-variant.service.ts
  server/src/service/providers/product.service.ts
  server/src/service/providers/tax-rate.service.ts
  shared/generated-types.ts
Due: yarn lint:admin-ui, yarn format, yarn lint:server

feat(server): Correctly calculate taxes for OrderLines
  server/src/entity/order-line/order-line.entity.ts
  server/src/entity/tax-rate/tax-rate.entity.ts
  server/src/service/providers/order.service.ts
  server/src/service/providers/product-variant.service.ts
  server/src/service/providers/tax-calculator.service.ts
  server/src/service/service.module.ts
Due: yarn format, yarn lint:server

test(server): Refactor and write tests for TaxCalculatorService
  server/src/api/common/request-context.ts
  server/src/config/default-config.ts
  server/src/service/providers/order.service.ts
  server/src/service/providers/product-variant.service.ts
  server/src/service/providers/product.service.ts
  server/src/service/providers/tax-calculator.service.spec.ts
  server/src/service/providers/tax-calculator.service.ts
Due: yarn format, yarn lint:server

refactor(server): Pull out order calculation into own service
  server/src/service/providers/order-calculator.service.ts
  server/src/service/providers/order.service.ts
  server/src/service/service.module.ts
Due: yarn format, yarn lint:server

refactor(server): Create ListQueryBuilder helper
  server/src/service/helpers/build-list-query.ts
  server/src/service/helpers/list-query-builder/list-query-builder.ts
  server/src/service/helpers/list-query-builder/parse-channel-param.spec.ts
  server/src/service/helpers/list-query-builder/parse-channel-param.ts
  server/src/service/helpers/list-query-builder/parse-filter-params.spec.ts
  server/src/service/helpers/list-query-builder/parse-filter-params.ts
  server/src/service/helpers/list-query-builder/parse-sort-params.spec.ts
  server/src/service/helpers/list-query-builder/parse-sort-params.ts
  server/src/service/helpers/tax-calculator/tax-calculator.spec.ts
  server/src/service/service.module.ts
  server/src/service/services/administrator.service.ts
  server/src/service/services/asset.service.ts
  server/src/service/services/country.service.ts
  server/src/service/services/customer.service.ts
  server/src/service/services/facet.service.ts
  server/src/service/services/order.service.ts
  server/src/service/services/product.service.ts
  server/src/service/services/promotion.service.ts
  server/src/service/services/role.service.ts
  server/src/service/services/tax-rate.service.ts
Due: yarn format, yarn lint:server

refactor(server): Refactor the way translatable entities are saved
  server/src/common/types/locale-types.ts
  server/src/service/helpers/create-translatable.ts
  server/src/service/helpers/translatable-saver/translatable-saver.ts
  server/src/service/helpers/translatable-saver/translation-differ.spec.ts
  server/src/service/helpers/translatable-saver/translation-differ.ts
  server/src/service/helpers/translation-updater.mock.ts
  server/src/service/helpers/translation-updater.service.ts
  server/src/service/helpers/update-translatable.ts
  server/src/service/helpers/utils/get-entity-or-throw.ts
  server/src/service/helpers/utils/patch-entity.ts
  server/src/service/helpers/utils/translate-entity.spec.ts
  server/src/service/helpers/utils/translate-entity.ts
  server/src/service/service.module.ts
  server/src/service/services/administrator.service.ts
  server/src/service/services/channel.service.ts
  server/src/service/services/country.service.ts
  server/src/service/services/customer-group.service.ts
  server/src/service/services/facet-value.service.ts
  server/src/service/services/facet.service.ts
  server/src/service/services/order.service.ts
  server/src/service/services/product-option-group.service.ts
  server/src/service/services/product-option.service.ts
  server/src/service/services/product-variant.service.ts
  server/src/service/services/product.service.ts
  server/src/service/services/promotion.service.ts
  server/src/service/services/role.service.ts
  server/src/service/services/tax-category.service.ts
  server/src/service/services/tax-rate.service.ts
  server/src/service/services/zone.service.ts
Due: yarn format, yarn lint:server

refactor(server): Reorganize api module files to be more cohesive
  server/src/api/api.module.ts
  server/src/api/config/__snapshots__/graphql-custom-fields.spec.ts.snap
  server/src/api/config/graphql-config.service.ts
  server/src/api/config/graphql-custom-fields.spec.ts
  server/src/api/config/graphql-custom-fields.ts
  server/src/api/decorators/allow.decorator.ts
  server/src/api/decorators/decode.decorator.ts
  server/src/api/decorators/request-context.decorator.ts
  server/src/api/middleware/asset-interceptor.spec.ts
  server/src/api/middleware/asset-interceptor.ts
  server/src/api/middleware/auth-guard.ts
  server/src/api/middleware/id-interceptor.ts
  server/src/api/resolvers/administrator.resolver.ts
  server/src/api/resolvers/asset.resolver.ts
  server/src/api/resolvers/auth.resolver.ts
  server/src/api/resolvers/channel.resolver.ts
  server/src/api/resolvers/country.resolver.ts
  server/src/api/resolvers/customer-group.resolver.ts
  server/src/api/resolvers/customer.resolver.ts
  server/src/api/resolvers/facet.resolver.ts
  server/src/api/resolvers/order.resolver.ts
  server/src/api/resolvers/product-option.resolver.ts
  server/src/api/resolvers/product.resolver.ts
  server/src/api/resolvers/promotion.resolver.ts
  server/src/api/resolvers/role.resolver.ts
  server/src/api/resolvers/tax-category.resolver.ts
  server/src/api/resolvers/tax-rate.resolver.ts
  server/src/api/resolvers/zone.resolver.ts
Due: yarn format, yarn lint:server

test(server): Start test suite for OrderCalculator
  server/src/service/helpers/order-calculator/order-calculator.spec.ts
  server/src/service/helpers/tax-calculator/tax-calculator-test-fixtures.ts
  server/src/service/helpers/tax-calculator/tax-calculator.spec.ts
Due: yarn format, yarn lint:server

refactor(server): Remove configurable rounding strategy
  server/src/config/config.service.ts
  server/src/config/default-config.ts
  server/src/config/rounding-strategy/half-even-rounding-strategy.ts
  server/src/config/rounding-strategy/half-up-rounding-strategy.ts
  server/src/config/rounding-strategy/rounding-strategy.ts
  server/src/config/vendure-config.ts
  server/src/entity/promotion/promotion.entity.ts
  server/src/entity/tax-rate/tax-rate.entity.ts
Due: yarn format, yarn lint:server

refactor(server): Move price calculation logic to the OrderItem level
  server/src/entity/order-item/order-item.entity.ts
  server/src/entity/order-item/order-item.graphql
  server/src/entity/order-line/order-line.entity.ts
  server/src/entity/order-line/order-line.graphql
  server/src/entity/subscribers.ts
  server/src/service/helpers/order-calculator/order-calculator.spec.ts
  server/src/service/helpers/order-calculator/order-calculator.ts
  server/src/service/services/order.service.ts
Due: yarn format, yarn lint:server

feat(server): Implement a priority system for Promotions
  server/src/config/promotion/default-promotion-actions.ts
  server/src/config/promotion/default-promotion-conditions.ts
  server/src/config/promotion/promotion-action.ts
  server/src/config/promotion/promotion-condition.ts
  server/src/entity/promotion/promotion.entity.ts
  server/src/service/helpers/order-calculator/order-calculator.ts
  server/src/service/services/promotion.service.ts
Due: yarn format, yarn lint:server

feat(server): Implement order-level promotion actions
  server/e2e/promotion.e2e-spec.ts
  server/src/common/types/adjustment-source.ts
  server/src/config/promotion/default-promotion-actions.ts
  server/src/config/promotion/default-promotion-conditions.ts
  server/src/config/promotion/promotion-action.ts
  server/src/entity/order-item/order-item.entity.ts
  server/src/entity/order/order.entity.ts
  server/src/entity/order/order.graphql
  server/src/entity/promotion/promotion.entity.ts
  server/src/service/helpers/order-calculator/order-calculator.spec.ts
  server/src/service/helpers/order-calculator/order-calculator.ts
  server/src/service/services/order.service.ts
Due: yarn format, yarn lint:server

chore: Upgrade to Angular 7 & TypeScript 3.1
  admin-ui/package.json
  admin-ui/src/app/catalog/components/asset-file-input/asset-file-input.component.ts
  admin-ui/src/app/core/providers/auth/auth.service.ts
  admin-ui/yarn.lock
  package.json
  schema.json
  server/package.json
  server/yarn.lock
  shared/generated-types.ts
  yarn.lock
Due: yarn lint:admin-ui, yarn format

feat(admin-ui): Create order detail component & routing
  admin-ui/src/app/core/components/breadcrumb/breadcrumb.component.ts
  admin-ui/src/app/data/definitions/order-definitions.ts
  admin-ui/src/app/data/providers/data.service.mock.ts
  admin-ui/src/app/data/providers/order-data.service.ts
  admin-ui/src/app/order/components/order-detail/order-detail.component.html
  admin-ui/src/app/order/components/order-detail/order-detail.component.scss
  admin-ui/src/app/order/components/order-detail/order-detail.component.ts
  admin-ui/src/app/order/components/order-list/order-list.component.html
  admin-ui/src/app/order/components/order-list/order-list.component.scss
  admin-ui/src/app/order/order.module.ts
  admin-ui/src/app/order/order.routes.ts
  admin-ui/src/app/order/providers/routing/order-resolver.ts
  admin-ui/src/i18n-messages/en.json
  server/src/entity/order-line/order-line.entity.ts
  shared/generated-types.ts
Due: yarn lint:admin-ui, yarn format, yarn lint:server

fix(admin-ui): Update PermissionGridComponent to show all existing perms
  admin-ui/src/app/core/components/main-nav/main-nav.component.html
  admin-ui/src/app/settings/components/permission-grid/permission-grid.component.html
  admin-ui/src/app/settings/components/permission-grid/permission-grid.component.ts
  admin-ui/src/i18n-messages/en.json
  schema.json
  server/e2e/__snapshots__/administrator.e2e-spec.ts.snap
  server/src/common/types/permission.graphql
  shared/generated-types.ts
Due: yarn lint:admin-ui, yarn format

docs: Update class diagram to reflect new order structure
  docs/diagrams/full-class-diagram.puml
Due: none

test(server): Increase timeout on e2e setup function
  server/e2e/administrator.e2e-spec.ts
  server/e2e/auth.e2e-spec.ts
  server/e2e/config/test-config.ts
  server/e2e/order.e2e-spec.ts
  server/e2e/product.e2e-spec.ts
  server/e2e/promotion.e2e-spec.ts
  server/e2e/role.e2e-spec.ts
  server/mock-data/clear-all-tables.ts
Due: yarn format, yarn lint:server

feat(server): Implement state machine for Order process
  schema.json
  server/dev-config.ts
  server/src/api/resolvers/order.resolver.ts
  server/src/api/types/order.api.graphql
  server/src/common/finite-state-machine.spec.ts
  server/src/common/finite-state-machine.ts
  server/src/config/config.service.mock.ts
  server/src/config/config.service.ts
  server/src/config/default-config.ts
  server/src/config/vendure-config.ts
  server/src/entity/order/order.entity.ts
  server/src/entity/order/order.graphql
  server/src/service/helpers/order-state-machine/order-state-machine.ts
  server/src/service/helpers/order-state-machine/order-state.ts
  server/src/service/service.module.ts
  server/src/service/services/order.service.ts
  shared/generated-types.ts
Due: yarn format, yarn lint:server

test(server): Add e2e tests for Order state transitions
  README.md
  server/e2e/order.e2e-spec.ts
  server/src/i18n/messages/en.json
  server/src/service/helpers/order-state-machine/order-state-machine.ts
Due: yarn format, yarn lint:server

feat(admin-ui): Create OrderDetailComponent
  admin-ui/src/app/data/definitions/order-definitions.ts
  admin-ui/src/app/order/components/order-detail/order-detail.component.html
  admin-ui/src/app/order/components/order-list/order-list.component.html
  admin-ui/src/i18n-messages/en.json
  shared/generated-types.ts
Due: yarn lint:admin-ui, yarn format

test(server): Disable logging for e2e tests
  server/e2e/test-server.ts
Due: yarn format, yarn lint:server

feat(admin-ui): Create CustomerModule with basic list/detail views
  admin-ui/src/app/app.routes.ts
  admin-ui/src/app/core/components/main-nav/main-nav.component.html
  admin-ui/src/app/customer/components/customer-detail/customer-detail.component.html
  admin-ui/src/app/customer/components/customer-detail/customer-detail.component.scss
  admin-ui/src/app/customer/components/customer-detail/customer-detail.component.ts
  admin-ui/src/app/customer/components/customer-list/customer-list.component.html
  admin-ui/src/app/customer/components/customer-list/customer-list.component.scss
  admin-ui/src/app/customer/components/customer-list/customer-list.component.ts
  admin-ui/src/app/customer/customer.module.ts
  admin-ui/src/app/customer/customer.routes.ts
  admin-ui/src/app/customer/providers/routing/customer-resolver.ts
  admin-ui/src/app/data/definitions/customer-definitions.ts
  admin-ui/src/app/data/providers/customer-data.service.ts
  admin-ui/src/app/data/providers/data.service.mock.ts
  admin-ui/src/app/data/providers/data.service.ts
  admin-ui/src/i18n-messages/en.json
  shared/generated-types.ts
Due: yarn lint:admin-ui, yarn format

docs: Create activity diagram for orders/accounts, update theme
  docs/diagrams/customer-account-order-activity-diagram.puml
  docs/diagrams/customer-session-activity-diagram.puml
  docs/diagrams/theme.puml
Due: none

feat: Create & Update for Customers
  admin-ui/src/app/common/base-detail.component.ts
  admin-ui/src/app/customer/components/customer-detail/customer-detail.component.html
  admin-ui/src/app/customer/components/customer-detail/customer-detail.component.ts
  admin-ui/src/app/customer/components/customer-list/customer-list.component.html
  admin-ui/src/app/customer/providers/routing/customer-resolver.ts
  admin-ui/src/app/data/definitions/customer-definitions.ts
  admin-ui/src/app/data/providers/customer-data.service.ts
  admin-ui/src/app/data/providers/data.service.mock.ts
  admin-ui/src/i18n-messages/en.json
  schema.json
  server/e2e/order.e2e-spec.ts
  server/src/api/resolvers/customer.resolver.ts
  server/src/api/types/customer.api.graphql
  server/src/entity/address/address.graphql
  server/src/entity/customer/customer.entity.ts
  server/src/entity/customer/customer.graphql
  server/src/service/services/customer.service.ts
  shared/generated-types.ts
Due: yarn lint:admin-ui, yarn format, yarn lint:server

feat(server): Add activeCustomer query
  schema.json
  server/src/api/resolvers/customer.resolver.ts
  server/src/api/types/customer.api.graphql
  server/src/service/services/customer.service.ts
  shared/generated-types.ts
Due: yarn format, yarn lint:server

fix(server): Correct handling of active order when logging in and out
  server/e2e/order.e2e-spec.ts
  server/src/api/common/request-context.ts
  server/src/api/resolvers/auth.resolver.ts
  server/src/api/resolvers/order.resolver.ts
  server/src/entity/order/order.entity.ts
  server/src/service/services/auth.service.ts
  server/src/service/services/order.service.ts
Due: yarn format, yarn lint:server

feat(server): Implement Order merging strategies on Customer login
  server/src/api/resolvers/auth.resolver.ts
  server/src/config/config.service.mock.ts
  server/src/config/config.service.ts
  server/src/config/default-config.ts
  server/src/config/order-merge-strategy/merge-orders-strategy.spec.ts
  server/src/config/order-merge-strategy/merge-orders-strategy.ts
  server/src/config/order-merge-strategy/order-merge-strategy.ts
  server/src/config/order-merge-strategy/use-existing-strategy.spec.ts
  server/src/config/order-merge-strategy/use-existing-strategy.ts
  server/src/config/order-merge-strategy/use-guest-if-existing-empty-strategy.spec.ts
  server/src/config/order-merge-strategy/use-guest-if-existing-empty-strategy.ts
  server/src/config/order-merge-strategy/use-guest-strategy.spec.ts
  server/src/config/order-merge-strategy/use-guest-strategy.ts
  server/src/config/vendure-config.ts
  server/src/entity/order-line/order-line.entity.ts
  server/src/service/helpers/order-merger/order-merger.spec.ts
  server/src/service/helpers/order-merger/order-merger.ts
  server/src/service/service.module.ts
  server/src/service/services/auth.service.ts
  server/src/service/services/order.service.ts
  server/src/testing/order-test-utils.ts
Due: yarn format, yarn lint:server

refactor(server): Group assets & promotions config options
  server/e2e/config/test-config.ts
  server/e2e/promotion.e2e-spec.ts
  server/src/api/config/graphql-config.service.ts
  server/src/api/middleware/asset-interceptor.spec.ts
  server/src/api/middleware/asset-interceptor.ts
  server/src/config/config.service.mock.ts
  server/src/config/config.service.ts
  server/src/config/default-config.ts
  server/src/config/vendure-config.ts
  server/src/entity/promotion/promotion.entity.ts
  server/src/plugin/default-asset-server/default-asset-server-plugin.ts
  server/src/service/services/asset.service.ts
  server/src/service/services/promotion.service.ts
Due: yarn format, yarn lint:server

refactor(server): Extract shared code from promotions actions
  server/src/common/types/common-types.graphql
  server/src/config/common/adjustments.ts
  server/src/config/promotion/promotion-action.ts
  server/src/config/promotion/promotion-condition.ts
  server/src/entity/promotion/promotion.graphql
Due: yarn format, yarn lint:server

feat(server): Implement CRU on ShippingMethod entity
  schema.json
  server/src/api/api.module.ts
  server/src/api/resolvers/promotion.resolver.ts
  server/src/api/resolvers/shipping-method.resolver.ts
  server/src/api/types/role.api.graphql
  server/src/api/types/shipping-method.api.graphql
  server/src/config/config.service.mock.ts
  server/src/config/config.service.ts
  server/src/config/default-config.ts
  server/src/config/shipping-method/default-shipping-calculator.ts
  server/src/config/shipping-method/default-shipping-eligibility-checker.ts
  server/src/config/shipping-method/shipping-calculator.ts
  server/src/config/shipping-method/shipping-eligibility-checker.ts
  server/src/config/vendure-config.ts
  server/src/entity/entities.ts
  server/src/entity/shipping-method/shipping-method.entity.ts
  server/src/entity/shipping-method/shipping-method.graphql
  server/src/service/service.module.ts
  server/src/service/services/shipping-method.service.ts
  shared/generated-types.ts
Due: yarn format, yarn lint:server

refactor(admin-ui): Move some translation keys into common namespace
  admin-ui/src/app/catalog/components/facet-detail/facet-detail.component.html
  admin-ui/src/app/catalog/components/facet-list/facet-list.component.html
  admin-ui/src/app/catalog/components/product-detail/product-detail.component.html
  admin-ui/src/app/catalog/components/product-list/product-list.component.html
  admin-ui/src/app/catalog/components/product-variants-list/product-variants-list.component.html
  admin-ui/src/i18n-messages/en.json
Due: none

Path conditions:
  yarn lint:admin-ui: any of: admin-ui/**/*.ts
  yarn format: (any of: admin-ui/**/*.ts) or (any of: server/**/*.ts)
  yarn lint:server: any of: server/**/*.ts
