Repository daya110/vendure: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:admin-ui, yarn format, yarn lint:server

chore: Update graphql-code-generator
  admin-ui/src/app/catalog/providers/routing/product-category-resolver.ts
  admin-ui/src/app/customer/providers/routing/customer-resolver.ts
  admin-ui/src/app/settings/providers/routing/tax-rate-resolver.ts
  codegen/generate-graphql-types.ts
  package.json
  shared/generated-types.ts
  yarn.lock
Due: yarn lint:admin-ui, yarn format

chore(admin-ui): Set the baseHref to /admin/
  admin-ui/angular.json
  admin-ui/src/app/app.module.ts
  admin-ui/src/app/core/components/app-shell/app-shell.component.html
  admin-ui/src/app/login/components/login/login.component.html
Due: yarn lint:admin-ui, yarn format

feat(server): Use default Channel if none specified
  server/src/api/common/request-context.service.ts
  server/src/service/services/channel.service.ts
Due: yarn format, yarn lint:server

feat(server): Create AdminUiPlugin
  server/build/gulpfile.ts
  server/dev-config.ts
  server/package.json
  server/src/plugin/admin-ui-plugin/admin-ui-plugin.ts
  server/src/plugin/default-asset-server-plugin/default-asset-server-plugin.ts
  server/src/plugin/plugin-utils.ts
  server/yarn.lock
Due: yarn format, yarn lint:server

fix(server): Fix error on creating ProductVariant and no TaxRate exists
  server/src/service/services/product-variant.service.ts
Due: yarn format, yarn lint:server

feat(server): Export AdminUiPlugin, include in default init config
  server/build/gulpfile.ts
  server/cli/assets/sample-products.csv
  server/cli/assets/vendure-config.hbs
  server/cli/init.ts
  server/src/plugin/default-search-plugin/fulltext-search.service.ts
  server/src/plugin/index.ts
Due: yarn format, yarn lint:server

docs(server): Add docs for AuthOptions
  docs/assets/styles/_markdown.scss
  docs/content/docs/configuration/_index.md
  docs/content/docs/configuration/config-auth-options.md
  docs/content/docs/getting-started.md
Due: none

docs(server): Work on presentation of config options
  docs/assets/styles/_markdown.scss
  docs/assets/styles/_shortcodes.scss
  docs/content/docs/configuration/config-auth-options.md
  docs/content/docs/getting-started.md
  docs/layouts/shortcodes/config-option.html
Due: none

docs(server): Create POC script to generate docs from source
  codegen/generate-docs.ts
  package.json
Due: none

docs(server): Implement linking between types in docs pages
  codegen/generate-docs.ts
  docs/assets/styles/_shortcodes.scss
  docs/assets/styles/main.scss
  docs/layouts/shortcodes/member-info.html
Due: none

docs(server): Correctly handle interface methods
  codegen/generate-docs.ts
Due: none

docs(server): Add some docs about the docs
  codegen/generate-docs.ts
  docs/README.md
Due: none

chore(docs): Set up webpack-based build for assets
  .gitignore
  docs/README.md
  docs/assets/scripts/icons.ts
  docs/assets/scripts/main.ts
  docs/assets/scripts/toc-highlighter.ts
  docs/assets/scripts/typings.d.ts
  docs/assets/styles/_menu.scss
  docs/assets/styles/main.scss
  docs/content/docs/api/auth/auth-options.md
  docs/layouts/index.en.html
  docs/layouts/partials/docs/html-head.html
  docs/layouts/partials/docs/menu-filetree.html
  docs/package.json
  docs/static/clr-icons-lite.min.js
  docs/static/clr-icons.min.css
  docs/static/clr-icons.min.js
  docs/static/custom-elements.min.js
  docs/tsconfig.json
  docs/webpack.config.ts
  docs/yarn.lock
  package.json
  server/src/config/vendure-config.ts
  yarn.lock
Due: yarn format, yarn lint:server

chore(docs): Use svg icons instead of Clarity custom elements
  docs/README.md
  docs/assets/scripts/icons.ts
  docs/assets/styles/_landing-page.scss
  docs/layouts/index.en.html
  docs/static/svg/clr-icon-data-cluster-brand.svg
  docs/static/svg/clr-icon-library-brand.svg
  docs/static/svg/clr-icon-terminal-brand.svg
Due: none

feat(docs): Add visual indication of sub-sections in menu
  docs/assets/styles/_menu.scss
  docs/layouts/partials/docs/menu-filetree.html
  docs/static/svg/clr-icon-angle.svg
Due: none

chore(server): Tidy up dev config
  server/dev-config.ts
Due: yarn format, yarn lint:server

feat(docs): Add link to source & date for generated docs
  codegen/generate-docs.ts
  docs/assets/styles/_shortcodes.scss
  docs/content/docs/api/assets/_index.md
  docs/content/docs/api/assets/asset-naming-strategy.md
  docs/content/docs/api/assets/asset-options.md
  docs/content/docs/api/assets/asset-preview-strategy.md
  docs/content/docs/api/assets/asset-storage-strategy.md
  docs/content/docs/api/auth/_index.md
  docs/content/docs/api/auth/auth-options.md
  docs/content/docs/api/email/_index.md
  docs/content/docs/api/email/email-options.md
  docs/content/docs/api/email/file-transport-options.md
  docs/content/docs/api/email/noop-transport-options.md
  docs/content/docs/api/email/s-m-t-p-transport-options.md
  docs/content/docs/api/email/sendmail-transport-options.md
  docs/content/docs/api/email/testing-transport-options.md
  docs/content/docs/api/entity-id-strategy.md
  docs/content/docs/api/import-export-options.md
  docs/content/docs/api/orders/_index.md
  docs/content/docs/api/orders/order-merge-options.md
  docs/content/docs/api/orders/order-merge-strategy.md
  docs/content/docs/api/orders/order-process-options.md
  docs/content/docs/api/orders/shipping-options.md
  docs/content/docs/api/payment/_index.md
  docs/content/docs/api/payment/payment-options.md
  docs/content/docs/api/plugins/_index.md
  docs/content/docs/api/promotions/_index.md
  docs/content/docs/api/promotions/promotion-options.md
  docs/content/docs/api/tax/_index.md
  docs/content/docs/api/tax/tax-calculation-strategy.md
  docs/content/docs/api/tax/tax-options.md
  docs/content/docs/api/tax/tax-zone-strategy.md
  docs/content/docs/api/vendure-config.md
  docs/content/docs/api/vendure-plugin.md
  docs/layouts/shortcodes/generation-info.html
  docs/layouts/shortcodes/member-info.html
  server/src/config/vendure-plugin/vendure-plugin.ts
Due: yarn format, yarn lint:server

chore(docs): Remove generated markdown from source control
  .gitignore
  docs/content/docs/api/_index.md
  docs/content/docs/api/assets/_index.md
  docs/content/docs/api/assets/asset-naming-strategy.md
  docs/content/docs/api/assets/asset-options.md
  docs/content/docs/api/assets/asset-preview-strategy.md
  docs/content/docs/api/assets/asset-storage-strategy.md
  docs/content/docs/api/auth/_index.md
  docs/content/docs/api/auth/auth-options.md
  docs/content/docs/api/email/_index.md
  docs/content/docs/api/email/email-options.md
  docs/content/docs/api/email/file-transport-options.md
  docs/content/docs/api/email/noop-transport-options.md
  docs/content/docs/api/email/s-m-t-p-transport-options.md
  docs/content/docs/api/email/sendmail-transport-options.md
  docs/content/docs/api/email/testing-transport-options.md
  docs/content/docs/api/entity-id-strategy.md
  docs/content/docs/api/import-export-options.md
  docs/content/docs/api/orders/_index.md
  docs/content/docs/api/orders/order-merge-options.md
  docs/content/docs/api/orders/order-merge-strategy.md
  docs/content/docs/api/orders/order-process-options.md
  docs/content/docs/api/orders/shipping-options.md
  docs/content/docs/api/payment/_index.md
  docs/content/docs/api/payment/payment-options.md
  docs/content/docs/api/promotions/_index.md
  docs/content/docs/api/promotions/promotion-options.md
  docs/content/docs/api/tax/_index.md
  docs/content/docs/api/tax/tax-calculation-strategy.md
  docs/content/docs/api/tax/tax-options.md
  docs/content/docs/api/tax/tax-zone-strategy.md
  docs/content/docs/api/vendure-config.md
  docs/content/docs/api/vendure-plugin.md
Due: none

feat(docs): Improve generated index pages
  codegen/generate-docs.ts
  docs/assets/styles/_markdown.scss
  docs/assets/styles/main.scss
  docs/content/docs/_index.md
  docs/layouts/docs/list.html
  docs/layouts/partials/docs/toc.html
Due: none

feat(docs): Add ability to generate docs for type aliases
  codegen/generate-docs.ts
Due: none

feat(docs): Link to line of declaration on GitHub
  codegen/generate-docs.ts
  docs/layouts/shortcodes/generation-info.html
Due: none

feat(docs): Correctly render type parameters and member signatures
  codegen/generate-docs.ts
Due: none

feat(docs): Styling & layout tweaks
  .gitignore
  codegen/generate-docs.ts
  docs/README.md
  docs/assets/styles/_markdown.scss
  docs/assets/styles/_shortcodes.scss
  docs/assets/styles/_syntax.scss
  docs/assets/styles/_variables.scss
  docs/assets/styles/main.scss
  docs/config.toml
  docs/content/docs/api/_index.md
  docs/content/docs/configuration/_index.md
  docs/layouts/docs/baseof.html
  docs/layouts/docs/list.html
  docs/layouts/partials/docs/menu-filetree.html
  docs/layouts/shortcodes/generation-info.html
  docs/layouts/shortcodes/member-info.html
Due: none

feat(docs): Add search to docs
  docs/assets/scripts/main.ts
  docs/assets/scripts/search-widget.ts
  docs/assets/styles/_search-widget.scss
  docs/assets/styles/_top-bar.scss
  docs/assets/styles/_variables.scss
  docs/assets/styles/main.scss
  docs/content/searchindex/_index.md
  docs/layouts/partials/top-bar.html
  docs/layouts/searchindex/searchindex.html
  docs/package.json
  docs/static/svg/clr-icon-search-light.svg
  docs/tsconfig.json
  docs/webpack.config.ts
  docs/yarn.lock
Due: none

feat(docs): Add auto-generated GraphQL API docs
  .gitignore
  codegen/docgen-utils.ts
  codegen/generate-api-docs.ts
  codegen/generate-config-docs.ts
  docs/README.md
  docs/assets/styles/_mixins.scss
  docs/assets/styles/_shortcodes.scss
  docs/assets/styles/_syntax.scss
  docs/assets/styles/main.scss
  docs/content/docs/graphql-api/_index.md
  docs/layouts/shortcodes/gql-enum-values.html
  docs/layouts/shortcodes/gql-fields.html
  package.json
  schema.json
  shared/generated-types.ts
Due: none

feat(docs): Group search results by section
  .gitignore
  docs/assets/scripts/search-widget.ts
  docs/assets/styles/_search-widget.scss
  docs/layouts/searchindex/searchindex.html
  docs/webpack.config.ts
Due: none

feat(docs): Scroll TOC item into view
  docs/assets/scripts/main.ts
  docs/assets/scripts/toc-highlighter.ts
  docs/assets/styles/main.scss
  package.json
Due: none

feat(docs): Create tabs shortcode
  docs/assets/scripts/main.ts
  docs/assets/scripts/tabs.ts
  docs/assets/styles/_shortcodes.scss
  docs/layouts/shortcodes/tab.html
Due: none

fix(docs): Correctly generate signature for type aliases with members
  codegen/generate-config-docs.ts
Due: none

feat(server): Export shared types & api types
  server/src/api/index.ts
  server/src/index.ts
  server/src/service/index.ts
Due: yarn format, yarn lint:server

fix(docs): Fix search - listing headless Pages & bad anchor links
  docs/assets/scripts/search-widget.ts
  docs/layouts/searchindex/searchindex.html
Due: none

docs(server): Add some documentation
  server/src/config/email/email-options.ts
  server/src/config/email/email-transport-options.ts
  server/src/event-bus/event-bus.ts
  server/src/event-bus/events/account-registration-event.ts
  server/src/event-bus/events/catalog-modification-event.ts
  server/src/event-bus/events/order-state-transition-event.ts
  server/src/event-bus/vendure-event.ts
  server/src/plugin/default-asset-server-plugin/default-asset-server-plugin.ts
  server/src/plugin/default-email-plugin/default-email-plugin.ts
Due: yarn format, yarn lint:server

feat(docs): Add docs for Plugins
  docs/assets/styles/_markdown.scss
  docs/assets/styles/_shortcodes.scss
  docs/assets/styles/main.scss
  docs/content/docs/_index.md
  docs/content/docs/configuration/_index.md
  docs/content/docs/getting-started.md
  docs/content/docs/graphql-api/_index.md
  docs/content/docs/plugins.md
  docs/content/docs/plugins/_index.md
  docs/content/docs/plugins/admin-ui-plugin.md
  docs/content/docs/plugins/default-asset-server-plugin.md
  docs/content/docs/plugins/default-email-plugin.md
  docs/content/docs/plugins/default-search-plugin.md
  docs/content/docs/plugins/writing-a-vendure-plugin.md
Due: none

feat(docs): Add intro animation to landing page
  .gitignore
  docs/assets/scripts/intro/intro.ts
  docs/assets/scripts/intro/sequencer.ts
  docs/assets/scripts/intro/terminal-typer.ts
  docs/assets/scripts/main.ts
  docs/assets/styles/_landing-page.scss
  docs/assets/styles/_top-bar.scss
  docs/assets/styles/intro/_admin-ui.scss
  docs/assets/styles/intro/_cube.scss
  docs/assets/styles/intro/_data-flow.scss
  docs/assets/styles/intro/_storefront.scss
  docs/assets/styles/intro/_terminal.scss
  docs/assets/styles/intro/_variables.scss
  docs/assets/styles/intro/intro.scss
  docs/content/docs/_index.md
  docs/layouts/index.en.html
  docs/layouts/partials/intro.html
  docs/static/svg/clr-icon-replay-all.svg
  docs/webpack.config.ts
Due: none

feat(docs): Work on landing page
  docs/assets/scripts/intro/intro.ts
  docs/assets/scripts/main.ts
  docs/assets/styles/_landing-page.scss
  docs/assets/styles/_top-bar.scss
  docs/assets/styles/_utils.scss
  docs/assets/styles/_variables.scss
  docs/assets/styles/intro/_cube.scss
  docs/assets/styles/intro/intro.scss
  docs/content/docs/_index.md
  docs/layouts/index.en.html
  docs/layouts/partials/intro.html
  docs/layouts/partials/top-bar.html
  docs/static/features-code.png
  docs/static/features-dev.png
  docs/static/features-oss.png
  docs/static/logo/graphql-logo.png
  docs/static/logo/nest-logo.svg
  docs/static/logo/nodejs-logo.png
  docs/static/logo/ts-logo.svg
  docs/static/svg/clr-icon-bolt-light.svg
Due: none

chore(server): Update configs & CLI for actual package name
  package.json
  server/cli/assets/index.hbs
  server/cli/assets/vendure-config.hbs
  server/cli/populate.ts
  server/package.json
Due: yarn format, yarn lint:server

feat(docs): Set up blog section
  docs/assets/styles/_blog.scss
  docs/assets/styles/_landing-page.scss
  docs/assets/styles/_markdown.scss
  docs/assets/styles/_mixins.scss
  docs/assets/styles/_top-bar.scss
  docs/assets/styles/_utils.scss
  docs/assets/styles/_variables.scss
  docs/assets/styles/intro/intro.scss
  docs/assets/styles/main.scss
  docs/config.toml
  docs/content/blog/_index.md
  docs/content/blog/introducing-vendure.md
  docs/layouts/404.html
  docs/layouts/blog/baseof.html
  docs/layouts/blog/list.html
  docs/layouts/blog/single.html
  docs/layouts/docs/baseof.html
  docs/layouts/index.en.html
  docs/layouts/partials/docs/html-head.html
  docs/layouts/partials/docs/inject/body.html
  docs/layouts/partials/docs/inject/head.html
  docs/layouts/partials/docs/inject/menu-after.html
  docs/layouts/partials/docs/inject/menu-before.html
  docs/layouts/partials/footer.html
  docs/layouts/partials/top-bar.html
  docs/layouts/posts/baseof.html
  docs/layouts/posts/list.html
  docs/layouts/posts/single.html
Due: none

feat(docs): Numerous style tweaks to blog & landing page
  docs/assets/styles/_blog.scss
  docs/assets/styles/_landing-page.scss
  docs/assets/styles/_markdown.scss
  docs/content/docs/getting-started.md
  docs/layouts/blog/baseof.html
  docs/layouts/blog/single.html
  docs/layouts/index.en.html
  docs/layouts/partials/intro.html
  docs/layouts/partials/top-bar.html
  docs/static/svg/clr-icon-book-light.svg
  docs/static/svg/clr-icon-check-brand.svg
Due: none

Path conditions:
  yarn lint:admin-ui: any of: admin-ui/**/*.ts
  yarn format: (any of: admin-ui/**/*.ts) or (any of: server/**/*.ts)
  yarn lint:server: any of: server/**/*.ts
