Repository daya110/vendure: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:admin-ui, yarn format, yarn lint:core

feat(admin-ui): Add input for configurable string operators
  admin-ui/src/app/catalog/components/collection-detail/collection-detail.component.html
  admin-ui/src/app/shared/components/configurable-input/configurable-input.component.html
Due: yarn format

feat(core): Add isPrivate flag to Collection
  packages/common/src/generated-shop-types.ts
  packages/common/src/generated-types.ts
  packages/core/e2e/__snapshots__/collection.e2e-spec.ts.snap
  packages/core/e2e/default-search-plugin.e2e-spec.ts
  packages/core/e2e/shop-catalog.e2e-spec.ts
  packages/core/src/api/common/id-codec.ts
  packages/core/src/api/resolvers/entity/product-entity.resolver.ts
  packages/core/src/api/resolvers/shop/shop-products.resolver.ts
  packages/core/src/api/schema/admin-api/collection.api.graphql
  packages/core/src/entity/collection/collection.entity.ts
  packages/core/src/service/helpers/list-query-builder/list-query-builder.ts
  packages/core/src/service/services/collection.service.ts
  schema-admin.json
  schema.json
Due: none

feat(admin-ui): Add UI controls for making Collections private
  admin-ui/src/app/catalog/components/collection-detail/collection-detail.component.html
  admin-ui/src/app/catalog/components/collection-detail/collection-detail.component.scss
  admin-ui/src/app/catalog/components/collection-detail/collection-detail.component.ts
  admin-ui/src/app/catalog/components/collection-tree/collection-tree-node.component.html
  admin-ui/src/app/catalog/providers/routing/collection-resolver.ts
  admin-ui/src/app/data/definitions/collection-definitions.ts
  admin-ui/src/app/data/providers/collection-data.service.ts
  admin-ui/src/i18n-messages/en.json
Due: yarn lint:admin-ui, yarn format

test(email-plugin): Increase interval to prevent flakiness
  packages/email-plugin/src/plugin.spec.ts
Due: none

chore(core): Clean up redundant comment
  packages/core/src/api/resolvers/entity/product-entity.resolver.ts
Due: none

feat(core): Implement private Facets
  packages/common/src/generated-shop-types.ts
  packages/common/src/generated-types.ts
  packages/core/e2e/__snapshots__/facet.e2e-spec.ts.snap
  packages/core/e2e/default-search-plugin.e2e-spec.ts
  packages/core/e2e/facet.e2e-spec.ts
  packages/core/e2e/shop-catalog.e2e-spec.ts
  packages/core/src/api/resolvers/entity/product-variant-entity.resolver.ts
  packages/core/src/api/resolvers/shop/shop-products.resolver.ts
  packages/core/src/api/schema/admin-api/collection.api.graphql
  packages/core/src/api/schema/admin-api/facet.api.graphql
  packages/core/src/entity/facet/facet.entity.ts
  packages/core/src/plugin/default-search-plugin/fulltext-search.resolver.ts
  schema-admin.json
  schema.json
Due: none

feat(admin-ui): Add UI controls for private Facets
  admin-ui/src/app/catalog/components/facet-detail/facet-detail.component.html
  admin-ui/src/app/catalog/components/facet-detail/facet-detail.component.scss
  admin-ui/src/app/catalog/components/facet-detail/facet-detail.component.ts
  admin-ui/src/app/catalog/components/facet-list/facet-list.component.html
  admin-ui/src/app/catalog/providers/routing/facet-resolver.ts
  admin-ui/src/app/common/utilities/flatten-facet-values.spec.ts
  admin-ui/src/app/data/definitions/facet-definitions.ts
  admin-ui/src/app/data/providers/facet-data.service.ts
Due: yarn lint:admin-ui, yarn format

feat(admin-ui): Add ApiType to RequestContext
  packages/core/src/api/common/get-api-type.ts
  packages/core/src/api/common/request-context.service.ts
  packages/core/src/api/common/request-context.ts
  packages/core/src/api/decorators/api.decorator.ts
  packages/core/src/api/middleware/auth-guard.ts
  packages/core/src/api/resolvers/entity/collection-entity.resolver.ts
  packages/core/src/api/resolvers/entity/product-entity.resolver.ts
  packages/core/src/api/resolvers/entity/product-variant-entity.resolver.ts
  packages/core/src/data-import/providers/importer/importer.ts
  packages/core/src/data-import/providers/populator/populator.ts
  packages/core/src/service/helpers/tax-calculator/tax-calculator-test-fixtures.ts
Due: none

fix(core): Fix type error (missing isPrivate property)
  packages/core/src/data-import/providers/importer/importer.ts
Due: none

feat(core): Publish events on login/logout
  packages/core/src/api/resolvers/admin/auth.resolver.ts
  packages/core/src/api/resolvers/base/base-auth.resolver.ts
  packages/core/src/api/resolvers/shop/shop-auth.resolver.ts
  packages/core/src/event-bus/events/attempted-login-event.ts
  packages/core/src/event-bus/events/login-event.ts
  packages/core/src/event-bus/events/logout-event.ts
  packages/core/src/service/services/auth.service.ts
Due: none

fix(core): Fix search.facetValues resolver error
  packages/core/src/plugin/default-search-plugin/fulltext-search.resolver.ts
Due: none

feat(test): Set up initial load testing infrastructure
  packages/dev-server/README.md
  packages/dev-server/load-testing/graphql/admin/.graphqlconfig
  packages/dev-server/load-testing/graphql/admin/test.graphql
  packages/dev-server/load-testing/graphql/shop/.graphqlconfig
  packages/dev-server/load-testing/graphql/shop/add-to-order.graphql
  packages/dev-server/load-testing/graphql/shop/product.graphql
  packages/dev-server/load-testing/graphql/shop/search.graphql
  packages/dev-server/load-testing/scripts/search-and-checkout.js
  packages/dev-server/load-testing/typings.d.ts
  packages/dev-server/load-testing/utils/api-request.js
  packages/dev-server/package.json
Due: none

fix(email-plugin): Fix failing test
  packages/email-plugin/src/dev-mailbox.ts
Due: none

fix(core): Prevent race conditions when updating search index
  packages/core/src/config/collection/default-collection-filters.ts
  packages/core/src/data-import/providers/import-parser/import-parser.ts
  packages/core/src/plugin/default-search-plugin/async-queue.ts
  packages/core/src/plugin/default-search-plugin/fulltext-search.service.ts
Due: none

feat(test): Create complete load test script (generate, serve, test)
  packages/dev-server/.gitignore
  packages/dev-server/load-testing/data-sources/product-image.jpg
  packages/dev-server/load-testing/init-load-test.ts
  packages/dev-server/load-testing/load-test-config.ts
  packages/dev-server/load-testing/run-load-test.ts
  packages/dev-server/load-testing/scripts/search-and-checkout.js
  packages/dev-server/package.json
  yarn.lock
Due: none

feat(test): Implement load test reporting
  packages/dev-server/.gitignore
  packages/dev-server/README.md
  packages/dev-server/load-testing/generate-summary.ts
  packages/dev-server/load-testing/graphql/shop/add-to-order.graphql
  packages/dev-server/load-testing/graphql/shop/complete-order.graphql
  packages/dev-server/load-testing/graphql/shop/deep-query.graphql
  packages/dev-server/load-testing/graphql/shop/get-shipping-methods.graphql
  packages/dev-server/load-testing/graphql/shop/set-shipping-address.graphql
  packages/dev-server/load-testing/init-load-test.ts
  packages/dev-server/load-testing/load-test-config.ts
  packages/dev-server/load-testing/results/.gitkeep
  packages/dev-server/load-testing/run-load-test.ts
  packages/dev-server/load-testing/scripts/deep-query.js
  packages/dev-server/load-testing/scripts/search-and-checkout.js
  packages/dev-server/load-testing/utils/api-request.js
  packages/dev-server/package.json
Due: none

refactor(core): Remove redundant argument of populate() function
  packages/core/cli/populate.ts
  packages/dev-server/load-testing/init-load-test.ts
Due: none

feat(create): Better error reporting on DB connection issues.
  packages/create/package.json
  packages/create/src/create-vendure-app.ts
  packages/create/src/helpers.ts
Due: none

feat(core): Create entities & fields needed for stock control
  package.json
  packages/common/src/generated-shop-types.ts
  packages/common/src/generated-types.ts
  packages/core/src/api/config/configure-graphql-module.ts
  packages/core/src/api/schema/admin-api/global-settings.api.graphql
  packages/core/src/api/schema/admin-api/product.api.graphql
  packages/core/src/api/schema/type/global-settings.type.graphql
  packages/core/src/api/schema/type/stock-movement.type.graphql
  packages/core/src/entity/entities.ts
  packages/core/src/entity/global-settings/global-settings.entity.ts
  packages/core/src/entity/product-variant/product-variant.entity.ts
  packages/core/src/entity/stock-movement/cancellation.entity.ts
  packages/core/src/entity/stock-movement/return.entity.ts
  packages/core/src/entity/stock-movement/sale.entity.ts
  packages/core/src/entity/stock-movement/stock-adjustment.entity.ts
  packages/core/src/entity/stock-movement/stock-movement.entity.ts
  packages/core/src/service/services/product-variant.service.ts
  schema-admin.json
  schema-shop.json
  schema.json
Due: none

feat(admin-ui): Set the global trackInventory setting
  admin-ui/src/app/data/definitions/settings-definitions.ts
  admin-ui/src/app/settings/components/global-settings/global-settings.component.html
  admin-ui/src/app/settings/components/global-settings/global-settings.component.ts
  admin-ui/src/i18n-messages/en.json
Due: yarn lint:admin-ui, yarn format

feat(core): Create StockMovements when variant stock changed
  packages/common/src/generated-shop-types.ts
  packages/common/src/generated-types.ts
  packages/core/e2e/stock-control.e2e-spec.ts
  packages/core/src/api/api-internal-modules.ts
  packages/core/src/api/config/configure-graphql-module.ts
  packages/core/src/api/resolvers/entity/product-variant-entity.resolver.ts
  packages/core/src/api/schema/type/stock-movement.type.graphql
  packages/core/src/entity/stock-movement/cancellation.entity.ts
  packages/core/src/entity/stock-movement/return.entity.ts
  packages/core/src/entity/stock-movement/sale.entity.ts
  packages/core/src/entity/stock-movement/stock-adjustment.entity.ts
  packages/core/src/entity/stock-movement/stock-movement.entity.ts
  packages/core/src/i18n/messages/en.json
  packages/core/src/service/service.module.ts
  packages/core/src/service/services/product-variant.service.ts
  packages/core/src/service/services/stock-movement.service.ts
  schema-admin.json
  schema-shop.json
  schema.json
Due: none

fix(admin-ui): Do not run CanDeactivateGuard when switching tabs
  admin-ui/src/app/catalog/components/product-detail/product-detail.component.ts
  admin-ui/src/app/common/base-detail.component.ts
  admin-ui/src/app/shared/components/action-bar/action-bar.component.scss
  admin-ui/src/app/shared/providers/routing/can-deactivate-detail-guard.ts
Due: yarn lint:admin-ui, yarn format

feat(admin-ui): Add controls for stockOnHand & trackInventory
  admin-ui/src/app/catalog/components/product-detail/product-detail.component.ts
  admin-ui/src/app/catalog/components/product-variants-list/product-variants-list.component.html
  admin-ui/src/app/data/definitions/product-definitions.ts
  admin-ui/src/app/data/providers/product-data.service.ts
  admin-ui/src/i18n-messages/en.json
  packages/common/src/generated-shop-types.ts
  packages/common/src/generated-types.ts
Due: yarn lint:admin-ui, yarn format

feat(core): Create Sale stock movements when Order is completed
  packages/core/e2e/stock-control.e2e-spec.ts
  packages/core/src/i18n/messages/en.json
  packages/core/src/service/helpers/order-state-machine/order-state-machine.ts
  packages/core/src/service/services/stock-movement.service.ts
Due: none

feat(core): Update import CSV format to include stock fields
  packages/core/e2e/__snapshots__/import.e2e-spec.ts.snap
  packages/core/e2e/fixtures/e2e-products-collections.csv
  packages/core/e2e/fixtures/e2e-products-empty.csv
  packages/core/e2e/fixtures/e2e-products-full.csv
  packages/core/e2e/fixtures/e2e-products-minimal.csv
  packages/core/e2e/fixtures/e2e-products-stock-control.csv
  packages/core/e2e/fixtures/product-import.csv
  packages/core/e2e/import.e2e-spec.ts
  packages/core/e2e/stock-control.e2e-spec.ts
  packages/core/mock-data/data-sources/products.csv
  packages/core/src/data-import/providers/import-parser/__snapshots__/import-parser.spec.ts.snap
  packages/core/src/data-import/providers/import-parser/import-parser.spec.ts
  packages/core/src/data-import/providers/import-parser/import-parser.ts
  packages/core/src/data-import/providers/import-parser/test-fixtures/custom-fields.csv
  packages/core/src/data-import/providers/import-parser/test-fixtures/invalid-option-values.csv
  packages/core/src/data-import/providers/import-parser/test-fixtures/invalid-row-length.csv
  packages/core/src/data-import/providers/import-parser/test-fixtures/multiple-products-multiple-variants.csv
  packages/core/src/data-import/providers/import-parser/test-fixtures/single-product-multiple-variants.csv
  packages/core/src/data-import/providers/import-parser/test-fixtures/single-product-single-variant.csv
  packages/core/src/data-import/providers/importer/importer.ts
  packages/core/src/service/services/product-variant.service.ts
  packages/core/src/service/services/stock-movement.service.ts
  schema-admin.json
  schema.json
Due: none

refactor(admin-ui): Alter the way DataTableComponent selects template
  admin-ui/src/app/shared/components/data-table/data-table.component.ts
Due: yarn lint:admin-ui, yarn format

feat(admin-ui): Improve layout of ProductVariantList card
  admin-ui/src/app/catalog/components/product-assets/product-assets.component.html
  admin-ui/src/app/catalog/components/product-assets/product-assets.component.scss
  admin-ui/src/app/catalog/components/product-assets/product-assets.component.ts
  admin-ui/src/app/catalog/components/product-variants-list/product-variants-list.component.html
  admin-ui/src/app/catalog/components/product-variants-list/product-variants-list.component.scss
  admin-ui/src/app/catalog/components/product-variants-list/product-variants-list.component.ts
Due: yarn lint:admin-ui, yarn format

feat(admin-ui): Table view for product variants
  admin-ui/src/app/catalog/catalog.module.ts
  admin-ui/src/app/catalog/catalog.routes.ts
  admin-ui/src/app/catalog/components/product-detail/product-detail.component.html
  admin-ui/src/app/catalog/components/product-detail/product-detail.component.scss
  admin-ui/src/app/catalog/components/product-detail/product-detail.component.ts
  admin-ui/src/app/catalog/components/product-list/product-list.component.html
  admin-ui/src/app/catalog/components/product-variants-table/product-variants-table.component.html
  admin-ui/src/app/catalog/components/product-variants-table/product-variants-table.component.scss
  admin-ui/src/app/catalog/components/product-variants-table/product-variants-table.component.ts
  admin-ui/src/app/catalog/components/variant-price-detail/variant-price-detail.component.ts
  admin-ui/src/app/data/providers/settings-data.service.ts
  admin-ui/src/app/shared/components/currency-input/currency-input.component.scss
  admin-ui/src/app/shared/components/data-table/data-table.component.html
  admin-ui/src/app/shared/components/data-table/data-table.component.scss
  admin-ui/src/i18n-messages/en.json
Due: yarn lint:admin-ui, yarn format

feat(admin-ui): Standardise colour palette
  admin-ui/angular.json
  admin-ui/src/app/app.component.scss
  admin-ui/src/app/catalog/components/asset-file-input/asset-file-input.component.scss
  admin-ui/src/app/catalog/components/asset-gallery/asset-gallery.component.scss
  admin-ui/src/app/catalog/components/asset-list/asset-list.component.scss
  admin-ui/src/app/catalog/components/asset-picker-dialog/asset-picker-dialog.component.scss
  admin-ui/src/app/catalog/components/collection-contents/collection-contents.component.scss
  admin-ui/src/app/catalog/components/collection-tree/collection-tree-node.component.scss
  admin-ui/src/app/catalog/components/product-assets/product-assets.component.scss
  admin-ui/src/app/catalog/components/product-list/product-list.component.scss
  admin-ui/src/app/catalog/components/product-variants-list/product-variants-list.component.scss
  admin-ui/src/app/catalog/components/product-variants-table/product-variants-table.component.scss
  admin-ui/src/app/catalog/components/select-option-group/select-option-group.component.scss
  admin-ui/src/app/core/components/main-nav/main-nav.component.scss
  admin-ui/src/app/core/components/notification/notification.component.scss
  admin-ui/src/app/customer/components/address-card/address-card.component.scss
  admin-ui/src/app/customer/components/customer-status-label/customer-status-label.component.scss
  admin-ui/src/app/dashboard/components/dashboard/dashboard.component.scss
  admin-ui/src/app/login/components/login/login.component.scss
  admin-ui/src/app/order/components/order-detail/order-detail.component.scss
  admin-ui/src/app/settings/components/country-list/country-list.component.scss
  admin-ui/src/app/shared/components/action-bar/action-bar.component.scss
  admin-ui/src/app/shared/components/affixed-input/affixed-input.component.scss
  admin-ui/src/app/shared/components/chip/chip.component.scss
  admin-ui/src/app/shared/components/data-table/data-table.component.scss
  admin-ui/src/app/shared/components/facet-value-chip/facet-value-chip.component.scss
  admin-ui/src/app/shared/components/form-field/form-field.component.scss
  admin-ui/src/app/shared/components/pagination-controls/pagination-controls.component.scss
  admin-ui/src/app/shared/components/rich-text-editor/rich-text-editor.component.scss
  admin-ui/src/app/shared/components/select-toggle/select-toggle.component.scss
  admin-ui/src/styles/_variables.scss
Due: none

feat(admin-ui): Restyle form inputs
  admin-ui/src/app/catalog/components/collection-detail/collection-detail.component.html
  admin-ui/src/app/catalog/components/create-option-group-form/create-option-group-form.component.html
  admin-ui/src/app/catalog/components/product-list/product-list.component.scss
  admin-ui/src/app/catalog/components/product-variants-list/product-variants-list.component.scss
  admin-ui/src/app/customer/components/customer-detail/customer-detail.component.html
  admin-ui/src/app/marketing/components/promotion-detail/promotion-detail.component.html
  admin-ui/src/app/settings/components/admin-detail/admin-detail.component.html
  admin-ui/src/app/settings/components/channel-detail/channel-detail.component.html
  admin-ui/src/app/settings/components/country-detail/country-detail.component.html
  admin-ui/src/app/settings/components/global-settings/global-settings.component.html
  admin-ui/src/app/settings/components/payment-method-detail/payment-method-detail.component.html
  admin-ui/src/app/settings/components/payment-method-detail/payment-method-detail.component.ts
  admin-ui/src/app/settings/components/role-detail/role-detail.component.html
  admin-ui/src/app/settings/components/shipping-method-detail/shipping-method-detail.component.html
  admin-ui/src/app/settings/components/tax-category-detail/tax-category-detail.component.html
  admin-ui/src/app/settings/components/tax-rate-detail/tax-rate-detail.component.html
  admin-ui/src/app/shared/components/affixed-input/affixed-input.component.html
  admin-ui/src/app/shared/components/affixed-input/affixed-input.component.scss
  admin-ui/src/app/shared/components/configurable-input/configurable-input.component.scss
  admin-ui/src/app/shared/components/form-field/form-field.component.html
  admin-ui/src/app/shared/components/form-field/form-field.component.scss
  admin-ui/src/app/shared/components/rich-text-editor/rich-text-editor.component.scss
  admin-ui/src/styles/_variables.scss
  admin-ui/src/styles/styles.scss
  admin-ui/src/styles/theme/_forms.scss
  admin-ui/src/styles/theme/_theme.scss
Due: yarn lint:admin-ui, yarn format

feat(admin-ui): More styling for product variant list
  admin-ui/src/app/catalog/components/product-assets/product-assets.component.scss
  admin-ui/src/app/catalog/components/product-variants-list/product-variants-list.component.html
  admin-ui/src/app/catalog/components/product-variants-list/product-variants-list.component.scss
  admin-ui/src/app/catalog/components/variant-price-detail/variant-price-detail.component.html
  admin-ui/src/app/catalog/components/variant-price-detail/variant-price-detail.component.scss
  admin-ui/src/app/shared/components/title-input/title-input.component.html
  admin-ui/src/app/shared/components/title-input/title-input.component.scss
  admin-ui/src/app/shared/components/title-input/title-input.component.ts
  admin-ui/src/app/shared/shared.module.ts
Due: yarn lint:admin-ui, yarn format

fix(core): Add missing timestamp fields to Asset GraphQL type
  packages/common/src/generated-shop-types.ts
  packages/common/src/generated-types.ts
  packages/core/src/api/schema/type/asset.type.graphql
  schema-admin.json
  schema-shop.json
  schema.json
Due: none

fix(admin-ui): Correctly sort assets
  admin-ui/src/app/catalog/components/asset-list/asset-list.component.ts
  admin-ui/src/app/catalog/components/asset-picker-dialog/asset-picker-dialog.component.ts
  admin-ui/src/app/data/definitions/product-definitions.ts
  admin-ui/src/app/data/providers/product-data.service.ts
Due: yarn lint:admin-ui, yarn format

chore: tidy up
  packages/create/package.json
  packages/dev-server/populate-dev-server.ts
Due: none

chore(core): Do not use admin-ui operations in core e2e tests
  admin-ui/src/app/common/generated-types.ts
  packages/common/src/generated-types.ts
  packages/core/e2e/__snapshots__/collection.e2e-spec.ts.snap
  packages/core/e2e/__snapshots__/product.e2e-spec.ts.snap
  packages/core/e2e/administrator.e2e-spec.ts
  packages/core/e2e/auth.e2e-spec.ts
  packages/core/e2e/collection.e2e-spec.ts
  packages/core/e2e/country.e2e-spec.ts
  packages/core/e2e/customer.e2e-spec.ts
  packages/core/e2e/default-search-plugin.e2e-spec.ts
  packages/core/e2e/entity-id-strategy.e2e-spec.ts
  packages/core/e2e/facet.e2e-spec.ts
  packages/core/e2e/graphql/fragments.ts
  packages/core/e2e/graphql/generated-e2e-admin-types.ts
  packages/core/e2e/graphql/generated-e2e-shop-types.ts
  packages/core/e2e/graphql/shared-definitions.ts
  packages/core/e2e/graphql/shop-definitions.ts
  packages/core/e2e/order.e2e-spec.ts
  packages/core/e2e/product.e2e-spec.ts
  packages/core/e2e/promotion.e2e-spec.ts
  packages/core/e2e/role.e2e-spec.ts
  packages/core/e2e/shop-auth.e2e-spec.ts
  packages/core/e2e/shop-catalog.e2e-spec.ts
  packages/core/e2e/shop-customer.e2e-spec.ts
  packages/core/e2e/shop-order.e2e-spec.ts
  packages/core/e2e/stock-control.e2e-spec.ts
  packages/core/e2e/zone.e2e-spec.ts
  packages/core/mock-data/mock-data.service.ts
  packages/core/mock-data/simple-graphql-client.ts
  schema-admin.json
  scripts/codegen/generate-graphql-types.ts
Due: yarn lint:admin-ui, yarn format

chore(core): Add types to all e2e test queries
  README.md
  admin-ui/src/app/common/generated-types.ts
  packages/common/src/generated-shop-types.ts
  packages/common/src/generated-types.ts
  packages/core/e2e/collection.e2e-spec.ts
  packages/core/e2e/country.e2e-spec.ts
  packages/core/e2e/customer.e2e-spec.ts
  packages/core/e2e/default-search-plugin.e2e-spec.ts
  packages/core/e2e/facet.e2e-spec.ts
  packages/core/e2e/graphql/generated-e2e-admin-types.ts
  packages/core/e2e/graphql/generated-e2e-shop-types.ts
  packages/core/e2e/order.e2e-spec.ts
  packages/core/e2e/product.e2e-spec.ts
  packages/core/e2e/promotion.e2e-spec.ts
  packages/core/e2e/shop-auth.e2e-spec.ts
  packages/core/e2e/shop-catalog.e2e-spec.ts
  packages/core/e2e/shop-customer.e2e-spec.ts
  packages/core/e2e/shop-order.e2e-spec.ts
  packages/core/e2e/stock-control.e2e-spec.ts
  packages/core/e2e/zone.e2e-spec.ts
Due: yarn lint:admin-ui, yarn format

chore: Remove "time" plugin from graphql-code-generator
  admin-ui/src/app/common/generated-types.ts
  package.json
  packages/common/src/generated-shop-types.ts
  packages/common/src/generated-types.ts
  packages/core/e2e/graphql/generated-e2e-admin-types.ts
  packages/core/e2e/graphql/generated-e2e-shop-types.ts
  schema-admin.json
  scripts/codegen/generate-graphql-types.ts
  yarn.lock
Due: yarn lint:admin-ui, yarn format

feat(core): Implement tax on shipping
  admin-ui/src/app/common/generated-types.ts
  packages/common/src/generated-shop-types.ts
  packages/common/src/generated-types.ts
  packages/core/e2e/graphql/generated-e2e-admin-types.ts
  packages/core/e2e/graphql/generated-e2e-shop-types.ts
  packages/core/mock-data/simple-graphql-client.ts
  packages/core/src/api/schema/type/order.type.graphql
  packages/core/src/common/configurable-operation.ts
  packages/core/src/config/shipping-method/default-shipping-calculator.ts
  packages/core/src/config/shipping-method/default-shipping-eligibility-checker.ts
  packages/core/src/config/shipping-method/shipping-calculator.ts
  packages/core/src/data-import/providers/populator/populator.ts
  packages/core/src/entity/order/order.entity.ts
  packages/core/src/entity/shipping-method/shipping-method.entity.ts
  packages/core/src/service/helpers/order-calculator/order-calculator.ts
  packages/core/src/service/helpers/shipping-calculator/shipping-calculator.ts
  packages/core/src/service/helpers/tax-calculator/tax-calculator.ts
  packages/core/src/service/services/order.service.ts
  packages/core/src/service/services/shipping-method.service.ts
  schema-admin.json
  schema-shop.json
Due: yarn lint:admin-ui, yarn format

Path conditions:
  yarn lint:admin-ui: any of: admin-ui/**/*.ts
  yarn format: ((any of: admin-ui/**/*.ts) or (any of: admin-ui/**/*.html)) or (any of: packages/core/*.ts)
  yarn lint:core: any of: packages/core/*.ts
