Repository daya110/vendure: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:admin-ui, yarn format, yarn lint:server

.lintstagedrc.yml:

linters:
  admin-ui/**/*.ts:
    - yarn lint:admin-ui
    - yarn format
    - git add
  server/**/*.ts:
    - yarn lint:server
    - yarn format
    - git add

feat(server): Prevent update of default roles, add e2e tests
  server/e2e/__snapshots__/role.e2e-spec.ts.snap
  server/e2e/product.e2e-spec.ts
  server/e2e/role.e2e-spec.ts
  server/src/i18n/messages/en.json
  server/src/service/role.service.ts
Due: yarn format, yarn lint:server

feat(admin-ui): Restrict operations on default roles
  admin-ui/src/app/administrator/components/role-list/role-list.component.html
  admin-ui/src/app/administrator/components/role-list/role-list.component.ts
  admin-ui/src/app/app.config.ts
  admin-ui/src/app/data/data.module.ts
  admin-ui/src/app/shared/components/table-row-action/table-row-action.component.html
  admin-ui/src/app/shared/components/table-row-action/table-row-action.component.ts
Due: yarn lint:admin-ui, yarn format

feat(server): Implement update of administrator & admin roles
  schema.json
  server/src/api/administrator/administrator.api.graphql
  server/src/api/administrator/administrator.resolver.ts
  server/src/entity/administrator/administrator.graphql
  server/src/service/administrator.service.ts
  shared/generated-types.ts
Due: yarn format, yarn lint:server

feat(admin-ui): Create admin detail route & create / update admins
  admin-ui/src/app/administrator/administrator.module.ts
  admin-ui/src/app/administrator/administrator.routes.ts
  admin-ui/src/app/administrator/components/admin-detail/admin-detail.component.html
  admin-ui/src/app/administrator/components/admin-detail/admin-detail.component.scss
  admin-ui/src/app/administrator/components/admin-detail/admin-detail.component.ts
  admin-ui/src/app/administrator/components/permission-grid/permission-grid.component.html
  admin-ui/src/app/administrator/components/permission-grid/permission-grid.component.scss
  admin-ui/src/app/administrator/components/permission-grid/permission-grid.component.ts
  admin-ui/src/app/administrator/components/role-detail/role-detail.component.html
  admin-ui/src/app/administrator/components/role-detail/role-detail.component.ts
  admin-ui/src/app/administrator/providers/routing/administrator-resolver.ts
  admin-ui/src/app/administrator/providers/routing/role-resolver.ts
  admin-ui/src/app/common/base-entity-resolver.ts
  admin-ui/src/app/data/definitions/administrator-definitions.ts
  admin-ui/src/app/data/providers/administrator-data.service.ts
  admin-ui/src/app/data/providers/data.service.mock.ts
  admin-ui/src/app/shared/components/select-toggle/select-toggle.component.html
  admin-ui/src/app/shared/components/select-toggle/select-toggle.component.scss
  admin-ui/src/app/shared/components/select-toggle/select-toggle.component.ts
  admin-ui/src/i18n-messages/en.json
Due: yarn lint:admin-ui, yarn format

test(server): Create e2e tests for administrator resolver operations
  server/e2e/__snapshots__/administrator.e2e-spec.ts.snap
  server/e2e/__snapshots__/role.e2e-spec.ts.snap
  server/e2e/administrator.e2e-spec.ts
  server/e2e/auth.e2e-spec.ts
  server/e2e/role.e2e-spec.ts
  server/src/api/administrator/administrator.resolver.ts
  server/src/service/administrator.service.ts
Due: yarn format, yarn lint:server

test(server): Fix non-deterministic e2e tests, increase timeout
  server/e2e/__snapshots__/role.e2e-spec.ts.snap
  server/e2e/administrator.e2e-spec.ts
  server/e2e/auth.e2e-spec.ts
  server/e2e/product.e2e-spec.ts
  server/e2e/role.e2e-spec.ts
Due: yarn format, yarn lint:server

fix(admin-ui): Fix late creation of forms
  admin-ui/src/app/catalog/components/facet-detail/facet-detail.component.ts
  admin-ui/src/app/catalog/components/product-detail/product-detail.component.ts
Due: yarn lint:admin-ui, yarn format

feat(server): Implement interceptor for asset preview urls
  server/src/api/api.module.ts
  server/src/api/asset-interceptor.spec.ts
  server/src/api/asset-interceptor.ts
  server/src/api/auth/auth.resolver.ts
  server/src/api/common/request-context.service.ts
  server/src/bootstrap.ts
  server/src/config/asset-storage-strategy/asset-storage-strategy.ts
  server/src/config/asset-storage-strategy/local-asset-storage-strategy.ts
  server/src/config/config.service.mock.ts
  server/src/config/vendure-config.ts
Due: yarn format, yarn lint:server

feat(server): Move asset storage into a plugin
  server/dev-config.ts
  server/package.json
  server/src/app.module.ts
  server/src/bootstrap.ts
  server/src/config/asset-preview-strategy/default-asset-preview-strategy.ts
  server/src/config/asset-preview-strategy/no-asset-preview-strategy.ts
  server/src/config/asset-storage-strategy/asset-storage-strategy.ts
  server/src/config/asset-storage-strategy/no-asset-storage-strategy.ts
  server/src/config/config.service.mock.ts
  server/src/config/config.service.ts
  server/src/config/vendure-config.ts
  server/src/config/vendure-plugin/vendure-plugin.ts
  server/src/plugin/default-asset-server/default-asset-preview-strategy.ts
  server/src/plugin/default-asset-server/default-asset-server-plugin.ts
  server/src/plugin/default-asset-server/default-asset-storage-strategy.ts
  server/src/service/helpers/connection.decorator.ts
  server/yarn.lock
Due: yarn format, yarn lint:server

feat(server): On-the-fly image transformations
  server/dev-config.ts
  server/src/plugin/default-asset-server/default-asset-server-plugin.ts
  server/src/plugin/default-asset-server/default-asset-storage-strategy.ts
  server/src/plugin/default-asset-server/transform-image.ts
  server/src/service/asset.service.ts
Due: yarn format, yarn lint:server

feat(server): Generate preview images for non-image assets
  admin-ui/src/app/data/definitions/product-definitions.ts
  schema.json
  server/src/common/utils.ts
  server/src/config/asset-preview-strategy/asset-preview-strategy.ts
  server/src/config/asset-preview-strategy/no-asset-preview-strategy.ts
  server/src/entity/asset/asset.entity.ts
  server/src/entity/asset/asset.graphql
  server/src/plugin/default-asset-server/default-asset-preview-strategy.ts
  server/src/plugin/default-asset-server/file-icon.png
  server/src/plugin/default-asset-server/file-icon.psd
  server/src/service/asset.service.ts
  shared/generated-types.ts
Due: yarn lint:admin-ui, yarn format, yarn lint:server

feat(admin-ui): Create asset gallery component
  admin-ui/src/app/catalog/catalog.module.ts
  admin-ui/src/app/catalog/components/asset-gallery/asset-gallery.component.html
  admin-ui/src/app/catalog/components/asset-gallery/asset-gallery.component.scss
  admin-ui/src/app/catalog/components/asset-gallery/asset-gallery.component.ts
  admin-ui/src/app/catalog/components/asset-list/asset-list.component.html
  admin-ui/src/app/catalog/components/asset-list/asset-list.component.scss
  admin-ui/src/app/core/components/main-nav/main-nav.component.html
  admin-ui/src/app/shared/pipes/file-size.pipe.spec.ts
  admin-ui/src/app/shared/pipes/file-size.pipe.ts
  admin-ui/src/app/shared/shared.module.ts
  admin-ui/src/i18n-messages/en.json
  admin-ui/src/polyfills.ts
Due: yarn lint:admin-ui, yarn format

feat(server): Allow multiple assets to be created in one mutation
  schema.json
  server/src/api/asset/asset.api.graphql
  server/src/api/asset/asset.resolver.ts
Due: yarn format, yarn lint:server

feat(admin-ui): Multiple asset uploads, improve asset gallery
  admin-ui/src/app/catalog/components/asset-gallery/asset-gallery.component.html
  admin-ui/src/app/catalog/components/asset-gallery/asset-gallery.component.scss
  admin-ui/src/app/catalog/components/asset-list/asset-list.component.html
  admin-ui/src/app/catalog/components/asset-list/asset-list.component.scss
  admin-ui/src/app/catalog/components/asset-list/asset-list.component.ts
  admin-ui/src/app/common/base-list.component.ts
  admin-ui/src/app/core/components/main-nav/main-nav.component.html
  admin-ui/src/app/data/definitions/product-definitions.ts
  admin-ui/src/app/data/providers/data.service.mock.ts
  admin-ui/src/app/data/providers/product-data.service.ts
  admin-ui/src/i18n-messages/en.json
  shared/generated-types.ts
Due: yarn lint:admin-ui, yarn format

refactor(admin-ui): Move itemsPerPage control into own component
  admin-ui/src/app/catalog/components/asset-list/asset-list.component.html
  admin-ui/src/app/shared/components/data-table/data-table.component.html
  admin-ui/src/app/shared/components/data-table/data-table.component.spec.ts
  admin-ui/src/app/shared/components/items-per-page-controls/items-per-page-controls.component.html
  admin-ui/src/app/shared/components/items-per-page-controls/items-per-page-controls.component.scss
  admin-ui/src/app/shared/components/items-per-page-controls/items-per-page-controls.component.ts
  admin-ui/src/app/shared/shared.module.ts
  admin-ui/src/i18n-messages/en.json
Due: yarn lint:admin-ui, yarn format

refactor(server): Rename defaultAsset -> featuredAsset
  schema.json
  server/dev-config.ts
  server/e2e/__snapshots__/product.e2e-spec.ts.snap
  server/src/entity/asset/asset.entity.ts
  server/src/entity/asset/asset.graphql
  server/src/entity/product/product.entity.ts
  server/src/entity/product/product.graphql
  server/src/service/product.service.ts
Due: yarn format, yarn lint:server

feat(admin-ui): Create product asset picker UI components
  admin-ui/src/app/catalog/catalog.module.ts
  admin-ui/src/app/catalog/components/asset-file-input/asset-file-input.component.html
  admin-ui/src/app/catalog/components/asset-file-input/asset-file-input.component.scss
  admin-ui/src/app/catalog/components/asset-file-input/asset-file-input.component.ts
  admin-ui/src/app/catalog/components/asset-gallery/asset-gallery.component.scss
  admin-ui/src/app/catalog/components/asset-gallery/asset-gallery.component.ts
  admin-ui/src/app/catalog/components/asset-list/asset-list.component.html
  admin-ui/src/app/catalog/components/asset-list/asset-list.component.ts
  admin-ui/src/app/catalog/components/asset-picker-dialog/asset-picker-dialog.component.html
  admin-ui/src/app/catalog/components/asset-picker-dialog/asset-picker-dialog.component.scss
  admin-ui/src/app/catalog/components/asset-picker-dialog/asset-picker-dialog.component.ts
  admin-ui/src/app/catalog/components/product-assets/product-assets.component.html
  admin-ui/src/app/catalog/components/product-assets/product-assets.component.scss
  admin-ui/src/app/catalog/components/product-assets/product-assets.component.ts
  admin-ui/src/app/catalog/components/product-detail/product-detail.component.html
  admin-ui/src/app/catalog/providers/routing/product-resolver.ts
  admin-ui/src/app/data/definitions/product-definitions.ts
  admin-ui/src/app/shared/components/modal-dialog/modal-dialog.component.scss
  admin-ui/src/i18n-messages/en.json
  shared/generated-types.ts
  shared/unique.spec.ts
  shared/unique.ts
Due: yarn lint:admin-ui, yarn format

refactor: Allow patch updates and clean up update APIs
  admin-ui/src/app/catalog/components/product-detail/product-detail.component.ts
  admin-ui/src/app/catalog/providers/routing/product-resolver.ts
  admin-ui/src/app/common/utilities/create-updated-translatable.spec.ts
  admin-ui/src/app/data/definitions/product-definitions.ts
  admin-ui/src/app/data/providers/product-data.service.ts
  schema.json
  server/e2e/__snapshots__/product.e2e-spec.ts.snap
  server/e2e/administrator.e2e-spec.ts
  server/e2e/product.e2e-spec.ts
  server/e2e/role.e2e-spec.ts
  server/mock-data/mock-data.service.ts
  server/mock-data/populate.ts
  server/src/common/types/locale-types.ts
  server/src/entity/administrator/administrator.graphql
  server/src/entity/facet-value/facet-value.graphql
  server/src/entity/facet/facet.graphql
  server/src/entity/product-option-group/product-option-group.graphql
  server/src/entity/product-option/product-option.graphql
  server/src/entity/product-variant/create-product-variant.dto.ts
  server/src/entity/product-variant/product-variant.entity.ts
  server/src/entity/product-variant/product-variant.graphql
  server/src/entity/product/product.entity.ts
  server/src/entity/product/product.graphql
  server/src/entity/role/role.graphql
  server/src/service/administrator.service.ts
  server/src/service/helpers/create-translatable.ts
  server/src/service/helpers/parse-sort-params.spec.ts
  server/src/service/helpers/patch-entity.ts
  server/src/service/helpers/translation-updater.spec.ts
  server/src/service/helpers/translation-updater.ts
  server/src/service/helpers/update-translatable.ts
  server/src/service/product-variant.service.ts
  server/src/service/product.service.spec.ts
  server/src/service/product.service.ts
  server/src/service/role.service.ts
  shared/generated-types.ts
Due: yarn lint:admin-ui, yarn format, yarn lint:server

test(server): Add Assets to populate script & e2e test config
  admin-ui/src/app/data/definitions/product-definitions.ts
  admin-ui/src/app/data/providers/product-data.service.ts
  server/e2e/config/test-config.ts
  server/e2e/config/testing-asset-preview-strategy.ts
  server/e2e/config/testing-asset-storage-strategy.ts
  server/mock-data/assets/charles-deluvio-695736-unsplash.jpg
  server/mock-data/assets/chuttersnap-584518-unsplash.jpg
  server/mock-data/assets/derick-david-409858-unsplash.jpg
  server/mock-data/assets/eniko-kis-663725-unsplash.jpg
  server/mock-data/assets/mikkel-bech-748940-unsplash.jpg
  server/mock-data/mock-data.service.ts
  server/mock-data/populate-cli.ts
  server/mock-data/populate.ts
  server/mock-data/simple-graphql-client.ts
  server/package.json
  server/src/api/asset/asset.resolver.ts
  server/yarn.lock
  shared/generated-types.ts
  shared/omit.ts
Due: yarn lint:admin-ui, yarn format, yarn lint:server

feat(server): Implement associating assets with products
  server/e2e/product.e2e-spec.ts
  server/mock-data/mock-data.service.ts
  server/mock-data/populate.ts
  server/src/service/asset.service.ts
  server/src/service/product.service.ts
Due: yarn format, yarn lint:server

refactor(server): Extract the naming of Assets into a strategy
  server/e2e/config/testing-asset-storage-strategy.ts
  server/src/config/asset-naming-strategy/asset-naming-strategy.ts
  server/src/config/asset-naming-strategy/default-asset-naming-strategy.spec.ts
  server/src/config/asset-naming-strategy/default-asset-naming-strategy.ts
  server/src/config/asset-storage-strategy/asset-storage-strategy.ts
  server/src/config/asset-storage-strategy/no-asset-storage-strategy.ts
  server/src/config/config.service.mock.ts
  server/src/config/config.service.ts
  server/src/config/vendure-config.ts
  server/src/plugin/default-asset-server/default-asset-storage-strategy.ts
  server/src/service/asset.service.ts
  server/src/service/product.service.spec.ts
Due: yarn format, yarn lint:server

test(server): Remove unnecessary unit tests for services
  server/src/service/product-variant.service.spec.ts
  server/src/service/product.service.spec.ts
Due: yarn format, yarn lint:server

chore(server): Include assets when generating mock products
  server/e2e/__snapshots__/product.e2e-spec.ts.snap
  server/e2e/product.e2e-spec.ts
  server/mock-data/mock-data.service.ts
  server/mock-data/simple-graphql-client.ts
Due: yarn format, yarn lint:server

feat(admin-ui): Implement modifying a product's assets
  admin-ui/src/app/catalog/components/asset-gallery/asset-gallery.component.scss
  admin-ui/src/app/catalog/components/product-assets/product-assets.component.ts
  admin-ui/src/app/catalog/components/product-detail/product-detail.component.html
  admin-ui/src/app/catalog/components/product-detail/product-detail.component.ts
  admin-ui/src/app/data/providers/product-data.service.ts
Due: yarn lint:admin-ui, yarn format

fix(server): Fix the ID encoding/decoding process, test it
  server/e2e/__snapshots__/administrator.e2e-spec.ts.snap
  server/e2e/__snapshots__/product.e2e-spec.ts.snap
  server/e2e/__snapshots__/role.e2e-spec.ts.snap
  server/e2e/config/test-config.ts
  server/e2e/config/testing-entity-id-strategy.ts
  server/e2e/product.e2e-spec.ts
  server/package.json
  server/src/api/api.module.ts
  server/src/api/common/apply-id-codec-decorator.spec.ts
  server/src/api/common/apply-id-codec-decorator.ts
  server/src/api/common/id-codec.spec.ts
  server/src/api/common/id-codec.ts
  server/src/api/common/id-interceptor.ts
  server/src/api/resolvers/administrator.resolver.ts
  server/src/api/resolvers/customer.resolver.ts
  server/src/api/resolvers/facet.resolver.ts
  server/src/api/resolvers/product-option.resolver.ts
  server/src/api/resolvers/product.resolver.ts
  server/src/api/resolvers/role.resolver.ts
  shared/simple-deep-clone.ts
Due: yarn format, yarn lint:server

fix(admin-ui): Fix error on saving in AdministratorDetailComponent
  admin-ui/src/app/data/definitions/administrator-definitions.ts
  shared/generated-types.ts
Due: yarn lint:admin-ui, yarn format

fix(admin-ui): Use Angular HttpClient for API calls
  admin-ui/src/app/data/data.module.ts
  admin-ui/src/app/data/providers/fetch-adapter.ts
Due: yarn lint:admin-ui, yarn format

fix(admin-ui): Eliminate race conditions from overlay services
  admin-ui/src/app/core/providers/notification/notification.service.ts
  admin-ui/src/app/shared/providers/modal/modal.service.ts
Due: yarn lint:admin-ui, yarn format

refactor(admin-ui): Make server config injectable
  admin-ui/src/app/administrator/components/admin-detail/admin-detail.component.ts
  admin-ui/src/app/administrator/components/role-detail/role-detail.component.ts
  admin-ui/src/app/catalog/components/facet-detail/facet-detail.component.ts
  admin-ui/src/app/catalog/components/product-detail/product-detail.component.ts
  admin-ui/src/app/common/base-detail.component.ts
  admin-ui/src/app/data/add-custom-fields.ts
  admin-ui/src/app/data/data.module.ts
  admin-ui/src/app/data/definitions/config-definitions.ts
  admin-ui/src/app/data/providers/base-data.service.ts
  admin-ui/src/app/data/providers/facet-data.service.ts
  admin-ui/src/app/data/providers/product-data.service.ts
  admin-ui/src/app/data/server-config.ts
  shared/generated-types.ts
Due: yarn lint:admin-ui, yarn format

feat(admin-ui): Redirect to last route on log in after session expires
  admin-ui/src/app/administrator/components/admin-detail/admin-detail.component.ts
  admin-ui/src/app/administrator/components/role-detail/role-detail.component.ts
  admin-ui/src/app/catalog/components/facet-detail/facet-detail.component.ts
  admin-ui/src/app/catalog/components/product-detail/product-detail.component.ts
  admin-ui/src/app/data/providers/interceptor.ts
  admin-ui/src/app/data/server-config.ts
  admin-ui/src/app/login/components/login/login.component.html
  admin-ui/src/app/login/components/login/login.component.ts
  admin-ui/src/i18n-messages/en.json
Due: yarn lint:admin-ui, yarn format

test(server): Update snapshots to match new query field
  server/e2e/__snapshots__/administrator.e2e-spec.ts.snap
Due: none

feat: Implement refresh tokens
  admin-ui/src/app/core/providers/auth/auth.service.ts
  admin-ui/src/app/core/providers/local-storage/local-storage.service.ts
  admin-ui/src/app/data/data.module.ts
  admin-ui/src/app/data/definitions/auth-definitions.ts
  admin-ui/src/app/data/providers/interceptor.ts
  schema.json
  server/dev-config.ts
  server/e2e/config/test-config.ts
  server/mock-data/simple-graphql-client.ts
  server/src/api/api.module.ts
  server/src/api/common/auth-guard.ts
  server/src/api/common/roles-guard.ts
  server/src/api/common/token-interceptor.ts
  server/src/api/resolvers/auth.resolver.ts
  server/src/api/types/auth.api.graphql
  server/src/config/config.service.mock.ts
  server/src/config/config.service.ts
  server/src/config/default-config.ts
  server/src/config/vendure-config.ts
  server/src/service/providers/auth.service.ts
  shared/generated-types.ts
  shared/shared-constants.ts
Due: yarn lint:admin-ui, yarn format, yarn lint:server

refactor: Overhaul authN, remove JWT, use sessions table
  admin-ui/src/app/core/components/app-shell/app-shell.component.ts
  admin-ui/src/app/core/providers/auth/auth.service.ts
  admin-ui/src/app/data/client-state/client-types.graphql
  admin-ui/src/app/data/data.module.ts
  admin-ui/src/app/data/definitions/auth-definitions.ts
  admin-ui/src/app/data/providers/auth-data.service.ts
  admin-ui/src/app/data/providers/client-data.service.ts
  admin-ui/src/app/data/providers/data.service.mock.ts
  admin-ui/src/app/data/providers/fetch-adapter.ts
  admin-ui/src/app/data/providers/interceptor.ts
  admin-ui/src/app/login/components/login/login.component.html
  admin-ui/src/app/login/components/login/login.component.ts
  admin-ui/yarn.lock
  schema.json
  server/dev-config.ts
  server/e2e/config/test-config.ts
  server/package.json
  server/src/api/api.module.ts
  server/src/api/common/auth-guard.ts
  server/src/api/common/graphql-config.service.ts
  server/src/api/common/id-codec.spec.ts
  server/src/api/common/id-codec.ts
  server/src/api/common/token-interceptor.ts
  server/src/api/resolvers/auth.resolver.ts
  server/src/api/types/auth.api.graphql
  server/src/app.module.ts
  server/src/config/default-config.ts
  server/src/config/vendure-config.ts
  server/src/entity/entities.ts
  server/src/entity/session/session.entity.ts
  server/src/service/providers/auth.service.ts
  server/yarn.lock
  shared/generated-types.ts
  shared/shared-constants.ts
Due: yarn lint:admin-ui, yarn format, yarn lint:server

feat: Implement configurable cookie/bearer session token methods
  schema.json
  server/e2e/auth.e2e-spec.ts
  server/e2e/config/test-config.ts
  server/mock-data/simple-graphql-client.ts
  server/src/api/common/auth-guard.ts
  server/src/api/common/roles-guard.ts
  server/src/api/resolvers/auth.resolver.ts
  server/src/api/types/auth.api.graphql
  server/src/app.module.ts
  server/src/config/default-config.ts
  server/src/config/vendure-config.ts
  server/src/service/providers/auth.service.ts
  shared/generated-types.ts
  shared/shared-constants.ts
Due: yarn format, yarn lint:server

fix: Correctly implement rolling session expiry
  admin-ui/src/app/core/providers/auth/auth.service.ts
  server/src/api/common/auth-guard.ts
  server/src/api/common/extract-auth-token.ts
  server/src/api/common/request-context.service.ts
  server/src/api/resolvers/auth.resolver.ts
  server/src/service/providers/auth.service.ts
Due: yarn lint:admin-ui, yarn format, yarn lint:server

fix(admin-ui): Fix handling of expired sessions
  admin-ui/src/app/data/providers/interceptor.ts
  admin-ui/src/app/login/components/login/login.component.ts
  admin-ui/src/app/login/login.module.ts
  admin-ui/src/app/login/login.routes.ts
  admin-ui/src/app/login/providers/login.guard.ts
Due: yarn lint:admin-ui, yarn format

chore(server): Use bearer-token auth for populate script
  server/mock-data/populate-cli.ts
Due: yarn format, yarn lint:server

feat(server): Create entities for Orders flow
  docs/diagrams/full-class-diagram.puml
  docs/diagrams/order-state-diagram.puml
  server/package.json
  server/src/api/common/graphql-config.service.ts
  server/src/entity/adjustment-source/adjustment-source.entity.ts
  server/src/entity/adjustment-source/adjustment-source.graphql
  server/src/entity/adjustment/adjustment.entity.ts
  server/src/entity/adjustment/adjustment.graphql
  server/src/entity/adjustment/order-adjustment.entity.ts
  server/src/entity/adjustment/order-item-adjustment.entity.ts
  server/src/entity/customer/customer.entity.ts
  server/src/entity/entities.ts
  server/src/entity/order-item/order-item.entity.ts
  server/src/entity/order-item/order-item.graphql
  server/src/entity/order/order.entity.ts
  server/src/entity/order/order.graphql
  server/src/entity/session/session.entity.ts
  server/yarn.lock
Due: yarn format, yarn lint:server
