Repository daya110/vendure: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:admin-ui, yarn format, yarn lint:server

.lintstagedrc.yml:

linters:
  admin-ui/**/*.ts:
    - yarn lint:admin-ui
    - yarn format
    - git add
  server/**/*.ts:
    - yarn lint:server
    - yarn format
    - git add

refactor(server): Merge Auth & Roles guard, expand RequestContext scope
  server/src/api/api.module.ts
  server/src/api/common/auth-guard.ts
  server/src/api/common/request-context.decorator.ts
  server/src/api/common/request-context.pipe.ts
  server/src/api/common/request-context.service.ts
  server/src/api/common/request-context.ts
  server/src/api/common/roles-guard.ts
  server/src/api/resolvers/administrator.resolver.ts
  server/src/api/resolvers/asset.resolver.ts
  server/src/api/resolvers/auth.resolver.ts
  server/src/api/resolvers/channel.resolver.ts
  server/src/api/resolvers/customer.resolver.ts
  server/src/api/resolvers/facet.resolver.ts
  server/src/api/resolvers/product-option.resolver.ts
  server/src/api/resolvers/product.resolver.ts
  server/src/api/resolvers/role.resolver.ts
  server/src/entity/entities.ts
  server/src/entity/session/anonymous-session.entity.ts
  server/src/entity/session/authenticated-session.entity.ts
  server/src/entity/session/session.entity.ts
  server/src/service/providers/auth.service.ts
Due: yarn format, yarn lint:server

feat(server): Add channel filtering to list query builder
  server/src/service/helpers/build-list-query.ts
  server/src/service/helpers/parse-channel-param.spec.ts
  server/src/service/helpers/parse-channel-param.ts
  server/src/service/providers/product.service.ts
Due: yarn format, yarn lint:server

feat(server): Create anonymous sessions and basic Order operations
  docs/diagrams/customer-session-flow-diagram.puml
  schema.json
  server/e2e/__snapshots__/administrator.e2e-spec.ts.snap
  server/e2e/__snapshots__/order.e2e-spec.ts.snap
  server/e2e/order.e2e-spec.ts
  server/mock-data/simple-graphql-client.ts
  server/package.json
  server/src/api/common/auth-guard.ts
  server/src/api/common/request-context.service.ts
  server/src/api/common/request-context.ts
  server/src/api/common/set-auth-token.ts
  server/src/api/resolvers/auth.resolver.ts
  server/src/api/resolvers/order.resolver.ts
  server/src/api/types/order.api.graphql
  server/src/common/generate-public-id.ts
  server/src/common/types/permission.graphql
  server/src/config/config.service.ts
  server/src/config/default-config.ts
  server/src/config/vendure-config.ts
  server/src/entity/session/anonymous-session.entity.ts
  server/src/entity/session/session.entity.ts
  server/src/i18n/messages/en.json
  server/src/service/providers/auth.service.ts
  server/src/service/providers/order.service.ts
  server/src/service/providers/product-variant.service.ts
  server/src/service/providers/product.service.ts
  server/src/service/service.module.ts
  server/yarn.lock
  shared/generated-types.ts
Due: yarn format, yarn lint:server

test(server): Add tests for orders with authenticated user
  server/e2e/__snapshots__/order.e2e-spec.ts.snap
  server/e2e/order.e2e-spec.ts
  server/mock-data/simple-graphql-client.ts
  server/src/api/resolvers/auth.resolver.ts
Due: yarn format, yarn lint:server

chore(server): Use graphql-code-generator for generating all types
  admin-ui/src/app/data/client-state/client-types.graphql
  codegen/client-schema.ts
  codegen/download-introspection-schema.ts
  codegen/generate-graphql-types.ts
  package.json
  schema.json
  yarn.lock
Due: none

refactor(admin-ui): Switch to new generated types
  admin-ui/src/app/administrator/components/admin-detail/admin-detail.component.ts
  admin-ui/src/app/administrator/components/administrator-list/administrator-list.component.ts
  admin-ui/src/app/administrator/components/role-list/role-list.component.ts
  admin-ui/src/app/administrator/providers/routing/administrator-resolver.ts
  admin-ui/src/app/administrator/providers/routing/role-resolver.ts
  admin-ui/src/app/catalog/catalog.routes.ts
  admin-ui/src/app/catalog/components/asset-list/asset-list.component.ts
  admin-ui/src/app/catalog/components/asset-picker-dialog/asset-picker-dialog.component.ts
  admin-ui/src/app/catalog/components/create-option-group-dialog/create-option-group-dialog.component.ts
  admin-ui/src/app/catalog/components/create-option-group-form/create-option-group-form.component.ts
  admin-ui/src/app/catalog/components/facet-detail/facet-detail.component.ts
  admin-ui/src/app/catalog/components/facet-list/facet-list.component.ts
  admin-ui/src/app/catalog/components/facet-value-selector/facet-value-selector.component.ts
  admin-ui/src/app/catalog/components/generate-product-variants/generate-product-variants.component.ts
  admin-ui/src/app/catalog/components/product-detail/product-detail.component.ts
  admin-ui/src/app/catalog/components/product-list/product-list.component.ts
  admin-ui/src/app/catalog/components/product-variants-list/product-variants-list.component.ts
  admin-ui/src/app/catalog/components/product-variants-wizard/product-variants-wizard.component.ts
  admin-ui/src/app/catalog/components/select-option-group-dialog/select-option-group-dialog.component.ts
  admin-ui/src/app/catalog/components/select-option-group/select-option-group.component.ts
  admin-ui/src/app/catalog/providers/routing/facet-resolver.ts
  admin-ui/src/app/catalog/providers/routing/product-resolver.ts
  admin-ui/src/app/common/base-entity-resolver.ts
  admin-ui/src/app/common/utilities/create-updated-translatable.spec.ts
  admin-ui/src/app/core/providers/auth/auth.service.ts
  admin-ui/src/app/data/client-state/client-defaults.ts
  admin-ui/src/app/data/client-state/client-resolvers.ts
  admin-ui/src/app/data/definitions/product-definitions.ts
  admin-ui/src/app/data/providers/administrator-data.service.ts
  admin-ui/src/app/data/providers/auth-data.service.ts
  admin-ui/src/app/data/providers/client-data.service.ts
  admin-ui/src/app/data/providers/facet-data.service.ts
  admin-ui/src/app/data/providers/product-data.service.ts
  admin-ui/src/app/data/server-config.ts
  codegen/generate-graphql-types.ts
  shared/generated-types.ts
Due: yarn lint:admin-ui, yarn format

refactor(server): Switch to new generated types
  schema.json
  server/e2e/administrator.e2e-spec.ts
  server/e2e/auth.e2e-spec.ts
  server/e2e/product.e2e-spec.ts
  server/e2e/role.e2e-spec.ts
  server/mock-data/mock-data.service.ts
  server/mock-data/simple-graphql-client.ts
  server/src/api/resolvers/administrator.resolver.ts
  server/src/api/resolvers/asset.resolver.ts
  server/src/api/resolvers/auth.resolver.ts
  server/src/api/resolvers/channel.resolver.ts
  server/src/api/resolvers/customer.resolver.ts
  server/src/api/resolvers/facet.resolver.ts
  server/src/api/resolvers/order.resolver.ts
  server/src/api/resolvers/product-option.resolver.ts
  server/src/api/resolvers/product.resolver.ts
  server/src/api/resolvers/role.resolver.ts
  server/src/api/types/auth.api.graphql
  server/src/api/types/customer.api.graphql
  server/src/api/types/facet.api.graphql
  server/src/api/types/product-option.api.graphql
  server/src/api/types/product.api.graphql
  server/src/entity/address/address.dto.ts
  server/src/entity/customer/customer.dto.ts
  server/src/entity/product-option-group/product-option-group.dto.ts
  server/src/entity/product-variant/create-product-variant.dto.ts
  server/src/service/helpers/create-translatable.ts
  server/src/service/helpers/update-translatable.ts
  server/src/service/providers/customer.service.ts
  server/src/service/providers/facet-value.service.ts
  server/src/service/providers/facet.service.ts
  server/src/service/providers/product-option-group.service.ts
  server/src/service/providers/product-option.service.ts
  server/src/service/providers/product-variant.service.ts
  server/tsconfig.json
  shared/generated-types.ts
  shared/shared-types.ts
Due: yarn format, yarn lint:server

chore(server): Tidy up unused deps, scripts & update readme
  README.md
  generate-graphql-types.ts
  package.json
  yarn.lock
Due: none

test(server): Update snapshot
  server/e2e/__snapshots__/administrator.e2e-spec.ts.snap
Due: none

fix(server): Fix "me" query
  server/src/api/resolvers/auth.resolver.ts
Due: yarn format, yarn lint:server

feat: Basic orders list
  admin-ui/src/app/app.routes.ts
  admin-ui/src/app/core/components/main-nav/main-nav.component.html
  admin-ui/src/app/data/definitions/order-definitions.ts
  admin-ui/src/app/data/providers/data.service.mock.ts
  admin-ui/src/app/data/providers/data.service.ts
  admin-ui/src/app/data/providers/order-data.service.ts
  admin-ui/src/app/order/components/order-list/order-list.component.html
  admin-ui/src/app/order/components/order-list/order-list.component.scss
  admin-ui/src/app/order/components/order-list/order-list.component.ts
  admin-ui/src/app/order/order.module.ts
  admin-ui/src/app/order/order.routes.ts
  admin-ui/src/i18n-messages/en.json
  schema.json
  server/src/api/resolvers/order.resolver.ts
  server/src/api/types/order.api.graphql
  server/src/entity/order/order.graphql
  server/src/service/providers/order.service.ts
  shared/generated-types.ts
Due: yarn lint:admin-ui, yarn format, yarn lint:server

refactor(admin-ui): Extract AffixedInputComponent for reuse
  admin-ui/package.json
  admin-ui/src/app/catalog/components/product-variants-wizard/product-variants-wizard.component.spec.ts
  admin-ui/src/app/shared/components/affixed-input/affixed-input.component.html
  admin-ui/src/app/shared/components/affixed-input/affixed-input.component.scss
  admin-ui/src/app/shared/components/affixed-input/affixed-input.component.ts
  admin-ui/src/app/shared/components/currency-input/currency-input.component.html
  admin-ui/src/app/shared/components/currency-input/currency-input.component.scss
  admin-ui/src/app/shared/components/currency-input/currency-input.component.spec.ts
  admin-ui/src/app/shared/shared.module.ts
  admin-ui/yarn.lock
Due: yarn lint:admin-ui, yarn format

chore(admin-ui): Remove unnecessary compiler warnings
  admin-ui/angular.json
  admin-ui/src/app/catalog/components/asset-gallery/asset-gallery.component.scss
Due: none

feat(server): Make adjustment operations configurable
  schema.json
  server/src/common/types/asset-type.graphql
  server/src/common/types/auth-types.ts
  server/src/common/types/common-types.graphql
  server/src/config/adjustment/adjustment-actions.ts
  server/src/config/adjustment/adjustment-types.ts
  server/src/config/adjustment/default-adjustment-actions.ts
  server/src/config/adjustment/default-adjustment-conditions.ts
  server/src/config/config.service.ts
  server/src/config/default-config.ts
  server/src/config/vendure-config.ts
  server/src/entity/adjustment-source/adjustment-source.graphql
  server/src/entity/asset/asset.graphql
  server/src/service/providers/adjustment-source.service.ts
  shared/generated-types.ts
Due: yarn format, yarn lint:server

refactor(server): Implement adjustment mechanism on Orders & OrderItems
  admin-ui/src/app/data/definitions/adjustment-source-definitions.ts
  schema.json
  server/src/api/common/graphql-config.service.ts
  server/src/api/resolvers/adjustment-source.resolver.ts
  server/src/api/types/adjustment-source.api.graphql
  server/src/config/adjustment/adjustment-types.ts
  server/src/config/adjustment/default-adjustment-actions.ts
  server/src/config/adjustment/default-adjustment-conditions.ts
  server/src/config/config.service.mock.ts
  server/src/config/config.service.ts
  server/src/config/vendure-config.ts
  server/src/entity/adjustment-source/adjustment-source.entity.ts
  server/src/entity/adjustment-source/adjustment-source.graphql
  server/src/entity/adjustment/adjustment.entity.ts
  server/src/entity/adjustment/adjustment.graphql
  server/src/entity/adjustment/order-adjustment.entity.ts
  server/src/entity/adjustment/order-item-adjustment.entity.ts
  server/src/entity/entities.ts
  server/src/entity/order-item/order-item.entity.ts
  server/src/entity/order/order.entity.ts
  server/src/service/helpers/apply-adjustments.spec.ts
  server/src/service/helpers/apply-adjustments.ts
  server/src/service/providers/adjustment-applicator.service.ts
  server/src/service/providers/adjustment-source.service.ts
  server/src/service/providers/order.service.ts
  server/src/service/service.module.ts
  shared/generated-types.ts
Due: yarn lint:admin-ui, yarn format, yarn lint:server

test(server): Add e2e tests for AdjustmentSource resolver
  admin-ui/src/app/data/definitions/adjustment-source-definitions.ts
  admin-ui/src/app/marketing/components/promotion-detail/promotion-detail.component.ts
  admin-ui/src/app/marketing/providers/routing/promotion-resolver.ts
  schema.json
  server/e2e/__snapshots__/adjustment-source.e2e-spec.ts.snap
  server/e2e/adjustment-source.e2e-spec.ts
  server/e2e/test-server.ts
  server/src/entity/adjustment-source/adjustment-source.graphql
  server/src/service/providers/adjustment-source.service.ts
  shared/generated-types.ts
Due: yarn lint:admin-ui, yarn format, yarn lint:server

feat(server): Add Public permission
  schema.json
  server/src/api/common/auth-guard.ts
  server/src/api/resolvers/product.resolver.ts
  server/src/common/types/permission.graphql
  shared/generated-types.ts
Due: yarn format, yarn lint:server

fix(server): Add missing properties to Order and OrderItem
  server/src/entity/order-item/order-item.entity.ts
  server/src/entity/order-item/order-item.graphql
  server/src/entity/order/order.graphql
  server/src/service/providers/order.service.ts
  server/src/service/providers/product-variant.service.ts
Due: yarn format, yarn lint:server

feat(server): Add activeOrder query
  server/src/api/resolvers/order.resolver.ts
  server/src/api/types/order.api.graphql
Due: yarn format, yarn lint:server

fix(admin-ui): Correctly save promotion actions
  admin-ui/src/app/marketing/components/promotion-detail/promotion-detail.component.ts
Due: yarn lint:admin-ui, yarn format

fix(server): Fix calculations for default adjustment actions
  server/src/config/adjustment/default-adjustment-actions.ts
Due: yarn format, yarn lint:server

test(server): Update failing snapshot
  server/e2e/__snapshots__/administrator.e2e-spec.ts.snap
Due: none

feat(server): Create required adjustment operations & actions
  server/src/config/adjustment/required-adjustment-actions.ts
  server/src/config/adjustment/required-adjustment-conditions.ts
  server/src/config/merge-config.ts
  server/src/entity/adjustment-source/adjustment-source.entity.ts
  server/src/service/providers/adjustment-source.service.ts
Due: yarn format, yarn lint:server

feat(admin-ui): List/detail view for tax category adjustments
  admin-ui/src/app/app.routes.ts
  admin-ui/src/app/core/components/main-nav/main-nav.component.html
  admin-ui/src/app/data/providers/adjustment-source-data.service.ts
  admin-ui/src/app/data/providers/data.service.mock.ts
  admin-ui/src/app/marketing/marketing.module.ts
  admin-ui/src/app/settings/components/tax-category-detail/tax-category-detail.component.html
  admin-ui/src/app/settings/components/tax-category-detail/tax-category-detail.component.scss
  admin-ui/src/app/settings/components/tax-category-detail/tax-category-detail.component.ts
  admin-ui/src/app/settings/components/tax-category-list/tax-category-list.component.html
  admin-ui/src/app/settings/components/tax-category-list/tax-category-list.component.scss
  admin-ui/src/app/settings/components/tax-category-list/tax-category-list.component.ts
  admin-ui/src/app/settings/providers/routing/tax-category-resolver.ts
  admin-ui/src/app/settings/settings.module.ts
  admin-ui/src/app/settings/settings.routes.ts
  admin-ui/src/app/shared/components/adjustment-operation-input/adjustment-operation-input.component.html
  admin-ui/src/app/shared/components/adjustment-operation-input/adjustment-operation-input.component.scss
  admin-ui/src/app/shared/components/adjustment-operation-input/adjustment-operation-input.component.ts
  admin-ui/src/app/shared/shared.module.ts
  admin-ui/src/i18n-messages/en.json
Due: yarn lint:admin-ui, yarn format

refactor(admin-ui): Move administrator module into SettingsModule
  admin-ui/src/app/administrator/administrator.module.ts
  admin-ui/src/app/administrator/administrator.routes.ts
  admin-ui/src/app/app.routes.ts
  admin-ui/src/app/core/components/main-nav/main-nav.component.html
  admin-ui/src/app/settings/components/admin-detail/admin-detail.component.html
  admin-ui/src/app/settings/components/admin-detail/admin-detail.component.scss
  admin-ui/src/app/settings/components/admin-detail/admin-detail.component.ts
  admin-ui/src/app/settings/components/administrator-list/administrator-list.component.html
  admin-ui/src/app/settings/components/administrator-list/administrator-list.component.scss
  admin-ui/src/app/settings/components/administrator-list/administrator-list.component.ts
  admin-ui/src/app/settings/components/permission-grid/permission-grid.component.html
  admin-ui/src/app/settings/components/permission-grid/permission-grid.component.scss
  admin-ui/src/app/settings/components/permission-grid/permission-grid.component.ts
  admin-ui/src/app/settings/components/role-detail/role-detail.component.html
  admin-ui/src/app/settings/components/role-detail/role-detail.component.scss
  admin-ui/src/app/settings/components/role-detail/role-detail.component.ts
  admin-ui/src/app/settings/components/role-list/role-list.component.html
  admin-ui/src/app/settings/components/role-list/role-list.component.scss
  admin-ui/src/app/settings/components/role-list/role-list.component.ts
  admin-ui/src/app/settings/providers/routing/administrator-resolver.ts
  admin-ui/src/app/settings/providers/routing/role-resolver.ts
  admin-ui/src/app/settings/settings.module.ts
  admin-ui/src/app/settings/settings.routes.ts
  admin-ui/src/i18n-messages/en.json
Due: yarn lint:admin-ui, yarn format

feat(server): Initial impl of tax-adjusted ProductVariant pricing
  package.json
  schema.json
  server/e2e/adjustment-source.e2e-spec.ts
  server/mock-data/mock-data.service.ts
  server/mock-data/populate.ts
  server/src/api/resolvers/product.resolver.ts
  server/src/api/types/product.api.graphql
  server/src/entity/adjustment-source/adjustment-source.entity.ts
  server/src/entity/product-variant/product-variant-price.entity.ts
  server/src/entity/product-variant/product-variant.entity.ts
  server/src/entity/product-variant/product-variant.graphql
  server/src/entity/product-variant/product-variant.subscriber.ts
  server/src/service/helpers/update-translatable.ts
  server/src/service/providers/adjustment-source.service.ts
  server/src/service/providers/product-variant.service.ts
  shared/generated-types.ts
  yarn.lock
Due: yarn format, yarn lint:server

fix(server): Correctly update ProductVariant tax category
  server/src/api/resolvers/product.resolver.ts
  server/src/entity/product-variant/product-variant.subscriber.ts
Due: yarn format, yarn lint:server

feat(admin-ui): Add tax category controls to ProductVariant form
  admin-ui/src/app/catalog/components/product-detail/product-detail.component.html
  admin-ui/src/app/catalog/components/product-detail/product-detail.component.ts
  admin-ui/src/app/catalog/components/product-variants-list/product-variants-list.component.html
  admin-ui/src/app/catalog/components/product-variants-list/product-variants-list.component.scss
  admin-ui/src/app/catalog/components/product-variants-list/product-variants-list.component.ts
  admin-ui/src/app/data/definitions/product-definitions.ts
  admin-ui/src/app/data/providers/product-data.service.ts
  admin-ui/src/i18n-messages/en.json
  docs/diagrams/full-class-diagram.puml
Due: yarn lint:admin-ui, yarn format

test(server): Add tests relating to ProductVariant tax rate
  server/e2e/product.e2e-spec.ts
Due: yarn format, yarn lint:server

feat(server): Apply tax adjustments to OrderItems
  server/src/api/resolvers/order.resolver.ts
  server/src/config/adjustment/adjustment-types.ts
  server/src/config/adjustment/required-adjustment-actions.ts
  server/src/entity/adjustment-source/adjustment-source.entity.ts
  server/src/entity/order-item/order-item.entity.ts
  server/src/service/helpers/apply-adjustments.spec.ts
  server/src/service/helpers/apply-adjustments.ts
  server/src/service/providers/order.service.ts
Due: yarn format, yarn lint:server

feat: Add Country entity & admin-ui list detail components
  admin-ui/src/app/core/components/main-nav/main-nav.component.html
  admin-ui/src/app/data/definitions/settings-definitions.ts
  admin-ui/src/app/data/providers/data.service.mock.ts
  admin-ui/src/app/data/providers/data.service.ts
  admin-ui/src/app/data/providers/settings-data.service.ts
  admin-ui/src/app/settings/components/country-detail/country-detail.component.html
  admin-ui/src/app/settings/components/country-detail/country-detail.component.scss
  admin-ui/src/app/settings/components/country-detail/country-detail.component.ts
  admin-ui/src/app/settings/components/country-list/country-list.component.html
  admin-ui/src/app/settings/components/country-list/country-list.component.scss
  admin-ui/src/app/settings/components/country-list/country-list.component.ts
  admin-ui/src/app/settings/providers/routing/country-resolver.ts
  admin-ui/src/app/settings/settings.module.ts
  admin-ui/src/app/settings/settings.routes.ts
  admin-ui/src/i18n-messages/en.json
  schema.json
  server/e2e/__snapshots__/administrator.e2e-spec.ts.snap
  server/src/api/api.module.ts
  server/src/api/resolvers/country.resolver.ts
  server/src/api/types/country.api.graphql
  server/src/common/types/permission.graphql
  server/src/entity/country/country.entity.ts
  server/src/entity/country/country.graphql
  server/src/entity/entities.ts
  server/src/service/helpers/connection.decorator.ts
  server/src/service/providers/country.service.ts
  server/src/service/providers/facet-value.service.ts
  server/src/service/providers/role.service.ts
  server/src/service/service.module.ts
  shared/generated-types.ts
Due: yarn lint:admin-ui, yarn format, yarn lint:server

feat(server): Allow default Channel token to be specified in config
  server/dev-config.ts
  server/src/config/config.service.mock.ts
  server/src/config/config.service.ts
  server/src/config/default-config.ts
  server/src/config/vendure-config.ts
  server/src/entity/channel/channel.entity.ts
  server/src/service/providers/channel.service.ts
Due: yarn format, yarn lint:server

chore(server): Populate countries in populate script
  server/mock-data/data-sources/countries.json
  server/mock-data/mock-data.service.ts
  server/mock-data/populate.ts
Due: yarn format, yarn lint:server

feat(admin-ui): DataTable can manage selections
  admin-ui/src/app/shared/components/data-table/data-table.component.html
  admin-ui/src/app/shared/components/data-table/data-table.component.ts
Due: yarn lint:admin-ui, yarn format

feat(server): Implement Zones
  schema.json
  server/src/api/api.module.ts
  server/src/api/resolvers/country.resolver.ts
  server/src/api/resolvers/zone.resolver.ts
  server/src/api/types/zone.api.graphql
  server/src/entity/entities.ts
  server/src/entity/zone/zone.entity.ts
  server/src/entity/zone/zone.graphql
  server/src/service/providers/country.service.ts
  server/src/service/providers/zone.service.ts
  server/src/service/service.module.ts
  shared/generated-types.ts
Due: yarn format, yarn lint:server

feat(admin-ui): Implement grouping Countries into Zones
  admin-ui/src/app/catalog/components/product-detail/product-detail.component.html
  admin-ui/src/app/common/base-list.component.ts
  admin-ui/src/app/data/definitions/settings-definitions.ts
  admin-ui/src/app/data/providers/data.service.mock.ts
  admin-ui/src/app/data/providers/settings-data.service.ts
  admin-ui/src/app/settings/components/country-list/country-list.component.html
  admin-ui/src/app/settings/components/country-list/country-list.component.ts
  admin-ui/src/app/settings/components/zone-selector-dialog/zone-selector-dialog.component.html
  admin-ui/src/app/settings/components/zone-selector-dialog/zone-selector-dialog.component.scss
  admin-ui/src/app/settings/components/zone-selector-dialog/zone-selector-dialog.component.ts
  admin-ui/src/app/settings/settings.module.ts
  admin-ui/src/app/shared/components/data-table/data-table.component.spec.ts
  admin-ui/src/i18n-messages/en.json
Due: yarn lint:admin-ui, yarn format

chore(server): Populate zones
  server/mock-data/data-sources/countries.json
  server/mock-data/mock-data.service.ts
Due: yarn format, yarn lint:server

feat(admin-ui): Chip can have auto-generated background color
  admin-ui/src/app/common/utilities/string-to-color.ts
  admin-ui/src/app/settings/components/country-list/country-list.component.html
  admin-ui/src/app/shared/components/chip/chip.component.html
  admin-ui/src/app/shared/components/chip/chip.component.scss
  admin-ui/src/app/shared/components/chip/chip.component.ts
  admin-ui/src/app/shared/directives/background-color-from.directive.ts
  admin-ui/src/app/shared/shared.module.ts
Due: yarn lint:admin-ui, yarn format

feat(server): Implement CustomerGroup entity
  schema.json
  server/mock-data/mock-data.service.ts
  server/src/api/api.module.ts
  server/src/api/resolvers/customer-group.resolver.ts
  server/src/api/types/customer-group.api.graphql
  server/src/entity/customer-group/customer-group.entity.ts
  server/src/entity/customer-group/customer-group.graphql
  server/src/entity/customer/customer.entity.ts
  server/src/entity/entities.ts
  server/src/service/providers/customer-group.service.ts
  server/src/service/service.module.ts
  shared/generated-types.ts
Due: yarn format, yarn lint:server
