Repository daya110/vendure: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:admin-ui, yarn format, yarn lint:server

feat(server): Add productId field to ProductVariant entity
  schema-admin.json
  schema-shop.json
  schema.json
  server/e2e/collection.e2e-spec.ts
  server/src/api/schema/type/product.type.graphql
  server/src/entity/product-variant/product-variant.entity.ts
  shared/generated-shop-types.ts
  shared/generated-types.ts
Due: yarn format, yarn lint:server

feat(admin-ui): Display Collection contents in CollectionListComponent
  admin-ui/src/app/catalog/components/collection-detail/collection-detail.component.ts
  admin-ui/src/app/catalog/components/collection-list/collection-list.component.html
  admin-ui/src/app/catalog/components/collection-list/collection-list.component.scss
  admin-ui/src/app/catalog/components/collection-list/collection-list.component.ts
  admin-ui/src/app/catalog/components/collection-tree/collection-tree-node.component.html
  admin-ui/src/app/catalog/components/collection-tree/collection-tree-node.component.scss
  admin-ui/src/app/catalog/components/collection-tree/collection-tree-node.component.ts
  admin-ui/src/app/catalog/components/collection-tree/collection-tree.component.html
  admin-ui/src/app/catalog/components/collection-tree/collection-tree.component.ts
  admin-ui/src/app/catalog/components/product-detail/product-detail.component.ts
  admin-ui/src/app/catalog/providers/routing/collection-resolver.ts
  admin-ui/src/app/common/base-list.component.ts
  admin-ui/src/app/data/definitions/collection-definitions.ts
  admin-ui/src/app/data/definitions/product-definitions.ts
  admin-ui/src/app/data/providers/collection-data.service.ts
  admin-ui/src/app/data/providers/data.service.ts
  admin-ui/src/app/data/providers/product-data.service.ts
  admin-ui/src/i18n-messages/en.json
  shared/generated-shop-types.ts
  shared/generated-types.ts
Due: yarn lint:admin-ui, yarn format

fix(server): Fix Collection.productVariants resolver
  server/src/service/services/product-variant.service.ts
Due: yarn format, yarn lint:server

feat(admin-ui): Filter Collection contents by name
  admin-ui/src/app/catalog/components/collection-list/collection-list.component.html
  admin-ui/src/app/catalog/components/collection-list/collection-list.component.scss
  admin-ui/src/app/catalog/components/collection-list/collection-list.component.ts
  admin-ui/src/app/data/providers/collection-data.service.ts
  admin-ui/src/i18n-messages/en.json
Due: yarn lint:admin-ui, yarn format

refactor(admin-ui): Extract CollectionContentsComponent
  admin-ui/src/app/catalog/catalog.module.ts
  admin-ui/src/app/catalog/components/collection-contents/collection-contents.component.html
  admin-ui/src/app/catalog/components/collection-contents/collection-contents.component.scss
  admin-ui/src/app/catalog/components/collection-contents/collection-contents.component.ts
  admin-ui/src/app/catalog/components/collection-list/collection-list.component.html
  admin-ui/src/app/catalog/components/collection-list/collection-list.component.scss
  admin-ui/src/app/catalog/components/collection-list/collection-list.component.ts
Due: yarn lint:admin-ui, yarn format

feat(admin-ui): Display Collection contents in detail view
  admin-ui/src/app/catalog/components/collection-contents/collection-contents.component.html
  admin-ui/src/app/catalog/components/collection-contents/collection-contents.component.ts
  admin-ui/src/app/catalog/components/collection-detail/collection-detail.component.html
  admin-ui/src/app/catalog/components/collection-detail/collection-detail.component.ts
  admin-ui/src/app/catalog/components/collection-tree/collection-tree-node.component.html
  admin-ui/src/app/shared/components/configurable-input/configurable-input.component.scss
  admin-ui/src/app/shared/components/items-per-page-controls/items-per-page-controls.component.html
  admin-ui/src/i18n-messages/en.json
Due: yarn lint:admin-ui, yarn format

fix(admin-ui): Fix disappearing FacetValues on ProductDetail page
  admin-ui/src/app/catalog/components/product-detail/product-detail.component.ts
Due: yarn lint:admin-ui, yarn format

feat(server): Populate Collections as part of initial data
  server/cli/populate.ts
  server/e2e/fixtures/e2e-initial-data.ts
  server/mock-data/data-sources/initial-data.ts
  server/mock-data/mock-data.service.ts
  server/mock-data/populate.ts
  server/src/data-import/providers/populator/populator.ts
  server/src/service/services/facet-value.service.ts
Due: yarn format, yarn lint:server

feat(admin-ui): Display version in ui
  admin-ui/src/app/core/components/main-nav/main-nav.component.scss
  admin-ui/src/app/dashboard/components/dashboard/dashboard.component.html
  admin-ui/src/app/dashboard/components/dashboard/dashboard.component.scss
  admin-ui/src/app/dashboard/components/dashboard/dashboard.component.ts
  admin-ui/src/app/login/components/login/login.component.html
  admin-ui/src/app/login/components/login/login.component.scss
  admin-ui/src/app/login/components/login/login.component.ts
  admin-ui/src/environments/environment.prod.ts
  admin-ui/src/environments/environment.ts
  admin-ui/src/polyfills.ts
Due: yarn lint:admin-ui, yarn format

fix(server): Fix couple of minor bugs, bump alpha version
  server/package.json
  server/src/api/resolvers/shop/shop-products.resolver.ts
  server/src/entity/collection/collection-translation.entity.ts
Due: yarn format, yarn lint:server

fix(server): Populate Collection description
  server/package.json
  server/src/data-import/providers/populator/populator.ts
  server/src/entity/collection/collection-translation.entity.ts
Due: yarn format, yarn lint:server

feat(server): Add collectionIds to search index
  schema-admin.json
  schema-shop.json
  schema.json
  server/e2e/__snapshots__/collection.e2e-spec.ts.snap
  server/e2e/default-search-plugin.e2e-spec.ts
  server/e2e/fixtures/e2e-initial-data.ts
  server/src/api/schema/admin-api/collection.api.graphql
  server/src/api/schema/common/common-types.graphql
  server/src/api/schema/type/product-search.type.graphql
  server/src/entity/subscribers.ts
  server/src/event-bus/events/collection-modification-event.ts
  server/src/plugin/default-search-plugin/fulltext-search.resolver.ts
  server/src/plugin/default-search-plugin/fulltext-search.service.ts
  server/src/plugin/default-search-plugin/search-index-item.entity.ts
  server/src/plugin/default-search-plugin/search-strategy/map-to-search-result.ts
  server/src/plugin/default-search-plugin/search-strategy/mysql-search-strategy.ts
  server/src/plugin/default-search-plugin/search-strategy/postgres-search-strategy.ts
  server/src/plugin/default-search-plugin/search-strategy/sqlite-search-strategy.ts
  server/src/service/services/collection.service.ts
  server/src/service/services/product-variant.service.ts
  shared/generated-shop-types.ts
  shared/generated-types.ts
Due: yarn format, yarn lint:server

fix(server): Fix some SQL that was incompatible with postgres
  server/src/service/services/country.service.ts
  server/src/service/services/customer.service.ts
  server/src/service/services/zone.service.ts
Due: yarn format, yarn lint:server

feat(server): Plugins can define any type of Nest Provider
  server/src/config/vendure-plugin/vendure-plugin.ts
Due: yarn format, yarn lint:server

fix(server): Rework reindexing of search index
  server/src/data-import/data-import.module.ts
  server/src/data-import/providers/populator/populator.ts
  server/src/plugin/default-search-plugin/default-search-plugin.ts
  server/src/plugin/default-search-plugin/fulltext-search.resolver.ts
  server/src/plugin/default-search-plugin/fulltext-search.service.ts
  server/src/service/service.module.ts
  server/src/service/services/search.service.ts
Due: yarn format, yarn lint:server

chore(server): Bump alpha version
  server/package.json
Due: none

feat(docs): Add Storefront page
  docs/content/docs/storefront.md
Due: none

fix(server): Allow same user to be logged in concurrently
  server/package.json
  server/src/service/services/auth.service.ts
Due: yarn format, yarn lint:server

chore: Migrate to newer config format for graphql IDE plugin
  .graphqlconfig
  admin-ui/src/app/data/client-state/client-types.graphql
  graphql.config.json
Due: none

chore(admin-ui): Remove some unused code
  admin-ui/src/app/data/client-state/client-types.graphql
  admin-ui/src/app/data/omit-typename-link.ts
Due: yarn lint:admin-ui, yarn format

feat(server): Add breadcrumbs property to Collection type
  schema-admin.json
  schema-shop.json
  schema.json
  server/e2e/__snapshots__/collection.e2e-spec.ts.snap
  server/e2e/collection.e2e-spec.ts
  server/src/api/resolvers/entity/collection-entity.resolver.ts
  server/src/api/schema/type/collection.type.graphql
  server/src/service/services/collection.service.ts
  shared/generated-shop-types.ts
  shared/generated-types.ts
  shared/pick.ts
  shared/shared-constants.ts
Due: yarn format, yarn lint:server

feat(server): Expose collections field on Product type
  schema-admin.json
  schema-shop.json
  schema.json
  server/dev-config.ts
  server/e2e/collection.e2e-spec.ts
  server/src/api/resolvers/entity/collection-entity.resolver.ts
  server/src/api/resolvers/entity/product-entity.resolver.ts
  server/src/api/schema/type/collection.type.graphql
  server/src/api/schema/type/product.type.graphql
  server/src/service/services/collection.service.ts
  server/src/service/services/product.service.ts
  shared/generated-shop-types.ts
  shared/generated-types.ts
Due: yarn format, yarn lint:server

fix(server): Correctly type the pick function
  server/src/service/services/collection.service.ts
  shared/pick.ts
Due: yarn format, yarn lint:server

fix(admin-ui): Fix incompatible type def
  admin-ui/src/app/catalog/components/collection-tree/array-to-tree.ts
  admin-ui/src/app/catalog/components/collection-tree/collection-tree-node.component.ts
Due: yarn lint:admin-ui, yarn format

fix(server): Return correct FacetValues for search with grouped products
  server/e2e/default-search-plugin.e2e-spec.ts
  server/src/plugin/default-search-plugin/search-strategy/mysql-search-strategy.ts
  server/src/plugin/default-search-plugin/search-strategy/postgres-search-strategy.ts
  server/src/plugin/default-search-plugin/search-strategy/sqlite-search-strategy.ts
Due: yarn format, yarn lint:server

feat(server): Search query now returns the FacetValue count
  schema-admin.json
  schema-shop.json
  schema.json
  server/e2e/default-search-plugin.e2e-spec.ts
  server/src/api/resolvers/admin/search.resolver.ts
  server/src/api/schema/type/product-search.type.graphql
  server/src/plugin/default-search-plugin/fulltext-search.resolver.ts
  server/src/plugin/default-search-plugin/fulltext-search.service.ts
  server/src/plugin/default-search-plugin/search-strategy/mysql-search-strategy.ts
  server/src/plugin/default-search-plugin/search-strategy/postgres-search-strategy.ts
  server/src/plugin/default-search-plugin/search-strategy/search-strategy-utils.ts
  server/src/plugin/default-search-plugin/search-strategy/search-strategy.ts
  server/src/plugin/default-search-plugin/search-strategy/sqlite-search-strategy.ts
  shared/generated-shop-types.ts
  shared/generated-types.ts
Due: yarn format, yarn lint:server

fix(server): Improve type def of pick function
  shared/pick.ts
Due: none

fix(server): Fix shop api session queries when logged in as admin
  server/src/api/common/request-context.ts
  server/src/api/resolvers/shop/shop-customer.resolver.ts
  server/src/service/services/role.service.ts
Due: yarn format, yarn lint:server

fix(tests): Update snapshot
  server/e2e/__snapshots__/administrator.e2e-spec.ts.snap
Due: none

chore(tests): Clean up e2e test output
  server/e2e/test-server.ts
  server/src/service/services/search.service.ts
Due: yarn format, yarn lint:server

feat(server): Expose activeChannel to shop API
  server/src/api/api-internal-modules.ts
  server/src/api/resolvers/shop/shop-environment.resolver.ts
  server/src/api/schema/admin-api/config.api.graphql
  server/src/api/schema/shop-api/shop.api.graphql
Due: yarn format, yarn lint:server

feat(server): Expose price ranges in search results
  schema-admin.json
  schema-shop.json
  schema.json
  server/e2e/default-search-plugin.e2e-spec.ts
  server/src/api/config/configure-graphql-module.ts
  server/src/api/schema/type/product-search.type.graphql
  server/src/plugin/default-search-plugin/search-strategy/mysql-search-strategy.ts
  server/src/plugin/default-search-plugin/search-strategy/postgres-search-strategy.ts
  server/src/plugin/default-search-plugin/search-strategy/search-strategy-utils.ts
  server/src/plugin/default-search-plugin/search-strategy/sqlite-search-strategy.ts
  shared/generated-shop-types.ts
  shared/generated-types.ts
Due: yarn format, yarn lint:server

feat(server): Expose priceWithTax in search results
  schema-admin.json
  schema-shop.json
  schema.json
  server/e2e/default-search-plugin.e2e-spec.ts
  server/src/api/resolvers/admin/tax-rate.resolver.ts
  server/src/api/schema/type/product-search.type.graphql
  server/src/data-import/providers/populator/populator.ts
  server/src/event-bus/events/tax-rate-modification-event.ts
  server/src/plugin/default-search-plugin/default-search-plugin.ts
  server/src/plugin/default-search-plugin/fulltext-search.resolver.ts
  server/src/plugin/default-search-plugin/fulltext-search.service.ts
  server/src/plugin/default-search-plugin/search-index-item.entity.ts
  server/src/plugin/default-search-plugin/search-strategy/mysql-search-strategy.ts
  server/src/plugin/default-search-plugin/search-strategy/postgres-search-strategy.ts
  server/src/plugin/default-search-plugin/search-strategy/search-strategy-utils.ts
  server/src/plugin/default-search-plugin/search-strategy/sqlite-search-strategy.ts
  server/src/service/helpers/order-calculator/order-calculator.spec.ts
  server/src/service/helpers/tax-calculator/tax-calculator.spec.ts
  server/src/service/services/search.service.ts
  server/src/service/services/tax-rate.service.ts
  shared/generated-shop-types.ts
  shared/generated-types.ts
Due: yarn format, yarn lint:server

fix(server): Fix postgres error
  server/src/service/services/collection.service.ts
Due: yarn format, yarn lint:server

chore(server): Update to Nest v6 & Typeorm v0.2.15
  server/package.json
  server/src/api/config/configure-graphql-module.ts
  server/src/api/decorators/allow.decorator.ts
  server/src/api/decorators/decode.decorator.ts
  server/src/api/middleware/asset-interceptor.spec.ts
  server/src/api/middleware/asset-interceptor.ts
  server/src/api/middleware/id-interceptor.ts
  server/src/config/asset-storage-strategy/asset-storage-strategy.ts
  server/src/plugin/default-search-plugin/fulltext-search.service.ts
  server/src/service/helpers/list-query-builder/parse-channel-param.spec.ts
  server/src/service/helpers/list-query-builder/parse-channel-param.ts
  server/yarn.lock
Due: yarn format, yarn lint:server

fix(server): Fix error when streetLine2 is null on checkout
  server/e2e/shop-order.e2e-spec.ts
  server/src/api/resolvers/shop/shop-order.resolver.ts
Due: yarn format, yarn lint:server

feat(admin-ui): Sort OrdersList with newest order at top
  admin-ui/src/app/order/components/order-list/order-list.component.ts
Due: yarn lint:admin-ui, yarn format

feat(docs): Add support for union types in GraphQL doc gen
  codegen/generate-api-docs.ts
  docs/assets/styles/_shortcodes.scss
  server/src/api/schema/type/product-search.type.graphql
Due: none

chore: Bump version to alpha.16, add note on Gatsby storefront
  docs/content/docs/storefront.md
  server/package.json
Due: none

fix(docs): Typo in blog post
  docs/content/blog/introducing-vendure/index.md
Due: none

Path conditions:
  yarn lint:admin-ui: any of: admin-ui/**/*.ts
  yarn format: (any of: admin-ui/**/*.ts) or (any of: server/**/*.ts)
  yarn lint:server: any of: server/**/*.ts
