Repository daya110/vendure: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint, yarn format, yarn lint:admin-ui, yarn lint:core

refactor: Use i18n for facet filter error message, minor code cleanup
  packages/core/src/i18n/messages/en.json
  packages/core/src/plugin/default-search-plugin/search-strategy/mysql-search-strategy.ts
  packages/core/src/plugin/default-search-plugin/search-strategy/postgres-search-strategy.ts
  packages/core/src/plugin/default-search-plugin/search-strategy/sqlite-search-strategy.ts
  packages/elasticsearch-plugin/src/build-elastic-body.ts
Due: yarn lint, yarn format

feat(admin-ui): Display payment errors in OrderDetail view
  packages/admin-ui/i18n-coverage.json
  packages/admin-ui/src/lib/core/src/common/generated-types.ts
  packages/admin-ui/src/lib/core/src/data/definitions/order-definitions.ts
  packages/admin-ui/src/lib/order/src/components/order-payment-card/order-payment-card.component.html
  packages/admin-ui/src/lib/order/src/components/payment-detail/payment-detail.component.html
  packages/admin-ui/src/lib/static/i18n-messages/cs.json
  packages/admin-ui/src/lib/static/i18n-messages/de.json
  packages/admin-ui/src/lib/static/i18n-messages/en.json
  packages/admin-ui/src/lib/static/i18n-messages/es.json
  packages/admin-ui/src/lib/static/i18n-messages/fr.json
  packages/admin-ui/src/lib/static/i18n-messages/pl.json
  packages/admin-ui/src/lib/static/i18n-messages/pt_BR.json
  packages/admin-ui/src/lib/static/i18n-messages/zh_Hans.json
  packages/admin-ui/src/lib/static/i18n-messages/zh_Hant.json
Due: yarn lint, yarn format

feat(admin-ui): Improve display of OrderLine customFields
  packages/admin-ui/src/lib/order/src/components/order-table/order-table-mixin.scss
  packages/admin-ui/src/lib/order/src/components/order-table/order-table.component.html
  packages/admin-ui/src/lib/order/src/components/order-table/order-table.component.scss
  packages/admin-ui/src/lib/order/src/components/order-table/order-table.component.ts
Due: yarn lint, yarn format

feat(core): Allow ListQuery sort/filter inputs to be manually extended
  packages/core/src/api/config/generate-list-options.ts
  packages/core/src/service/helpers/list-query-builder/list-query-builder.ts
  packages/core/src/service/helpers/list-query-builder/parse-filter-params.ts
  packages/core/src/service/helpers/list-query-builder/parse-sort-params.ts
Due: yarn lint, yarn format

feat(core): Implement sort/filter OrderList by customerLastName
  packages/admin-ui/src/lib/core/src/common/generated-types.ts
  packages/asset-server-plugin/e2e/graphql/generated-e2e-asset-server-plugin-types.ts
  packages/common/src/generated-types.ts
  packages/core/e2e/graphql/generated-e2e-admin-types.ts
  packages/core/e2e/order.e2e-spec.ts
  packages/core/src/api/schema/admin-api/order.api.graphql
  packages/core/src/service/services/order.service.ts
  packages/elasticsearch-plugin/e2e/graphql/generated-e2e-elasticsearch-plugin-types.ts
  schema-admin.json
Due: yarn lint, yarn format

feat(admin-ui): Filter Order list by customer last name
  packages/admin-ui/src/lib/order/src/components/order-list/order-list.component.html
  packages/admin-ui/src/lib/order/src/components/order-list/order-list.component.ts
Due: yarn lint, yarn format

feat(admin-ui): Filter Customer list by customer last name
  packages/admin-ui/i18n-coverage.json
  packages/admin-ui/src/lib/customer/src/components/customer-list/customer-list.component.html
  packages/admin-ui/src/lib/customer/src/components/customer-list/customer-list.component.ts
  packages/admin-ui/src/lib/static/i18n-messages/cs.json
  packages/admin-ui/src/lib/static/i18n-messages/de.json
  packages/admin-ui/src/lib/static/i18n-messages/en.json
  packages/admin-ui/src/lib/static/i18n-messages/es.json
  packages/admin-ui/src/lib/static/i18n-messages/fr.json
  packages/admin-ui/src/lib/static/i18n-messages/pl.json
  packages/admin-ui/src/lib/static/i18n-messages/pt_BR.json
  packages/admin-ui/src/lib/static/i18n-messages/zh_Hans.json
  packages/admin-ui/src/lib/static/i18n-messages/zh_Hant.json
Due: yarn lint, yarn format

fix(email-plugin): make @types/nodemailer a dependency to resolve #817
  packages/email-plugin/package.json
Due: none

fix(core): Join eager relations on OrderService.findOne method
  packages/core/src/service/services/order.service.ts
Due: yarn lint, yarn format

fix(core): Handle relation customFields when creating Fulfillments
  packages/core/src/service/services/fulfillment.service.ts
Due: yarn lint, yarn format

fix(admin-ui): Better display Fulfillment customFields in Order detail
  packages/admin-ui/src/lib/order/src/components/fulfillment-detail/fulfillment-detail.component.html
  packages/admin-ui/src/lib/order/src/components/fulfillment-detail/fulfillment-detail.component.ts
Due: yarn lint, yarn format

chore: Update docs readme
  docs/README.md
  docs/build.js
  docs/data/build.json
Due: none

feat(core): Add server translations via plugin application bootstrap
  docs/content/docs/developer-guide/translations.md
  packages/core/e2e/fixtures/i18n/de.json
  packages/core/e2e/fixtures/i18n/en.json
  packages/core/e2e/fixtures/test-plugins/translation-test-plugin.ts
  packages/core/e2e/translations.e2e-spec.ts
  packages/core/package.json
  packages/core/src/i18n/i18n.service.ts
  packages/core/src/i18n/index.ts
  packages/core/src/index.ts
  packages/core/typings.d.ts
  yarn.lock
Due: yarn lint, yarn format, yarn lint:core

fix(email-plugin): Added filename filter for json files (#821)
  packages/email-plugin/src/dev-mailbox.ts
Due: yarn lint, yarn format

fix(core): Return all assets when querying product by slug
  packages/core/e2e/product.e2e-spec.ts
  packages/core/src/service/services/product.service.ts
Due: yarn lint, yarn format

chore: Publish v1.0.0-beta.8
  CHANGELOG.md
  lerna.json
  packages/admin-ui-plugin/package.json
  packages/admin-ui/package.json
  packages/admin-ui/src/lib/core/src/common/version.ts
  packages/asset-server-plugin/package.json
  packages/common/package.json
  packages/core/package.json
  packages/create/package.json
  packages/dev-server/package.json
  packages/elasticsearch-plugin/package.json
  packages/email-plugin/package.json
  packages/job-queue-plugin/package.json
  packages/testing/package.json
  packages/ui-devkit/package.json
Due: yarn lint, yarn format

fix(admin-ui): Display guest orders in OrderList
  packages/admin-ui/src/lib/order/src/components/order-list/order-list.component.ts
Due: yarn lint, yarn format

chore: Publish v1.0.0-beta.9
  CHANGELOG.md
  lerna.json
  packages/admin-ui/package.json
  packages/admin-ui/src/lib/core/src/common/version.ts
  packages/dev-server/package.json
  packages/ui-devkit/package.json
Due: yarn lint, yarn format

chore(admin-ui-plugin): Bump version
  CHANGELOG.md
  packages/admin-ui-plugin/package.json
Due: none

fix(elasticsearch-plugin): Fix bad import
  packages/elasticsearch-plugin/src/build-elastic-body.ts
Due: yarn lint, yarn format

feat(admin-ui): Add Russian translations (#829)
  packages/admin-ui/i18n-coverage.json
  packages/admin-ui/src/lib/static/i18n-messages/ru.json
  packages/admin-ui/src/lib/static/vendure-ui-config.json
Due: none

feat(core): Added i18n messages for DE (#830)
  packages/core/src/i18n/messages/de.json
Due: none

chore(admin-ui-plugin): Enable ru translation
  packages/admin-ui-plugin/src/constants.ts
Due: yarn lint, yarn format

fix(core): Fix crash on updating Facet code
  packages/core/e2e/facet.e2e-spec.ts
  packages/core/src/service/services/facet.service.ts
Due: yarn lint, yarn format

fix(admin-ui): Fix error when updating roles
  packages/admin-ui/src/lib/core/src/shared/components/channel-assignment-control/channel-assignment-control.component.ts
  packages/admin-ui/src/lib/settings/src/components/role-detail/role-detail.component.ts
Due: yarn lint, yarn format

fix(core): Backoff strategy does not block next jobs
  packages/core/src/job-queue/in-memory-job-queue-strategy.ts
  packages/core/src/plugin/default-job-queue-plugin/sql-job-queue-strategy.ts
Due: yarn lint, yarn format

feat(core): JobQueueStrategy pollInterval accepts function
  packages/core/src/job-queue/polling-job-queue-strategy.ts
  packages/core/src/plugin/default-job-queue-plugin/default-job-queue-plugin.ts
Due: yarn lint, yarn format

chore(docs): Remove obsolete code
  docs/content/docs/developer-guide/deployment.md
Due: none

fix(admin-ui): Make dropdowns scrollable
  packages/admin-ui/src/lib/core/src/shared/components/dropdown/dropdown-menu.component.scss
  packages/admin-ui/src/lib/core/src/shared/components/dropdown/dropdown-menu.component.ts
Due: yarn lint, yarn format

feat(elastic): improve indexing performance
  packages/core/src/service/services/facet-value.service.ts
  packages/elasticsearch-plugin/package.json
  packages/elasticsearch-plugin/src/elasticsearch-resolver.ts
  packages/elasticsearch-plugin/src/elasticsearch.service.ts
  packages/elasticsearch-plugin/src/indexer.controller.ts
  packages/elasticsearch-plugin/src/options.ts
  packages/elasticsearch-plugin/src/plugin.ts
  yarn.lock
Due: yarn lint, yarn format

fix(elastic): include @types/lodash dependency
  packages/elasticsearch-plugin/package.json
  yarn.lock
Due: none

docs: Added hint for multiple custom states
  docs/content/docs/developer-guide/customizing-the-order-process/index.md
Due: none

fix(core): Fix error when assigning deleted ProductVariant to channel
  packages/core/src/service/services/product-variant.service.ts
Due: yarn lint, yarn format

chore: Publish v1.0.0-beta.10
  CHANGELOG.md
  lerna.json
  packages/admin-ui-plugin/package.json
  packages/admin-ui/package.json
  packages/admin-ui/src/lib/core/src/common/version.ts
  packages/asset-server-plugin/package.json
  packages/core/package.json
  packages/create/package.json
  packages/dev-server/package.json
  packages/elasticsearch-plugin/package.json
  packages/email-plugin/package.json
  packages/job-queue-plugin/package.json
  packages/testing/package.json
  packages/ui-devkit/package.json
Due: yarn lint, yarn format

feat(core): Improved translations
  packages/admin-ui/src/lib/static/i18n-messages/de.json
  packages/core/e2e/configurable-operation.e2e-spec.ts
  packages/core/e2e/product.e2e-spec.ts
  packages/core/src/i18n/messages/de.json
  packages/core/src/i18n/messages/en.json
  packages/core/src/service/helpers/config-arg/config-arg.service.ts
  packages/core/src/service/services/product-variant.service.ts
Due: yarn lint, yarn format

test(elasticsearch-plugin): Get tests passing
  packages/elasticsearch-plugin/e2e/e2e-helpers.ts
  packages/elasticsearch-plugin/e2e/elasticsearch-plugin.e2e-spec.ts
  packages/elasticsearch-plugin/src/elasticsearch-resolver.ts
  packages/elasticsearch-plugin/src/elasticsearch.service.ts
  packages/elasticsearch-plugin/src/indexer.controller.ts
Due: yarn lint, yarn format

chore(elasticsearch-plugin): Remove lodash dep
  packages/elasticsearch-plugin/package.json
  yarn.lock
Due: none

fix(core): Fix error on concurrent calls to new channel
  packages/core/e2e/customer-channel.e2e-spec.ts
  packages/core/src/api/middleware/auth-guard.ts
Due: yarn lint, yarn format

fix(core): Allow plugins to define global Nestjs providers
  packages/core/e2e/fixtures/test-plugins/with-global-providers.ts
  packages/core/e2e/plugin.e2e-spec.ts
  packages/core/src/plugin/vendure-plugin.ts
Due: yarn lint, yarn format

Path conditions:
  yarn lint: (any of: admin-ui/**/*.ts) or (any of: packages/**/*.ts)
  yarn format: (((any of: admin-ui/**/*.ts) or (any of: admin-ui/**/*.html)) or (any of: packages/**/*.ts)) or (((any of: admin-ui/**/*.ts) or (any of: admin-ui/**/*.html)) or (any of: packages/core/*.ts))
  yarn lint:admin-ui: any of: admin-ui/**/*.ts
  yarn lint:core: any of: packages/core/*.ts
