Repository daya110/vendure: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:admin-ui, yarn format, yarn lint:server

.lintstagedrc.yml:

linters:
  admin-ui/**/*.ts:
    - yarn lint:admin-ui
    - yarn format
    - git add
  server/**/*.ts:
    - yarn lint:server
    - yarn format
    - git add

feat(server): Implement global settings API
  schema.json
  server/dev-config.ts
  server/src/api/api.module.ts
  server/src/api/resolvers/global-settings.resolver.ts
  server/src/api/types/global-settings.api.graphql
  server/src/entity/custom-entity-fields.ts
  server/src/entity/entities.ts
  server/src/entity/global-settings/global-settings.entity.ts
  server/src/entity/global-settings/global-settings.graphql
  server/src/entity/index.ts
  server/src/service/helpers/utils/patch-entity.spec.ts
  server/src/service/helpers/utils/patch-entity.ts
  server/src/service/service.module.ts
  server/src/service/services/global-settings.service.ts
  shared/generated-types.ts
  shared/shared-types.ts
Due: yarn format, yarn lint:server

feat(admin-ui): Implement editing of global settings
  admin-ui/src/app/common/base-entity-resolver.ts
  admin-ui/src/app/common/language-translation-strings.ts
  admin-ui/src/app/core/components/main-nav/main-nav.component.html
  admin-ui/src/app/customer/components/customer-detail/customer-detail.component.html
  admin-ui/src/app/data/definitions/settings-definitions.ts
  admin-ui/src/app/data/providers/settings-data.service.ts
  admin-ui/src/app/settings/components/global-settings/global-settings.component.html
  admin-ui/src/app/settings/components/global-settings/global-settings.component.scss
  admin-ui/src/app/settings/components/global-settings/global-settings.component.ts
  admin-ui/src/app/settings/providers/routing/global-settings-resolver.ts
  admin-ui/src/app/settings/settings.module.ts
  admin-ui/src/app/settings/settings.routes.ts
  admin-ui/src/i18n-messages/en.json
  shared/generated-types.ts
Due: yarn lint:admin-ui, yarn format

refactor: Move ConfigResolver into GlobalSettings
  admin-ui/src/app/core/providers/auth/auth.service.ts
  admin-ui/src/app/data/definitions/config-definitions.ts
  admin-ui/src/app/data/definitions/settings-definitions.ts
  admin-ui/src/app/data/server-config.ts
  schema.json
  server/src/api/api.module.ts
  server/src/api/resolvers/config.resolver.ts
  server/src/api/resolvers/global-settings.resolver.ts
  server/src/config/default-config.ts
  server/src/entity/global-settings/global-settings.graphql
  shared/generated-types.ts
Due: yarn lint:admin-ui, yarn format, yarn lint:server

feat(admin-ui): Cache global settings, refresh on edit
  admin-ui/src/app/common/base-detail.component.ts
  admin-ui/src/app/data/server-config.ts
  admin-ui/src/app/settings/components/global-settings/global-settings.component.ts
Due: yarn lint:admin-ui, yarn format

fix(admin-ui): Fix broken translation entry
  admin-ui/src/app/catalog/components/facet-detail/facet-detail.component.html
  admin-ui/src/app/catalog/components/facet-detail/facet-detail.component.ts
  admin-ui/src/app/catalog/components/product-category-detail/product-category-detail.component.html
  admin-ui/src/app/catalog/components/product-category-detail/product-category-detail.component.ts
  admin-ui/src/app/catalog/components/product-detail/product-detail.component.html
  admin-ui/src/app/catalog/components/product-detail/product-detail.component.ts
  admin-ui/src/app/common/base-detail.component.ts
  admin-ui/src/app/settings/components/country-detail/country-detail.component.html
  admin-ui/src/app/settings/components/country-detail/country-detail.component.ts
  admin-ui/src/app/shared/components/language-selector/language-selector.component.html
  admin-ui/src/app/shared/components/language-selector/language-selector.component.ts
Due: yarn lint:admin-ui, yarn format

fix(test): Fix non-deterministic order of created Assets
  server/src/api/resolvers/asset.resolver.ts
  server/src/service/services/global-settings.service.ts
Due: yarn format, yarn lint:server

feat(docs): Improve docs nav menu: correct ordering & expand sections
  docs/README.md
  docs/assets/styles/_menu.scss
  docs/assets/styles/_shortcodes.scss
  docs/assets/styles/_variables.scss
  docs/assets/styles/main.scss
  docs/config.toml
  docs/content/menu/index.md
  docs/layouts/partials/docs/menu-filetree.html
Due: none

feat(docs): Highlight current section in table of contents
  docs/assets/scripts/main.ts
  docs/assets/styles/main.scss
  docs/tsconfig.json
Due: none

feat(docs): Write AssetOptions docs, tweak styles
  docs/assets/styles/main.scss
  docs/content/docs/config-asset-options.md
  docs/content/docs/configuration/_index.md
  docs/content/docs/configuration/config-asset-options.md
  docs/content/docs/configuration/config-auth-options.md
  docs/content/docs/configuration/config-custom-fields.md
  docs/content/docs/configuration/config-email-options.md
  docs/content/docs/configuration/config-order-process-options.md
  docs/content/docs/configuration/config-payment-options.md
  docs/content/docs/configuration/config-promotion-options.md
  docs/content/docs/configuration/config-shipping-options.md
  docs/content/docs/configuration/config-tax-options.md
  docs/content/docs/getting-started.md
  docs/content/docs/plugins.md
  docs/layouts/partials/docs/inject/body.html
  docs/layouts/shortcodes/alert.html
  server/src/config/vendure-config.ts
Due: yarn format, yarn lint:server

fix(admin-ui): Fix positioning of file dropzone overlay
  admin-ui/src/app/catalog/components/asset-file-input/asset-file-input.component.scss
  admin-ui/src/app/catalog/components/asset-file-input/asset-file-input.component.ts
Due: yarn lint:admin-ui, yarn format

feat(server): Trim string arg to filter "contains" list queries
  server/src/service/helpers/list-query-builder/parse-filter-params.ts
Due: yarn format, yarn lint:server

feat(admin-ui): Implement search/filtering of Assets
  admin-ui/src/app/catalog/components/asset-list/asset-list.component.html
  admin-ui/src/app/catalog/components/asset-list/asset-list.component.scss
  admin-ui/src/app/catalog/components/asset-list/asset-list.component.ts
  admin-ui/src/app/catalog/components/asset-picker-dialog/asset-picker-dialog.component.html
  admin-ui/src/app/catalog/components/asset-picker-dialog/asset-picker-dialog.component.scss
  admin-ui/src/app/catalog/components/asset-picker-dialog/asset-picker-dialog.component.ts
  admin-ui/src/i18n-messages/en.json
Due: yarn lint:admin-ui, yarn format

feat(server): Set Address country via countryCode
  schema.json
  server/e2e/__snapshots__/product-category.e2e-spec.ts.snap
  server/e2e/customer.e2e-spec.ts
  server/e2e/order.e2e-spec.ts
  server/mock-data/mock-data.service.ts
  server/src/api/resolvers/customer.resolver.ts
  server/src/entity/address/address.entity.ts
  server/src/entity/address/address.graphql
  server/src/entity/order/order.graphql
  server/src/i18n/messages/en.json
  server/src/service/services/country.service.ts
  server/src/service/services/customer.service.ts
  server/src/service/services/order.service.ts
  shared/generated-types.ts
Due: yarn format, yarn lint:server

feat(admin-ui): Customer detail includes editable addresses
  admin-ui/src/app/customer/components/address-card/address-card.component.html
  admin-ui/src/app/customer/components/address-card/address-card.component.scss
  admin-ui/src/app/customer/components/address-card/address-card.component.ts
  admin-ui/src/app/customer/components/customer-detail/customer-detail.component.html
  admin-ui/src/app/customer/components/customer-detail/customer-detail.component.ts
  admin-ui/src/app/customer/components/customer-list/customer-list.component.html
  admin-ui/src/app/customer/components/customer-list/customer-list.component.scss
  admin-ui/src/app/customer/components/customer-status-label/customer-status-label.component.html
  admin-ui/src/app/customer/components/customer-status-label/customer-status-label.component.scss
  admin-ui/src/app/customer/components/customer-status-label/customer-status-label.component.ts
  admin-ui/src/app/customer/customer.module.ts
  admin-ui/src/app/data/definitions/customer-definitions.ts
  admin-ui/src/app/data/definitions/settings-definitions.ts
  admin-ui/src/app/data/providers/customer-data.service.ts
  admin-ui/src/app/data/providers/settings-data.service.ts
  admin-ui/src/i18n-messages/en.json
  schema.json
  shared/generated-types.ts
Due: yarn lint:admin-ui, yarn format

feat(server): Expose list of Customer's orders
  schema.json
  server/e2e/customer.e2e-spec.ts
  server/src/api/resolvers/customer.resolver.ts
  server/src/entity/customer/customer.graphql
  server/src/service/services/order.service.ts
  shared/generated-types.ts
Due: yarn format, yarn lint:server

feat(admin-ui): Add empty state placeholder to DataTable component
  admin-ui/src/app/shared/components/data-table/data-table.component.html
  admin-ui/src/app/shared/components/data-table/data-table.component.scss
  admin-ui/src/app/shared/components/data-table/data-table.component.ts
Due: yarn lint:admin-ui, yarn format

feat(admin-ui): Customer detail includes orders list
  admin-ui/src/app/common/base-detail.component.ts
  admin-ui/src/app/customer/components/customer-detail/customer-detail.component.html
  admin-ui/src/app/customer/components/customer-detail/customer-detail.component.ts
  admin-ui/src/app/data/definitions/customer-definitions.ts
  admin-ui/src/app/data/providers/customer-data.service.ts
  admin-ui/src/app/order/components/order-detail/order-detail.component.ts
  admin-ui/src/app/order/components/order-list/order-list.component.html
  admin-ui/src/i18n-messages/en.json
  shared/generated-types.ts
Due: yarn lint:admin-ui, yarn format

feat(admin-ui): Improve styling & layout of CustomerDetail component
  admin-ui/src/app/customer/components/address-card/address-card.component.html
  admin-ui/src/app/customer/components/address-card/address-card.component.scss
  admin-ui/src/app/customer/components/customer-detail/customer-detail.component.html
  admin-ui/src/app/customer/components/customer-detail/customer-detail.component.ts
  admin-ui/src/i18n-messages/en.json
Due: yarn lint:admin-ui, yarn format

feat(server): Implement soft delete for Customer entity
  schema.json
  server/e2e/customer.e2e-spec.ts
  server/src/api/resolvers/customer.resolver.ts
  server/src/api/types/customer.api.graphql
  server/src/common/types/common-types.ts
  server/src/entity/customer/customer.entity.ts
  server/src/service/services/customer-group.service.ts
  server/src/service/services/customer.service.ts
  shared/generated-types.ts
Due: yarn format, yarn lint:server

feat(server): Implement soft delete for Product entity
  server/e2e/product.e2e-spec.ts
  server/src/api/resolvers/product.resolver.ts
  server/src/api/types/product.api.graphql
  server/src/common/types/common-types.ts
  server/src/entity/customer/customer.entity.ts
  server/src/entity/product/product.entity.ts
  server/src/service/helpers/utils/get-entity-or-throw.ts
  server/src/service/services/customer.service.ts
  server/src/service/services/product-variant.service.ts
  server/src/service/services/product.service.ts
Due: yarn format, yarn lint:server

test(server): Refactor common testing pattern into util function
  server/e2e/administrator.e2e-spec.ts
  server/e2e/auth.e2e-spec.ts
  server/e2e/customer.e2e-spec.ts
  server/e2e/order.e2e-spec.ts
  server/e2e/product-category.e2e-spec.ts
  server/e2e/product.e2e-spec.ts
  server/e2e/role.e2e-spec.ts
  server/e2e/test-utils.ts
Due: yarn format, yarn lint:server

feat(server): Implement soft delete for Promotion entity
  schema.json
  server/e2e/promotion.e2e-spec.ts
  server/src/api/resolvers/promotion.resolver.ts
  server/src/api/types/promotion.api.graphql
  server/src/entity/promotion/promotion.entity.ts
  server/src/service/services/promotion.service.ts
  shared/generated-types.ts
Due: yarn format, yarn lint:server

feat(server): Return an object from delete mutations
  schema.json
  server/e2e/customer.e2e-spec.ts
  server/e2e/product.e2e-spec.ts
  server/e2e/promotion.e2e-spec.ts
  server/src/api/resolvers/customer.resolver.ts
  server/src/api/resolvers/product.resolver.ts
  server/src/api/resolvers/promotion.resolver.ts
  server/src/api/types/customer.api.graphql
  server/src/api/types/product.api.graphql
  server/src/api/types/promotion.api.graphql
  server/src/common/types/common-types.graphql
  server/src/service/services/customer.service.ts
  server/src/service/services/product.service.ts
  server/src/service/services/promotion.service.ts
  shared/generated-types.ts
Due: yarn format, yarn lint:server

feat(server): Add translate() method to RequestContext
  server/src/api/common/request-context.service.ts
  server/src/api/common/request-context.ts
Due: yarn format, yarn lint:server

feat(server): Implement delete for Facet & FacetValue entities
  schema.json
  server/e2e/__snapshots__/facet.e2e-spec.ts.snap
  server/e2e/__snapshots__/promotion.e2e-spec.ts.snap
  server/e2e/facet.e2e-spec.ts
  server/e2e/promotion.e2e-spec.ts
  server/src/api/resolvers/facet.resolver.ts
  server/src/api/types/facet.api.graphql
  server/src/entity/facet-value/facet-value-translation.entity.ts
  server/src/entity/facet-value/facet-value.entity.ts
  server/src/entity/facet/facet-translation.entity.ts
  server/src/i18n/messages/en.json
  server/src/service/services/facet-value.service.ts
  server/src/service/services/facet.service.ts
  shared/generated-types.ts
Due: yarn format, yarn lint:server

refactor: Address.country is now a reference to actual Country entity
  admin-ui/src/app/customer/components/address-card/address-card.component.html
  admin-ui/src/app/customer/components/customer-detail/customer-detail.component.ts
  admin-ui/src/app/data/definitions/customer-definitions.ts
  schema.json
  server/e2e/customer.e2e-spec.ts
  server/src/api/resolvers/customer.resolver.ts
  server/src/entity/address/address.entity.ts
  server/src/entity/address/address.graphql
  server/src/service/services/customer.service.ts
  shared/generated-types.ts
Due: yarn lint:admin-ui, yarn format, yarn lint:server

feat(server): Implement delete for Country entity
  server/e2e/country.e2e-spec.ts
  server/src/api/resolvers/country.resolver.ts
  server/src/api/types/country.api.graphql
  server/src/entity/country/country-translation.entity.ts
  server/src/i18n/messages/en.json
  server/src/service/services/country.service.ts
Due: yarn format, yarn lint:server

feat(server): Implement delete for Zone entity
  schema.json
  server/e2e/zone.e2e-spec.ts
  server/src/api/resolvers/zone.resolver.ts
  server/src/api/types/zone.api.graphql
  server/src/i18n/messages/en.json
  server/src/service/services/zone.service.ts
  shared/generated-types.ts
Due: yarn format, yarn lint:server

chore(server): Better naming for mock FacetValue codes
  server/e2e/__snapshots__/product-category.e2e-spec.ts.snap
  server/mock-data/mock-data.service.ts
Due: yarn format, yarn lint:server

feat(admin-ui): Vertically center list component tables
  admin-ui/src/app/catalog/components/facet-list/facet-list.component.html
  admin-ui/src/app/catalog/components/product-list/product-list.component.html
  admin-ui/src/app/customer/components/customer-list/customer-list.component.html
  admin-ui/src/app/settings/components/administrator-list/administrator-list.component.html
  admin-ui/src/app/settings/components/channel-list/channel-list.component.html
  admin-ui/src/app/settings/components/country-list/country-list.component.html
  admin-ui/src/app/settings/components/payment-method-list/payment-method-list.component.html
  admin-ui/src/app/settings/components/role-list/role-list.component.html
  admin-ui/src/app/settings/components/shipping-method-list/shipping-method-list.component.html
  admin-ui/src/app/settings/components/tax-category-list/tax-category-list.component.html
  admin-ui/src/app/settings/components/tax-rate-list/tax-rate-list.component.html
Due: none

feat(admin-ui): Implement deletion of FacetValues
  admin-ui/src/app/catalog/catalog.module.ts
  admin-ui/src/app/catalog/components/delete-facet-value-dialog/delete-facet-value-dialog.component.html
  admin-ui/src/app/catalog/components/delete-facet-value-dialog/delete-facet-value-dialog.component.scss
  admin-ui/src/app/catalog/components/delete-facet-value-dialog/delete-facet-value-dialog.component.ts
  admin-ui/src/app/catalog/components/facet-detail/facet-detail.component.html
  admin-ui/src/app/catalog/components/facet-detail/facet-detail.component.scss
  admin-ui/src/app/catalog/components/facet-detail/facet-detail.component.ts
  admin-ui/src/app/data/definitions/facet-definitions.ts
  admin-ui/src/app/data/providers/facet-data.service.ts
  admin-ui/src/app/shared/components/facet-value-chip/facet-value-chip.component.scss
  admin-ui/src/i18n-messages/en.json
  server/e2e/facet.e2e-spec.ts
  server/src/i18n/messages/en.json
  shared/generated-types.ts
Due: yarn lint:admin-ui, yarn format, yarn lint:server

refactor(admin-ui): Create generic dialog() method
  admin-ui/src/app/catalog/catalog.module.ts
  admin-ui/src/app/catalog/components/delete-facet-value-dialog/delete-facet-value-dialog.component.html
  admin-ui/src/app/catalog/components/delete-facet-value-dialog/delete-facet-value-dialog.component.ts
  admin-ui/src/app/catalog/components/facet-detail/facet-detail.component.ts
  admin-ui/src/app/shared/components/confirm-navigation-dialog/confirm-navigation-dialog.component.html
  admin-ui/src/app/shared/components/confirm-navigation-dialog/confirm-navigation-dialog.component.scss
  admin-ui/src/app/shared/components/confirm-navigation-dialog/confirm-navigation-dialog.component.ts
  admin-ui/src/app/shared/components/simple-dialog/simple-dialog.component.html
  admin-ui/src/app/shared/components/simple-dialog/simple-dialog.component.scss
  admin-ui/src/app/shared/components/simple-dialog/simple-dialog.component.ts
  admin-ui/src/app/shared/providers/modal/modal.service.ts
  admin-ui/src/app/shared/providers/routing/can-deactivate-detail-guard.ts
  admin-ui/src/app/shared/shared.module.ts
  admin-ui/src/i18n-messages/en.json
Due: yarn lint:admin-ui, yarn format

feat(admin-ui): Implement delete for Facets
  admin-ui/src/app/catalog/components/facet-detail/facet-detail.component.html
  admin-ui/src/app/catalog/components/facet-detail/facet-detail.component.scss
  admin-ui/src/app/catalog/components/facet-detail/facet-detail.component.ts
  admin-ui/src/app/catalog/components/facet-list/facet-list.component.html
  admin-ui/src/app/catalog/components/facet-list/facet-list.component.ts
  admin-ui/src/app/data/definitions/facet-definitions.ts
  admin-ui/src/app/data/providers/facet-data.service.ts
  admin-ui/src/app/shared/components/simple-dialog/simple-dialog.component.ts
  admin-ui/src/i18n-messages/en.json
  admin-ui/src/styles/styles.scss
  shared/generated-types.ts
Due: yarn lint:admin-ui, yarn format

feat(server): Remove deleted products from search index
  schema.json
  server/src/api/resolvers/product.resolver.ts
  server/src/api/resolvers/search.resolver.ts
  server/src/api/types/search.api.graphql
  server/src/event-bus/events/catalog-modification-event.ts
  server/src/plugin/default-search-plugin/default-search-plugin.ts
  server/src/plugin/default-search-plugin/fulltext-search.resolver.ts
  server/src/plugin/default-search-plugin/fulltext-search.service.ts
  server/src/service/services/product-variant.service.ts
  server/src/service/services/product.service.ts
  shared/generated-types.ts
Due: yarn format, yarn lint:server

feat(admin-ui): Implement delete for Products
  admin-ui/src/app/catalog/components/product-list/product-list.component.html
  admin-ui/src/app/catalog/components/product-list/product-list.component.ts
  admin-ui/src/app/data/definitions/product-definitions.ts
  admin-ui/src/app/data/providers/product-data.service.ts
  admin-ui/src/i18n-messages/en.json
Due: yarn lint:admin-ui, yarn format

feat(admin-ui): Implement delete for Countries
  admin-ui/src/app/data/definitions/settings-definitions.ts
  admin-ui/src/app/data/providers/settings-data.service.ts
  admin-ui/src/app/settings/components/country-list/country-list.component.html
  admin-ui/src/app/settings/components/country-list/country-list.component.ts
  admin-ui/src/i18n-messages/en.json
  schema.json
  shared/generated-types.ts
Due: yarn lint:admin-ui, yarn format

feat(admin-ui): Improve layout of list tables
  admin-ui/src/app/catalog/components/facet-list/facet-list.component.html
  admin-ui/src/app/catalog/components/product-list/product-list.component.html
  admin-ui/src/app/customer/components/customer-list/customer-list.component.html
  admin-ui/src/app/settings/components/country-list/country-list.component.html
  admin-ui/src/app/shared/components/data-table/data-table-column.component.ts
  admin-ui/src/app/shared/components/data-table/data-table.component.html
  admin-ui/src/app/shared/components/data-table/data-table.component.scss
Due: yarn lint:admin-ui, yarn format

feat(admin-ui): Add placeholder to ProductList when no image set
  admin-ui/src/app/catalog/components/product-list/product-list.component.html
  admin-ui/src/app/catalog/components/product-list/product-list.component.scss
Due: none

chore(server): Update to TypeScript 3.2.4
  package.json
  server/package.json
  server/src/config/email/email-options.ts
  server/src/email/handlebars-mjml-generator.ts
  server/yarn.lock
  yarn.lock
Due: yarn format, yarn lint:server

chore(admin-ui): Update to TypeScript 3.2.4 & all other deps
  admin-ui/package.json
  admin-ui/src/app/data/client-state/client-resolvers.ts
  admin-ui/yarn.lock
Due: yarn lint:admin-ui, yarn format
