Repository daya110/vendure: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:admin-ui, yarn format, yarn lint:server

.lintstagedrc.yml:

linters:
  admin-ui/**/*.ts:
    - yarn lint:admin-ui
    - yarn format
    - git add
  server/**/*.ts:
    - yarn lint:server
    - yarn format
    - git add

feat(server): Implement applyFacetValuesToProductVariants mutation
  schema.json
  server/src/api/product/product.api.graphql
  server/src/api/product/product.resolver.ts
  server/src/i18n/messages/en.json
  server/src/service/product-variant.service.ts
  server/src/service/product.service.ts
Due: yarn format, yarn lint:server

feat(admin-ui): Implement applying facets to ProductVariants
  admin-ui/package.json
  admin-ui/src/app/catalog/catalog.module.ts
  admin-ui/src/app/catalog/components/apply-facet-dialog/apply-facet-dialog.component.html
  admin-ui/src/app/catalog/components/apply-facet-dialog/apply-facet-dialog.component.scss
  admin-ui/src/app/catalog/components/apply-facet-dialog/apply-facet-dialog.component.ts
  admin-ui/src/app/catalog/components/facet-list/facet-list.component.html
  admin-ui/src/app/catalog/components/facet-value-selector/facet-value-selector.component.html
  admin-ui/src/app/catalog/components/facet-value-selector/facet-value-selector.component.scss
  admin-ui/src/app/catalog/components/facet-value-selector/facet-value-selector.component.ts
  admin-ui/src/app/catalog/components/product-detail/product-detail.component.html
  admin-ui/src/app/catalog/components/product-detail/product-detail.component.ts
  admin-ui/src/app/catalog/components/product-variants-list/product-variants-list.component.html
  admin-ui/src/app/catalog/components/product-variants-list/product-variants-list.component.scss
  admin-ui/src/app/data/fragments/product-fragments.ts
  admin-ui/src/app/data/mutations/product-mutations.ts
  admin-ui/src/app/data/providers/data.service.mock.ts
  admin-ui/src/app/data/providers/product-data.service.ts
  admin-ui/src/app/data/queries/facet-queries.ts
  admin-ui/src/app/data/types/gql-generated-types.ts
  admin-ui/src/app/shared/shared.module.ts
  admin-ui/src/i18n-messages/en.json
  admin-ui/src/styles/styles.scss
  admin-ui/yarn.lock
Due: yarn lint:admin-ui, yarn format

chore(server): Make mock data deterministic, add variant translations
  server/mock-data/mock-data-client.service.ts
Due: yarn format, yarn lint:server

refactor: Move ts-node & tslint to root package
  admin-ui/package.json
  admin-ui/yarn.lock
  server/package.json
  server/yarn.lock
Due: none

refactor(admin-ui): Update shared types & utils to use alias
  admin-ui/src/app/catalog/components/facet-detail/facet-detail.component.ts
  admin-ui/src/app/catalog/components/product-detail/product-detail.component.ts
  admin-ui/src/app/catalog/components/product-variants-wizard/product-variants-wizard.component.ts
  admin-ui/src/app/catalog/components/select-option-group/select-option-group.component.ts
  admin-ui/src/app/catalog/providers/routing/facet-resolver.ts
  admin-ui/src/app/catalog/providers/routing/product-resolver.ts
  admin-ui/src/app/common/utilities/create-updated-translatable.spec.ts
  admin-ui/src/app/common/utilities/create-updated-translatable.ts
  admin-ui/src/app/core/components/breadcrumb/breadcrumb.component.spec.ts
  admin-ui/src/app/data/add-custom-fields.spec.ts
  admin-ui/src/app/data/add-custom-fields.ts
  admin-ui/src/app/data/server-config.ts
  admin-ui/src/app/shared/components/custom-field-control/custom-field-control.component.ts
Due: yarn lint:admin-ui, yarn format

refactor(server): Use generated inputs to type resolver/service methods
  schema.json
  server/mock-data/mock-data-client.service.ts
  server/src/api/facet/facet.resolver.ts
  server/src/api/product-option/product-option.resolver.ts
  server/src/api/product/product.resolver.ts
  server/src/common/create-translatable.ts
  server/src/entity/facet-value/facet-value.dto.ts
  server/src/entity/facet/facet.dto.ts
  server/src/entity/product-option-group/product-option-group.dto.ts
  server/src/entity/product-option/product-option.dto.ts
  server/src/entity/product-variant/create-product-variant.dto.ts
  server/src/entity/product-variant/product-variant.graphql
  server/src/entity/product/product-translation.entity.ts
  server/src/entity/product/product.dto.ts
  server/src/entity/product/product.graphql
  server/src/locale/locale-types.ts
  server/src/locale/translation-updater.spec.ts
  server/src/service/facet-value.service.ts
  server/src/service/facet.service.ts
  server/src/service/product-option-group.service.ts
  server/src/service/product-option.service.ts
  server/src/service/product-variant.service.ts
  server/src/service/product.service.spec.ts
  server/src/service/product.service.ts
  shared/generated-types.ts
Due: yarn format, yarn lint:server

chore(server): Use generated types for mock data client
  server/mock-data/mock-data-client.service.ts
  server/package.json
  server/src/service/product-variant.service.ts
Due: yarn format, yarn lint:server

docs: Update docs for codegen script
  README.md
  admin-ui/README.md
Due: none

test(server): Set up e2e testing infrastructure
  .gitignore
  README.md
  server/e2e/__data__/.gitkeep
  server/e2e/__snapshots__/product.e2e-spec.ts.snap
  server/e2e/app.e2e-spec.ts
  server/e2e/config/jest-e2e.json
  server/e2e/config/test-config.ts
  server/e2e/config/tsconfig.e2e.json
  server/e2e/jest-e2e.json
  server/e2e/product.e2e-spec.ts
  server/e2e/test-client.ts
  server/e2e/test-server.ts
  server/mock-data/clear-all-tables.ts
  server/mock-data/gql-request.ts
  server/mock-data/mock-data.service.ts
  server/mock-data/populate-cli.ts
  server/mock-data/populate.ts
  server/mock-data/simple-graphql-client.ts
  server/package.json
  server/src/bootstrap.ts
  server/src/config/vendure-config.ts
  server/src/entity/address/address.entity.ts
  server/src/entity/facet-value/facet-value-translation.entity.ts
  server/src/entity/facet/facet-translation.entity.ts
  server/src/entity/product-option-group/product-option-group-translation.entity.ts
  server/src/entity/product-option/product-option-translation.entity.ts
  server/src/entity/product-variant/product-variant-translation.entity.ts
  server/src/entity/product/product-translation.entity.ts
  server/src/entity/user/user.entity.ts
  server/src/service/product-variant.service.ts
  server/tsconfig.spec.json
  server/yarn.lock
Due: yarn format, yarn lint:server

chore(server): Create facet with mock data
  schema.json
  server/mock-data/mock-data.service.ts
  server/mock-data/populate.ts
  server/src/entity/facet-value/facet-value.graphql
  server/src/entity/facet/facet.graphql
  server/src/service/facet-value.service.ts
  shared/generated-types.ts
Due: yarn format, yarn lint:server

test(server): Create e2e tests for ProductResolver queries & mutations
  server/e2e/__snapshots__/product.e2e-spec.ts.snap
  server/e2e/product.e2e-spec.ts
  server/src/api/facet/facet.resolver.ts
  server/src/api/product/product.resolver.ts
  server/src/common/build-list-query.ts
  server/src/common/common-types.ts
  server/src/common/create-translatable.ts
  server/src/common/parse-filter-params.ts
  server/src/common/parse-sort-params.spec.ts
  server/src/common/parse-sort-params.ts
  server/src/i18n/messages/en.json
  server/src/locale/translation-updater.ts
  server/src/service/customer.service.ts
  server/src/service/product-variant.service.ts
  server/src/service/product.service.ts
Due: yarn format, yarn lint:server

chore(server): Add e2e tests to Travis config & prepush hook
  .travis.yml
  package.json
  server/package.json
  server/yarn.lock
Due: none

test(server): Attempt to make product variant creation deterministic
  server/e2e/__snapshots__/product.e2e-spec.ts.snap
  server/src/service/product-variant.service.ts
Due: yarn format, yarn lint:server

docs: Add note on creating database
  README.md
Due: none

chore(server): Update to Apollo Server v2, update Nest deps
  server/e2e/test-server.ts
  server/package.json
  server/src/app.module.ts
  server/src/config/graphql-config.service.ts
  server/src/i18n/i18n.service.ts
  server/yarn.lock
Due: yarn format, yarn lint:server

feat(server): Implement Channel-based pricing
  admin-ui/src/app/data/providers/facet-data.service.ts
  admin-ui/src/app/data/providers/product-data.service.ts
  docs/diagrams/determining-active-channel.puml
  docs/diagrams/full-class-diagram.puml
  docs/diagrams/theme.puml
  server/e2e/__snapshots__/product.e2e-spec.ts.snap
  server/e2e/product.e2e-spec.ts
  server/e2e/test-client.ts
  server/mock-data/get-default-channel-token.ts
  server/mock-data/mock-data.service.ts
  server/mock-data/populate.ts
  server/mock-data/simple-graphql-client.ts
  server/src/api/common/request-context.pipe.ts
  server/src/api/common/request-context.ts
  server/src/api/product/product.resolver.ts
  server/src/api/roles-guard.ts
  server/src/app.module.ts
  server/src/bootstrap.ts
  server/src/common/constants.ts
  server/src/common/types/role.ts
  server/src/entity/channel/channel.entity.ts
  server/src/entity/entities.ts
  server/src/entity/product-variant/product-variant-price.entity.ts
  server/src/entity/product-variant/product-variant.entity.ts
  server/src/entity/product-variant/product-variant.subscriber.ts
  server/src/entity/subscribers.ts
  server/src/service/administrator.service.ts
  server/src/service/channel.service.ts
  server/src/service/helpers/create-translatable.ts
  server/src/service/product-variant.service.spec.ts
  server/src/service/product-variant.service.ts
  server/src/service/product.service.spec.ts
  server/src/service/product.service.ts
  server/src/service/service.module.ts
  shared/omit.spec.ts
  shared/omit.ts
  shared/pick.spec.ts
  shared/pick.ts
Due: yarn lint:admin-ui, yarn format, yarn lint:server

feat(admin-ui): Send channel token with requests, update auth calls
  admin-ui/package.json
  admin-ui/src/app/core/providers/auth/auth.service.ts
  admin-ui/src/app/core/providers/local-storage/local-storage.service.ts
  admin-ui/src/app/data/client-state/client-resolvers.ts
  admin-ui/src/app/data/data.module.ts
  admin-ui/src/app/data/fragments/auth-fragments.ts
  admin-ui/src/app/data/mutations/auth-mutations.ts
  admin-ui/src/app/data/mutations/local-mutations.ts
  admin-ui/src/app/data/providers/auth-data.service.ts
  admin-ui/src/app/data/providers/base-data.service.ts
  admin-ui/src/app/data/providers/client-data.service.ts
  admin-ui/src/app/data/providers/data.service.mock.ts
  admin-ui/src/app/data/providers/data.service.ts
  admin-ui/src/app/data/providers/user-data.service.ts
  admin-ui/src/app/data/queries/auth-queries.ts
  admin-ui/src/app/data/types/client-types.graphql
  admin-ui/src/app/data/types/gql-generated-types.ts
  admin-ui/src/app/data/types/response.ts
  admin-ui/yarn.lock
  shared/generated-types.ts
Due: yarn lint:admin-ui, yarn format

feat(server): Convert auth to GraphQL, fix auth guard mechanism
  .prettierignore
  schema.json
  server/src/api/api.module.ts
  server/src/api/auth-guard.ts
  server/src/api/auth/auth.api.graphql
  server/src/api/auth/auth.resolver.ts
  server/src/api/jwt.strategy.ts
  server/src/api/roles-guard.ts
  server/src/service/channel.service.ts
Due: yarn format, yarn lint:server

chore(server): Update @nestjs/graphql dependency
  server/package.json
  server/yarn.lock
Due: none

feat(server): Add auth controls to all existing API operations
  server/src/api/administrator/administrator.resolver.ts
  server/src/api/auth/auth.resolver.ts
  server/src/api/channel/channel.resolver.ts
  server/src/api/customer/customer.resolver.ts
  server/src/api/facet/facet.resolver.ts
  server/src/api/product-option/product-option.resolver.ts
  server/src/api/product/product.resolver.ts
  server/src/entity/role/permission.ts
Due: yarn format, yarn lint:server

chore(server): Set node version to 8 for Travis CI
  .travis.yml
Due: none

fix(admin-ui): Ensure the translations are loaded when app bootstraps
  admin-ui/src/app/app.module.ts
  admin-ui/src/app/core/providers/i18n/i18n.service.mock.ts
  admin-ui/src/app/core/providers/i18n/i18n.service.ts
Due: yarn lint:admin-ui, yarn format

test(server): Remove unwanted logging from e2e tests
  server/e2e/product.e2e-spec.ts
  server/mock-data/clear-all-tables.ts
Due: yarn format, yarn lint:server

fix(admin-ui): Coerce customFields to correct data types
  admin-ui/src/app/common/utilities/create-updated-translatable.spec.ts
  admin-ui/src/app/common/utilities/create-updated-translatable.ts
  server/dev-config.ts
Due: yarn lint:admin-ui, yarn format, yarn lint:server

refactor(admin-ui): Move GraphQL definitions into single files
  admin-ui/src/app/catalog/components/select-option-group/select-option-group.component.ts
  admin-ui/src/app/data/client-state/client-resolvers.ts
  admin-ui/src/app/data/client-state/client-types.graphql
  admin-ui/src/app/data/definitions/auth-definitions.ts
  admin-ui/src/app/data/definitions/facet-definitions.ts
  admin-ui/src/app/data/definitions/local-definitions.ts
  admin-ui/src/app/data/definitions/product-definitions.ts
  admin-ui/src/app/data/fragments/auth-fragments.ts
  admin-ui/src/app/data/fragments/facet-fragments.ts
  admin-ui/src/app/data/fragments/product-fragments.ts
  admin-ui/src/app/data/mutations/facet-mutations.ts
  admin-ui/src/app/data/providers/auth-data.service.ts
  admin-ui/src/app/data/providers/base-data.service.ts
  admin-ui/src/app/data/providers/client-data.service.ts
  admin-ui/src/app/data/providers/data.service.mock.ts
  admin-ui/src/app/data/providers/facet-data.service.ts
  admin-ui/src/app/data/providers/product-data.service.ts
  admin-ui/src/app/data/queries/auth-queries.ts
  admin-ui/src/app/data/queries/facet-queries.ts
  admin-ui/src/app/data/queries/local-queries.ts
  admin-ui/src/app/data/queries/product-queries.ts
  admin-ui/src/app/data/query-result.ts
  generate-graphql-types.ts
  server/e2e/product.e2e-spec.ts
  server/mock-data/mock-data.service.ts
Due: yarn lint:admin-ui, yarn format, yarn lint:server

feat(server): Make administrators query return paginated list
  schema.json
  server/src/api/administrator/administrator.api.graphql
  server/src/api/administrator/administrator.resolver.ts
  server/src/entity/administrator/administrator.entity.ts
  server/src/entity/administrator/administrator.graphql
  server/src/entity/user/user.graphql
  server/src/service/administrator.service.ts
Due: yarn format, yarn lint:server

feat(admin-ui): Create basic Administrators list
  admin-ui/src/app/administrator/administrator.module.ts
  admin-ui/src/app/administrator/administrator.routes.ts
  admin-ui/src/app/administrator/components/administrator-list/administrator-list.component.html
  admin-ui/src/app/administrator/components/administrator-list/administrator-list.component.scss
  admin-ui/src/app/administrator/components/administrator-list/administrator-list.component.ts
  admin-ui/src/app/app.routes.ts
  admin-ui/src/app/core/components/main-nav/main-nav.component.html
  admin-ui/src/app/data/definitions/administrator-definitions.ts
  admin-ui/src/app/data/providers/administrator-data.service.ts
  admin-ui/src/app/data/providers/data.service.mock.ts
  admin-ui/src/app/data/providers/data.service.ts
  admin-ui/src/polyfills.ts
  shared/generated-types.ts
Due: yarn lint:admin-ui, yarn format

refactor(admin-ui): Create BaseListComponent to share list logic
  admin-ui/src/app/administrator/components/administrator-list/administrator-list.component.html
  admin-ui/src/app/administrator/components/administrator-list/administrator-list.component.ts
  admin-ui/src/app/catalog/components/facet-list/facet-list.component.html
  admin-ui/src/app/catalog/components/facet-list/facet-list.component.ts
  admin-ui/src/app/catalog/components/product-list/product-list.component.html
  admin-ui/src/app/catalog/components/product-list/product-list.component.ts
  admin-ui/src/app/common/base-list.component.ts
Due: yarn lint:admin-ui, yarn format

feat(server): Create roles API resolver & service methods
  schema.json
  server/src/api/api.module.ts
  server/src/api/role/role.api.graphql
  server/src/api/role/role.resolver.ts
  server/src/entity/role/role.graphql
  server/src/service/administrator.service.ts
  server/src/service/role.service.ts
Due: yarn format, yarn lint:server

fix(server): Fix broken permissions guard implementation, add e2e tests
  README.md
  schema.json
  server/e2e/auth.e2e-spec.ts
  server/e2e/product.e2e-spec.ts
  server/e2e/test-client.ts
  server/e2e/test-server.ts
  server/mock-data/get-default-channel-token.ts
  server/mock-data/mock-data.service.ts
  server/mock-data/populate.ts
  server/mock-data/simple-graphql-client.ts
  server/package.json
  server/src/api/administrator/administrator.api.graphql
  server/src/api/administrator/administrator.resolver.ts
  server/src/api/api.module.ts
  server/src/api/auth-guard.ts
  server/src/api/auth/auth.resolver.ts
  server/src/api/channel/channel.resolver.ts
  server/src/api/common/request-context.service.ts
  server/src/api/customer/customer.resolver.ts
  server/src/api/facet/facet.resolver.ts
  server/src/api/product-option/product-option.resolver.ts
  server/src/api/product/product.resolver.ts
  server/src/api/role/role.resolver.ts
  server/src/api/roles-guard.ts
  server/src/common/constants.ts
  server/src/common/utils.ts
  server/src/config/config.service.mock.ts
  server/src/config/config.service.ts
  server/src/config/vendure-config.ts
  server/src/entity/customer/customer.entity.ts
  server/src/entity/customer/customer.graphql
  server/src/service/administrator.service.ts
  server/src/service/product-variant.service.ts
  server/src/service/product.service.ts
  server/src/service/role.service.ts
  server/src/service/service.module.ts
Due: yarn format, yarn lint:server

refactor(admin-ui): Create shared base impls for entity details
  admin-ui/src/app/catalog/catalog.routes.ts
  admin-ui/src/app/catalog/components/facet-detail/facet-detail.component.ts
  admin-ui/src/app/catalog/components/product-detail/product-detail.component.ts
  admin-ui/src/app/catalog/providers/routing/facet-resolver.ts
  admin-ui/src/app/catalog/providers/routing/product-resolver.ts
  admin-ui/src/app/common/base-detail.component.ts
  admin-ui/src/app/common/base-entity-resolver.ts
  admin-ui/src/app/common/detail-breadcrumb.ts
Due: yarn lint:admin-ui, yarn format

feat(server): Implement create & update mutation for Roles
  schema.json
  server/e2e/auth.e2e-spec.ts
  server/src/api/administrator/administrator.resolver.ts
  server/src/api/auth/auth.resolver.ts
  server/src/api/channel/channel.resolver.ts
  server/src/api/customer/customer.resolver.ts
  server/src/api/facet/facet.resolver.ts
  server/src/api/product-option/product-option.resolver.ts
  server/src/api/product/product.resolver.ts
  server/src/api/role/role.api.graphql
  server/src/api/role/role.resolver.ts
  server/src/api/roles-guard.ts
  server/src/common/types/auth-types.ts
  server/src/common/types/permission.graphql
  server/src/entity/role/permission.ts
  server/src/entity/role/role.entity.ts
  server/src/entity/role/role.graphql
  server/src/service/auth.service.ts
  server/src/service/role.service.ts
  shared/generated-types.ts
Due: yarn format, yarn lint:server

feat(admin-ui): Implement Role list/detail routes
  admin-ui/src/app/administrator/administrator.module.ts
  admin-ui/src/app/administrator/administrator.routes.ts
  admin-ui/src/app/administrator/components/role-detail/role-detail.component.html
  admin-ui/src/app/administrator/components/role-detail/role-detail.component.scss
  admin-ui/src/app/administrator/components/role-detail/role-detail.component.ts
  admin-ui/src/app/administrator/components/role-list/role-list.component.html
  admin-ui/src/app/administrator/components/role-list/role-list.component.scss
  admin-ui/src/app/administrator/components/role-list/role-list.component.ts
  admin-ui/src/app/administrator/providers/routing/role-resolver.ts
  admin-ui/src/app/common/detail-breadcrumb.ts
  admin-ui/src/app/core/components/main-nav/main-nav.component.html
  admin-ui/src/app/data/data.module.ts
  admin-ui/src/app/data/definitions/administrator-definitions.ts
  admin-ui/src/app/data/providers/administrator-data.service.ts
  admin-ui/src/app/data/providers/data.service.mock.ts
  admin-ui/src/i18n-messages/en.json
Due: yarn lint:admin-ui, yarn format

refactor(admin-ui): Simplify some translation strings
  admin-ui/src/app/administrator/components/administrator-list/administrator-list.component.html
  admin-ui/src/app/administrator/components/role-detail/role-detail.component.html
  admin-ui/src/app/administrator/components/role-detail/role-detail.component.ts
  admin-ui/src/app/administrator/components/role-list/role-list.component.html
  admin-ui/src/app/catalog/components/facet-detail/facet-detail.component.html
  admin-ui/src/app/catalog/components/facet-detail/facet-detail.component.ts
  admin-ui/src/app/catalog/components/facet-list/facet-list.component.html
  admin-ui/src/app/catalog/components/product-detail/product-detail.component.ts
  admin-ui/src/app/catalog/components/product-list/product-list.component.html
  admin-ui/src/app/catalog/components/product-variants-wizard/product-variants-wizard.component.ts
  admin-ui/src/i18n-messages/en.json
Due: yarn lint:admin-ui, yarn format

fix(admin-ui): Template type check error
  admin-ui/src/app/administrator/components/role-detail/role-detail.component.ts
Due: yarn lint:admin-ui, yarn format

refactor(server): Move constants into shared
  server/e2e/auth.e2e-spec.ts
  server/e2e/test-client.ts
  server/mock-data/get-default-channel-token.ts
  server/mock-data/simple-graphql-client.ts
  server/src/common/constants.ts
  server/src/service/administrator.service.ts
  server/src/service/channel.service.ts
  server/src/service/role.service.ts
  shared/shared-constants.ts
Due: yarn format, yarn lint:server
