Repository daya110/vendure: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:admin-ui, yarn format, yarn lint:server

chore: Set up Travis CI to run tests
  .travis.yml
  admin-ui/package.json
  admin-ui/src/karma.conf.js
  admin-ui/yarn.lock
  package.json
Due: none

chore: Add admin-ui prod build to CI scripts
  .travis.yml
  admin-ui/src/app/shared/components/modal-dialog/modal-dialog.component.html
  admin-ui/src/testing/translate.pipe.mock.ts
  package.json
Due: yarn lint:admin-ui, yarn format

feat(server): Add filtering to productOptionGroups query
  schema.json
  server/src/api/product-option/product-option.api.graphql
  server/src/api/product-option/product-option.resolver.ts
  server/src/service/product-option-group.service.ts
Due: yarn format, yarn lint:server

feat(server): Correctly type translated entities
  server/src/api/customer/customer.api.graphql
  server/src/api/product-option/product-option.resolver.ts
  server/src/api/product/product.api.graphql
  server/src/api/product/product.resolver.ts
  server/src/common/common-types.ts
  server/src/common/utils.ts
  server/src/entity/product-option-group/product-option-group.graphql
  server/src/entity/product-option/product-option.graphql
  server/src/locale/locale-types.ts
  server/src/locale/translate-entity.ts
  server/src/service/product-option-group.service.ts
  server/src/service/product-option.service.ts
  server/src/service/product.service.ts
Due: yarn format, yarn lint:server

chore: Lock apollo version
  admin-ui/package.json
  admin-ui/yarn.lock
Due: none

feat(admin-ui): Implement add existing option group to product
  admin-ui/src/app/catalog/catalog.module.ts
  admin-ui/src/app/catalog/components/create-option-group-dialog/create-option-group-dialog.component.ts
  admin-ui/src/app/catalog/components/product-detail/product-detail.component.html
  admin-ui/src/app/catalog/components/product-detail/product-detail.component.ts
  admin-ui/src/app/catalog/components/select-option-group-dialog/select-option-group-dialog.component.html
  admin-ui/src/app/catalog/components/select-option-group-dialog/select-option-group-dialog.component.scss
  admin-ui/src/app/catalog/components/select-option-group-dialog/select-option-group-dialog.component.spec.ts
  admin-ui/src/app/catalog/components/select-option-group-dialog/select-option-group-dialog.component.ts
  admin-ui/src/app/catalog/providers/routing/product-resolver.ts
  admin-ui/src/app/data/providers/data.service.mock.ts
  admin-ui/src/app/data/providers/product-data.service.ts
  admin-ui/src/app/data/queries/product-queries.ts
  admin-ui/src/app/data/types/gql-generated-types.ts
  admin-ui/src/app/shared/components/modal-dialog/modal-dialog.component.ts
  admin-ui/src/app/shared/providers/modal/modal.service.ts
  admin-ui/src/tsconfig.app.json
  schema.json
Due: yarn lint:admin-ui, yarn format

chore: Fix travis script & build error
  .travis.yml
  admin-ui/src/app/catalog/catalog.routes.ts
Due: yarn lint:admin-ui, yarn format

chore: Add build status badge to readme
  README.md
Due: none

feat(server): Implement remove ProductOptionGroup
  server/src/api/product/product.api.graphql
  server/src/api/product/product.resolver.ts
  server/src/service/product.service.ts
Due: yarn format, yarn lint:server

feat(admin-ui): Implement remove ProductOptionGroup
  admin-ui/src/app/catalog/components/product-detail/product-detail.component.html
  admin-ui/src/app/catalog/components/product-detail/product-detail.component.scss
  admin-ui/src/app/catalog/components/product-detail/product-detail.component.ts
  admin-ui/src/app/data/mutations/product-mutations.ts
  admin-ui/src/app/data/providers/data.service.mock.ts
  admin-ui/src/app/data/providers/product-data.service.ts
  admin-ui/src/app/data/types/gql-generated-types.ts
  admin-ui/src/app/shared/providers/modal/modal.service.ts
  schema.json
Due: yarn lint:admin-ui, yarn format

refactor(admin-ui): Use decorator to encode/decode entity ids
  server/src/api/administrator/administrator.resolver.ts
  server/src/api/common/apply-id-codec-decorator.spec.ts
  server/src/api/common/apply-id-codec-decorator.ts
  server/src/api/common/id-codec.spec.ts
  server/src/api/common/id-codec.ts
  server/src/api/customer/customer.resolver.ts
  server/src/api/product-option/product-option.resolver.ts
  server/src/api/product/product.resolver.ts
  server/src/app.module.ts
  shared/shared-types.ts
Due: yarn format, yarn lint:server

refactor(admin-ui): Group EntityIdStrategies
  server/src/api/common/apply-id-codec-decorator.ts
  server/src/api/common/id-codec.ts
  server/src/config/entity-id-strategy/auto-increment-id-strategy.ts
  server/src/config/entity-id-strategy/base64-id-strategy.ts
  server/src/config/entity-id-strategy/entity-id-strategy.ts
  server/src/config/entity-id-strategy/uuid-id-strategy.ts
  server/src/config/vendure-config.ts
  server/src/service/config.service.mock.ts
  server/src/service/config.service.ts
Due: yarn format, yarn lint:server

feat(server): Implement updateProductVariants
  schema.json
  server/src/api/product/product.api.graphql
  server/src/api/product/product.resolver.ts
  server/src/entity/product-variant/product-variant.graphql
  server/src/entity/product/product.graphql
  server/src/service/product.service.ts
Due: yarn format, yarn lint:server

feat(admin-ui): Implement updating of product variants
  admin-ui/src/app/catalog/catalog.module.ts
  admin-ui/src/app/catalog/components/product-detail/product-detail.component.html
  admin-ui/src/app/catalog/components/product-detail/product-detail.component.scss
  admin-ui/src/app/catalog/components/product-detail/product-detail.component.ts
  admin-ui/src/app/catalog/providers/product-updater/product-updater.service.spec.ts
  admin-ui/src/app/catalog/providers/product-updater/product-updater.service.ts
  admin-ui/src/app/core/providers/i18n/mark-for-extraction.ts
  admin-ui/src/app/data/mutations/product-mutations.ts
  admin-ui/src/app/data/providers/data.service.mock.ts
  admin-ui/src/app/data/providers/product-data.service.ts
  admin-ui/src/app/data/types/gql-generated-types.ts
Due: yarn lint:admin-ui, yarn format

feat(server): Implement generating of ProductVariants
  admin-ui/src/app/data/types/gql-generated-types.ts
  schema.json
  server/mock-data/mock-data-client.service.ts
  server/src/api/product/product.api.graphql
  server/src/api/product/product.resolver.ts
  server/src/entity/product/product.dto.ts
  server/src/entity/product/product.graphql
  server/src/service/product-variant.service.spec.ts
  server/src/service/product-variant.service.ts
  server/src/service/product.service.ts
Due: yarn lint:admin-ui, yarn format, yarn lint:server

feat(admin-ui): Create ActionBarComponent
  admin-ui/src/app/catalog/components/product-detail/product-detail.component.html
  admin-ui/src/app/shared/components/action-bar/action-bar.component.html
  admin-ui/src/app/shared/components/action-bar/action-bar.component.scss
  admin-ui/src/app/shared/components/action-bar/action-bar.component.spec.ts
  admin-ui/src/app/shared/components/action-bar/action-bar.component.ts
  admin-ui/src/app/shared/shared.module.ts
Due: yarn lint:admin-ui, yarn format

refactor(server): generateVariantsForProduct mutation return Product
  admin-ui/src/app/data/providers/data.service.mock.ts
  schema.json
  server/src/api/product/product.api.graphql
  server/src/api/product/product.resolver.ts
Due: yarn lint:admin-ui, yarn format, yarn lint:server

feat(admin-ui): Create product, generate default variant
  admin-ui/src/app/catalog/components/product-detail/product-detail.component.html
  admin-ui/src/app/catalog/components/product-detail/product-detail.component.ts
  admin-ui/src/app/catalog/components/product-list/product-list.component.html
  admin-ui/src/app/catalog/providers/product-updater/product-updater.service.spec.ts
  admin-ui/src/app/catalog/providers/product-updater/product-updater.service.ts
  admin-ui/src/app/catalog/providers/routing/product-resolver.ts
  admin-ui/src/app/data/fragments/product-fragments.ts
  admin-ui/src/app/data/mutations/product-mutations.ts
  admin-ui/src/app/data/providers/product-data.service.ts
  admin-ui/src/app/data/types/gql-generated-types.ts
Due: yarn lint:admin-ui, yarn format

refactor(admin-ui): Decompose product option dialogs
  admin-ui/src/app/catalog/catalog.module.ts
  admin-ui/src/app/catalog/components/create-option-group-dialog/create-option-group-dialog.component.html
  admin-ui/src/app/catalog/components/create-option-group-dialog/create-option-group-dialog.component.scss
  admin-ui/src/app/catalog/components/create-option-group-dialog/create-option-group-dialog.component.ts
  admin-ui/src/app/catalog/components/create-option-group-form/create-option-group-form.component.html
  admin-ui/src/app/catalog/components/create-option-group-form/create-option-group-form.component.scss
  admin-ui/src/app/catalog/components/create-option-group-form/create-option-group-form.component.spec.ts
  admin-ui/src/app/catalog/components/create-option-group-form/create-option-group-form.component.ts
  admin-ui/src/app/catalog/components/product-detail/product-detail.component.ts
  admin-ui/src/app/catalog/components/select-option-group-dialog/select-option-group-dialog.component.html
  admin-ui/src/app/catalog/components/select-option-group-dialog/select-option-group-dialog.component.scss
  admin-ui/src/app/catalog/components/select-option-group-dialog/select-option-group-dialog.component.ts
  admin-ui/src/app/catalog/components/select-option-group/select-option-group.component.html
  admin-ui/src/app/catalog/components/select-option-group/select-option-group.component.scss
  admin-ui/src/app/catalog/components/select-option-group/select-option-group.component.spec.ts
  admin-ui/src/app/catalog/components/select-option-group/select-option-group.component.ts
Due: yarn lint:admin-ui, yarn format

chore(admin-ui): Move global sass to styles directory
  admin-ui/angular.json
  admin-ui/src/styles/_variables.scss
  admin-ui/src/styles/styles.scss
Due: none

test(admin-ui): Create testing helpers
  admin-ui/src/app/catalog/components/create-option-group-dialog/create-option-group-dialog.component.spec.ts
  admin-ui/src/app/catalog/components/create-option-group-form/create-option-group-form.component.spec.ts
  admin-ui/src/app/catalog/components/select-option-group-dialog/select-option-group-dialog.component.spec.ts
  admin-ui/src/app/catalog/components/select-option-group/select-option-group.component.spec.ts
  admin-ui/src/app/core/providers/notification/notification.service.mock.ts
  admin-ui/src/testing/testing-common.module.ts
  admin-ui/src/testing/testing-types.ts
Due: yarn lint:admin-ui, yarn format

feat(admin-ui): Create SelectToggleComponent
  admin-ui/src/app/shared/components/select-toggle/select-toggle.component.html
  admin-ui/src/app/shared/components/select-toggle/select-toggle.component.scss
  admin-ui/src/app/shared/components/select-toggle/select-toggle.component.ts
  admin-ui/src/app/shared/shared.module.ts
  admin-ui/src/styles/_mixins.scss
Due: yarn lint:admin-ui, yarn format

feat(admin-ui): Create ChipComponent
  admin-ui/src/app/shared/components/chip/chip.component.html
  admin-ui/src/app/shared/components/chip/chip.component.scss
  admin-ui/src/app/shared/components/chip/chip.component.ts
Due: yarn lint:admin-ui, yarn format

refactor(server): Extract variant generation method into shared function
  server/package.json
  server/src/service/product-variant.service.ts
  shared/shared-utils.spec.ts
  shared/shared-utils.ts
Due: yarn format, yarn lint:server

fix(server): Fix GraphQL schema violations in return values
  server/src/api/product-option/product-option.resolver.ts
  server/src/service/product.service.ts
Due: yarn format, yarn lint:server

feat(admin-ui): Implement creation of ProductVariants via wizard
  admin-ui/src/app/catalog/components/create-option-group-form/create-option-group-form.component.ts
  admin-ui/src/app/catalog/components/product-detail/product-detail.component.html
  admin-ui/src/app/catalog/components/product-detail/product-detail.component.scss
  admin-ui/src/app/catalog/components/product-detail/product-detail.component.ts
  admin-ui/src/app/catalog/components/product-variants-wizard/product-variants-wizard.component.html
  admin-ui/src/app/catalog/components/product-variants-wizard/product-variants-wizard.component.scss
  admin-ui/src/app/catalog/components/product-variants-wizard/product-variants-wizard.component.spec.ts
  admin-ui/src/app/catalog/components/product-variants-wizard/product-variants-wizard.component.ts
  admin-ui/src/app/catalog/components/select-option-group-dialog/select-option-group-dialog.component.html
  admin-ui/src/app/catalog/components/select-option-group-dialog/select-option-group-dialog.component.ts
  admin-ui/src/app/catalog/components/select-option-group/select-option-group.component.html
  admin-ui/src/app/catalog/components/select-option-group/select-option-group.component.scss
  admin-ui/src/app/catalog/components/select-option-group/select-option-group.component.spec.ts
  admin-ui/src/app/catalog/components/select-option-group/select-option-group.component.ts
  admin-ui/src/app/core/components/notification/notification.component.scss
  admin-ui/src/app/data/fragments/product-fragments.ts
  admin-ui/src/app/data/types/gql-generated-types.ts
  admin-ui/src/app/shared/components/chip/chip.component.scss
  admin-ui/src/app/shared/shared.module.ts
  admin-ui/src/i18n-messages/en.json
Due: yarn lint:admin-ui, yarn format

feat(admin-ui): Auto-generate slug for new products
  admin-ui/src/app/catalog/components/product-detail/product-detail.component.html
  admin-ui/src/app/catalog/components/product-detail/product-detail.component.ts
Due: yarn lint:admin-ui, yarn format

fix(admin-ui): Fix breadcrumb for create product route
  admin-ui/src/app/catalog/catalog.routes.ts
Due: yarn lint:admin-ui, yarn format

feat(admin-ui): Create CurrencyInputComponent
  admin-ui/src/app/app.config.ts
  admin-ui/src/app/common/utilities/get-default-currency.ts
  admin-ui/src/app/shared/components/currency-input/currency-input.component.html
  admin-ui/src/app/shared/components/currency-input/currency-input.component.scss
  admin-ui/src/app/shared/components/currency-input/currency-input.component.spec.ts
  admin-ui/src/app/shared/components/currency-input/currency-input.component.ts
  admin-ui/src/app/shared/shared.module.ts
Due: yarn lint:admin-ui, yarn format

feat(admin-ui): Use CurrencyInputComponent in product detail page
  admin-ui/src/app/catalog/components/product-detail/product-detail.component.html
Due: none

fix(admin-ui): Localize notifications
  admin-ui/src/app/core/components/notification/notification.component.html
  admin-ui/src/app/core/providers/notification/notification.service.spec.ts
Due: yarn lint:admin-ui, yarn format

chore(admin-ui): Exclude test-specific .ts files from build
  admin-ui/src/tsconfig.app.json
Due: none

fix(admin-ui): Fix chip styling
  admin-ui/src/app/catalog/components/product-detail/product-detail.component.html
  admin-ui/src/app/shared/components/chip/chip.component.scss
Due: none

fix(server): Return translated options from updateProductVariants()
  server/src/service/product.service.ts
Due: yarn format, yarn lint:server

fix(admin-ui): Only update modified ProductVariants
  admin-ui/src/app/catalog/components/product-detail/product-detail.component.ts
Due: yarn lint:admin-ui, yarn format

feat(admin-ui): Add translationVars to NotificationService methods
  admin-ui/src/app/core/components/notification/notification.component.html
  admin-ui/src/app/core/components/notification/notification.component.ts
  admin-ui/src/app/core/providers/i18n/i18n.service.mock.ts
  admin-ui/src/app/core/providers/i18n/i18n.service.ts
  admin-ui/src/app/core/providers/notification/notification.service.spec.ts
  admin-ui/src/app/core/providers/notification/notification.service.ts
Due: yarn lint:admin-ui, yarn format

feat(server): generateVariantsForProduct accepts default price & sku
  schema.json
  server/src/api/product/product.api.graphql
  server/src/api/product/product.resolver.ts
  server/src/service/product-variant.service.ts
Due: yarn format, yarn lint:server

feat(admin-ui): Can specify default price & sku when creating variants
  admin-ui/src/app/catalog/components/product-detail/product-detail.component.ts
  admin-ui/src/app/catalog/components/product-variants-wizard/product-variants-wizard.component.html
  admin-ui/src/app/catalog/components/product-variants-wizard/product-variants-wizard.component.spec.ts
  admin-ui/src/app/catalog/components/product-variants-wizard/product-variants-wizard.component.ts
  admin-ui/src/app/data/mutations/product-mutations.ts
  admin-ui/src/app/data/providers/product-data.service.ts
  admin-ui/src/app/data/types/gql-generated-types.ts
  admin-ui/src/app/shared/components/currency-input/currency-input.component.scss
  admin-ui/src/app/shared/components/form-field/form-field-control.directive.ts
  admin-ui/src/app/shared/components/form-field/form-field.component.html
  admin-ui/src/i18n-messages/en.json
Due: yarn lint:admin-ui, yarn format

feat(server): Initial impl of customFields
  server/dev-config.ts
  server/mock-data/populate.ts
  server/src/app.module.ts
  server/src/bootstrap.ts
  server/src/config/vendure-config.ts
  server/src/entity/address/address.entity.ts
  server/src/entity/base/has-custom-fields.ts
  server/src/entity/custom-entity-fields.ts
  server/src/entity/customer/customer.entity.ts
  server/src/entity/graphql-custom-fields.ts
  server/src/entity/product-option-group/product-option-group.entity.ts
  server/src/entity/product-option/product-option.entity.ts
  server/src/entity/product-variant/product-variant.entity.ts
  server/src/entity/product/product.entity.ts
  server/src/entity/user/user.entity.ts
  shared/shared-utils.ts
Due: yarn format, yarn lint:server

Path conditions:
  yarn lint:admin-ui: any of: admin-ui/**/*.ts
  yarn format: (any of: admin-ui/**/*.ts) or (any of: server/**/*.ts)
  yarn lint:server: any of: server/**/*.ts
