Repository daya110/vendure: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:admin-ui, yarn format, yarn lint:server

.lintstagedrc.yml:

linters:
  admin-ui/**/*.ts:
    - yarn lint:admin-ui
    - yarn format
    - git add
  server/**/*.ts:
    - yarn lint:server
    - yarn format
    - git add

fix(server): Handle cookie session in shop api
  server/src/app.module.ts
Due: yarn format, yarn lint:server

feat(server): Create resolver for ProductVariant entity
  server/src/api/api.module.ts
  server/src/api/resolvers/entity/product-variant-entity.resolver.ts
  server/src/service/services/product-variant.service.ts
Due: yarn format, yarn lint:server

test(server): More specific import to avoid pulling in unwanted deps
  server/e2e/default-search-plugin.e2e-spec.ts
Due: yarn format, yarn lint:server

refactor(server): Rework the id decode/encode pipeline
  server/dev-config.ts
  server/e2e/entity-id-strategy.e2e-spec.ts
  server/e2e/shop-order.e2e-spec.ts
  server/src/api/api-internal-modules.ts
  server/src/api/api.module.ts
  server/src/api/common/id-codec.service.ts
  server/src/api/common/id-codec.ts
  server/src/api/config/configure-graphql-module.ts
  server/src/api/middleware/id-encoder-extension.ts
  server/src/api/middleware/id-interceptor.ts
  server/src/api/resolvers/admin/customer.resolver.ts
  server/src/api/resolvers/admin/order.resolver.ts
  server/src/api/resolvers/admin/product-category.resolver.ts
  server/src/api/resolvers/entity/customer-entity.resolver.ts
  server/src/api/resolvers/entity/order-entity.resolver.ts
  server/src/api/resolvers/entity/order-line-entity.resolver.ts
  server/src/api/resolvers/entity/product-category-entity.resolver.ts
  server/src/api/resolvers/entity/product-entity.resolver.ts
  server/src/api/resolvers/entity/product-option-group-entity.resolver.ts
  server/src/api/resolvers/entity/product-variant-entity.resolver.ts
  server/src/api/resolvers/shop/shop-customer.resolver.ts
  server/src/api/resolvers/shop/shop-products.resolver.ts
  shared/shared-constants.ts
Due: yarn format, yarn lint:server

test(server): Attempt again to fix tests broken due to permissive import
  server/e2e/fixtures/test-plugins.ts
  server/mock-data/populate.ts
Due: yarn format, yarn lint:server

feat(admin-ui): Add runtime config for connection settings
  admin-ui/angular.json
  admin-ui/src/app/app.config.ts
  admin-ui/src/app/data/data.module.ts
  admin-ui/src/app/data/providers/base-data.service.ts
  admin-ui/src/app/data/providers/interceptor.ts
  admin-ui/src/main.ts
  admin-ui/src/vendure-ui-config.json
Due: yarn lint:admin-ui, yarn format

feat(server): AdminUiPlugin dynamically configures the admin ui
  server/src/plugin/admin-ui-plugin/admin-ui-plugin.ts
  shared/shared-constants.ts
  shared/shared-types.ts
Due: yarn format, yarn lint:server

chore: Bump alpha version and update docs & cli config template
  docs/content/docs/getting-started.md
  server/cli/assets/vendure-config.hbs
  server/package.json
Due: none

fix(docs): Add missing index files to git repo
  docs/content/docs/graphql-api/admin/_index.md
  docs/content/docs/graphql-api/shop/_index.md
Due: none

feat(server): Add Customer /Address update & delete mutations
  schema-admin.json
  schema-shop.json
  schema.json
  server/e2e/customer.e2e-spec.ts
  server/e2e/shop-customer.e2e-spec.ts
  server/src/api/resolvers/admin/customer.resolver.ts
  server/src/api/resolvers/shop/shop-customer.resolver.ts
  server/src/api/schema/admin-api/customer.api.graphql
  server/src/api/schema/common/common-types.graphql
  server/src/api/schema/shop-api/shop.api.graphql
  server/src/api/schema/type/user.type.graphql
  server/src/service/services/customer.service.ts
  shared/generated-shop-types.ts
  shared/generated-types.ts
Due: yarn format, yarn lint:server

feat(server): Add updateCustomerPassword mutation & tests
  schema-shop.json
  schema.json
  server/e2e/shop-customer.e2e-spec.ts
  server/mock-data/simple-graphql-client.ts
  server/src/api/resolvers/base/base-auth.resolver.ts
  server/src/api/resolvers/shop/shop-auth.resolver.ts
  server/src/api/schema/shop-api/shop.api.graphql
  server/src/service/services/user.service.ts
  shared/generated-shop-types.ts
  shared/generated-types.ts
Due: yarn format, yarn lint:server

feat(server): Implement password reset flow for shop API
  schema-shop.json
  schema.json
  server/e2e/shop-auth.e2e-spec.ts
  server/src/api/resolvers/shop/shop-auth.resolver.ts
  server/src/api/schema/shop-api/shop.api.graphql
  server/src/common/error/errors.ts
  server/src/email/default-email-types.ts
  server/src/email/templates/password-reset/password-reset.hbs
  server/src/entity/user/user.entity.ts
  server/src/event-bus/events/password-reset-event.ts
  server/src/i18n/messages/en.json
  server/src/service/helpers/verification-token-generator/verification-token-generator.ts
  server/src/service/services/customer.service.ts
  server/src/service/services/user.service.ts
  shared/generated-shop-types.ts
  shared/generated-types.ts
Due: yarn format, yarn lint:server

feat(server): Add templateVars option to EmailOptions
  server/cli/assets/vendure-config.hbs
  server/dev-config.ts
  server/src/config/default-config.ts
  server/src/config/email/email-options.ts
  server/src/config/vendure-config.ts
  server/src/email/default-email-types.ts
  server/src/email/email-context.ts
  server/src/email/email.module.ts
  server/src/email/preview/email-contexts.ts
  server/src/plugin/default-email-plugin/default-email-plugin.ts
Due: yarn format, yarn lint:server

fix(server): Fix line endings for cli binary & index template
  server/cli/assets/index.hbs
  server/dev-config.ts
  server/tsconfig.json
Due: yarn format, yarn lint:server

chore(server): Bump alpha version
  server/package.json
Due: none

fix(server): Update graphql-js version, fix duplicate mutation def
  server/package.json
  server/src/api/schema/shop-api/shop.api.graphql
  server/yarn.lock
Due: none

feat(server,admin-ui): Auto-detect api host & port for admin ui
  admin-ui/src/app/data/data.module.ts
  server/package.json
  server/src/plugin/admin-ui-plugin/admin-ui-plugin.ts
  shared/shared-types.ts
Due: yarn lint:admin-ui, yarn format, yarn lint:server

feat(server): Add onClose method to VendurePlugin interface
  server/e2e/fixtures/test-plugins.ts
  server/e2e/plugin.e2e-spec.ts
  server/src/app.module.ts
  server/src/config/vendure-plugin/vendure-plugin.ts
Due: yarn format, yarn lint:server

feat(server): Add teardown logic to AdminUiPlugin & DefaultAssetServer
  server/package.json
  server/src/plugin/admin-ui-plugin/admin-ui-plugin.ts
  server/src/plugin/default-asset-server-plugin/default-asset-server-plugin.ts
Due: yarn format, yarn lint:server

feat(docs): Add redirect to demo app
  docs/static/_redirects
Due: none

feat(docs): Add graphql playground & demo link
  docs/assets/scripts/graphql-playground-widget.ts
  docs/assets/scripts/main.ts
  docs/assets/styles/_graphql-playground-widget.scss
  docs/assets/styles/_landing-page.scss
  docs/assets/styles/main.scss
  docs/layouts/index.en.html
  docs/layouts/partials/graphql-playground.html
  docs/layouts/partials/top-bar.html
Due: none

chore(docs): Remove netlify redirects file
  docs/static/_redirects
Due: none

feat(docs): Add link to demo in GraphQL api indexes
  docs/content/docs/graphql-api/_index.md
  docs/content/docs/graphql-api/admin/_index.md
  docs/content/docs/graphql-api/shop/_index.md
Due: none

refactor(server): Consolidate order-related config into single object
  server/dev-config.ts
  server/src/config/config.service.mock.ts
  server/src/config/config.service.ts
  server/src/config/default-config.ts
  server/src/config/vendure-config.ts
  server/src/service/helpers/order-merger/order-merger.spec.ts
  server/src/service/helpers/order-merger/order-merger.ts
  server/src/service/helpers/order-state-machine/order-state-machine.ts
Due: yarn format, yarn lint:server

feat(docs): Add heritage info for interface/class signatures
  codegen/generate-config-docs.ts
  docs/layouts/shortcodes/member-info.html
Due: none

feat(docs): Title case breadcrumbs
  docs/layouts/partials/breadcrumbs.html
Due: none

feat(server): Add orderItemsLimit option
  server/e2e/shop-order.e2e-spec.ts
  server/src/common/error/errors.ts
  server/src/config/config.service.ts
  server/src/config/default-config.ts
  server/src/config/order-merge-strategy/merge-orders-strategy.ts
  server/src/config/order-merge-strategy/use-existing-strategy.ts
  server/src/config/order-merge-strategy/use-guest-if-existing-empty-strategy.ts
  server/src/config/order-merge-strategy/use-guest-strategy.ts
  server/src/config/vendure-config.ts
  server/src/i18n/messages/en.json
  server/src/service/services/order.service.ts
Due: yarn format, yarn lint:server

fix(server): Copy i18n messages to build dir
  server/build/gulpfile.ts
Due: yarn format, yarn lint:server

Adding Spanish (ES) translation. (#72)
  .gitignore
  admin-ui/src/i18n-messages/es.json
  server/src/i18n/messages/es.json
Due: none

refactor: Rename ProductCategory to Collection
  admin-ui/src/app/catalog/components/product-category-detail/product-category-detail.component.ts
  admin-ui/src/app/catalog/components/product-category-list/product-category-list.component.ts
  admin-ui/src/app/catalog/components/product-category-tree/product-category-tree-node.component.ts
  admin-ui/src/app/catalog/components/product-category-tree/product-category-tree.component.ts
  admin-ui/src/app/catalog/providers/routing/product-category-resolver.ts
  admin-ui/src/app/data/data.module.ts
  admin-ui/src/app/data/definitions/product-definitions.ts
  admin-ui/src/app/data/providers/product-data.service.ts
  schema-admin.json
  schema-shop.json
  schema.json
  server/src/api/resolvers/admin/product-category.resolver.ts
  server/src/api/resolvers/entity/product-category-entity.resolver.ts
  server/src/api/resolvers/shop/shop-products.resolver.ts
  server/src/api/schema/admin-api/product-category.api.graphql
  server/src/api/schema/shop-api/shop.api.graphql
  server/src/api/schema/type/collection.type.graphql
  server/src/config/default-config.ts
  server/src/entity/collection/collection-translation.entity.ts
  server/src/entity/collection/collection.entity.ts
  server/src/entity/custom-entity-fields.ts
  server/src/entity/entities.ts
  server/src/entity/index.ts
  server/src/entity/product-category/product-category-translation.entity.ts
  server/src/service/helpers/utils/translate-entity.spec.ts
  server/src/service/services/facet-value.service.ts
  server/src/service/services/product-category.service.ts
  shared/generated-shop-types.ts
  shared/generated-types.ts
  shared/shared-types.ts
Due: yarn lint:admin-ui, yarn format, yarn lint:server

refactor: Rename resolvers & documents for Collections
  admin-ui/src/app/catalog/components/product-category-detail/product-category-detail.component.ts
  admin-ui/src/app/catalog/components/product-category-list/product-category-list.component.ts
  admin-ui/src/app/catalog/providers/routing/product-category-resolver.ts
  admin-ui/src/app/data/definitions/product-definitions.ts
  admin-ui/src/app/data/providers/product-data.service.ts
  schema-admin.json
  schema-shop.json
  schema.json
  server/e2e/__snapshots__/collection.e2e-spec.ts.snap
  server/e2e/collection.e2e-spec.ts
  server/e2e/product-category.e2e-spec.ts
  server/src/api/api-internal-modules.ts
  server/src/api/resolvers/admin/collection.resolver.ts
  server/src/api/resolvers/entity/collection-entity.resolver.ts
  server/src/api/resolvers/shop/shop-products.resolver.ts
  server/src/api/schema/admin-api/collection.api.graphql
  server/src/api/schema/shop-api/shop.api.graphql
  server/src/i18n/messages/en.json
  server/src/service/index.ts
  server/src/service/service.module.ts
  server/src/service/services/collection.service.ts
  server/src/service/services/product.service.ts
  shared/generated-shop-types.ts
  shared/generated-types.ts
Due: yarn lint:admin-ui, yarn format, yarn lint:server

refactor(admin-ui): Rename ProductCategory references to Collection
  admin-ui/src/app/catalog/catalog.module.ts
  admin-ui/src/app/catalog/catalog.routes.ts
  admin-ui/src/app/catalog/components/collection-detail/collection-detail.component.html
  admin-ui/src/app/catalog/components/collection-detail/collection-detail.component.scss
  admin-ui/src/app/catalog/components/collection-detail/collection-detail.component.ts
  admin-ui/src/app/catalog/components/collection-list/collection-list.component.html
  admin-ui/src/app/catalog/components/collection-list/collection-list.component.scss
  admin-ui/src/app/catalog/components/collection-list/collection-list.component.ts
  admin-ui/src/app/catalog/components/collection-tree/array-to-tree.spec.ts
  admin-ui/src/app/catalog/components/collection-tree/array-to-tree.ts
  admin-ui/src/app/catalog/components/collection-tree/collection-tree-node.component.html
  admin-ui/src/app/catalog/components/collection-tree/collection-tree-node.component.scss
  admin-ui/src/app/catalog/components/collection-tree/collection-tree-node.component.ts
  admin-ui/src/app/catalog/components/collection-tree/collection-tree.component.html
  admin-ui/src/app/catalog/components/collection-tree/collection-tree.component.scss
  admin-ui/src/app/catalog/components/collection-tree/collection-tree.component.ts
  admin-ui/src/app/catalog/components/product-category-tree/product-category-tree.component.html
  admin-ui/src/app/catalog/providers/routing/collection-resolver.ts
  admin-ui/src/app/core/components/main-nav/main-nav.component.html
  admin-ui/src/i18n-messages/en.json
Due: yarn lint:admin-ui, yarn format

refactor: Implement first draft of Collection filters.
  admin-ui/src/app/catalog/components/collection-detail/collection-detail.component.html
  admin-ui/src/app/catalog/components/collection-detail/collection-detail.component.ts
  admin-ui/src/app/catalog/providers/routing/collection-resolver.ts
  admin-ui/src/app/data/definitions/product-definitions.ts
  admin-ui/src/app/data/providers/product-data.service.ts
  schema-admin.json
  schema-shop.json
  schema.json
  server/e2e/__snapshots__/collection.e2e-spec.ts.snap
  server/e2e/collection.e2e-spec.ts
  server/src/api/resolvers/admin/collection.resolver.ts
  server/src/api/resolvers/entity/collection-entity.resolver.ts
  server/src/api/schema/admin-api/collection.api.graphql
  server/src/api/schema/admin-api/product.api.graphql
  server/src/api/schema/type/collection.type.graphql
  server/src/config/collection/collection-filter.ts
  server/src/entity/collection/collection.entity.ts
  server/src/entity/product-variant/product-variant.entity.ts
  server/src/service/services/collection.service.ts
  server/src/service/services/product-variant.service.ts
  server/src/service/services/product.service.ts
  shared/generated-shop-types.ts
  shared/generated-types.ts
Due: yarn lint:admin-ui, yarn format, yarn lint:server

refactor: Rename AdjustmentOperation to ConfigurableOperation
  admin-ui/src/app/catalog/components/collection-detail/collection-detail.component.html
  admin-ui/src/app/catalog/components/collection-detail/collection-detail.component.ts
  admin-ui/src/app/common/utilities/interpolate-description.spec.ts
  admin-ui/src/app/common/utilities/interpolate-description.ts
  admin-ui/src/app/data/definitions/product-definitions.ts
  admin-ui/src/app/data/definitions/promotion-definitions.ts
  admin-ui/src/app/data/definitions/shipping-definitions.ts
  admin-ui/src/app/marketing/components/promotion-detail/promotion-detail.component.html
  admin-ui/src/app/marketing/components/promotion-detail/promotion-detail.component.ts
  admin-ui/src/app/settings/components/payment-method-detail/payment-method-detail.component.ts
  admin-ui/src/app/settings/components/shipping-method-detail/shipping-method-detail.component.html
  admin-ui/src/app/settings/components/shipping-method-detail/shipping-method-detail.component.ts
  admin-ui/src/app/settings/components/tax-category-detail/tax-category-detail.component.ts
  admin-ui/src/app/shared/components/configurable-input/configurable-input.component.html
  admin-ui/src/app/shared/components/configurable-input/configurable-input.component.scss
  admin-ui/src/app/shared/components/configurable-input/configurable-input.component.ts
  admin-ui/src/app/shared/shared.module.ts
  schema-admin.json
  schema-shop.json
  schema.json
  server/src/api/resolvers/admin/collection.resolver.ts
  server/src/api/resolvers/admin/shipping-method.resolver.ts
  server/src/api/schema/admin-api/collection.api.graphql
  server/src/api/schema/admin-api/promotion.api.graphql
  server/src/api/schema/admin-api/shipping-method.api.graphql
  server/src/api/schema/common/common-types.graphql
  server/src/api/schema/type/collection.type.graphql
  server/src/api/schema/type/promotion.type.graphql
  server/src/api/schema/type/shipping-method.type.graphql
  server/src/entity/collection/collection.entity.ts
  server/src/entity/promotion/promotion.entity.ts
  server/src/entity/shipping-method/shipping-method.entity.ts
  server/src/service/services/collection.service.ts
  server/src/service/services/promotion.service.ts
  server/src/service/services/shipping-method.service.ts
  shared/generated-shop-types.ts
  shared/generated-types.ts
Due: yarn lint:admin-ui, yarn format, yarn lint:server

refactor(server): Create ConfigurableOperationDef interface, clean up
  server/e2e/collection.e2e-spec.ts
  server/src/common/types/configurable-operation.ts
  server/src/config/collection/collection-filter.ts
  server/src/config/collection/default-collection-filters.ts
  server/src/config/payment-method/payment-method-handler.ts
  server/src/config/promotion/promotion-action.ts
  server/src/config/promotion/promotion-condition.ts
  server/src/config/shipping-method/shipping-calculator.ts
  server/src/config/shipping-method/shipping-eligibility-checker.ts
  server/src/service/services/collection.service.ts
Due: yarn format, yarn lint:server

refactor(server): Extract common logic for marshalling data
  server/src/api/resolvers/admin/collection.resolver.ts
  server/src/common/configurable-operation.ts
  server/src/config/collection/collection-filter.ts
  server/src/config/payment-method/payment-method-handler.ts
  server/src/config/promotion/promotion-action.ts
  server/src/config/promotion/promotion-condition.ts
  server/src/config/shipping-method/shipping-calculator.ts
  server/src/config/shipping-method/shipping-eligibility-checker.ts
  server/src/service/services/collection.service.ts
  server/src/service/services/promotion.service.ts
  server/src/service/services/shipping-method.service.ts
Due: yarn format, yarn lint:server

refactor: Use an enum for ConfigArgType, add it to input object
  admin-ui/src/app/catalog/components/collection-detail/collection-detail.component.ts
  admin-ui/src/app/common/utilities/interpolate-description.spec.ts
  admin-ui/src/app/common/utilities/interpolate-description.ts
  admin-ui/src/app/marketing/components/promotion-detail/promotion-detail.component.ts
  admin-ui/src/app/settings/components/payment-method-detail/payment-method-detail.component.ts
  admin-ui/src/app/settings/components/shipping-method-detail/shipping-method-detail.component.ts
  admin-ui/src/app/shared/components/configurable-input/configurable-input.component.html
  admin-ui/src/app/shared/components/configurable-input/configurable-input.component.ts
  schema-admin.json
  schema-shop.json
  schema.json
  server/e2e/__snapshots__/collection.e2e-spec.ts.snap
  server/e2e/__snapshots__/promotion.e2e-spec.ts.snap
  server/e2e/collection.e2e-spec.ts
  server/e2e/promotion.e2e-spec.ts
  server/src/api/resolvers/admin/collection.resolver.ts
  server/src/api/schema/common/common-types.graphql
  server/src/common/configurable-operation.ts
  server/src/config/collection/collection-filter.ts
  server/src/config/collection/default-collection-filters.ts
  server/src/config/payment-method/example-payment-method-config.ts
  server/src/config/payment-method/payment-method-handler.ts
  server/src/config/promotion/default-promotion-actions.ts
  server/src/config/promotion/default-promotion-conditions.ts
  server/src/config/promotion/promotion-action.ts
  server/src/config/promotion/promotion-condition.ts
  server/src/config/shipping-method/default-shipping-calculator.ts
  server/src/config/shipping-method/shipping-calculator.ts
  server/src/config/shipping-method/shipping-eligibility-checker.ts
  server/src/data-import/providers/populator/populator.ts
  server/src/service/helpers/order-calculator/order-calculator.spec.ts
  server/src/service/services/payment-method.service.ts
  shared/generated-shop-types.ts
  shared/generated-types.ts
Due: yarn lint:admin-ui, yarn format, yarn lint:server

refactor(server): PaymentHandler implement ConfigurableOperationDef
  server/e2e/shop-order.e2e-spec.ts
  server/src/config/payment-method/example-payment-method-config.ts
  server/src/config/payment-method/payment-method-handler.ts
  server/src/service/services/payment-method.service.ts
  server/src/service/services/promotion.service.ts
  server/src/service/services/shipping-method.service.ts
Due: yarn format, yarn lint:server

feat(server): Apply ID codec to ConfigurableOperation arguments
  server/e2e/__snapshots__/promotion.e2e-spec.ts.snap
  server/e2e/collection.e2e-spec.ts
  server/e2e/promotion.e2e-spec.ts
  server/src/api/common/id-codec.service.ts
  server/src/api/resolvers/admin/collection.resolver.ts
  server/src/api/resolvers/admin/promotion.resolver.ts
  server/src/api/resolvers/entity/product-variant-entity.resolver.ts
  server/src/service/services/product-variant.service.ts
Due: yarn format, yarn lint:server

feat: Implement cascading Collection filters
  admin-ui/src/app/catalog/components/collection-detail/collection-detail.component.ts
  admin-ui/src/app/catalog/components/collection-tree/collection-tree-node.component.ts
  admin-ui/src/app/catalog/components/collection-tree/collection-tree.component.ts
  schema-admin.json
  schema.json
  server/e2e/__snapshots__/collection.e2e-spec.ts.snap
  server/e2e/collection.e2e-spec.ts
  server/e2e/fixtures/e2e-products-collections.csv
  server/src/api/resolvers/admin/collection.resolver.ts
  server/src/api/schema/admin-api/collection.api.graphql
  server/src/config/collection/default-collection-filters.ts
  server/src/service/services/collection.service.ts
  shared/generated-shop-types.ts
  shared/generated-types.ts
Due: yarn lint:admin-ui, yarn format, yarn lint:server
