Repository daya110/vendure: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:admin-ui, yarn format, yarn lint:core

.lintstagedrc.yml:

linters:
  admin-ui/**/*.ts:
    - yarn lint:admin-ui
    - yarn format
    - git add
  admin-ui/**/*.html:
    - yarn format
    - git add
  packages/core/*.ts:
    - yarn lint:core
    - yarn format
    - git add

chore: Publish v0.1.2-beta.2
  CHANGELOG.md
  lerna.json
  packages/admin-ui-plugin/package.json
  packages/asset-server-plugin/package.json
  packages/core/package.json
  packages/create/package.json
  packages/dev-server/package.json
  packages/email-plugin/package.json
Due: none

feat(docs): Docs nav menu can be expanded
  docs/assets/scripts/main.ts
  docs/assets/scripts/nav-menu.ts
  docs/assets/styles/_menu.scss
  docs/assets/styles/main.scss
  docs/layouts/partials/docs/menu-filetree.html
Due: none

chore(docs): Change references to alpha -> beta
  docs/assets/styles/_top-bar.scss
  docs/content/docs/_index.md
  docs/content/docs/typescript-api/_index.md
  docs/layouts/partials/top-bar.html
Due: none

docs(docs): Add more info about storefront
  docs/content/docs/storefront/_index.md
  docs/content/docs/storefront/vendure-storefront-screenshot-01.jpg
Due: none

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
Due: none

fix(core): Fix error when searching ShopAPI with postgres
  packages/core/src/plugin/default-search-plugin/fulltext-search.resolver.ts
  packages/core/src/plugin/default-search-plugin/search-strategy/postgres-search-strategy.ts
Due: none

fix(docs): Limit docs search to docs section
  docs/layouts/searchindex/searchindex.html
Due: none

fix(docs): Fix GH release link
  docs/layouts/docs/baseof.html
Due: none

docs(docs): Add beta blog post
  docs/content/blog/beta-release-and-roadmap-2019/index.md
Due: none

fix(asset-server-plugin): Fix type of assetUrlPrefix option
  packages/asset-server-plugin/src/plugin.ts
Due: none

fix(email-plugin): Fix bad common import paths
  packages/email-plugin/src/event-listener.ts
  packages/email-plugin/src/plugin.spec.ts
  packages/email-plugin/src/template-loader.ts
Due: none

fix(core): Fix bad common import paths
  packages/core/src/api/resolvers/entity/product-variant-entity.resolver.ts
Due: none

fix(core): Do not list deleted productVariants in a Collection
  packages/core/e2e/collection.e2e-spec.ts
  packages/core/e2e/graphql/shared-definitions.ts
  packages/core/e2e/product.e2e-spec.ts
  packages/core/src/service/services/product-variant.service.ts
Due: none

fix(core): Fix postgres error when specifying custom fields
  packages/core/src/entity/custom-entity-fields.ts
  packages/dev-server/dev-config.ts
Due: none

fix(core): Do not throw when deleting Facet with no FacetValues
  packages/core/e2e/facet.e2e-spec.ts
  packages/core/src/service/services/facet.service.ts
Due: none

feat(admin-ui): Allow custom error messages passed to FormFieldComponent
  admin-ui/src/app/shared/components/form-field/form-field-control.directive.ts
  admin-ui/src/app/shared/components/form-field/form-field.component.html
  admin-ui/src/app/shared/components/form-field/form-field.component.ts
Due: yarn lint:admin-ui, yarn format

feat(admin-ui): Validate slug pattern in product detail form
  admin-ui/src/app/catalog/components/product-detail/product-detail.component.html
  admin-ui/src/i18n-messages/en.json
Due: yarn format

feat(core): Normalize product slug values
  packages/core/e2e/product.e2e-spec.ts
  packages/core/src/service/services/product.service.ts
Due: none

test(core): Support env variable to facilitate debugging e2e tests
  README.md
  packages/core/e2e/config/test-config.ts
  packages/core/e2e/stock-control.e2e-spec.ts
Due: none

feat(core): Enforce unique slugs for Products
  packages/core/e2e/product.e2e-spec.ts
  packages/core/src/entity/product/product-translation.entity.ts
  packages/core/src/service/services/product.service.ts
Due: none

feat(admin-ui): Update slug in product detail form after save
  admin-ui/src/app/catalog/components/product-detail/product-detail.component.ts
Due: yarn lint:admin-ui, yarn format

feat(core): Allow product to be queried by slug
  admin-ui/src/app/common/generated-types.ts
  packages/common/src/generated-shop-types.ts
  packages/common/src/generated-types.ts
  packages/core/e2e/graphql/generated-e2e-admin-types.ts
  packages/core/e2e/graphql/generated-e2e-shop-types.ts
  packages/core/e2e/graphql/shared-definitions.ts
  packages/core/e2e/product.e2e-spec.ts
  packages/core/e2e/shop-catalog.e2e-spec.ts
  packages/core/src/api/resolvers/admin/product.resolver.ts
  packages/core/src/api/resolvers/shop/shop-products.resolver.ts
  packages/core/src/api/schema/admin-api/product.api.graphql
  packages/core/src/api/schema/shop-api/shop.api.graphql
  packages/core/src/entity/product/product-translation.entity.ts
  packages/core/src/i18n/messages/en.json
  packages/core/src/service/services/product.service.ts
  schema-admin.json
  schema-shop.json
Due: yarn lint:admin-ui, yarn format

feat(core): Allow custom fields to be set on OrderLine
  admin-ui/src/app/common/generated-types.ts
  packages/common/src/generated-shop-types.ts
  packages/common/src/generated-types.ts
  packages/common/src/shared-types.ts
  packages/core/e2e/graphql/generated-e2e-admin-types.ts
  packages/core/e2e/graphql/generated-e2e-shop-types.ts
  packages/core/e2e/graphql/shop-definitions.ts
  packages/core/e2e/shop-order.e2e-spec.ts
  packages/core/src/api/config/__snapshots__/graphql-custom-fields.spec.ts.snap
  packages/core/src/api/config/configure-graphql-module.ts
  packages/core/src/api/config/graphql-custom-fields.spec.ts
  packages/core/src/api/config/graphql-custom-fields.ts
  packages/core/src/api/resolvers/shop/shop-order.resolver.ts
  packages/core/src/api/schema/shop-api/shop.api.graphql
  packages/core/src/config/default-config.ts
  packages/core/src/entity/custom-entity-fields.ts
  packages/core/src/entity/order-line/order-line.entity.ts
  packages/core/src/service/services/order.service.ts
  schema-admin.json
  schema-shop.json
Due: yarn lint:admin-ui, yarn format

fix(core): Configure GraphQL Playground to include credentials
  packages/core/src/api/config/configure-graphql-module.ts
Due: none

feat(core): Rename SearchInput facetIds arg to facetValueIds
  admin-ui/src/app/catalog/components/product-list/product-list.component.ts
  admin-ui/src/app/common/generated-types.ts
  packages/common/src/generated-shop-types.ts
  packages/common/src/generated-types.ts
  packages/core/e2e/default-search-plugin.e2e-spec.ts
  packages/core/e2e/graphql/generated-e2e-admin-types.ts
  packages/core/e2e/graphql/generated-e2e-shop-types.ts
  packages/core/src/api/schema/common/common-types.graphql
  packages/core/src/plugin/default-search-plugin/fulltext-search.resolver.ts
  packages/core/src/plugin/default-search-plugin/search-strategy/mysql-search-strategy.ts
  packages/core/src/plugin/default-search-plugin/search-strategy/postgres-search-strategy.ts
  packages/core/src/plugin/default-search-plugin/search-strategy/sqlite-search-strategy.ts
  schema-admin.json
  schema-shop.json
Due: yarn lint:admin-ui, yarn format

chore: Publish v0.1.2-beta.3
  CHANGELOG.md
  lerna.json
  packages/admin-ui-plugin/package.json
  packages/asset-server-plugin/package.json
  packages/common/package.json
  packages/core/package.json
  packages/create/package.json
  packages/dev-server/package.json
  packages/email-plugin/package.json
Due: none

docs(docs): Add some developer guides
  admin-ui/src/app/common/generated-types.ts
  docs/content/docs/developer-guide/_index.md
  docs/content/docs/developer-guide/authentication-and-sessions.md
  docs/content/docs/developer-guide/customizing-models.md
  packages/common/src/generated-shop-types.ts
  packages/common/src/generated-types.ts
  packages/core/e2e/graphql/generated-e2e-admin-types.ts
  packages/core/e2e/graphql/generated-e2e-shop-types.ts
  schema-admin.json
  schema-shop.json
Due: yarn lint:admin-ui, yarn format

feat(core): Use batching when reindexing search index
  packages/core/src/plugin/default-search-plugin/fulltext-search.service.ts
Due: none

feat(core): Use batching when updating collection filters
  packages/core/src/plugin/default-search-plugin/fulltext-search.service.ts
  packages/core/src/service/services/collection.service.ts
Due: none

feat(core): Create async job manager for long-running tasks
  packages/common/src/generated-types.ts
  packages/core/e2e/graphql/generated-e2e-admin-types.ts
  packages/core/src/api/api-internal-modules.ts
  packages/core/src/api/resolvers/admin/job.resolver.ts
  packages/core/src/api/resolvers/admin/search.resolver.ts
  packages/core/src/api/schema/admin-api/job.api.graphql
  packages/core/src/api/schema/admin-api/product-search.api.graphql
  packages/core/src/plugin/default-search-plugin/fulltext-search.resolver.ts
  packages/core/src/plugin/default-search-plugin/fulltext-search.service.ts
  packages/core/src/service/helpers/job-manager/job-manager.spec.ts
  packages/core/src/service/helpers/job-manager/job-manager.ts
  packages/core/src/service/helpers/job-manager/job.ts
  packages/core/src/service/service.module.ts
  packages/core/src/service/services/job.service.ts
  packages/core/src/service/services/search.service.ts
  schema-admin.json
Due: none

feat(admin-ui): Display background jobs in UI
  admin-ui/src/app/catalog/components/product-list/product-list.component.ts
  admin-ui/src/app/common/generated-types.ts
  admin-ui/src/app/core/components/job-list/job-list.component.html
  admin-ui/src/app/core/components/job-list/job-list.component.scss
  admin-ui/src/app/core/components/job-list/job-list.component.ts
  admin-ui/src/app/core/components/main-nav/main-nav.component.html
  admin-ui/src/app/core/core.module.ts
  admin-ui/src/app/core/providers/job-queue/job-queue.service.ts
  admin-ui/src/app/data/definitions/product-definitions.ts
  admin-ui/src/app/data/definitions/settings-definitions.ts
  admin-ui/src/app/data/providers/product-data.service.ts
  admin-ui/src/app/data/providers/settings-data.service.ts
  admin-ui/src/i18n-messages/en.json
  admin-ui/src/styles/theme/_theme.scss
Due: yarn lint:admin-ui, yarn format

feat(core): Background thread search indexing
  packages/core/src/plugin/default-search-plugin/default-search-plugin.ts
  packages/core/src/plugin/default-search-plugin/fulltext-search.service.ts
  packages/core/src/plugin/default-search-plugin/ipc.ts
  packages/core/src/plugin/default-search-plugin/search-index-worker.ts
  packages/core/src/plugin/default-search-plugin/search-index.service.ts
Due: none

feat(core): Process all updates to the search index on worker thread
  docs/content/docs/plugins/default-search-plugin.md
  packages/core/e2e/default-search-plugin.e2e-spec.ts
  packages/core/src/plugin/default-search-plugin/constants.ts
  packages/core/src/plugin/default-search-plugin/default-search-plugin.ts
  packages/core/src/plugin/default-search-plugin/fulltext-search.service.ts
  packages/core/src/plugin/default-search-plugin/indexer/index-builder.ts
  packages/core/src/plugin/default-search-plugin/indexer/ipc.ts
  packages/core/src/plugin/default-search-plugin/indexer/search-index-worker.ts
  packages/core/src/plugin/default-search-plugin/indexer/search-index.service.ts
  packages/core/src/plugin/default-search-plugin/ipc.ts
  packages/core/src/plugin/default-search-plugin/search-index-worker.ts
  packages/core/src/plugin/default-search-plugin/search-index.service.ts
  packages/core/src/service/helpers/job-manager/job-manager.spec.ts
  packages/core/src/service/helpers/job-manager/job-manager.ts
  packages/core/src/service/helpers/job-manager/job.spec.ts
  packages/core/src/service/helpers/job-manager/job.ts
  packages/core/src/service/services/job.service.ts
Due: none

chore(email-plugin): Update handlebars version due to security alert
  packages/admin-ui-plugin/yarn.lock
  packages/asset-server-plugin/yarn.lock
  packages/common/yarn.lock
  packages/dev-server/yarn.lock
  packages/email-plugin/package.json
  packages/email-plugin/yarn.lock
  yarn.lock
Due: none

fix(core): Queue concurrent search index writes to avoid key conflicts
  packages/core/src/plugin/default-search-plugin/indexer/index-builder.ts
Due: none

feat(core): Update TypeORM to 0.2.18, compatible with sql.js 1.0
  packages/core/package.json
  yarn.lock
Due: none

fix(core): Fix TypeScript errors arising in v3.5.1
  packages/common/src/simple-deep-clone.ts
  packages/core/src/api/middleware/translate-errors-extension.ts
  packages/core/src/common/configurable-operation.ts
  packages/core/src/service/helpers/list-query-builder/parse-filter-params.ts
  packages/core/src/service/helpers/list-query-builder/parse-sort-params.ts
Due: none

feat(admin-ui): Update to Angular 8
  admin-ui/package.json
  admin-ui/src/app/catalog/components/asset-preview/asset-preview.component.ts
  admin-ui/src/app/catalog/components/collection-contents/collection-contents.component.ts
  admin-ui/src/app/catalog/components/collection-detail/collection-detail.component.ts
  admin-ui/src/app/catalog/components/create-option-group-dialog/create-option-group-dialog.component.ts
  admin-ui/src/app/catalog/components/generate-product-variants/generate-product-variants.component.ts
  admin-ui/src/app/catalog/components/product-list/product-list.component.ts
  admin-ui/src/app/catalog/components/product-search-input/product-search-input.component.ts
  admin-ui/src/app/catalog/components/product-variants-wizard/product-variants-wizard.component.ts
  admin-ui/src/app/core/components/notification/notification.component.ts
  admin-ui/src/app/shared/components/action-bar/action-bar.component.ts
  admin-ui/src/app/shared/components/data-table/data-table-column.component.ts
  admin-ui/src/app/shared/components/dropdown/dropdown-menu.component.ts
  admin-ui/src/app/shared/components/form-field/form-field.component.ts
  admin-ui/src/app/shared/components/rich-text-editor/rich-text-editor.component.ts
  admin-ui/src/app/shared/providers/modal/modal.service.ts
  admin-ui/src/styles/_variables.scss
  admin-ui/src/styles/styles.scss
  admin-ui/yarn.lock
Due: yarn lint:admin-ui, yarn format

fix(admin-ui): Fix styles to work with Clarity v2
  admin-ui/src/app/core/components/main-nav/main-nav.component.html
  admin-ui/src/app/shared/components/data-table/data-table.component.scss
  admin-ui/src/app/shared/components/form-field/form-field.component.scss
  admin-ui/src/styles/_variables.scss
  admin-ui/src/styles/styles.scss
  admin-ui/src/styles/theme/_forms.scss
  schema-admin.json
Due: yarn format

chore(admin-ui): Update dependencies
  admin-ui/package.json
  admin-ui/src/app/data/providers/base-data.service.ts
  admin-ui/src/app/shared/components/currency-input/currency-input.component.spec.ts
  admin-ui/yarn.lock
Due: yarn lint:admin-ui, yarn format
