Repository daya110/vendure: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:admin-ui, yarn format, yarn lint:core

fix(admin-ui): Correctly display configurable money values
  admin-ui/src/app/catalog/components/collection-detail/collection-detail.component.html
  admin-ui/src/app/catalog/components/collection-detail/collection-detail.component.ts
  admin-ui/src/app/marketing/components/promotion-detail/promotion-detail.component.html
  admin-ui/src/app/marketing/components/promotion-detail/promotion-detail.component.ts
  admin-ui/src/app/settings/components/shipping-method-detail/shipping-method-detail.component.html
  admin-ui/src/app/settings/components/shipping-method-detail/shipping-method-detail.component.ts
  admin-ui/src/app/shared/components/configurable-input/configurable-input.component.html
  admin-ui/src/app/shared/components/configurable-input/configurable-input.component.ts
  admin-ui/src/app/shared/pipes/sentence-case.pipe.spec.ts
  admin-ui/src/app/shared/pipes/sentence-case.pipe.ts
  admin-ui/src/app/shared/shared.module.ts
Due: yarn lint:admin-ui, yarn format

chore(admin-ui): Improve test output
  admin-ui/package.json
  admin-ui/src/app/core/components/breadcrumb/breadcrumb.component.spec.ts
  admin-ui/src/karma.conf.js
  admin-ui/yarn.lock
Due: yarn lint:admin-ui, yarn format

chore(admin-ui): Update Apollo Client to v2.5.1
  admin-ui/package.json
  admin-ui/src/app/data/data.module.ts
  admin-ui/yarn.lock
Due: yarn lint:admin-ui, yarn format

chore(admin-ui): Update a number of dependencies
  admin-ui/package.json
  admin-ui/src/app/common/base-detail.component.ts
  admin-ui/src/app/core/components/breadcrumb/breadcrumb.component.spec.ts
  admin-ui/src/app/settings/components/country-list/country-list.component.ts
  admin-ui/src/app/shared/providers/modal/modal.service.ts
  admin-ui/yarn.lock
Due: yarn lint:admin-ui, yarn format

feat(admin-ui): Add asset preview dialog
  admin-ui/src/app/catalog/catalog.module.ts
  admin-ui/src/app/catalog/components/asset-gallery/asset-gallery.component.html
  admin-ui/src/app/catalog/components/asset-gallery/asset-gallery.component.ts
  admin-ui/src/app/catalog/components/asset-preview/asset-preview.component.html
  admin-ui/src/app/catalog/components/asset-preview/asset-preview.component.scss
  admin-ui/src/app/catalog/components/asset-preview/asset-preview.component.ts
  admin-ui/src/app/catalog/components/product-assets/product-assets.component.html
  admin-ui/src/app/catalog/components/product-assets/product-assets.component.scss
  admin-ui/src/app/catalog/components/product-assets/product-assets.component.ts
  admin-ui/src/i18n-messages/en.json
Due: yarn lint:admin-ui, yarn format

chore: Update readme with correct build instructions
  .travis.yml
  README.md
  package.json
Due: none

feat(admin-ui): Create ProductSearchInput bar
  admin-ui/package.json
  admin-ui/src/app/catalog/catalog.module.ts
  admin-ui/src/app/catalog/components/product-search-input/product-search-input.component.html
  admin-ui/src/app/catalog/components/product-search-input/product-search-input.component.scss
  admin-ui/src/app/catalog/components/product-search-input/product-search-input.component.ts
  admin-ui/src/app/catalog/components/product-search-input/product-search-selection-model.ts
  admin-ui/src/styles/theme/_forms.scss
  admin-ui/yarn.lock
Due: yarn lint:admin-ui, yarn format

chore: fix Travis config
  .travis.yml
Due: none

feat(admin-ui): Link up product filters with url
  admin-ui/src/app/catalog/components/asset-list/asset-list.component.scss
  admin-ui/src/app/catalog/components/product-list/product-list.component.html
  admin-ui/src/app/catalog/components/product-list/product-list.component.scss
  admin-ui/src/app/catalog/components/product-list/product-list.component.ts
  admin-ui/src/app/catalog/components/product-search-input/product-search-input.component.ts
  admin-ui/src/app/common/base-list.component.ts
  admin-ui/src/app/common/generated-types.ts
  admin-ui/src/app/data/definitions/product-definitions.ts
  admin-ui/src/app/shared/components/action-bar/action-bar.component.html
  admin-ui/src/app/shared/components/action-bar/action-bar.component.scss
  admin-ui/src/app/shared/components/action-bar/action-bar.component.spec.ts
  admin-ui/src/app/shared/components/action-bar/action-bar.component.ts
  admin-ui/src/i18n-messages/en.json
  packages/common/src/generated-types.ts
  packages/core/e2e/graphql/generated-e2e-admin-types.ts
  schema-admin.json
Due: yarn lint:admin-ui, yarn format

fix(admin-ui): Fix creation of zone from country list
  admin-ui/angular.json
  admin-ui/src/app/settings/components/country-list/country-list.component.ts
  admin-ui/src/app/settings/components/zone-selector-dialog/zone-selector-dialog.component.ts
Due: yarn lint:admin-ui, yarn format

feat(core): Expose init CLI command
  packages/core/cli/populate.ts
  packages/core/cli/vendure-cli.ts
Due: none

feat(admin-ui): Reindex search index from product list
  admin-ui/src/app/catalog/components/product-list/product-list.component.html
  admin-ui/src/app/catalog/components/product-list/product-list.component.scss
  admin-ui/src/app/catalog/components/product-list/product-list.component.ts
  admin-ui/src/app/catalog/components/product-search-input/product-search-input.component.scss
  admin-ui/src/app/common/generated-types.ts
  admin-ui/src/app/data/definitions/product-definitions.ts
  admin-ui/src/app/data/providers/product-data.service.ts
  admin-ui/src/i18n-messages/en.json
Due: yarn lint:admin-ui, yarn format

fix(admin-ui): Reset page when filters changed in product list
  admin-ui/src/app/catalog/components/product-list/product-list.component.ts
  admin-ui/src/app/common/base-list.component.ts
Due: yarn lint:admin-ui, yarn format

feat(admin-ui): Numerous style tweaks
  admin-ui/src/app/catalog/components/asset-picker-dialog/asset-picker-dialog.component.html
  admin-ui/src/app/catalog/components/asset-preview/asset-preview.component.scss
  admin-ui/src/app/catalog/components/facet-list/facet-list.component.html
  admin-ui/src/app/catalog/components/facet-list/facet-list.component.scss
  admin-ui/src/app/catalog/components/product-list/product-list.component.html
  admin-ui/src/app/catalog/components/product-list/product-list.component.scss
  admin-ui/src/app/catalog/components/product-search-input/product-search-input.component.scss
  admin-ui/src/app/catalog/components/product-variants-list/product-variants-list.component.html
  admin-ui/src/app/catalog/components/product-variants-list/product-variants-list.component.scss
  admin-ui/src/app/catalog/components/product-variants-table/product-variants-table.component.html
  admin-ui/src/app/catalog/components/product-variants-table/product-variants-table.component.scss
  admin-ui/src/app/shared/components/data-table/data-table.component.scss
  admin-ui/src/app/shared/components/facet-value-selector/facet-value-selector.component.html
  admin-ui/src/app/shared/components/facet-value-selector/facet-value-selector.component.scss
  admin-ui/src/app/shared/components/title-input/title-input.component.scss
  admin-ui/src/i18n-messages/en.json
  admin-ui/src/styles/_mixins.scss
Due: yarn format

feat(admin-ui): Make facet list values expandable
  admin-ui/src/app/catalog/components/facet-list/facet-list.component.html
  admin-ui/src/app/catalog/components/facet-list/facet-list.component.ts
Due: yarn lint:admin-ui, yarn format

fix(core): Relax engines check for Yarn
  packages/create/src/helpers.ts
Due: none

fix(admin-ui): Fix boolean configurable input
  admin-ui/src/app/marketing/components/promotion-list/promotion-list.component.html
  admin-ui/src/app/shared/components/configurable-input/configurable-input.component.html
Due: yarn format

feat(admin-ui): Collapse settings menu group by default
  admin-ui/src/app/core/components/main-nav/main-nav.component.html
Due: yarn format

feat(admin-ui): Implement custom dropdown based on CDK Overlay
  admin-ui/src/app/shared/components/dropdown/dropdown-item.directive.ts
  admin-ui/src/app/shared/components/dropdown/dropdown-menu.component.scss
  admin-ui/src/app/shared/components/dropdown/dropdown-menu.component.ts
  admin-ui/src/app/shared/components/dropdown/dropdown-trigger.directive.ts
  admin-ui/src/app/shared/components/dropdown/dropdown.component.html
  admin-ui/src/app/shared/components/dropdown/dropdown.component.scss
  admin-ui/src/app/shared/components/dropdown/dropdown.component.ts
  admin-ui/src/app/shared/shared.module.ts
  admin-ui/src/styles/styles.scss
Due: yarn lint:admin-ui, yarn format

fix(admin-ui): Replace all clr-dropdown with vdr-dropdown
  admin-ui/src/app/catalog/components/asset-gallery/asset-gallery.component.html
  admin-ui/src/app/catalog/components/collection-detail/collection-detail.component.html
  admin-ui/src/app/catalog/components/collection-tree/collection-tree-node.component.html
  admin-ui/src/app/catalog/components/facet-detail/facet-detail.component.html
  admin-ui/src/app/catalog/components/facet-list/facet-list.component.html
  admin-ui/src/app/catalog/components/generate-product-variants/generate-product-variants.component.html
  admin-ui/src/app/catalog/components/product-assets/product-assets.component.html
  admin-ui/src/app/catalog/components/product-list/product-list.component.html
  admin-ui/src/app/catalog/components/product-list/product-list.component.scss
  admin-ui/src/app/core/components/ui-language-switcher/ui-language-switcher.component.html
  admin-ui/src/app/core/components/ui-language-switcher/ui-language-switcher.component.ts
  admin-ui/src/app/core/components/user-menu/user-menu.component.html
  admin-ui/src/app/customer/components/address-card/address-card.component.html
  admin-ui/src/app/marketing/components/promotion-detail/promotion-detail.component.html
  admin-ui/src/app/marketing/components/promotion-detail/promotion-detail.component.ts
  admin-ui/src/app/settings/components/country-list/country-list.component.html
  admin-ui/src/app/settings/components/shipping-method-detail/shipping-method-detail.component.html
  admin-ui/src/app/shared/components/form-field/form-field.component.html
  admin-ui/src/app/shared/components/language-selector/language-selector.component.html
Due: yarn lint:admin-ui, yarn format

feat(admin-ui): Improve collection list & child collection creation
  admin-ui/src/app/catalog/components/collection-detail/collection-detail.component.ts
  admin-ui/src/app/catalog/components/collection-tree/collection-tree-node.component.html
  admin-ui/src/app/catalog/components/collection-tree/collection-tree-node.component.scss
  admin-ui/src/app/catalog/components/product-list/product-list.component.html
  admin-ui/src/app/catalog/components/product-list/product-list.component.scss
  admin-ui/src/app/data/providers/collection-data.service.ts
  admin-ui/src/styles/theme/_theme.scss
Due: yarn lint:admin-ui, yarn format

feat(core): Export populate-collections CLI command
  packages/core/cli/populate.ts
  packages/core/cli/vendure-cli.ts
Due: none

fix(core): Fix error when updating variant stock level
  packages/core/e2e/stock-control.e2e-spec.ts
  packages/core/src/entity/product-variant/product-variant.subscriber.ts
Due: none

fix(core): Fix bug which created new address for each order placed
  packages/core/e2e/shop-order.e2e-spec.ts
  packages/core/src/api/resolvers/shop/shop-order.resolver.ts
Due: none

fix(core): Implement property resolver for Collection.children
  packages/core/e2e/__snapshots__/collection.e2e-spec.ts.snap
  packages/core/e2e/collection.e2e-spec.ts
  packages/core/src/api/resolvers/entity/collection-entity.resolver.ts
  packages/core/src/service/services/collection.service.ts
Due: none

fix(core): Correctly intercept top-level Assets
  packages/core/src/api/middleware/asset-interceptor.spec.ts
  packages/core/src/api/middleware/asset-interceptor.ts
Due: none

feat(core): Richer mock data
  packages/core/mock-data/assets/abel-y-costa-716024-unsplash.jpg
  packages/core/mock-data/assets/alex-rodriguez-santibanez-200278-unsplash.jpg
  packages/core/mock-data/assets/alexander-andrews-260988-unsplash.jpg
  packages/core/mock-data/assets/andres-jasso-220776-unsplash.jpg
  packages/core/mock-data/assets/annie-spratt-78044-unsplash.jpg
  packages/core/mock-data/assets/ben-hershey-574483-unsplash.jpg
  packages/core/mock-data/assets/benjamin-voros-310026-unsplash.jpg
  packages/core/mock-data/assets/caleb-george-536388-unsplash.jpg
  packages/core/mock-data/assets/chuttersnap-324234-unsplash.jpg
  packages/core/mock-data/assets/daniel-korpai-1302051-unsplash.jpg
  packages/core/mock-data/assets/imani-clovis-234736-unsplash.jpg
  packages/core/mock-data/assets/jakob-owens-274337-unsplash.jpg
  packages/core/mock-data/assets/jean-philippe-delberghe-1400011-unsplash.jpg
  packages/core/mock-data/assets/jonathan-talbert-697262-unsplash.jpg
  packages/core/mock-data/assets/kari-shea-398668-unsplash.jpg
  packages/core/mock-data/assets/kelly-sikkema-685291-unsplash.jpg
  packages/core/mock-data/assets/liam-briese-1128307-unsplash.jpg
  packages/core/mock-data/assets/mitch-lensink-256007-unsplash.jpg
  packages/core/mock-data/assets/natalia-y-345738-unsplash.jpg
  packages/core/mock-data/assets/nathan-fertig-249917-unsplash.jpg
  packages/core/mock-data/assets/nikolai-chernichenko-1299748-unsplash.jpg
  packages/core/mock-data/assets/oscar-ivan-esquivel-arteaga-687447-unsplash.jpg
  packages/core/mock-data/assets/patrick-brinksma-663044-unsplash.jpg
  packages/core/mock-data/assets/ruslan-bardash-351288-unsplash.jpg
  packages/core/mock-data/assets/silvia-agrasar-227575-unsplash.jpg
  packages/core/mock-data/assets/thomas-q-1229169-unsplash.jpg
  packages/core/mock-data/assets/thomas-serer-420833-unsplash.jpg
  packages/core/mock-data/assets/tommy-bebo-600358-unsplash.jpg
  packages/core/mock-data/assets/xavier-teo-469050-unsplash.jpg
  packages/core/mock-data/data-sources/initial-data.ts
  packages/core/mock-data/data-sources/products.csv
  packages/core/src/data-import/providers/populator/populator.ts
  packages/core/src/service/helpers/asset-updater/asset-updater.ts
  packages/core/src/service/services/asset.service.ts
Due: none

fix(core): Add property resolver for Collection.featuredAsset
  packages/asset-server-plugin/src/plugin.ts
  packages/core/e2e/config/testing-asset-storage-strategy.ts
  packages/core/src/api/resolvers/entity/collection-entity.resolver.ts
Due: none

fix(core): Typo in mock product data
  packages/core/mock-data/data-sources/products.csv
Due: none

chore: Update generated schema
  packages/common/src/generated-types.ts
  packages/core/.gitignore
  packages/core/e2e/graphql/generated-e2e-admin-types.ts
  schema-admin.json
Due: none

chore: Set up changelog generation script
  CONTRIBUTING.md
  package.json
  scripts/changelogs/add-stream.ts
  scripts/changelogs/changelogs.ts
  scripts/changelogs/commit.hbs
  scripts/changelogs/template.hbs
  yarn.lock
Due: none

chore: Switch Lerna to fixed mode
  CHANGELOG.md
  lerna.json
  package.json
  scripts/changelogs/changelogs.ts
Due: none

chore: Document release process
  README.md
  package.json
  scripts/changelogs/commit.hbs
  scripts/changelogs/generate-changelog.ts
Due: none

chore: Remove peerDependencies on @vendure/core
  packages/admin-ui-plugin/package.json
  packages/asset-server-plugin/package.json
  packages/create/package.json
  packages/email-plugin/package.json
Due: none

chore: Publish v0.1.2-beta.0
  CHANGELOG.md
  lerna.json
  packages/admin-ui-plugin/package.json
  packages/asset-server-plugin/package.json
  packages/common/package.json
  packages/core/package.json
  packages/create/package.json
  packages/dev-server/package.json
  packages/email-plugin/package.json
Due: none

fix(admin-ui): Fix publish flow to ensure correct version in UI
  README.md
  package.json
Due: none

chore: Publish v0.1.2-beta.1
  CHANGELOG.md
  lerna.json
  packages/admin-ui-plugin/package.json
  packages/asset-server-plugin/package.json
  packages/common/package.json
  packages/core/package.json
  packages/create/package.json
  packages/dev-server/package.json
  packages/email-plugin/package.json
Due: none

feat(asset-server-plugin): Allow url prefix to be set in options
  packages/asset-server-plugin/src/plugin.ts
Due: none

fix(core): Fix intermittent "no active session" errors
  packages/core/src/api/middleware/auth-guard.ts
Due: none

fix(core): Fix CollectionBreadcrumb.name error
  packages/core/e2e/collection.e2e-spec.ts
  packages/core/src/service/services/collection.service.ts
Due: none

Path conditions:
  yarn lint:admin-ui: any of: admin-ui/**/*.ts
  yarn format: ((any of: admin-ui/**/*.ts) or (any of: admin-ui/**/*.html)) or (any of: packages/core/*.ts)
  yarn lint:core: any of: packages/core/*.ts
