Repository daya110/vendure: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:admin-ui, yarn format, yarn lint:server

.lintstagedrc.yml:

linters:
  admin-ui/**/*.ts:
    - yarn lint:admin-ui
    - yarn format
    - git add
  server/**/*.ts:
    - yarn lint:server
    - yarn format
    - git add

chore(server): Bump alpha version
  README.md
  server/package.json
Due: none

feat(docs): Add email link to footer
  docs/assets/styles/main.scss
  docs/layouts/partials/footer.html
  docs/static/svg/clr-icon-email-light.svg
Due: none

feat(docs): Create intro blog post
  docs/content/blog/_index.md
  docs/content/blog/introducing-vendure.md
  docs/content/blog/introducing-vendure/index.md
  docs/content/blog/introducing-vendure/introducing-vendure.jpg
Due: none

fix(docs): Fix misconfiguration with urls & build script
  docs/config.toml
  docs/layouts/blog/list.html
  docs/layouts/index.en.html
  docs/layouts/partials/docs/git-footer.html
  docs/layouts/partials/docs/html-head.html
  docs/layouts/partials/docs/menu-filetree.html
  docs/layouts/partials/docs/mobile-header.html
  docs/layouts/partials/footer.html
  docs/layouts/partials/intro.html
  docs/layouts/partials/top-bar.html
  package.json
Due: none

chore(server): Fix travis build (hopefully), update readme
  .travis.yml
  README.md
Due: none

fix(server): Force db sync in CLI populate script
  server/cli/populate.ts
Due: yarn format, yarn lint:server

feat(server): Add support for SQLite / sql.js to DefaultSearchPlugin
  server/src/plugin/default-search-plugin/fulltext-search.service.ts
Due: yarn format, yarn lint:server

feat(server): Add a search implementation for postgres, refactor search
  server/dev-config.ts
  server/package.json
  server/src/plugin/default-search-plugin/fulltext-search.service.ts
  server/src/plugin/default-search-plugin/search-strategy/mysql-search-strategy.ts
  server/src/plugin/default-search-plugin/search-strategy/postges-search-strategy.ts
  server/src/plugin/default-search-plugin/search-strategy/search-strategy.ts
  server/src/plugin/default-search-plugin/search-strategy/sqlite-search-strategy.ts
  server/yarn.lock
Due: yarn format, yarn lint:server

fix: Better handling when channel is not found
  admin-ui/src/app/data/providers/interceptor.ts
  server/dev-config.ts
  server/src/api/common/request-context.service.ts
  server/src/common/error/errors.ts
  server/src/service/services/channel.service.ts
Due: yarn lint:admin-ui, yarn format, yarn lint:server

feat(docs): Add install instructions for postgres
  docs/assets/scripts/tabs.ts
  docs/assets/styles/_shortcodes.scss
  docs/content/docs/getting-started.md
Due: none

fix(docs): Fix visual glitch in landing page logo
  docs/assets/scripts/intro/intro.ts
  docs/assets/styles/_landing-page.scss
  docs/assets/styles/intro/intro.scss
Due: none

feat(docs): Add logo to footer
  docs/assets/styles/main.scss
  docs/layouts/partials/footer.html
  docs/static/logo.png
Due: none

chore(server): Bump alpha version
  server/package.json
Due: none

fix(docs): Add proper title to landing page
  docs/content/_index.md
Due: none

feat(docs): Add analytics code to landing page
  docs/layouts/index.en.html
Due: none

fix(docs): Fix typo in getting started guide
  docs/content/docs/getting-started.md
Due: none

feat(docs): Add share info to landing page
  docs/config.toml
  docs/content/_index.md
  docs/content/blog/introducing-vendure/index.md
  docs/layouts/index.en.html
  docs/static/share-image.jpg
Due: none

feat(server): Use same sample data for dev and cli populate script
  server/build/gulpfile.ts
  server/cli/assets/initial-data.json
  server/cli/assets/sample-products.csv
  server/cli/populate.ts
Due: yarn format, yarn lint:server

feat(server): Populate sample shipping rates from initial data
  server/e2e/fixtures/e2e-initial-data.ts
  server/mock-data/data-sources/initial-data.ts
  server/mock-data/mock-data.service.ts
  server/mock-data/populate.ts
  server/package.json
  server/src/data-import/index.ts
  server/src/data-import/providers/populator/populator.ts
Due: yarn format, yarn lint:server

feat(server): Add price and slug to SearchResult type
  schema.json
  server/src/api/resolvers/product-option.resolver.ts
  server/src/api/types/search.api.graphql
  server/src/plugin/default-search-plugin/fulltext-search.service.ts
  server/src/plugin/default-search-plugin/search-index-item.entity.ts
  server/src/plugin/default-search-plugin/search-strategy/map-to-search-result.ts
  server/src/plugin/default-search-plugin/search-strategy/mysql-search-strategy.ts
  server/src/plugin/default-search-plugin/search-strategy/postgres-search-strategy.ts
  server/src/plugin/default-search-plugin/search-strategy/sqlite-search-strategy.ts
  shared/generated-types.ts
Due: yarn format, yarn lint:server

feat(server): Add ancestorFacetValues property to ProductCategory
  schema.json
  server/e2e/product-category.e2e-spec.ts
  server/src/api/resolvers/product-category.resolver.ts
  server/src/entity/product-category/product-category.graphql
  server/src/service/services/facet-value.service.ts
  shared/generated-types.ts
Due: yarn format, yarn lint:server

feat(server): Add sorting to search query
  server/src/api/types/product.api.graphql
  server/src/api/types/search.api.graphql
  server/src/plugin/default-search-plugin/search-strategy/mysql-search-strategy.ts
  server/src/plugin/default-search-plugin/search-strategy/postgres-search-strategy.ts
  server/src/plugin/default-search-plugin/search-strategy/sqlite-search-strategy.ts
  shared/generated-types.ts
Due: yarn format, yarn lint:server

fix(server): Select ProductVariant Options for activeOrder
  schema.json
  server/src/service/services/order.service.ts
Due: yarn format, yarn lint:server

fix(server): Fix incorrect error message
  server/e2e/order.e2e-spec.ts
  server/src/i18n/messages/en.json
Due: yarn format, yarn lint:server

feat: Simplify Order address type
  admin-ui/src/app/data/definitions/order-definitions.ts
  schema.json
  server/src/entity/order/order.entity.ts
  server/src/entity/order/order.graphql
  shared/generated-types.ts
Due: yarn lint:admin-ui, yarn format, yarn lint:server

feat(server): Implement account registration without verification
  schema.json
  server/e2e/auth.e2e-spec.ts
  server/src/api/types/auth.api.graphql
  server/src/config/vendure-config.ts
  server/src/i18n/messages/en.json
  server/src/service/services/customer.service.ts
  shared/generated-types.ts
Due: yarn format, yarn lint:server

feat(server): Create default Address from Order shipping address
  server/e2e/order.e2e-spec.ts
  server/src/api/resolvers/order.resolver.ts
Due: yarn format, yarn lint:server

fix(server): Fix errors resolving deep order properties for active user
  server/src/api/resolvers/customer.resolver.ts
  server/src/api/resolvers/order.resolver.ts
  server/src/service/services/order.service.ts
Due: yarn format, yarn lint:server

chore(server): Bump alpha version, add server readme
  server/README.md
  server/package.json
Due: none

refactor(server): Rework the configuration of the graphql api module
  server/dev-config.ts
  server/src/api/api.module.ts
  server/src/api/config/graphql-config.service.ts
  server/src/api/resolvers/admin/administrator.resolver.ts
  server/src/api/resolvers/admin/asset.resolver.ts
  server/src/api/resolvers/admin/auth.resolver.ts
  server/src/api/resolvers/admin/channel.resolver.ts
  server/src/api/resolvers/admin/country.resolver.ts
  server/src/api/resolvers/admin/customer-group.resolver.ts
  server/src/api/resolvers/admin/customer.resolver.ts
  server/src/api/resolvers/admin/facet.resolver.ts
  server/src/api/resolvers/admin/global-settings.resolver.ts
  server/src/api/resolvers/admin/import.resolver.ts
  server/src/api/resolvers/admin/order.resolver.ts
  server/src/api/resolvers/admin/payment-method.resolver.ts
  server/src/api/resolvers/admin/product-category.resolver.ts
  server/src/api/resolvers/admin/product-option.resolver.ts
  server/src/api/resolvers/admin/product.resolver.ts
  server/src/api/resolvers/admin/promotion.resolver.ts
  server/src/api/resolvers/admin/role.resolver.ts
  server/src/api/resolvers/admin/search.resolver.ts
  server/src/api/resolvers/admin/shipping-method.resolver.ts
  server/src/api/resolvers/admin/tax-category.resolver.ts
  server/src/api/resolvers/admin/tax-rate.resolver.ts
  server/src/api/resolvers/admin/zone.resolver.ts
  server/src/plugin/default-search-plugin/fulltext-search.resolver.ts
  shared/shared-constants.ts
Due: yarn format, yarn lint:server

feat(server): Create function to auto-generate list options inputs
  server/package.json
  server/src/api/config/generate-list-options.spec.ts
  server/src/api/config/generate-list-options.ts
  server/yarn.lock
Due: yarn format, yarn lint:server

feat(server): Auto-generate ListOptions & related GraphQL inputs
  codegen/client-schema.ts
  schema.json
  server/package.json
  server/src/api/config/graphql-config.service.ts
  server/src/api/config/graphql-custom-fields.ts
  server/src/api/schema/admin-api/administrator.api.graphql
  server/src/api/schema/admin-api/asset.api.graphql
  server/src/api/schema/admin-api/country.api.graphql
  server/src/api/schema/admin-api/customer.api.graphql
  server/src/api/schema/admin-api/facet.api.graphql
  server/src/api/schema/admin-api/order.api.graphql
  server/src/api/schema/admin-api/payment-method.api.graphql
  server/src/api/schema/admin-api/product-category.api.graphql
  server/src/api/schema/admin-api/product.api.graphql
  server/src/api/schema/admin-api/promotion.api.graphql
  server/src/api/schema/admin-api/role.api.graphql
  server/src/api/schema/admin-api/shipping-method.api.graphql
  server/src/api/schema/admin-api/tax-category.api.graphql
  server/src/api/schema/admin-api/tax-rate.api.graphql
  server/yarn.lock
  shared/generated-types.ts
Due: yarn format, yarn lint:server

feat(server): Generate ListOptions for nested list fields
  server/src/api/config/generate-list-options.spec.ts
  server/src/api/config/generate-list-options.ts
Due: yarn format, yarn lint:server

feat(server): Rework the plugin interface to account for 2 apis
  server/e2e/default-search-plugin.e2e-spec.ts
  server/e2e/fixtures/test-plugins.ts
  server/e2e/plugin.e2e-spec.ts
  server/e2e/test-server.ts
  server/src/api/api.module.ts
  server/src/api/config/configure-graphql-module.ts
  server/src/bootstrap.ts
  server/src/config/vendure-plugin/vendure-plugin.ts
  server/src/plugin/default-search-plugin/default-search-plugin.ts
  server/src/plugin/default-search-plugin/fulltext-search.resolver.ts
  server/src/plugin/plugin-utils.ts
  server/src/plugin/plugin.module.ts
Due: yarn format, yarn lint:server

feat(docs): Update to reflect new API structure
  .gitignore
  codegen/generate-api-docs.ts
  docs/content/docs/graphql-api/_index.md
  docs/content/docs/plugins/default-search-plugin.md
  docs/content/docs/plugins/writing-a-vendure-plugin.md
  package.json
  server/src/config/vendure-plugin/vendure-plugin.ts
  shared/generated-shop-types.ts
  shared/generated-types.ts
Due: yarn format, yarn lint:server

feat(docs): Improve docs search widget
  docs/assets/scripts/search-widget.ts
  docs/assets/styles/_search-widget.scss
  docs/layouts/searchindex/searchindex.html
Due: none

feat(docs): Add breadcrumbs
  docs/assets/styles/_blog.scss
  docs/assets/styles/_breadcrumbs.scss
  docs/assets/styles/main.scss
  docs/content/docs/graphql-api/_index.md
  docs/layouts/docs/baseof.html
  docs/layouts/docs/list.html
  docs/layouts/docs/single.html
  docs/layouts/partials/breadcrumbs.html
Due: none
