Repository daya110/vendure: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:admin-ui, yarn format, yarn lint:server

fix(server): Handle EISDIR error in importer
  server/src/data-import/providers/importer/importer.ts
Due: yarn format, yarn lint:server

refactor(server): Rename VendurePlugin.init() -> configure()
  server/src/bootstrap.ts
  server/src/config/vendure-plugin/vendure-plugin.ts
  server/src/plugin/default-asset-server-plugin/default-asset-preview-strategy.ts
  server/src/plugin/default-asset-server-plugin/default-asset-server-plugin.ts
  server/src/plugin/default-asset-server-plugin/default-asset-storage-strategy.ts
  server/src/plugin/default-asset-server-plugin/file-icon.png
  server/src/plugin/default-asset-server-plugin/file-icon.psd
  server/src/plugin/default-asset-server-plugin/transform-image.ts
  server/src/plugin/default-search-plugin/default-search-plugin.ts
  server/src/plugin/default-search-plugin/fulltext-search.resolver.ts
  server/src/plugin/default-search-plugin/fulltext-search.service.ts
  server/src/plugin/default-search-plugin/search-index-item.entity.ts
  server/src/plugin/index.ts
Due: yarn format, yarn lint:server

refactor(server): Enable TypeScript esModuleInterop flag
  codegen/client-schema.ts
  codegen/download-introspection-schema.ts
  codegen/generate-graphql-types.ts
  server/build/gulpfile.ts
  server/cli/init.ts
  server/cli/populate.ts
  server/cli/vendure-cli.ts
  server/dev-config.ts
  server/e2e/auth.e2e-spec.ts
  server/e2e/config/test-config.ts
  server/e2e/import.e2e-spec.ts
  server/e2e/test-server.ts
  server/mock-data/mock-data.service.ts
  server/src/api/common/set-auth-token.ts
  server/src/api/config/graphql-config.service.ts
  server/src/api/resolvers/order.resolver.ts
  server/src/config/asset-naming-strategy/default-asset-naming-strategy.ts
  server/src/data-import/import-cli.ts
  server/src/data-import/providers/import-parser/import-parser.spec.ts
  server/src/data-import/providers/import-parser/import-parser.ts
  server/src/data-import/providers/importer/importer.ts
  server/src/email/default-email-types.ts
  server/src/email/email-sender.ts
  server/src/email/email.module.ts
  server/src/email/handlebars-mjml-generator.ts
  server/src/email/template-loader.ts
  server/src/i18n/i18n.service.ts
  server/src/plugin/default-asset-server-plugin/default-asset-preview-strategy.ts
  server/src/plugin/default-asset-server-plugin/default-asset-server-plugin.ts
  server/src/plugin/default-asset-server-plugin/default-asset-storage-strategy.ts
  server/src/plugin/default-asset-server-plugin/transform-image.ts
  server/src/service/helpers/password-cipher/password-ciper.ts
  server/src/service/services/asset.service.ts
  server/src/service/services/auth.service.ts
  server/src/service/services/user.service.ts
  tsconfig.json
Due: yarn format, yarn lint:server

fix(server): Correct loading of email templates
  server/cli/assets/vendure-config.hbs
  server/package.json
  server/src/config/default-config.ts
  server/src/config/email/email-options.ts
  server/src/config/vendure-config.ts
  server/src/email/preview/generate-email-preview.ts
  server/src/plugin/default-email-plugin/default-email-plugin.ts
  server/src/plugin/index.ts
  server/yarn.lock
Due: yarn format, yarn lint:server

feat(server): Add hostname config option
  server/src/bootstrap.ts
  server/src/config/default-config.ts
  server/src/config/vendure-config.ts
Due: yarn format, yarn lint:server

feat(server): Simplify DefaultAssetServer constructor options
  server/cli/assets/vendure-config.hbs
  server/dev-config.ts
  server/src/config/vendure-plugin/vendure-plugin.ts
  server/src/plugin/default-asset-server-plugin/default-asset-server-plugin.ts
Due: yarn format, yarn lint:server

fix(server): Handle missing assets, fix preset generation
  server/src/plugin/default-asset-server-plugin/default-asset-server-plugin.ts
  server/src/plugin/default-asset-server-plugin/transform-image.ts
Due: yarn format, yarn lint:server

refactor(server): Export only a single example payment provider
  server/cli/assets/vendure-config.hbs
  server/dev-config.ts
  server/src/config/index.ts
  server/src/config/payment-method/example-payment-method-config.ts
  server/src/config/payment-method/fakepal-payment-method-config.ts
  server/src/config/payment-method/payment-method-handler.ts
  server/src/service/services/payment-method.service.ts
Due: yarn format, yarn lint:server

fix(admin-ui): Display payment transactionId on order detail page
  admin-ui/src/app/data/definitions/order-definitions.ts
  schema.json
  shared/generated-types.ts
Due: yarn lint:admin-ui, yarn format

chore(server): Update i18next & related packages
  server/package.json
  server/src/i18n/i18n.service.ts
  server/yarn.lock
Due: yarn format, yarn lint:server

chore(server): Update server deps
  server/package.json
  server/yarn.lock
Due: none

chore(admin-ui): Update admin-ui deps
  admin-ui/package.json
  admin-ui/tsconfig.json
  admin-ui/yarn.lock
Due: none

chore(server): Remove unused variable, fix ts error
  server/src/api/config/graphql-config.service.ts
  server/src/service/helpers/translatable-saver/translation-differ.ts
Due: yarn format, yarn lint:server

feat(server): Make tax zone/price calculations configurable
  server/e2e/product-category.e2e-spec.ts
  server/e2e/product.e2e-spec.ts
  server/src/api/common/request-context.ts
  server/src/api/resolvers/zone.resolver.ts
  server/src/config/config.service.mock.ts
  server/src/config/config.service.ts
  server/src/config/default-config.ts
  server/src/config/tax/default-tax-calculation-strategy.ts
  server/src/config/tax/default-tax-zone-strategy.ts
  server/src/config/tax/tax-calculation-strategy.ts
  server/src/config/tax/tax-zone-strategy.ts
  server/src/config/vendure-config.ts
  server/src/service/helpers/order-calculator/order-calculator.spec.ts
  server/src/service/helpers/order-calculator/order-calculator.ts
  server/src/service/helpers/tax-calculator/tax-calculator-test-fixtures.ts
  server/src/service/helpers/tax-calculator/tax-calculator.spec.ts
  server/src/service/helpers/tax-calculator/tax-calculator.ts
  server/src/service/services/product-variant.service.ts
  server/src/service/services/zone.service.ts
Due: yarn format, yarn lint:server

feat(server): Add billingAddress property to Order entity
  schema.json
  server/src/entity/order/order.entity.ts
  server/src/entity/order/order.graphql
  server/src/service/services/order.service.ts
  shared/generated-types.ts
Due: yarn format, yarn lint:server

fix(server): Fix use of deprecated api for file uploads
  server/src/service/services/asset.service.ts
Due: yarn format, yarn lint:server

refactor(server): Use Nest's onModuleInit hook to run service setup
  server/src/service/helpers/order-calculator/order-calculator.spec.ts
  server/src/service/helpers/tax-calculator/tax-calculator.spec.ts
  server/src/service/service.module.ts
  server/src/service/services/administrator.service.ts
  server/src/service/services/channel.service.ts
  server/src/service/services/payment-method.service.ts
  server/src/service/services/role.service.ts
  server/src/service/services/shipping-method.service.ts
  server/src/service/services/tax-rate.service.ts
Due: yarn format, yarn lint:server

fix(server): Do not allow re-registration of verified email addresses
  server/e2e/auth.e2e-spec.ts
  server/src/service/services/customer.service.ts
Due: yarn format, yarn lint:server

fix(server): Correctly handle expired registration tokens
  server/e2e/auth.e2e-spec.ts
  server/src/common/error/errors.ts
  server/src/i18n/messages/en.json
  server/src/service/helpers/verification-token-generator/verification-token-generator.ts
  server/src/service/service.module.ts
  server/src/service/services/user.service.ts
Due: yarn format, yarn lint:server

fix(admin-ui): Fix ui bugs on Order detail page
  admin-ui/src/app/order/components/order-detail/order-detail.component.html
  admin-ui/src/app/order/components/order-detail/order-detail.component.scss
Due: none

fix(server): Revert using Nest's onModuleInit hook to run service setup
  server/src/service/helpers/order-calculator/order-calculator.spec.ts
  server/src/service/helpers/tax-calculator/tax-calculator.spec.ts
  server/src/service/service.module.ts
  server/src/service/services/administrator.service.ts
  server/src/service/services/channel.service.ts
  server/src/service/services/payment-method.service.ts
  server/src/service/services/role.service.ts
  server/src/service/services/shipping-method.service.ts
  server/src/service/services/tax-rate.service.ts
Due: yarn format, yarn lint:server

test(server): Fix non-deterministic asset ids on Windows
  server/mock-data/mock-data.service.ts
  server/src/api/resolvers/import.resolver.ts
Due: yarn format, yarn lint:server

feat(admin-ui): Implement CanDeactivate guard for detail components
  admin-ui/src/app/catalog/catalog.routes.ts
  admin-ui/src/app/catalog/components/facet-detail/facet-detail.component.html
  admin-ui/src/app/catalog/components/facet-detail/facet-detail.component.ts
  admin-ui/src/app/catalog/components/product-category-detail/product-category-detail.component.html
  admin-ui/src/app/catalog/components/product-category-detail/product-category-detail.component.ts
  admin-ui/src/app/catalog/components/product-detail/product-detail.component.html
  admin-ui/src/app/catalog/components/product-detail/product-detail.component.ts
  admin-ui/src/app/common/base-detail.component.ts
  admin-ui/src/app/customer/components/customer-detail/customer-detail.component.html
  admin-ui/src/app/customer/components/customer-detail/customer-detail.component.ts
  admin-ui/src/app/customer/customer.routes.ts
  admin-ui/src/app/marketing/components/promotion-detail/promotion-detail.component.html
  admin-ui/src/app/marketing/components/promotion-detail/promotion-detail.component.ts
  admin-ui/src/app/marketing/marketing.routes.ts
  admin-ui/src/app/order/components/order-detail/order-detail.component.ts
  admin-ui/src/app/order/order.routes.ts
  admin-ui/src/app/settings/components/admin-detail/admin-detail.component.html
  admin-ui/src/app/settings/components/admin-detail/admin-detail.component.ts
  admin-ui/src/app/settings/components/channel-detail/channel-detail.component.html
  admin-ui/src/app/settings/components/channel-detail/channel-detail.component.ts
  admin-ui/src/app/settings/components/country-detail/country-detail.component.html
  admin-ui/src/app/settings/components/country-detail/country-detail.component.ts
  admin-ui/src/app/settings/components/payment-method-detail/payment-method-detail.component.html
  admin-ui/src/app/settings/components/payment-method-detail/payment-method-detail.component.ts
  admin-ui/src/app/settings/components/role-detail/role-detail.component.html
  admin-ui/src/app/settings/components/role-detail/role-detail.component.ts
  admin-ui/src/app/settings/components/shipping-method-detail/shipping-method-detail.component.html
  admin-ui/src/app/settings/components/shipping-method-detail/shipping-method-detail.component.ts
  admin-ui/src/app/settings/components/tax-category-detail/tax-category-detail.component.html
  admin-ui/src/app/settings/components/tax-category-detail/tax-category-detail.component.ts
  admin-ui/src/app/settings/components/tax-rate-detail/tax-rate-detail.component.html
  admin-ui/src/app/settings/components/tax-rate-detail/tax-rate-detail.component.ts
  admin-ui/src/app/settings/settings.routes.ts
  admin-ui/src/app/shared/components/confirm-navigation-dialog/confirm-navigation-dialog.component.html
  admin-ui/src/app/shared/components/confirm-navigation-dialog/confirm-navigation-dialog.component.scss
  admin-ui/src/app/shared/components/confirm-navigation-dialog/confirm-navigation-dialog.component.ts
  admin-ui/src/app/shared/providers/routing/can-deactivate-detail-guard.ts
  admin-ui/src/app/shared/shared.module.ts
  admin-ui/src/i18n-messages/en.json
Due: yarn lint:admin-ui, yarn format

refactor(server): Order VendureConfig props alphabetically
  server/src/config/vendure-config.ts
Due: yarn format, yarn lint:server

feat(docs): Incorporate landing page in docs website, styling
  .gitignore
  docs/assets/_markdown.scss
  docs/assets/_utils.scss
  docs/assets/book.scss
  docs/assets/scripts/main.ts
  docs/assets/styles/_landing-page.scss
  docs/assets/styles/_markdown.scss
  docs/assets/styles/_top-bar.scss
  docs/assets/styles/_utils.scss
  docs/assets/styles/_variables.scss
  docs/assets/styles/main.scss
  docs/config.toml
  docs/content/docs/getting-started.md
  docs/layouts/index.en.html
  docs/layouts/partials/docs/html-head.html
  docs/layouts/partials/docs/inject/body.html
  docs/layouts/partials/top-bar.html
  docs/static/clr-icons-lite.min.js
  docs/static/clr-icons.min.css
  docs/static/clr-icons.min.js
  docs/static/custom-elements.min.js
  docs/static/favicon.ico
  docs/static/header-bg.png
  docs/static/logo.png
  docs/tsconfig.json
Due: none

feat(docs): Styling docs top bar
  docs/assets/styles/_top-bar.scss
  docs/assets/styles/main.scss
  docs/layouts/docs/baseof.html
  docs/layouts/index.en.html
  docs/layouts/partials/docs/inject/body.html
  docs/layouts/partials/top-bar.html
Due: none

refactor(server): Remove the TypeORM tree for ProductCategory
  server/src/entity/product-category/product-category.entity.ts
  server/src/service/services/product-category.service.ts
Due: yarn format, yarn lint:server

feat(server): Add categoryId filter to the products query
  schema.json
  server/src/api/types/product.api.graphql
  server/src/service/services/product-category.service.ts
  server/src/service/services/product.service.ts
  shared/generated-types.ts
Due: yarn format, yarn lint:server

feat(server): PromotionCondition check fn can be async, add facet check
  server/src/config/common/config-args.ts
  server/src/config/promotion/default-promotion-conditions.ts
  server/src/config/promotion/promotion-condition.ts
  server/src/entity/promotion/promotion.entity.ts
  server/src/service/helpers/order-calculator/order-calculator.spec.ts
  server/src/service/helpers/order-calculator/order-calculator.ts
  server/src/service/services/product.service.ts
  shared/filter-async.spec.ts
  shared/filter-async.ts
Due: yarn format, yarn lint:server

refactor(server): Cache ProductVariant lookups when calculating order
  server/src/service/helpers/order-calculator/order-calculator.ts
Due: yarn format, yarn lint:server

feat(server): PromotionAction execute fn can be async
  server/src/config/promotion/default-promotion-actions.ts
  server/src/config/promotion/default-promotion-conditions.ts
  server/src/config/promotion/promotion-action.ts
  server/src/entity/promotion/promotion.entity.ts
  server/src/service/helpers/order-calculator/order-calculator.ts
Due: yarn format, yarn lint:server

feat(admin-ui): Support for facet value selection in PromotionDetail
  admin-ui/src/app/catalog/catalog.module.ts
  admin-ui/src/app/catalog/components/facet-value-selector/facet-value-selector.component.ts
  admin-ui/src/app/marketing/components/promotion-detail/promotion-detail.component.html
  admin-ui/src/app/marketing/components/promotion-detail/promotion-detail.component.ts
  admin-ui/src/app/shared/components/adjustment-operation-input/adjustment-operation-input.component.html
  admin-ui/src/app/shared/components/adjustment-operation-input/adjustment-operation-input.component.scss
  admin-ui/src/app/shared/components/adjustment-operation-input/adjustment-operation-input.component.ts
  admin-ui/src/app/shared/components/facet-value-selector/facet-value-selector.component.html
  admin-ui/src/app/shared/components/facet-value-selector/facet-value-selector.component.scss
  admin-ui/src/app/shared/components/facet-value-selector/facet-value-selector.component.ts
  admin-ui/src/app/shared/shared.module.ts
Due: yarn lint:admin-ui, yarn format

fix(server): Fix error when populating assets
  server/src/plugin/default-asset-server-plugin/default-asset-storage-strategy.ts
Due: yarn format, yarn lint:server

feat(server): Automatically populate search index if empty
  server/src/plugin/default-search-plugin/default-search-plugin.ts
  server/src/plugin/default-search-plugin/fulltext-search.resolver.ts
  server/src/plugin/default-search-plugin/fulltext-search.service.ts
Due: yarn format, yarn lint:server

feat(server): Add currencyCode to Channel entity
  schema.json
  server/mock-data/mock-data.service.ts
  server/src/common/types/currency-code.graphql
  server/src/entity/channel/channel.entity.ts
  server/src/entity/channel/channel.graphql
  server/src/service/services/channel.service.ts
  shared/generated-types.ts
Due: yarn format, yarn lint:server

feat(server): Add currencyCode to ProductVariant
  server/src/entity/product-variant/product-variant.entity.ts
  server/src/entity/product-variant/product-variant.graphql
  server/src/service/services/product-variant.service.ts
Due: yarn format, yarn lint:server

feat(server): Add currencyCode to Order entity
  schema.json
  server/src/api/resolvers/order.resolver.ts
  server/src/entity/order/order.entity.ts
  server/src/entity/order/order.graphql
  server/src/service/services/order.service.ts
  shared/generated-types.ts
Due: yarn format, yarn lint:server

feat(admin-ui): Set currencyCode per channel, display correctly
  admin-ui/src/app/catalog/components/product-variants-list/product-variants-list.component.html
  admin-ui/src/app/catalog/components/variant-price-detail/variant-price-detail.component.html
  admin-ui/src/app/catalog/components/variant-price-detail/variant-price-detail.component.ts
  admin-ui/src/app/data/definitions/order-definitions.ts
  admin-ui/src/app/data/definitions/product-definitions.ts
  admin-ui/src/app/data/definitions/settings-definitions.ts
  admin-ui/src/app/order/components/order-detail/order-detail.component.html
  admin-ui/src/app/order/components/order-list/order-list.component.html
  admin-ui/src/app/settings/components/channel-detail/channel-detail.component.html
  admin-ui/src/app/settings/components/channel-detail/channel-detail.component.ts
  admin-ui/src/app/settings/providers/routing/channel-resolver.ts
  admin-ui/src/app/shared/components/currency-input/currency-input.component.html
  admin-ui/src/app/shared/components/currency-input/currency-input.component.spec.ts
  admin-ui/src/app/shared/components/currency-input/currency-input.component.ts
  admin-ui/src/app/shared/pipes/currency-name.pipe.spec.ts
  admin-ui/src/app/shared/pipes/currency-name.pipe.ts
  admin-ui/src/app/shared/shared.module.ts
  admin-ui/src/i18n-messages/en.json
  shared/generated-types.ts
Due: yarn lint:admin-ui, yarn format

feat(admin-ui): Simplify app shell header
  admin-ui/src/app/core/components/app-shell/app-shell.component.html
  admin-ui/src/app/core/components/user-menu/user-menu.component.html
  admin-ui/src/app/core/components/user-menu/user-menu.component.scss
Due: none

Path conditions:
  yarn lint:admin-ui: any of: admin-ui/**/*.ts
  yarn format: (any of: admin-ui/**/*.ts) or (any of: server/**/*.ts)
  yarn lint:server: any of: server/**/*.ts
