Repository daya110/vendure: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:admin-ui, yarn format, yarn lint:server

feat(server): Implement localeString type for customFields
  server/dev-config.ts
  server/src/entity/base/has-custom-fields.ts
  server/src/entity/custom-entity-fields.ts
  server/src/entity/product-option-group/product-option-group-translation.entity.ts
  server/src/entity/product-option/product-option-translation.entity.ts
  server/src/entity/product-variant/product-variant-translation.entity.ts
  server/src/entity/product/product-translation.entity.ts
  server/src/locale/locale-types.ts
  server/src/locale/translate-entity.spec.ts
  server/src/locale/translate-entity.ts
Due: yarn format, yarn lint:server

feat(server): Add GraphQL config endpoint
  server/package.json
  server/src/api/common/common.graphql
  server/src/api/config/config.api.graphql
  server/src/api/config/config.resolver.ts
  server/src/app.module.ts
  server/src/service/config.service.ts
  server/yarn.lock
Due: yarn format, yarn lint:server

feat(server): Extend inputs & translations with customFields
  server/package.json
  server/src/app.module.ts
  server/src/config/vendure-config.ts
  server/src/entity/__snapshots__/graphql-custom-fields.spec.ts.snap
  server/src/entity/address/address.entity.ts
  server/src/entity/base/has-custom-fields.ts
  server/src/entity/custom-entity-fields.ts
  server/src/entity/customer/customer.entity.ts
  server/src/entity/graphql-custom-fields.spec.ts
  server/src/entity/graphql-custom-fields.ts
  server/src/entity/product-option-group/product-option-group-translation.entity.ts
  server/src/entity/product-option-group/product-option-group.entity.ts
  server/src/entity/product-option/product-option-translation.entity.ts
  server/src/entity/product-option/product-option.entity.ts
  server/src/entity/product-variant/product-variant-translation.entity.ts
  server/src/entity/product-variant/product-variant.entity.ts
  server/src/entity/product/product-translation.entity.ts
  server/src/entity/product/product.entity.ts
  server/src/entity/user/user.entity.ts
  server/src/locale/locale-types.ts
  server/src/service/config.service.ts
  server/yarn.lock
  shared/shared-types.ts
Due: yarn format, yarn lint:server

chore(admin-ui): Update apollo & codegen script
  admin-ui/generate-graphql-types.ts
  admin-ui/package.json
  admin-ui/yarn.lock
Due: yarn lint:admin-ui, yarn format

fix(server): Define customFields as JSON if not set
  schema.json
  server/src/app.module.ts
  server/src/config/vendure-config.ts
  server/src/entity/__snapshots__/graphql-custom-fields.spec.ts.snap
  server/src/entity/graphql-custom-fields.spec.ts
  server/src/entity/graphql-custom-fields.ts
  server/src/service/config.service.mock.ts
  shared/shared-types.ts
Due: yarn format, yarn lint:server

feat(admin-ui): Initial implementation of customFields in prod detail
  admin-ui/package.json
  admin-ui/src/app/catalog/components/product-detail/product-detail.component.html
  admin-ui/src/app/catalog/components/product-detail/product-detail.component.ts
  admin-ui/src/app/catalog/providers/product-updater/product-updater.service.spec.ts
  admin-ui/src/app/catalog/providers/product-updater/product-updater.service.ts
  admin-ui/src/app/core/providers/i18n/i18n.service.ts
  admin-ui/src/app/data/add-custom-fields.spec.ts
  admin-ui/src/app/data/add-custom-fields.ts
  admin-ui/src/app/data/data.module.ts
  admin-ui/src/app/data/providers/product-data.service.ts
  admin-ui/src/app/data/server-config.ts
  admin-ui/src/app/data/types/client-types.graphql
  admin-ui/src/app/data/types/gql-generated-types.ts
  admin-ui/src/app/shared/components/custom-field-control/custom-field-control.component.html
  admin-ui/src/app/shared/components/custom-field-control/custom-field-control.component.scss
  admin-ui/src/app/shared/components/custom-field-control/custom-field-control.component.ts
  admin-ui/src/app/shared/components/form-field/form-field-control.directive.ts
  admin-ui/src/app/shared/shared.module.ts
  admin-ui/src/karma.conf.js
  admin-ui/src/polyfills.ts
  admin-ui/tslint.json
  admin-ui/yarn.lock
Due: yarn lint:admin-ui, yarn format

docs(server): Add section on custom fields to readme
  README.md
Due: none

chore: Update TypeScript to same version (2.9) for server & admin-ui
  admin-ui/package.json
  admin-ui/src/app/shared/components/modal-dialog/modal-dialog.component.ts
  admin-ui/yarn.lock
  server/package.json
  server/yarn.lock
  shared/shared-types.ts
Due: yarn lint:admin-ui, yarn format

fix(admin-ui): Fix cyclic dependency in http interceptor
  admin-ui/src/app/core/providers/i18n/i18n.service.ts
  admin-ui/src/app/data/providers/interceptor.ts
Due: yarn lint:admin-ui, yarn format

feat(server): Validate custom field config to ensure no naming conflicts
  server/src/app.module.ts
  server/src/bootstrap.ts
  server/src/entity/custom-entity-fields.ts
  server/src/entity/entities.ts
Due: yarn format, yarn lint:server

feat(server): Implement sorting for list queries
  server/src/api/common/common.graphql
  server/src/api/customer/customer.api.graphql
  server/src/api/customer/customer.controller.ts
  server/src/api/customer/customer.resolver.ts
  server/src/api/product/product.api.graphql
  server/src/api/product/product.resolver.ts
  server/src/app.module.ts
  server/src/common/build-list-query.ts
  server/src/common/common-types.graphql
  server/src/common/common-types.ts
  server/src/common/parse-sort-params.spec.ts
  server/src/common/parse-sort-params.ts
  server/src/i18n/messages/en.json
  server/src/service/customer.service.ts
  server/src/service/product.service.ts
Due: yarn format, yarn lint:server

feat(server): Improved (type-safe) sort API
  server/src/api/customer/customer.api.graphql
  server/src/api/product/product.api.graphql
  server/src/common/build-list-query.ts
  server/src/common/common-types.graphql
  server/src/common/common-types.ts
  server/src/common/parse-sort-params.spec.ts
  server/src/common/parse-sort-params.ts
  server/src/entity/__snapshots__/graphql-custom-fields.spec.ts.snap
  server/src/entity/graphql-custom-fields.spec.ts
  server/src/entity/graphql-custom-fields.ts
  server/src/service/customer.service.ts
  server/src/service/product.service.ts
Due: yarn format, yarn lint:server

feat(server): Implement list filter API
  server/src/api/customer/customer.api.graphql
  server/src/api/product/product.api.graphql
  server/src/common/build-list-query.ts
  server/src/common/common-types.graphql
  server/src/common/common-types.ts
  server/src/common/parse-filter-params.spec.ts
  server/src/common/parse-filter-params.ts
  server/src/common/parse-sort-params.spec.ts
  server/src/common/parse-sort-params.ts
  server/src/entity/__snapshots__/graphql-custom-fields.spec.ts.snap
  server/src/entity/base/base.entity.ts
  server/src/entity/graphql-custom-fields.spec.ts
  server/src/entity/graphql-custom-fields.ts
Due: yarn format, yarn lint:server

fix(admin-ui): Update queries to use new list options format
  admin-ui/src/app/catalog/components/product-list/product-list.component.ts
  admin-ui/src/app/data/providers/product-data.service.ts
  admin-ui/src/app/data/queries/product-queries.ts
  admin-ui/src/app/data/types/gql-generated-types.ts
  schema.json
Due: yarn lint:admin-ui, yarn format

feat(server): Use ISO date-times for all dates
  admin-ui/src/app/data/types/gql-generated-types.ts
  schema.json
  server/package.json
  server/src/api/customer/customer.api.graphql
  server/src/api/product/product.api.graphql
  server/src/app.module.ts
  server/src/common/common-types.graphql
  server/src/entity/address/address.graphql
  server/src/entity/administrator/administrator.graphql
  server/src/entity/customer/customer.graphql
  server/src/entity/product-option-group/product-option-group.graphql
  server/src/entity/product-option/product-option.graphql
  server/src/entity/product-variant/product-variant.graphql
  server/src/entity/product/product.graphql
  server/src/entity/user/user.graphql
  server/yarn.lock
Due: yarn lint:admin-ui, yarn format, yarn lint:server

feat(server): Create Facet & FacetValue entities, wire up relations
  README.md
  schema.json
  server/src/entity/custom-entity-fields.ts
  server/src/entity/entities.ts
  server/src/entity/facet-value/facet-value-translation.entity.ts
  server/src/entity/facet-value/facet-value.entity.ts
  server/src/entity/facet-value/facet-value.graphql
  server/src/entity/facet/facet-translation.entity.ts
  server/src/entity/facet/facet.entity.ts
  server/src/entity/facet/facet.graphql
  server/src/entity/product-variant/product-variant.entity.ts
  server/src/entity/product-variant/product-variant.graphql
  server/src/service/product.service.ts
  shared/shared-types.ts
Due: yarn format, yarn lint:server

chore(admin-ui): Remove unused typings
  admin-ui/typings/merge-graphql-schemas.d.ts
Due: yarn lint:admin-ui, yarn format

feat(server): Create Facet list resolver
  .prettierignore
  admin-ui/src/app/data/types/gql-generated-types.ts
  schema.json
  server/src/api/facet/facet.api.graphql
  server/src/api/facet/facet.resolver.ts
  server/src/app.module.ts
  server/src/entity/facet-value/facet-value.graphql
  server/src/entity/facet/facet.graphql
  server/src/service/facet.service.ts
Due: yarn lint:admin-ui, yarn format, yarn lint:server

feat(admin-ui): Facets list
  admin-ui/src/app/catalog/catalog.module.ts
  admin-ui/src/app/catalog/catalog.routes.ts
  admin-ui/src/app/catalog/components/facet-list/facet-list.component.html
  admin-ui/src/app/catalog/components/facet-list/facet-list.component.scss
  admin-ui/src/app/catalog/components/facet-list/facet-list.component.ts
  admin-ui/src/app/catalog/components/product-list/product-list.component.spec.ts
  admin-ui/src/app/core/components/main-nav/main-nav.component.html
  admin-ui/src/app/data/providers/data.service.mock.ts
  admin-ui/src/app/data/providers/data.service.ts
  admin-ui/src/app/data/providers/facet-data.service.ts
  admin-ui/src/app/data/queries/facet-queries.ts
  admin-ui/src/app/data/types/gql-generated-types.ts
  admin-ui/src/i18n-messages/en.json
Due: yarn lint:admin-ui, yarn format

feat(server): Create Facet resolver
  schema.json
  server/src/api/facet/facet.api.graphql
  server/src/api/facet/facet.resolver.ts
  server/src/service/facet.service.ts
Due: yarn format, yarn lint:server

refactor(admin-ui): Extract createUpdatedTranslatable logic
  admin-ui/src/app/catalog/components/product-detail/product-detail.component.ts
  admin-ui/src/app/common/utilities/create-updated-translatable.spec.ts
  admin-ui/src/app/common/utilities/create-updated-translatable.ts
Due: yarn lint:admin-ui, yarn format

feat(server): Implement create and update for Facets
  schema.json
  server/dev-config.ts
  server/src/api/facet/facet.api.graphql
  server/src/api/facet/facet.resolver.ts
  server/src/app.module.ts
  server/src/entity/facet-value/facet-value.dto.ts
  server/src/entity/facet/facet.dto.ts
  server/src/entity/facet/facet.graphql
  server/src/entity/product-option-group/product-option-group.dto.ts
  server/src/service/facet-value.service.ts
  server/src/service/facet.service.ts
  server/src/service/product-option.service.ts
Due: yarn format, yarn lint:server

feat(admin-ui): Facet detail component with create / update of Facet
  admin-ui/src/app/catalog/catalog.module.ts
  admin-ui/src/app/catalog/catalog.routes.ts
  admin-ui/src/app/catalog/components/facet-detail/facet-detail.component.html
  admin-ui/src/app/catalog/components/facet-detail/facet-detail.component.scss
  admin-ui/src/app/catalog/components/facet-detail/facet-detail.component.ts
  admin-ui/src/app/catalog/providers/product-updater/product-updater.service.spec.ts
  admin-ui/src/app/catalog/providers/product-updater/product-updater.service.ts
  admin-ui/src/app/catalog/providers/routing/facet-resolver.ts
  admin-ui/src/app/data/fragments/facet-fragments.ts
  admin-ui/src/app/data/mutations/facet-mutations.ts
  admin-ui/src/app/data/providers/data.service.mock.ts
  admin-ui/src/app/data/providers/facet-data.service.ts
  admin-ui/src/app/data/queries/facet-queries.ts
  admin-ui/src/app/data/types/gql-generated-types.ts
Due: yarn lint:admin-ui, yarn format

refactor(admin-ui): Move readOnly toggle into FormFieldComponent
  admin-ui/src/app/catalog/components/create-option-group-form/create-option-group-form.component.html
  admin-ui/src/app/catalog/components/create-option-group-form/create-option-group-form.component.scss
  admin-ui/src/app/catalog/components/create-option-group-form/create-option-group-form.component.ts
  admin-ui/src/app/shared/components/form-field/form-field-control.directive.ts
  admin-ui/src/app/shared/components/form-field/form-field.component.html
  admin-ui/src/app/shared/components/form-field/form-field.component.scss
  admin-ui/src/app/shared/components/form-field/form-field.component.ts
Due: yarn lint:admin-ui, yarn format

feat(server): Implement create / update for FacetValues
  schema.json
  server/src/api/facet/facet.api.graphql
  server/src/api/facet/facet.resolver.ts
  server/src/entity/facet-value/facet-value.dto.ts
  server/src/entity/facet-value/facet-value.entity.ts
  server/src/entity/facet-value/facet-value.graphql
  server/src/i18n/messages/en.json
  server/src/service/facet-value.service.ts
Due: yarn format, yarn lint:server

feat(admin-ui): Create / update of FacetValues
  admin-ui/src/app/catalog/components/facet-detail/facet-detail.component.html
  admin-ui/src/app/catalog/components/facet-detail/facet-detail.component.ts
  admin-ui/src/app/catalog/components/product-detail/product-detail.component.ts
  admin-ui/src/app/data/fragments/facet-fragments.ts
  admin-ui/src/app/data/mutations/facet-mutations.ts
  admin-ui/src/app/data/providers/data.service.mock.ts
  admin-ui/src/app/data/providers/facet-data.service.ts
  admin-ui/src/app/data/types/gql-generated-types.ts
  admin-ui/src/i18n-messages/en.json
Due: yarn lint:admin-ui, yarn format

refactor(admin-ui): Use type-safe pick function for mutations
  admin-ui/src/app/common/utilities/common.ts
  admin-ui/src/app/common/utilities/pick.spec.ts
  admin-ui/src/app/common/utilities/pick.ts
  admin-ui/src/app/data/providers/facet-data.service.ts
  admin-ui/src/app/data/providers/product-data.service.ts
Due: yarn lint:admin-ui, yarn format

refactor(server): Reusable logic for creating translatable entities
  server/src/common/create-translatable.ts
  server/src/service/facet-value.service.ts
  server/src/service/facet.service.ts
  server/src/service/product-option-group.service.ts
  server/src/service/product-option.service.ts
  server/src/service/product-variant.service.ts
  server/src/service/product.service.ts
  shared/shared-types.ts
Due: yarn format, yarn lint:server

refactor(server): Reusable logic for updating translatable entities
  server/src/api/facet/facet.resolver.ts
  server/src/api/product/product.resolver.ts
  server/src/common/create-translatable.ts
  server/src/common/update-translatable.ts
  server/src/entity/product-variant/create-product-variant.dto.ts
  server/src/service/facet-value.service.ts
  server/src/service/facet.service.ts
  server/src/service/product-option-group.service.ts
  server/src/service/product-variant.service.ts
  server/src/service/product.service.ts
Due: yarn format, yarn lint:server

docs: Note planned extension to custom fields
  README.md
Due: none

test(server): Fix failing test
  server/src/service/product.service.spec.ts
Due: yarn format, yarn lint:server

chore(server): Fix populate script
  server/mock-data/clear-all-tables.ts
  server/mock-data/mock-data-client.service.ts
  server/mock-data/populate.ts
Due: yarn format, yarn lint:server

chore(admin-ui): Update admin-ui deps
  admin-ui/package.json
  admin-ui/yarn.lock
Due: none

chore(server): Update server deps
  server/package.json
  server/yarn.lock
Due: none

fix(admin-ui): Switch to 'cache-and-network' fetchPolicy
  admin-ui/src/app/data/data.module.ts
  admin-ui/src/app/data/providers/base-data.service.ts
  admin-ui/src/app/data/types/query-result.ts
Due: yarn lint:admin-ui, yarn format

fix(server): Correctly define default customFields
  schema.json
  server/dev-config.ts
  server/src/config/vendure-config.ts
Due: yarn format, yarn lint:server

feat(admin-ui): Allow editing of FacetValue customFields
  admin-ui/src/app/catalog/components/facet-detail/facet-detail.component.html
  admin-ui/src/app/catalog/components/facet-detail/facet-detail.component.ts
  admin-ui/src/app/data/providers/facet-data.service.ts
  admin-ui/src/app/data/types/gql-generated-types.ts
  admin-ui/src/app/shared/components/custom-field-control/custom-field-control.component.html
  admin-ui/src/app/shared/components/custom-field-control/custom-field-control.component.ts
  admin-ui/src/app/shared/components/form-field/form-field.component.html
  admin-ui/src/app/shared/components/form-field/form-field.component.scss
Due: yarn lint:admin-ui, yarn format

refactor(admin-ui): Pull out language selector into component
  admin-ui/src/app/catalog/components/facet-detail/facet-detail.component.html
  admin-ui/src/app/catalog/components/product-detail/product-detail.component.html
  admin-ui/src/app/shared/components/language-selector/language-selector.component.html
  admin-ui/src/app/shared/components/language-selector/language-selector.component.scss
  admin-ui/src/app/shared/components/language-selector/language-selector.component.ts
  admin-ui/src/app/shared/shared.module.ts
Due: yarn lint:admin-ui, yarn format

refactor(admin-ui): Pull out generate variants button into component
  admin-ui/src/app/catalog/catalog.module.ts
  admin-ui/src/app/catalog/components/generate-product-variants/generate-product-variants.component.html
  admin-ui/src/app/catalog/components/generate-product-variants/generate-product-variants.component.scss
  admin-ui/src/app/catalog/components/generate-product-variants/generate-product-variants.component.ts
  admin-ui/src/app/catalog/components/product-detail/product-detail.component.html
  admin-ui/src/app/catalog/components/product-detail/product-detail.component.ts
Due: yarn lint:admin-ui, yarn format

refactor(admin-ui): Pull out variants list into component
  admin-ui/src/app/catalog/catalog.module.ts
  admin-ui/src/app/catalog/components/product-detail/product-detail.component.html
  admin-ui/src/app/catalog/components/product-detail/product-detail.component.ts
  admin-ui/src/app/catalog/components/product-variants-list/product-variants-list.component.html
  admin-ui/src/app/catalog/components/product-variants-list/product-variants-list.component.scss
  admin-ui/src/app/catalog/components/product-variants-list/product-variants-list.component.ts
  admin-ui/src/app/shared/components/select-toggle/select-toggle.component.html
  admin-ui/src/app/shared/components/select-toggle/select-toggle.component.scss
  admin-ui/src/app/shared/components/select-toggle/select-toggle.component.ts
Due: yarn lint:admin-ui, yarn format

Path conditions:
  yarn lint:admin-ui: any of: admin-ui/**/*.ts
  yarn format: (any of: admin-ui/**/*.ts) or (any of: server/**/*.ts)
  yarn lint:server: any of: server/**/*.ts
