Repository daya110/vendure: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:admin-ui, yarn format, yarn lint:packages, yarn lint:core

.lintstagedrc.json:

{
  "admin-ui/**/*.ts": [
    "yarn lint:admin-ui",
    "yarn format",
    "git add"
  ],
  "admin-ui/**/*.html": [
    "yarn format",
    "git add"
  ],
  "packages/**/*.ts": [
    "yarn lint:packages",
    "yarn format",
    "git add"
  ]
}

.lintstagedrc.yml:

linters:
  admin-ui/**/*.ts:
    - yarn lint:admin-ui
    - yarn format
    - git add
  admin-ui/**/*.html:
    - yarn format
    - git add
  packages/core/*.ts:
    - yarn lint:core
    - yarn format
    - git add

feat(admin-ui): Display shipping calculator metadata
  admin-ui/src/app/common/generated-types.ts
  admin-ui/src/app/data/definitions/shipping-definitions.ts
  admin-ui/src/app/settings/components/shipping-eligibility-test-result/shipping-eligibility-test-result.component.html
  admin-ui/src/app/settings/components/shipping-method-test-result/shipping-method-test-result.component.html
  admin-ui/src/app/settings/components/test-order-builder/test-order-builder.component.html
  admin-ui/src/app/settings/components/test-order-builder/test-order-builder.component.ts
Due: yarn lint:admin-ui, yarn format

feat(admin-ui): Automatically populate shipping method code
  admin-ui/src/app/settings/components/shipping-method-detail/shipping-method-detail.component.html
  admin-ui/src/app/settings/components/shipping-method-detail/shipping-method-detail.component.ts
Due: yarn lint:admin-ui, yarn format

Update getting-started.md because of problems with Windows OS
  docs/content/docs/getting-started.md
Due: none

feat(docs): Improve docs on auth & sessions
  docs/content/docs/developer-guide/authentication-and-sessions.md
  docs/content/docs/getting-started.md
Due: none

feat(core): Automatically set CORS exposedHeaders for bearer auth
  packages/core/src/bootstrap.ts
  packages/core/src/config/vendure-config.ts
Due: yarn format, yarn lint:packages

refactor(core): Move default authTokenHeaderKey into shared constant
  packages/common/src/shared-constants.ts
  packages/core/src/config/default-config.ts
Due: yarn format, yarn lint:packages

feat(admin-ui): Support bearer token auth method
  admin-ui/src/app/core/providers/local-storage/local-storage.service.ts
  admin-ui/src/app/data/data.module.ts
  admin-ui/src/app/data/providers/interceptor.ts
  packages/common/src/shared-types.ts
Due: yarn lint:admin-ui, yarn format, yarn lint:packages

feat(admin-ui-plugin): Automatically configure admin-ui auth method
  packages/admin-ui-plugin/src/plugin.ts
Due: yarn format, yarn lint:packages

fix(admin-ui): Fix error on creating product with empty option values
  admin-ui/src/app/catalog/components/option-value-input/option-value-input.component.html
  admin-ui/src/app/catalog/components/option-value-input/option-value-input.component.ts
  admin-ui/src/app/catalog/providers/product-detail.service.ts
Due: yarn lint:admin-ui, yarn format

fix(create): Correctly log verbose output from server
  packages/create/src/create-vendure-app.ts
  packages/create/src/helpers.ts
  packages/create/src/types.ts
Due: yarn format, yarn lint:packages

fix(core): Fix application hang when worker microservice fails to start
  packages/core/src/bootstrap.ts
Due: yarn format, yarn lint:packages

chore: Publish v0.1.2-beta.12
  CHANGELOG.md
  lerna.json
  packages/admin-ui-plugin/package.json
  packages/asset-server-plugin/package.json
  packages/common/package.json
  packages/core/package.json
  packages/create/package.json
  packages/dev-server/package.json
  packages/elasticsearch-plugin/package.json
  packages/email-plugin/package.json
Due: none

fix(elasticsearch-plugin): Correctly report facetValue counts
  packages/elasticsearch-plugin/src/elasticsearch.service.ts
Due: yarn format, yarn lint:packages

feat(elasticsearch-plugin): Allow facetValues size to be configured
  packages/elasticsearch-plugin/src/elasticsearch.service.ts
  packages/elasticsearch-plugin/src/plugin.ts
Due: yarn format, yarn lint:packages

feat(common): Add DeepRequired type
  packages/common/src/shared-types.ts
Due: yarn format, yarn lint:packages

feat(elasticsearch-plugin): Add options for customising term query
  packages/elasticsearch-plugin/index.ts
  packages/elasticsearch-plugin/package.json
  packages/elasticsearch-plugin/src/build-elastic-body.spec.ts
  packages/elasticsearch-plugin/src/build-elastic-body.ts
  packages/elasticsearch-plugin/src/elasticsearch.service.ts
  packages/elasticsearch-plugin/src/indexer.controller.ts
  packages/elasticsearch-plugin/src/options.ts
  packages/elasticsearch-plugin/src/plugin.ts
  yarn.lock
Due: yarn format, yarn lint:packages

feat(elasticsearch-plugin): Extend response with price range data
  packages/elasticsearch-plugin/README.md
  packages/elasticsearch-plugin/src/elasticsearch-resolver.ts
  packages/elasticsearch-plugin/src/elasticsearch.service.ts
  packages/elasticsearch-plugin/src/options.ts
  packages/elasticsearch-plugin/src/plugin.ts
  packages/elasticsearch-plugin/src/types.ts
Due: yarn format, yarn lint:packages

feat(elasticsearch-plugin): Allow querying by price range
  packages/elasticsearch-plugin/src/build-elastic-body.spec.ts
  packages/elasticsearch-plugin/src/build-elastic-body.ts
  packages/elasticsearch-plugin/src/elasticsearch-resolver.ts
  packages/elasticsearch-plugin/src/elasticsearch.service.ts
  packages/elasticsearch-plugin/src/plugin.ts
  packages/elasticsearch-plugin/src/types.ts
Due: yarn format, yarn lint:packages

fix(elasticsearch-plugin): Make option optional
  packages/elasticsearch-plugin/src/options.ts
Due: yarn format, yarn lint:packages

feat(core): Include width and height in Asset entity
  admin-ui/src/app/common/generated-types.ts
  packages/common/src/generated-shop-types.ts
  packages/common/src/generated-types.ts
  packages/core/e2e/__snapshots__/collection.e2e-spec.ts.snap
  packages/core/e2e/__snapshots__/product.e2e-spec.ts.snap
  packages/core/e2e/config/testing-asset-preview-strategy.ts
  packages/core/e2e/config/testing-asset-storage-strategy.ts
  packages/core/e2e/graphql/generated-e2e-admin-types.ts
  packages/core/e2e/graphql/generated-e2e-shop-types.ts
  packages/core/package.json
  packages/core/src/api/schema/type/asset.type.graphql
  packages/core/src/entity/asset/asset.entity.ts
  packages/core/src/service/services/asset.service.ts
  schema-admin.json
  schema-shop.json
  yarn.lock
Due: yarn lint:admin-ui, yarn format, yarn lint:packages

chore: Create script for local publishing to Verdaccio
  package.json
  scripts/publish-to-verdaccio.sh
Due: none

fix(elasticsearch-plugin): Fix error when creating new Product
  packages/elasticsearch-plugin/src/indexer.controller.ts
  packages/elasticsearch-plugin/src/types.ts
Due: yarn format, yarn lint:packages

fix(elasticsearch-plugin): Correctly remove deleted items from index
  packages/elasticsearch-plugin/src/indexer.controller.ts
Due: yarn format, yarn lint:packages

fix(common): Add missing chars to normalizeString function
  packages/common/src/normalize-string.spec.ts
  packages/common/src/normalize-string.ts
Due: yarn format, yarn lint:packages

fix(core): Correctly prefix asset urls for resolved properties
  packages/core/e2e/__snapshots__/import.e2e-spec.ts.snap
  packages/core/e2e/import.e2e-spec.ts
  packages/core/src/api/api.module.ts
  packages/core/src/api/config/configure-graphql-module.ts
  packages/core/src/api/middleware/asset-interceptor-plugin.ts
  packages/core/src/api/middleware/asset-interceptor.spec.ts
  packages/core/src/api/middleware/asset-interceptor.ts
Due: yarn format, yarn lint:packages

feat(admin-ui): Add search input to customer list
  admin-ui/src/app/customer/components/customer-list/customer-list.component.html
  admin-ui/src/app/customer/components/customer-list/customer-list.component.scss
  admin-ui/src/app/customer/components/customer-list/customer-list.component.ts
  admin-ui/src/i18n-messages/en.json
Due: yarn lint:admin-ui, yarn format

feat(admin-ui): Add filtering to orders list
  admin-ui/src/app/order/components/order-list/order-list.component.html
  admin-ui/src/app/order/components/order-list/order-list.component.scss
  admin-ui/src/app/order/components/order-list/order-list.component.ts
  admin-ui/src/i18n-messages/en.json
Due: yarn lint:admin-ui, yarn format

feat(admin-ui): Add filtering to countries list
  admin-ui/src/app/data/providers/settings-data.service.ts
  admin-ui/src/app/settings/components/country-list/country-list.component.html
  admin-ui/src/app/settings/components/country-list/country-list.component.scss
  admin-ui/src/app/settings/components/country-list/country-list.component.ts
  admin-ui/src/i18n-messages/en.json
Due: yarn lint:admin-ui, yarn format

feat(core): Expose new RuntimeVendureConfig interface
  docs/content/docs/plugins/_index.md
  docs/content/docs/typescript-api/_index.md
  packages/core/e2e/fixtures/test-plugins.ts
  packages/core/src/api/middleware/validate-custom-fields-interceptor.ts
  packages/core/src/bootstrap.ts
  packages/core/src/config/config-helpers.ts
  packages/core/src/config/config.service.ts
  packages/core/src/config/default-config.ts
  packages/core/src/config/vendure-config.ts
  packages/core/src/plugin/vendure-plugin.ts
Due: yarn format, yarn lint:packages

refactor: Fix typings for RuntimeVendureConfig in plugins
  packages/admin-ui-plugin/src/plugin.ts
  packages/asset-server-plugin/src/plugin.ts
  packages/email-plugin/src/plugin.ts
Due: yarn format, yarn lint:packages

docs: Use date-based urls for blog posts
  docs/config.toml
  docs/content/blog/2019-02-11-introducing-vendure/index.md
  docs/content/blog/2019-02-11-introducing-vendure/introducing-vendure.jpg
  docs/content/blog/2019-05-27-beta-release-and-roadmap-2019/index.md
Due: none

docs: Numerous improvements to blog - author bio, breadcrumbs etc
  docs/assets/styles/_blog.scss
  docs/assets/styles/_markdown.scss
  docs/assets/styles/main.scss
  docs/data/authors.json
  docs/layouts/blog/list.html
  docs/layouts/blog/single.html
  docs/layouts/partials/author-bio.html
  docs/layouts/partials/breadcrumbs.html
  docs/layouts/partials/footer.html
  docs/static/authors/michael-bromley.jpg
  docs/static/authors/unknown.jpg
  docs/static/svg/icon-github-inverse.svg
  docs/static/svg/icon-github.svg
  docs/static/svg/icon-npm.svg
  docs/static/svg/icon-slack.svg
  docs/static/svg/icon-twitter.svg
Due: none

docs(blog): Summer update article
  docs/content/blog/2019-08-28-summer-update/falkert-austria-michael-bromley.jpg
  docs/content/blog/2019-08-28-summer-update/index.md
Due: none

chore: Publish v0.2.0
  CHANGELOG.md
  lerna.json
  packages/admin-ui-plugin/package.json
  packages/asset-server-plugin/package.json
  packages/common/package.json
  packages/core/package.json
  packages/create/package.json
  packages/dev-server/package.json
  packages/elasticsearch-plugin/package.json
  packages/email-plugin/package.json
Due: none

chore(docs): Update hugo baseUrl to https
  docs/config.toml
Due: none

fix(blog): Fix article image in front matter
  docs/content/blog/2019-02-11-introducing-vendure/index.md
  docs/content/blog/2019-05-27-beta-release-and-roadmap-2019/index.md
  docs/content/blog/2019-08-28-summer-update/index.md
Due: none

feat(core): Improve speed of bulk product import
  packages/core/src/data-import/data-import.module.ts
  packages/core/src/data-import/providers/importer/fast-importer.service.ts
  packages/core/src/data-import/providers/importer/importer.ts
  packages/core/src/service/service.module.ts
Due: yarn format, yarn lint:packages

fix(elasticsearch-plugin): Fix null productVariantPreview error
  packages/elasticsearch-plugin/src/elasticsearch.service.ts
Due: yarn format, yarn lint:packages

feat(core): Create WorkerService for simpler communication to worker
  packages/core/src/index.ts
  packages/core/src/plugin/default-search-plugin/constants.ts
  packages/core/src/plugin/default-search-plugin/indexer/indexer.controller.ts
  packages/core/src/plugin/default-search-plugin/indexer/search-index.service.ts
  packages/core/src/plugin/default-search-plugin/types.ts
  packages/core/src/plugin/plugin-common.module.ts
  packages/core/src/service/helpers/job-manager/job-manager.spec.ts
  packages/core/src/service/helpers/job-manager/job-manager.ts
  packages/core/src/service/helpers/job-manager/job.spec.ts
  packages/core/src/service/helpers/job-manager/job.ts
  packages/core/src/service/index.ts
  packages/core/src/service/service.module.ts
  packages/core/src/service/services/job.service.ts
  packages/core/src/worker/index.ts
  packages/core/src/worker/types.ts
  packages/core/src/worker/worker-service.module.ts
  packages/core/src/worker/worker.module.ts
  packages/core/src/worker/worker.service.ts
Due: yarn format, yarn lint:packages

refactor(elasticsearch-plugin): Use WorkerService
  packages/elasticsearch-plugin/src/constants.ts
  packages/elasticsearch-plugin/src/elasticsearch-index.service.ts
  packages/elasticsearch-plugin/src/elasticsearch.service.ts
  packages/elasticsearch-plugin/src/indexer.controller.ts
  packages/elasticsearch-plugin/src/types.ts
Due: yarn format, yarn lint:packages
